// =============================================================================
// NAV USER (Settings)
// =============================================================================


$dropdown--quickSearch-backgroundColor: stencilColor("dropdown--quickSearch-backgroundColor");
