// =============================================================================
// NAV USER (Settings)
// =============================================================================


$dropdown--quickSearch-backgroundColor: stencilColor("dropdown--quickSearch-backgroundColor");
$navUser-dropdown-menu-backgroundColor: stencilColor("navUser-dropdown-menu-backgroundColor");

$navUser-font-color:                    stencilColor("header-nav-font-color");
