// =============================================================================
// ICONS (CSS)
//
// 1. Hide the SVG sprite with CSS, not inline styles
// =============================================================================

.icons-svg-sprite {
    display: none; // 1
}

.icon--ratingEmpty {
    svg {
        fill: stencilColor("icon-ratingEmpty");
    }
}

.icon--ratingFull {
    svg {
        fill: stencilColor("icon-ratingFull");
    }
}
