// =============================================================================
// ICONS (CSS)
//
// 1. Hide the SVG sprite with CSS, not inline styles
// =============================================================================

.icons-svg-sprite {
    display: none; // 1
}

.icon,
.icon svg {
    transition: all 0.15s ease;
}

.icon-2x {
    width: remCalc($icon-size * 2);
    height: remCalc($icon-size * 2);
}

.icon-3x {
    width: remCalc($icon-size * 3);
    height: remCalc($icon-size * 3);
}
