// =============================================================================
// ICONS (CSS)
// =============================================================================


.icon {
    fill: $icon-color;
}

.icon--starEmpty {
    svg {
        fill: $icon--starEmpty;
    }
}

.icon--starFull {
    svg {
        fill: $icon--starFull;
    }
}
