// =============================================================================
// CATEGORY GRID (CSS)
// =============================================================================


// Category grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .categories class.
//
// -----------------------------------------------------------------------------

.categoryGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 0; // 1
    margin-bottom: spacing("single");

    .card {
        flex: 0 1 auto;
        margin-bottom: spacing("half");
        padding: 0 spacing("quarter");

        .card-img-container {
            max-width: 100%;

            &:after {
                padding-bottom: unset;
            }
        }

        .card-figcaption {
            display: block;
            opacity: 1;
            overflow: hidden;

            .card-figcaption-body {
                background-color: rgba(53, 60, 70, .8);
                display: block;
                padding: 8px;
                transform: translateY(100%);
                transition: ease transform 250ms 250ms;

                h3 {
                    color: #ffffff;
                }
            }
        }

        @include breakpoint("small") {
            flex-basis: 50%;
        }

        @include breakpoint("medium") {
            flex-basis: 25%;

            &.has-description:hover {
                .card-figcaption-body {
                    transform: translateY(0);
                }
            }
        }
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        color: #ffffff;
        font-size: 14px;
    }
}

.homePage-category {
    display: none;
    @include breakpoint("small") {
        display: block;
    }
}

.mobileCategoryGrid {
    .scrollable-area-container {
        margin-top: -10px;
        margin-bottom: 30px;
    }

    .scrollable-area--horizontal {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .scrollable-area-component {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }

    .scrollable-area-slider {
        display: flex;
        padding-left: 6px;
    }

    .card--circle {
        display: flex;
        text-align: center;
        max-width: 315px;
        min-width: 72px;
        margin: 8px 10px;

        a {
            text-decoration: none;
        }

        .category-title {
            font-size: 12px;
            font-weight: 600;
            line-height: 2.5;
        }

        .circle-card-img-container {
            img {
                display: flex;
                border-radius: 50%;
                width: 72px;
                height: 72px;
                margin-left: auto;
                margin-right: auto;
                object-fit: cover;
                object-position: top;
            }
        }
    }

    @include breakpoint("medium") {
        display: none;
    }
}