// =============================================================================
// MAINTENANCE NOTICE (Settings)
// =============================================================================


$maintenanceNotice-backgroundColor:     color("warning", "light");
$maintenanceNotice-box-shadow:          0 0 5px color("greys", "light");
$maintenanceNotice-color:               color("greys", "darker");
$maintenanceNotice-left:                spacing("half") + spacing("quarter");
$maintenanceNotice-padding:             spacing("base") (spacing("base") + spacing("fifth"));
$maintenanceNotice-top:                 spacing("half") + spacing("quarter");
$maintenanceNotice-width:               24rem;
$maintenanceNotice-z-index:             zIndex("highest");

$maintenanceNotice-header-font-family:  stencilFontFamily("headings-font");
$maintenanceNotice-header-margin:       0 0 spacing("half");

$adminBar-height:                       46px;
$adminBar-color:                        color("whites", "bright");
$adminBar-logo-color:                   #273a8a;
$adminBar-contentLink-color:            #4b71fc;
$adminBar-text-color:                   #626568;
