// =============================================================================
// MAINTENANCE NOTICE (Settings)
// =============================================================================


$maintenanceNotice-backgroundColor:     color("greys", "lightest");
$maintenanceNotice-left:                spacing("half") + spacing("quarter");
$maintenanceNotice-padding:             spacing("single");
$maintenanceNotice-top:                 spacing("half") + spacing("quarter");
$maintenanceNotice-width:               18rem;
$maintenanceNotice-z-index:             zIndex("highest");

$maintenanceNotice-header-font-weight:  fontWeight("bold");
$maintenanceNotice-header-margin:       0 0 spacing("half");
