// =============================================================================
// CONTACT PAGE (CSS)
// =============================================================================


// Manual captcha form styling
// -----------------------------------------------------------------------------

.manual-captcha-input-container {
    align-items: center;
    display: flex;

    .question {
        font-size: 1.25rem;
        margin-right: 1rem;
    }

    .form-input {
        flex: 1;
    }
}
