// =============================================================================
// MAINTENANCE MODE (CSS)
// =============================================================================

.maintenance-mode-notice {
    background-color: #ffff00;
    border: 2px solid #FFD800;
    color: color('greys', 'darkest');
    font-family: fontFamily('sans');
    font-size: fontSize('smallest');
    left: remCalc(20px);
    padding: remCalc(10px);
    position: absolute;
    top: remCalc(20px);
    width: remCalc(230px);
    z-index: zIndex('highest');
}

.maintenance-mode-header {
    background-image: url('/assets/img/info.png');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    height: remCalc(25px);
    font-weight: fontWeight('bold');
    padding-left: remCalc(25px);
}
