<section class="row full show-for-medium-up">
  <div class="columns mantra">
    <div class="logo">
      <img width="120px"
        src="//cdn11.bigcommerce.com/s-4xmejryn3s/product_images/uploaded_images/logo-white.png"
        alt="Logo white">
    </div><br>
    <p>pronounced dis-til'd</p><br><br>
    <h3>We believe less is more</h3>
    <h3>We think retail must evolve</h3>
    <h3>We dream in black+white</h3>
    <h3>We live in Denim</h3><br><br>
    <h4>Dis'till</h4>
    <p>Extract the essential meaning or most important aspect of</p>
  </div>
</section>