<div class="row">
    <div class=" large-6 columns">
        <a href="#" class="button small">Teest</a>
    </div>
    <div class=" large-6 columns">
        <a href="#" class="button small">Teest</a>

        <a href="#" class="button small">Teest</a>
        <a href="#" class="button small">Teest</a>
        <a href="#" class="button small">Teest</a>
        <a href="#" class="button small">Teest</a>
        <a href="#" class="button small">Teest</a>
        <a href="#" class="button small">Teest</a>
    </div>

</div>
