<div class="grid-container home-hero">
  <div class="row full">
    <div class="columns small-12 medium-6 big-gender-link">
      <a href="/shop/womens">
        <img
          src="//res.cloudinary.com/dstldjeans/image/fetch/f_jpg/https%3A%2F%2Fd4zpg1jklewne.cloudfront.net%2Fsteak%2Fgalleries%2F22%2Fwomen-3-1554767207228%2Fwomen.jpg%3F1554767207">
        <h2 class="cta">Shop Women</h2>
      </a>
    </div>
    <div class="columns small-12 medium-6 big-gender-link">
      <a href="/shop/mens">
        <img
            src="//res.cloudinary.com/dstldjeans/image/fetch/f_jpg/https%3A%2F%2Fd4zpg1jklewne.cloudfront.net%2Fsteak%2Fgalleries%2F22%2Fmen-3-1554767512610%2Fmen.jpg%3F1554767512">
        <h2 class="cta">Shop Men</h2>
      </a>
    </div>
  </div>
</div>