*,
*:after,
*:before {
    box-sizing: border-box;
}
html {
    font-size: 14px
}
html,
body {
    height: auto
}

body {
    font-size: 1rem;
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #4f4f4f;
    padding-top: 55px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    padding: 0;
    margin: 0;
}
a {
    color: #4f4f4f;
    line-height: inherit;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #a5a5a5
}
p {
    margin-bottom: 1.5rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2d2d2d;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: .25px;
    margin-bottom: .78571rem;
    margin-top: 2.28571rem
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: #989898;
    font-size: 60%;
    line-height: 0
}
h1 {
    font-size: 28px
}
h2 {
    font-size: 25px
}
h3 {
    font-size: 22px
}
h4 {
    font-size: 20px
}
h5 {
    font-size: 15px
}
h6 {
    font-size: 13px;
    text-transform: uppercase
}

hr {
    border: solid #e8e8e8;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 2rem 0 1.92857rem
}
em,
i {
    font-style: italic;
    line-height: inherit
}
strong,
b {
    font-weight: 700;
    line-height: inherit
}
small {
    font-size: 60%;
    line-height: inherit
}
ul,
ol,
dl {
    list-style-position: outside;
    margin-bottom: 1.5rem
}
ul ul,
ul ol,
ol ul,
ol ol {
    margin-left: 1.2rem;
    margin-bottom: 0
}
ul {
    margin-left: 1.15rem
}
ol {
    margin-left: 1.15rem
}
dl dt {
    font-weight: 700;
}
abbr,
acronym {
    border-bottom: 1px dotted #dfdfdf;
    color: #4f4f4f;
    cursor: help;
    font-size: 90%;
    text-transform: uppercase
}
abbr {
    text-transform: none
}
blockquote,
blockquote p {
    font-size: 22px;
    line-height: 29px
}
cite {
    color: #a5a5a5;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
}
.icon {
    height: 1.14286rem;
    width: 1.14286rem;
    display: inline-block;
    vertical-align: middle
}
.icon svg {
    display: inline-block;
    fill: #4f4f4f;
    height: 100%;
    vertical-align: top;
    width: 100%
}
.is-srOnly,
.modal {
    display: none;
}

.body {
    margin-bottom: 6rem;
    margin-top: 1.5rem
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 91.71429rem;
    padding: 0 1.5rem;
    position: relative;
}

.button {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border-color: #dfdfdf;
    color: #454545;
    font-size: 1rem;
    padding: .85714rem 2.28571rem;
    border-radius: 4px;
    outline: none;
    vertical-align: middle
}
.button:hover,
.button:focus,
.button.is-active,
.button.active {
    background-color: transparent;
    border-color: #989898;
    color: #666
}
.button:active {
    background-color: transparent;
    border: 1px solid #454545;
    color: #454545
}
.button:focus,
.button.is-active,
.button.active {
    outline: none
}
.button--primary {
    background-color: #454545;
    border-color: #454545;
    color: #fff
}
.button--primary:hover,
.button--primary:focus,
.button--primary.is-active,
.button--primary.active {
    background-color: #666;
    border-color: #666;
    color: #fff
}
.button--primary:active {
    background-color: #989898;
    border: 1px solid #989898;
    color: #fff
}
.button[disabled] {
    background-color: #dadada;
    border-color: #dadada;
    color: #fff;
    cursor: default
}

.button--wide {
    display: block;
    width: 100%
}

.button--icon {
    font-size: 1rem;
    padding: .78571rem
}
.button--icon svg {
    fill: #4f4f4f
}

.icon--ratingEmpty svg {
    fill: #dfdfdf;
}

.icon--ratingFull svg {
    fill: #454545;
}

.price--rrp,
.price--non-sale,
.price--discounted {
    text-decoration: line-through;
}
