.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 91.71429rem;
    padding: .5rem 1.5rem;
}

.categoryView-img {
    padding: 0 0 1rem;
}

.categoryView-title {
    font-size: 20px;
    margin: 7px 0;
    text-align: center;
}

.sidebarBlock {
    margin-left: auto;
    margin-right: auto;
    max-width: 91.71429rem;
    padding: 1rem 1.5rem;
    background-color: #f3f4f5;
    text-align: center;
    border-top: 1px solid #e8e8e8;
}

.sidebarBlock-heading {
    margin: .78571rem 0;
}

.navList {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.navList-action {
    color: #4f4f4f;
    font-size: 15px;
    padding: 3px 0;
    display: block;
}

.actionBar-section .form-field {
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}

.actionBar-section .form-label {
    color: #989898;
    font-size: 13px;
    line-height: 2.14286rem;
    margin-bottom: 0;
    padding-left: 0.78571rem;
    display: inline-block;
}

.actionBar-section .form-select {
    color: #4f4f4f;
    height: 2.14286rem;
    display: inline-block;
}

.productGrid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.productGrid .product {
    width: 50%;
    padding: 1rem 1.5rem;
}

.productList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.productList .product {
    padding: 1rem 1.5rem;
}

.listItem-rating,
.listItem-brand,
.listItem-title {
    margin: .5rem 0;
}

.listItem-title {
    font-size: 15px;
}

.listItem-price {
    margin-bottom: 1rem;
}


.card-figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.card-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card-body {
    text-align: center;
}

.card-text,
.card-title {
    margin: 5px 0;
}

.card-text {
    color: #989898;
    font-size: 14px;
    font-weight: normal;
}

.card-title {
    font-size: 15px;
}

.rating--small {
    display: block;
    margin-bottom: 10px;
}

.sale-sash {
    background: #007dc6;
    color: #ffffff;
    font-size: 15px;
    padding: 1px 5px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.pagination {
    margin: 2rem 1.5rem 2.28571rem;
}

.pagination-list {
    display: block;
    margin: 0;
    text-align: center;
    list-style: none;
    padding: 0 80px;
}

.pagination-item {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
    position: relative;
}

.pagination-link {
    display: block;
    padding: 3px 10px;
}

.pagination-item--current {
    border-color: #e8e8e8;
}

.pagination-item--previous {
    position: absolute;
    left: 1rem;
}

.pagination-item--next {
    position: absolute;
    right: 1rem;
}