.amp-menu-button {
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -6 24 24"><path fill="#4f4f4f" d="M0 12h18v-2H0v2M0 7h18V5H0v2M0 0v2h18V0H0"/></svg>');
    background-repeat: no-repeat;
    background-size: 2rem 1.8rem;
    background-position: center center;
    width: 3.92857rem;
    height: 3.92857rem;
    cursor: pointer;
    align-self: center;
    font-size: 0;
    border: 0;
    flex-shrink: 0;
}

.amp-header {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 20;
    display: flex;
    align-items: center;
}

.amp-header-link {
    display: inline-block;
    text-decoration: none;
}

.amp-header-logo {
    flex-grow: 1;
    padding-right: 3.92857rem;
    text-align: center;
}

.amp-empty-space {
    width: 3.92857rem;
}

.amp-header-logo-text {
    display: block;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .35714rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: .21429rem 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap
}

.banners {
    background-color: #4f4f4f;
    color: #fff;
    padding: .78571rem 0;
    text-align: center
}
.banners p:last-child {
    margin-bottom: 0
}
.banners a {
    color: #fff
}
.banner {
    margin: 0 auto;
    max-width: 85.71429rem;
    width: 100%
}
.banner:before,
.banner:after {
    content: " ";
    display: table
}
.banner:after {
    clear: both
}
.banner + .banner {
    margin-top: 1.5rem
}


.form-fieldset {
    border-width: 0;
    margin: 0;
    padding: 0
}


.form-input {
    appearance: none;
    background-color: #fff;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #454545;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-smoothing: antialiased;
    height: 3rem;
    margin: 0;
    padding: .75rem 1rem;
    transition: border-color 100ms ease-out;
}
.form-input:disabled {
    background-color: #fff;
    color: #a5a5a5;
    cursor: not-allowed
}
.form-input[readonly] {
    background-color: #f8f8f8;
    border-color: #454545;
    color: #989898;
    cursor: text
}
.form-input:focus {
    border-color: #989898;
    outline: none
}

.navPages {
    background-color: #f2f2f2;
    height: 100%;
    overflow-y: auto;
    padding: 1.5rem
}

.navPages-list {
    margin: .78571rem 0 0;
    padding: 0;
    list-style: none;
}
.navPages-list + .navPages-list {
    border-top: 1px solid #dfdfdf;
    padding-top: .78571rem
}
.navPages-action {
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: .78571rem 0;
    text-decoration: none;
    text-transform: uppercase
}