<article class="blog-post">
    
    <div class="blog-post__header full-width">
        {{> components/common/responsive-img image=post.thumbnail }}
        <h2 class="blog-post__subheading" id="blog-post-tag"></h2>
        <h1 class="blog-post__heading">{{post.title}}</h1>
    </div>

    <div class="blog-post__body-wrapper">
        <div class="blog-post__social">
            {{assignVar 'encodedUrl' (encodeURI post.url)}}
            {{assignVar 'encodedTitle' (encodeURI head.title)}}
            <ul>
                <li class="blog-post__social--facebook">
                    <a href="https://facebook.com/sharer/sharer.php?u={{getVar 'encodedUrl'}}">
                        <svg><use xlink:href="#icon-facebook-blog" /></svg>
                    </a>
                </li>
                <li class="blog-post__social--twitter">
                    <a href="https://twitter.com/intent/tweet/?text={{getVar 'encodedTitle'}}&amp;url={{getVar 'encodedUrl'}}">
                        <svg><use xlink:href="#icon-twitter-blog" />
                    </a>
                </li>
                <li class="blog-post__social--linkedin">
                    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{getVar 'encodedUrl'}}&amp;title={{getVar 'encodedTitle'}}&amp;summary={{getVar 'encodedTitle'}}&amp;source={{getVar 'encodedUrl'}}">
                        <svg><use xlink:href="#icon-linkedin-blog" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="blog-post__body">
            {{{post.body}}}
        </div>
    </div>

</article>