<article class="blog">
    {{#if this.thumbnail}}
        <a href="{{url}}">
            <figure class="blog-thumbnail">
                <img src="{{getImage thumbnail 'gallery'}}" alt="{{thumbnail.alt}}">
            </figure>
        </a>
    {{/if}}

    <header class="blog-header">
        <h2 class="blog-title">
            <a href="{{url}}">{{title}}</a>
        </h2>
        <p class="blog-date">{{date_published}}</p>
        {{#if author}}
            <p class="blog-author">{{lang 'blog.posted_by' name=author}}</p>
        {{/if}}
    </header>

    <div class="blog-post">
        {{#if body}}
            {{{body}}}
        {{else}}
            {{summary}}
            {{#if show_read_more}}
                &hellip;<a href="{{url}}"> read more</a>
            {{/if}}
        {{/if}}
    </div>

</article>

{{#if tags}}
    <ul class="tags">
        {{#each tags}}
        <li class="tag">
            <a href="{{url}}">#{{name}}</a>
        </li>
        {{/each}}
    </ul>
{{/if}}
