// =============================================================================
// ALERTS
// =============================================================================

.alertBox {
    border-radius: $alert-radius;
    color: stencilColor("alert-color");
}

.alertBox-icon {
    .icon {
        @include square(25px);
    }
}

.alertBox--info {
    background-color: stencilColor("banner--default-backgroundColor");
    color: stencilColor("alert-color-alt");

    .alertBox-close {
        svg {
            fill: $color-infoLight;
        }
    }
}
