// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Imports the dependencies of the hero carousel component
//
// -----------------------------------------------------------------------------

@import "heroCarousel";
