<div class="left-column">
    <div class="need-help-wrapper">
        <h3 class="heading">Need Help?</h3>
        <div class="need-help">
            <a class="chat-link" href="#" title="Message Us">
                <svg class="icon"><use xlink:href="#icon-messenger"></use></svg>
                <span class="link_text"><span>Message Us</span></span>
            </a>
            <a class="contact-link" href="#" title="Contact Us">
                <i class="fa fa-envelope-o"></i>
                <span class="link_text"><span>Contact Us</span></span>
            </a>
        </div>
    </div>
</div>
