<div class="pagination themevale-pagination">
    <ul class="pagination-list">
        <li class="pagination-item pagination-item--previous pagination-item--current">
            <a class="pagination-link" href="javascript:void(0);">
                <i class="icon" aria-hidden="true">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
                    </svg>
                </i>
                <span>{{lang 'common.previous'}}</span>
            </a>
        </li>

        <li class="pagination-item pagination-item--next">
            <a class="pagination-link" href="javascript:void(0);">
                <span>{{lang 'common.next'}}</span>
                <i class="icon" aria-hidden="true">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
                    </svg>
                </i>
            </a>
        </li>
    </ul>
</div>
