// =============================================================================
// SOCIAL LINKS (Settings)
// =============================================================================

$socialLinks-iconSize:                  20px;

$socialLinks-alt-iconSize:              28px;
$socialLinks-alt-iconColor:             stencilColor("color-textSecondary");
