<div id="scratch-and-dent" class="modal" data-reveal data-prevent-quick-search-close>
    <div id="modal-content" class="modal-content">
        <div class="pdpRow">
            <div class="productText">
                <h3>Scratch and Dent?</h3>
                <p>Occasionally, we get new parts or returns that have cosmetic blemishes that do not affect the functionality of the part. Rather than toss them in the scrap bin, we offer the parts for sale at a deeply discounted price. In many cases, the location of the blemish prevents it from even being seen once the part is installed. Like all of our products, we still guarantee it to be the correct fit and to work properly and will offer to exchange components should anything need adjustment. <strong>Please note that we do not issue refunds for scratch and dent parts.</strong></p>
            </div>
            <div class="productGraphic">
                <img src="/product_images/uploaded_images/blem-parts.jpg" alt="Some examples of parts that we would consider blemished.">
            </div>
        </div>
        <button class="button" id="blem-accept" data-reveal-close>Sounds Good!</button>
        <a id="blem-decline" data-reveal-close>No Thanks</a>
    </div>
    <div class="loadingOverlay"></div>
    {{> components/common/modal/modal-close-btn}}
</div>