<div id="shipping-message" class="modal" data-reveal data-prevent-quick-search-close>
    <div id="modal-content" class="modal-content">
        <h3>Our Shipping Promise</h4>
        <p>Orders processed via cravenspeed.com are eligible for free shipping under the following conditions:</p>
        <ol>
            <li>Free shipping is only available to orders shipped within the United States (Domestic Shipping). International orders are subject to standard internation rates.</li>
            <li>Orders will be shipped using the most economical method available, typically USPS Ground Advantage (2-5 business days) or USPS Priority (1-3 business days). Tracking information will be provided once the label has been created. Most orders placed by 2pm PT are fulfilled the same day, otherwise orders are fulfilled the next business day.</li>
            <li>Orders over a certain total weight may not be applicable for free shipping, this includes bulk orders, drop shipping or reseller stocking orders. Please contact us at support@CravenSpeed.com for more details if you have any questions.</li>
        </ol>
    </div>
    <div class="loadingOverlay"></div>
    {{> components/common/modal/modal-close-btn}}
</div>