<div class="contain-to-grid body navigation-logo">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name logo-area">
                <a href="{{urls.home}}"><img src="/assets/img/tessmed-logo.png" alt=""></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li class="navUser-item navUser-item--account">
                    {{#if customer}}
                    <a class="navUser-action"
                       href="{{urls.account.index}}"
                       aria-label="{{lang 'common.account'}}"
                    >
                        {{lang 'common.account'}}
                    </a>
                    <a class="navUser-action"
                       href="{{urls.auth.logout}}"
                       aria-label="{{lang 'common.logout'}}"
                    >
                        {{lang 'common.logout'}}
                    </a>
                    {{else}}
                    <a class="navUser-action"
                       href="{{urls.auth.login}}"
                       aria-label="{{lang 'common.login'}}"
                    >
                        {{lang 'common.login'}}
                    </a>
                    {{#if settings.account_creation_enabled}}
                </li>
                <li class="navUser-item navUser-item--account">
                    <a class="navUser-action"
                       href="{{urls.auth.create_account}}"
                       aria-label="{{lang 'common.sign_up'}}"
                    >
                        {{lang 'common.sign_up'}}
                    </a>
                    {{/if}}
                    {{/if}}
                </li>

                <li>
                    <form class="form" action="{{urls.search}}">
                        <fieldset class="form-fieldset">
                            <div class="form-field">
                                <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                                <input class="form-input" data-search-quick name="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                            </div>
                        </fieldset>
                    </form>
                    <section class="quickSearchResults" data-bind="html: results"></section>
                </li>

                <li class="navUser-item">
                    <a class="navUser-action navUser-action--quickSearch"
                       href="#" data-search="quickSearch"
                       aria-controls="quickSearch"
                       aria-expanded="false"
                       aria-label="{{lang 'common.search'}}"
                    >
                        {{lang 'common.search'}}
                    </a>
                </li>

                <li class="navUser-item navUser-item--cart">
                    <a class="navUser-action"
                       data-cart-preview
                       data-dropdown="cart-preview-dropdown"
                       data-options="align:right"
                       href="{{urls.cart}}"
                       aria-label="{{lang 'cart.nav_aria_label'}}"
                    >
                        <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                        <span class="countPill cart-quantity"></span>
                    </a>

                    <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
                </li>

            </ul>
        </section>
    </nav>
</div>
