<div class="contain-to-grid body navigation-logo">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <a href="#"><img src="/assets/img/tessmed-logo.png" alt=""></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li class="has-dropdown">
                    <a href="#">Title</a>
                    <ul class="dropdown">
                        <li><a href="#">First dropdown</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
