{{#partial "page"}}
    <main class="content">
        <h1>Purchase a Gift Certificate</h1>

        {{#each forms.gift_certificate.errors}}
        <p class="bg-danger">{{this}}</p>
        {{/each}}

        <form class="form-horizontal" method="post" action="{{forms.gift_certificate.action}}">
            {{#if forms.gift_certificate.cart_item_id}}
                <input type="hidden" name="cartitemid" value="{{forms.gift_certificate.cart_item_id}}">
            {{/if}}
            <div class="form-group">
                <label for="to_name" class="col-sm-2 control-label">Recipient's Name</label>
                <div class="col-sm-10">
                    <input name="to_name" class="form-control" id="to_name" value="{{forms.gift_certificate.values.to_name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="to_email" class="col-sm-2 control-label">Recipient's Email</label>
                <div class="col-sm-10">
                    <input name="to_email" type="email" class="form-control" id="to_email" value="{{forms.gift_certificate.values.to_email}}">
                </div>
            </div>
            <div class="form-group">
                <label for="from_name" class="col-sm-2 control-label">Your Name</label>
                <div class="col-sm-10">
                    <input name="from_name" class="form-control" id="from_name" value="{{forms.gift_certificate.values.from_name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="from_email" class="col-sm-2 control-label">Your Email</label>
                <div class="col-sm-10">
                    <input name="from_email" class="form-control" id="from_email" type="email" value="{{forms.gift_certificate.values.from_email}}">
                </div>
            </div>
            <div class="form-group">
                <label for="from_email" class="col-sm-2 control-label">Your Message (Optional)</label>
                <div class="col-sm-10">
                    <textarea name="message" id="message" rows="3" cols="40">{{forms.gift_certificate.values.message}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="certificate_amount" class="col-sm-2 control-label">Amount</label>
                <div class="col-sm-10">
                    <input name="certificate_amount" class="form-control" id="certificate_amount" type="number" value="{{forms.gift_certificate.values.amount}}">
                    <span>(Value must be between {{forms.gift_certificate.minimum_formatted}} and {{forms.gift_certificate.maximum_formatted}})</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input name="agree2" type="checkbox">* I understand that gift certificates are non-refundable
                        </label>
                    </div>
                </div>
            </div>

            {{#each forms.gift_certificate.themes}}
            <div class="radio">
                <label>
                    <input type="radio" name="certificate_theme" value="{{this}}.html">
                    {{this}}
                </label>
            </div>
            {{/each}}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Add Gift Certificate to Cart</button>
                </div>
            </div>
        </form>
    </main>
{{/partial}}
{{> layout/base}}
