{{#partial "page"}}
<main class="container full">
    <ul class="breadcrumbs">
        <li class="breadcrumb">
            <a class="breadcrumb-label" href="{{urls.home}}">{{lang 'home.heading' }}</a>
        </li>
        <li class="breadcrumb">
            <span class="breadcrumb-label">{{lang 'gift_certificate.purchase.heading' }}</span>
        </li>
    </ul>
    <h2 class="page-heading">{{lang 'gift_certificate.purchase.heading' }}</h2>
    {{> components/gift-certificate/navigation gift_page='purchase' }}

    {{#each forms.gift_certificate.errors}}
        <p class="alert alert-danger">{{this}}</p>
    {{/each}}

    <form class="form-horizontal" method="post" action="{{forms.gift_certificate.action}}">
        <div class="main-section">
            {{#if forms.gift_certificate.cart_item_id}}
            <input type="hidden" name="cartitemid" value="{{forms.gift_certificate.cart_item_id}}">
            {{/if}}

            <div class="form-field">
                <label class="form-label" for="to_name">
                    {{lang 'forms.gift_certificate.purchase.to_name' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input" name="to_name" id="to_name" value="{{forms.gift_certificate.values.to_name}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="to_email">
                    {{lang 'forms.gift_certificate.purchase.to_email' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input" name="to_email" id="to_email" value="{{forms.gift_certificate.values.to_email}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="from_name">
                    {{lang 'forms.gift_certificate.purchase.from_name' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input" name="from_name" id="from_name" value="{{forms.gift_certificate.values.from_name}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="from_email">
                    {{lang 'forms.gift_certificate.purchase.from_email' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input" name="from_email" id="from_email" value="{{forms.gift_certificate.values.from_email}}">
            </div>
        </div>
        <div class="supporting-section">
            <div class="form-field">
                <label class="form-label" for="message">{{lang 'forms.gift_certificate.purchase.message' }}</label>
                <textarea class="form-input" name="message" id="message" rows="3" >{{forms.gift_certificate.values.message}}</textarea>
            </div>
            <div class="form-field">
                <label class="form-label" for="certificate_amount">
                    {{lang 'forms.gift_certificate.purchase.amount' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input" name="certificate_amount" id="certificate_amount" value="{{forms.gift_certificate.values.amount}}">
            </div>
            <div class="form-field">
                {{#each forms.gift_certificate.themes}}
                    <input type="radio" class="form-radio" name="certificate_theme" id="theme_{{this}}" value="{{this}}.html">
                    <label class="form-label" for="theme_{{this}}">{{this}}</label>
                {{/each}}
            </div>

            <div class="form-field">
                <input type="checkbox" class="form-checkbox" name="agree2" id="agree2">
                <label class="form-label" for="agree2">{{lang 'forms.gift_certificate.purchase.agree' }}</label>
            </div>
        </div>
        <div class="form-field">
                <input class="button" type="submit" value="{{lang 'forms.gift_certificate.purchase.submit_value' }}">
        </div>
    </form>
</main>
{{/partial}}
{{> layout/base}}
