<ul class="tabs" data-tab>

        <li class="tab is-active">
            <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
        </li>

        <li class="tab">
            <a class="tab-title" href="#tab-reviews">{{lang 'products.reviews.header'}}</a>
        </li>

        <li class="tab">
            <a class="tab-title" href="#tab-shipping">Shipping</a>
        </li>

        <li class="tab">
            <a class="tab-title" href="#tab-more-products" onclick="show_more_products()">More Products</a>
        </li>

</ul>
<div class="tabs-contents">

        <div class="tab-content is-active" id="tab-description">
            {{> components/products-cs/description-cs}}
        </div>

        <div class="tab-content " id="tab-reviews">
            {{> components/products-cs/reviews-cs}}
        </div>

        {{#if product.videos.list.length}}
        <div class="tab-content " id="tab-reviews">
            {{> components/products-cs/reviews-cs}}
        </div>
        {{/if}}

        <div class="tab-content " id="tab-shipping">
            {{> components/common/shipping-info}}
        </div>

        {{#if product.warranty}}
        <div class="tab-content {{#unless product.description}}is-active{{/unless}}" id="tab-warranty">
            {{{product.warranty}}}
        </div>
        {{/if}}

        <div class="tab-content " id="tab-more-products">
            {{> components/products-cs/more-products}}
        </div>
        
</div>
