<div id="gallery-container">
  <div id="gallery">
    <div class="slide">
      <img
        src="{{getImage product.images.[1] standard}}"
        alt="{{product.main_image.data}}"
      />
    </div>
    {{#each (after product.images 2)}}
    <div class="slide">
      <img loading="lazy" src="{{getImage this standard}}" alt="{{this.alt}}" />
    </div>
    {{/each}}
    <div class="slide">
      <img
        loading="lazy"
        src="{{getImage product.main_image standard}}"
        alt="{{product.main_image.data}}"
      />
    </div>
  </div>
</div>
<div id="gallery-controls">
  <button id="prev">Prev</button>
  <div id="position-indicator">
    {{#each product.images}}
    <svg class="dot"><use xlink:href="#icon-dot" /></svg>
    {{/each}}
  </div>
  <button id="next">Next</button>
</div>
