{{inject 'outOfStockDefaultMessage' (lang 'products.out_of_stock_default_message')}}
<div
    id="product-above"
    {{#if settings.data_tag_enabled}}
    data-event-type="product"
    data-entity-id="{{product.id}}"
    data-name="{{product.title}}"
    data-product-category="
        {{#each product.category}}
            {{#if @last}}
                {{this}}
            {{else}}
                {{this}}, 
            {{/if}}
        {{/each}}"
    data-product-brand="{{product.brand.name}}"
    data-product-price="
        {{#or customer (unless settings.hide_price_from_guests)}}
            {{#if product.price.with_tax}}
                {{product.price.with_tax.value}}
            {{else}}
                {{product.price.without_tax.value}}
            {{/if}}
        {{else}}
            {{lang 'common.login_for_pricing'}}
        {{/or}}"
    data-product-variant="single-product-option"
    {{/if}}> 

        {{#each product.reviews.messages}}
            {{#if error}}
                {{> components/common/alert/alert-error error}}
            {{/if}}
            {{#if success}}
                {{> components/common/alert/alert-success success}}
            {{/if}}
        {{/each}}

    <div id="product-car-selection">
        <select name="make" id="make" onchange="load_model_data()"></select>
        <select name="model" id="model" onchange="load_gen_data()"></select>
        <select name="year" id="year" onchange="load_option_data()"></select>
    </div>
    <div id="product-main">
        <div id="product-images">
            <div id="product-image-gallery" class="product-image-gallery"></div>
            <div id="product-badges-mobile"></div>
        </div>
        <div id="product-info">
            <div id="product-details">
                <h1 id="product-title">{{chop product.title}}</h1>
                <div id="product-details-one">
                    <div id="product-sku"></div>
                    <div id="product-shipping"></div>
                    <div id="product-stock"></div>
                </div>
                <div id="product-details-two">
                    <div id="product-price"></div>
                    <div id="product-rating"></div>
                    <div id="product-brand"></div>
                    <div id="product-badges-desktop"></div>
                </div>
            </div>
            <div id="product-ordering" data-cart-item-add>
                <div id="product-options">
                    <select name="option-one" id="product-options-one" onchange="check_options()" style="display: none;"></select>
                    <select name="option-two" id="product-options-two" onchange="update_cart_info()" style="display: none;"></select>
                </div>
                <div id="product-add">
                    <button id="product-add-button" type="button" onclick="cs_add_product()">{{lang 'products.add_to_cart'}}</buttom>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-------------------------------------- THE FOLD --------------------------------------}} 

<div class="product-below">
    <div id="product-blem"></div>
    <section id="product-content">
        {{#if theme_settings.show_product_details_tabs}}
            {{> components/products-cs/description-tabs-cs}}
        {{else}}
            {{> components/products-cs/description-cs}}
        {{/if}}
        <div id="instructions-link"></div>
    </section>
</div>

<div id="customer_group_id" style="display: none">
    {{customer.customer_group_id}}
</div>

{{#unless is_ajax}}
    {{> components/products-cs/modals/images}}
{{/unless}}