<section id="product-shipping">
    <div id="product-shipping-info">
      <h3>Free Domestic Shipping</h3>
      <div id="product-shipping-details" style="display: none"></div>
      <p>
        We ship orders every weekday. All orders placed by 2:00 pm PT will ship
        the same day. You will receive a shipping notification when we print the
        label for your order. The tracking will not indicate that the order has
        been shipped until it is picked up and scanned in by the carrier. Orders
        placed after 2:00 pm PT on Friday will ship on Monday.
      </p>
    </div>
    <div id="product-shipping-service">
        <p>
          <span class="paragraph-emphasis">Our Team</span> is comprised of a
          small group of dedicated individuals who each pride themselves on
          providing their best work to our customers every day. We are all willing
          to go above and beyond for our customers to make sure they are happy
          with their entire shopping experience. If you need anything, please drop
          us a line at support@cravenspeed.com and we'd be happy to help you out.
          Our customer service team will usually get back to you within the hour
          during business hours.
        </p>
        <a href="/about-us/">Click here to meet the team!</a>
      </div>
    </div>
  </section>