<div class="cinch-description">
    <h3>What is CINCH</h3>
    <p>
      CINCH is a small device that keeps your seat belt at the appropriate tension
      while driving. As you drive your seat belt can become slack and improperly
      positioned, reducing effectiveness and encouraging poor posture. CINCH is an
      innovative and simple solution for getting optimal performance from your seat
      belt. It just slides over the belt buckle to install.
    </p>
    <img
      src="/product_images/uploaded_images/cinch-belt.png"
      alt="An illustration of the CINCH device"
    />
    <h3>Does CINCH fit my car?</h3>
    <p>
      CINCH was designed to fit most belt buckles installed in today's vehicles. If
      your buckle is especially chunky, you might have troubles installing the CINCH
      device. Fortunately, our generous return policy makes it incredibly simple to
      return items for a 100% refund. Installation of CINCH is dead simple. Just
      slide the CINCH over your buckle, buckle up, and give the belt a tug to
      tighten the lap section.
    </p>
    <video
      playsinline
      autoplay
      muted
      loop
      src="https://cravenspeed.b-cdn.net/video/cinch-install.mp4"
    >
      Installing a CINCH device onto a seatbelt buckle
    </video>
    <h3>CINCH on the Tack</h3>
    <p>
      As a sports car enthusiast, CINCH is a great bang for your buck upgrade you
      can make to your car. Anyone with any race experience will tell you that stock
      seat belts are inadequate at keeping your body secure in the seat during
      performance driving. Wrestling with your car while your body jostles back and
      fourth leads to lower lap times and an overall less enjoyable experience. By
      keeping more tension on the lower portion of the seat belt, it can do a
      significantly better job of keeping your body secured in the seat. This allows
      you to focus more on driving, and increases your ability to provide smooth and
      precise inputs. While a 4-point harness and racing seat do provide the
      ultimate solution to these problems, they both come with massive financial and
      practicality barriers. CINCH is simply the easy solution for the everyday
      sporty driver.
    </p>
    <h3>CINCH Off-Road</h3>
    <p>
      Whether is overland, rock crawling, or just out getting muddy nothing throws
      you around your seat like some off-roading. CINCH can keep the tension on your
      lap to keep you down in your seat with your feet to the pedals and hands on
      the wheel. Increased control is going to improve your dives off the beaten
      path.
    </p>
    <img
      src="/product_images/uploaded_images/cinch-front.jpg"
      alt="The back of the CINCH device"
    />
    <h3>CINCH for Back Pain</h3>
    <p>
      CINCH eliminates seat belt slack to align your spine against your seat’s
      lumbar support. This helps prevent slouching to improve posture and comfort.
    </p>
    <img
      src="/product_images/uploaded_images/Haelth_graphic_01.png"
      alt="Illustration demonstrating how a spine can be better aligned with the CINCH"
    />
    <h3>SEAT BELT SLACK = BACK STRAIN</h3>
    <p>
      Lumber support reduces back strain, but only if your seat belt is worn snug
      across the hips and pelvis. However as you drive, your seat belt becomes
      slack, reducing back support and increasing back strain by 75%.*
    </p>
    <p>
      *Nachemson A.
      <a href="https://pubmed.ncbi.nlm.nih.gov/7209680/"
        >Disc Pressure Measurements</a
      >. SPINE (1981) Vol. 1, No. 1, pp. 93-97.
    </p>
    <blockquote>
      <p>Over 80% of CINCH users report reduced back pain from their car seats.</p>
      <cite>
        <em>Tutch Designs, Ltd. CINCH User Survey</em>
      </cite>
    </blockquote>
    <h3>Dr. Graham Cox, Co-Inventor/Author</h3>
    <p>
      PhD Physiology, Royal Free Hospital School of Medicine, London, UK,
      co-inventor of the CINCH and co-author of the popular health & wellness book
      “<a
        href="https://www.amazon.co.uk/HELP-My-Car-Killing-Healthier-ebook/dp/B00NZET8S8/ref=sr_1_11"
        >My Car is Killing Me.</a
      >
      ”
    </p>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/fQ9VJ7-Oyo0?si=ngX7GC-RQY5B3aNU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <h3>CINCH for Kids</h3>
    <p>
      CINCH is easy to use, and maintains proper seat belt tension to help children
      on booster seats stay happy, snug and safe every mile of their journey.
    </p>
    <blockquote>
      <p>
        CINCH is easy to use, and maintains proper seat belt tension to help
        children on booster seats stay happy, snug and safe every mile of their
        journey.
      </p>
      <cite>
        <em>
          <a
            href="https://www.parents.com/baby/safety/car/car-seat-safety-check-8-common-mistakes-you-must-avoid/"
            target="_blank"
            >Parents Magazine</a
          >
        </em>
      </cite>
    </blockquote>
    <img
      src="https://store-351ed.mybigcommerce.com/product_images/uploaded_images/1528132891851.jpg
    https://store-351ed.mybigcommerce.com/product_images/uploaded_images/booster_seat916.jpg"
      alt=""
    />
    <img
      src="https://store-351ed.mybigcommerce.com/product_images/uploaded_images/1528132891851.jpg
    https://store-351ed.mybigcommerce.com/product_images/uploaded_images/booster_seat916.jpg"
      alt=""
    />
    <h3>OPTIMAL BELT POSITION = SAFETY</h3>
    <p>
      CINCH keeps your child’s lap belt snug across the child’s upper thighs – the
      safest position according to the&nbsp;<em
        ><a
          href="https://www.nhtsa.gov/equipment/car-seats-and-booster-seats"
          target="_blank"
          >National Highway Traffic Safety Administration (NHTSA)</a
        >.</em
      >
    </p>
    <blockquote>
      <p>
        <em
          ><strong
            >… adjust the lap belt so it lies snugly across your child’s upper
            thighs …</strong
          ></em
        >
      </p>
      <cite>
        <em
          ><a
            href="https://www.nhtsa.gov/equipment/car-seats-and-booster-seats"
            target="_blank"
            >National Highway Traffic Safety Administration (NHTSA) guidelines
          </a></em
        ></cite
      >
    </blockquote>
    <h3>CINCH Keeps KIDS safe, secure & snug!</h3>
    <p>
      CINCH’s snug fit prevents the tendency of your child’s lap belt to loosen up
      during your car trip, even after it was properly secured at the start of the
      journey.
    </p>
    <video
      playsinline
      controls
      src="https://safetybeltcinch.com/wp-content/uploads/2021/04/Shoft-Booster_edited.mp4"
    >
      A demonstration of the importance of properly installed child restraints
    </video>
    <h3>CINCH for Pregnancy</h3>
    <p>
      CINCH’s snug fit prevents the tendency of the lap belt to ride up onto the
      abdomen during your car trip, even after it was placed safely across the hips
      and pelvis at the start of the journey.
    </p>
    <p>
      CINCH is designed to keep the lap belt comfortably below the bump (abdomen)
      and safely across the hips and pelvis during pregnancy, as strongly
      recommended by the American College of Obstetricians & Gynecologists.
    </p>
    <img
      src="https://store-351ed.mybigcommerce.com/product_images/uploaded_images/Pregnancy_pic-01.jpg"
      alt=""
    />
    <img
      src="https://store-351ed.mybigcommerce.com/product_images/uploaded_images/Pregnancy_pic-02.jpg"
      alt=""
    />
    <p>
      CINCH eliminates seat belt slack to align your spine against your seat’s
      lumbar support. This helps prevent slouching to improve posture and comfort.
    </p>
</div>
