<main class="body" id="main-content" role="main" data-currency-code="{{currency_selector.active_currency_code}}">
    <form class="header-mobile-search-form" action="/shop/" method="get" id="mobile-search-dropdown" data-dropdown-content="">
      <div class="form-field" style="flex-grow: 1;margin: 0 40px;">
        <label class="is-srOnly" for="search_query">Search</label>
        <input class="form-input has-action" type="text" name="search_query" autocomplete="off" aria-label="Enter Keywords, Products, or model" aria-required="true">
        <button class="button button--icon button--inputAction" type="submit" value="Search">
          <span class="u-hiddenVisually">Search</span>
          <svg class="icon">
            <use xlink:href="#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
    {{#block "hero"}} {{/block}}
    
    {{#if page_type '===' 'search'}}
        {{#block "page"}} {{/block}}
    {{else if page_type '===' 'product'}}
        {{#block "page"}} {{/block}}
    {{else}}
        <div class="container">
            {{#block "page"}} {{/block}}        
        </div>
    {{/if}}

    {{> components/common/modal/modal}}
    {{> components/common/alert/alert-modal}}
</main>
