<div class="cs-car-picker">
    <select name="make-name" id="Make" class="makemodel-dropdown" onchange="updateModel(this.value)">
      <option value="">Select Make</option>
    </select>
    <select name="model-name" id="Model" class="makemodel-dropdown" onchange="updateGen(this.value)">
      <option value="">Select Model</option>
    </select>
    <select name="year-name" id="Year" class="makemodel-dropdown" onchange="updateGenCookie(this.value)">
        <option value="">Select Year</option>
    </select>
</div>