<div class="previewCart">
    {{#if cart.items.length}}
        <ul class="previewCart-list">
            {{#each cart.items}}
                <li class="previewCart-listItem">
                    <div class="previewCart-listItem-image">
                        <img src="{{@image image 'thumb'}}" alt="{{image.alt}}" />
                    </div>

                    <div class="previewCart-listItem-content">
                        <div class="previewCart-listItem-brand">
                            {{brand.name}}
                        </div>

                        <h6 class="previewCart-listItem-name">
                            <a href="{{url}}" alt="{{name}}">{{name}}</a>
                        </h6>

                        <div class="previewCart-listItem-price">
                            {{quantity}} &times; {{price.formatted}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>

        <div class="previewCart-listItem previewCart-listItem--action">
            <div class="previewCart-listItem-checkout">
                <a href="{{urls.checkout.single_address}}" class="button button--small button--primary">Checkout Now</a>
            </div>

            <div class="previewCart-listItem-viewCart">
                <a href="{{urls.cart}}" class="button button--small button--action">View Cart</a>
            </div>
        </div>
    {{else}}
        <div class="previewCart-emptyBody">
            {{@lang 'cart.checkout.empty_cart'}}
        </div>
    {{/if}}
</div>
