<div class="category-callouts-container">
    <div class="category-callout-background">
    </div>
    <!-- This will be the Bynuna Info Card -->
    <div class="category-callout bynuna-info-card">
        <!-- <div class="category-callout-image">
            <img src="../../../assets/img/category-callouts/soldier_standing_placeholder.png" alt="Firearms">
        </div> -->

        <div class="category-callout-cta-image">
            <img src="../../../assets/img/category-callouts/placeholder-cta.png" alt="Firearms">
        </div>

        <div class="category-callout-actions">
            <h3>Welcome to Bynuna</h3>
            <p>We are a business that specializes in custom firearms and firearm accessories.</p>
            <a href="/about">
                <button class="button button-primary button-cta">
                    Learn More
                </button>
            </a>
        </div>
    </div>
    <!-- Three Category Callouts Hardcoded for now: Firearms, Firearm Parts, and Firearm Accessories -->
    <div class="category-callout">
        <div class="category-callout-image">
            <img src="../../../assets/img/category-callouts/firearms_rifle_image.png" alt="Firearms">
        </div>
        <div class="category-callout-content">
            <h3>Firearms</h3>
        </div>
    </div>
    <div class="category-callout">
        <div class="category-callout-image">
            <img src="../../../assets/img/category-callouts/firearms_rifle_image.png" alt="Firearm Parts">
        </div>
        <div class="category-callout-content">
            <h3>Firearm Parts</h3>
        </div>
    </div>
    <div class="category-callout">
        <div class="category-callout-image">
            <img src="../../../assets/img/category-callouts/firearms_rifle_image.png" alt="Firearm Accessories">
        </div>
        <div class="category-callout-content">
            <h3>Firearm Accessories</h3>
        </div>
    </div>
</div>