{{#if theme_settings.channels.length '>' 1}}
<ul class="navUser-section">
    <li class="navUser-item">
        <a href="#"
           class="navUser-action navUser-action--channelSelector has-dropdown"
           data-dropdown="channelSelection"
           aria-controls="channelSelection"
           aria-expanded="false"
        >
            {{#each theme_settings.channels}}
                {{#if is_active}}
                    {{lang 'common.channel' code=code}}
                {{/if}}
            {{/each}}
            <i class="icon" aria-hidden="true">
                <svg>
                    <use href="#icon-chevron-down"/>
                </svg>
            </i>
        </a>
        <ul class="dropdown-menu" id="channelSelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{#each theme_settings.channels}}
                <li class="dropdown-menu-item">
                    <a href="{{{switch_url}}}" data-channel-code="{{{code}}}" data-warning="{{lang 'common.channel_switch_warning'}}">
                        {{#if is_active}}
                            <strong>{{name}}</strong>
                        {{else}}
                            {{name}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </li>
</ul>
{{/if}}
