<ul class="navUser-section">
    <li class="navUser-item">
        <a class="navUser-action has-dropdown" href="#" data-dropdown="currencySelection" aria-controls="currencySelection" aria-expanded="false">Select currency: {{currency_selector.active_currency_code}}</a>
        <ul class="dropdown-menu dropdown--currencySelection" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{#each currency_selector.currencies}}
            <li class="dropdown-menu-item">
                <a href="{{{switch_url}}}">
                    {{#if is_active}}
                    <strong>{{name}}</strong>
                    {{else}}
                    {{name}}
                    {{/if}}
                </a>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
