{{#contains fonts "Montserrat, sans-serif"}}
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
{{/contains}}

{{#contains fonts "Karla, sans-serif"}}
    <link href="//fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic" rel="stylesheet">
{{/contains}}

{{#contains fonts "Oswald, sans-serif"}}
    <link href="//fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
{{/contains}}

{{#contains fonts "'Source Sans Pro', sans-serif"}}
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
{{/contains}}

{{#contains fonts "'Open Sans', sans-serif"}}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic" rel="stylesheet">
{{/contains}}

{{#contains fonts "Roboto, sans-serif"}}
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{{/contains}}

{{#contains fonts "Volkhov, serif"}}
    <link href="//fonts.googleapis.com/css?family=Volkhov:400,700,400italic,700italic" rel="stylesheet">
{{/contains}}

{{#contains fonts "'Clear Sans', sans-serif"}}
    <link href="{{cdn '/assets/css/fonts/clear-sans.css'}}" rel="stylesheet">
{{/contains}}
