{{#anyInclude fonts "Montserrat"}}
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
{{/anyInclude}}

{{#anyInclude fonts "Karla"}}
    <link href="//fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic" rel="stylesheet">
{{/anyInclude}}

{{#anyInclude fonts "Oswald"}}
    <link href="//fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
{{/anyInclude}}

{{#anyInclude fonts "Source Sans Pro"}}
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
{{/anyInclude}}

{{#anyInclude fonts "Open Sans"}}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic" rel="stylesheet">
{{/anyInclude}}

{{#anyInclude fonts "Roboto"}}
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{{/anyInclude}}

{{#anyInclude fonts "Volkhov"}}
    <link href="//fonts.googleapis.com/css?family=Volkhov:400,700,400italic,700italic" rel="stylesheet">
{{/anyInclude}}

{{#anyInclude fonts "Clear Sans"}}
    <link href="{{cdn '/assets/css/fonts/clear-sans.css'}}" rel="stylesheet">
{{/anyInclude}}
