<style>
    .form-prefixPostfix-button--postfix{
        background-color: #222 !important;
    }
    .form-prefixPostfix-button--postfix:hover{
       color: #ffffff !important;
    }
</style>

{{{region name="below_content--global"}}}

<ul class=" large-block-grid-3 tabs-list" style="background-color: #f0f4f5!important;">
     <li></li>
     <li style="    margin-top: 45px; margin-bottom: -4px;">
<h4 class="footer-info-heading text-center" style="font-weight: 600; font-size: 23px; color: #222;">Formex Newsletter</h4>
<p class="text-center" style="font-size: 17px; margin-top: -17px;">Subscribe now for exclusive news</p>

<form class="form" action="{{urls.subscribe.action}}" method="post" data-error-message="{{lang 'newsletter.newsletter_error'}}">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field1 form-field-custom">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap subscribeFormContent">
                <input class="form-input" style="height: 40px; background-color: #ffffff !important;" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="Enter Your Email Address">
                <input class="button button--primary form-prefixPostfix-button--postfix" style="height: 40px; margin-left: 0px;" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
</li>
	 <li></li>
  </ul>




{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
<style>
.has-double-margin-bottom {
      margin-bottom: 24px !important;
    }

    .has-double-margin-top {
      margin-top: 24px !important;
    }

    .has-text-centered {
      text-align: center !important;
    }

    .footer {
      background: #242424;
      color: #B0AFAF;
      padding-bottom: 3rem;
      position: relative;
      z-index: 1;
    }

    .footer .title {
      text-transform: uppercase;
      color: #fff;
      font-family: Muli, sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
    }

    .is-inline {
      display: inline !important;
    }

    .formex-logo .divider-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .formex-logo .divider-container::after,
    .formex-logo .divider-container::before {
      content: "";
      height: 1px;
      flex-grow: 1;
      background: #5C5C5C;
    }



    .footer a {
      color: #b0afaf;
    }
    .is-inline {
    display: inline !important;
}
.svg-inline--fa {
    font-size: inherit;
}


.footer-info-col--small {
    width: 24%;
}

  </style>
{{/if}}
<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h3 class="footer-info-heading">{{lang 'social.connect'}}</h3>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
              <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
        <h5 class="title is-size-8 has-margin-bottom"> Shop</h5>
        <ul class="footer-info-list">
          {{#each categories}}
          {{#if id '===' '24'}}
          <li>
            <a href="{{url}}">{{name}}</a>
          </li>
          {{/if}}
          {{/each}}
          {{#each categories}}
          {{#if name '===' 'Watches'}}
          {{#each children}}
          <li>
            <a href="{{url}}">{{name}}</a>
          </li>
          {{/each}}
          {{/if}}
          {{/each}}
          {{#each categories}}
          {{#if id '===' '25'}}
          <li>
            <a href="{{url}}">{{name}}</a>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
        <div class="column is-3">
          <h3 class="title is-size-8 has-margin-bottom">
            Formex World
          </h3>
          <ul class="is-clean">
            <li>
              <a href="/blogs/formex-world">Formex World</a>
            </li>
            <li>
              <a href="/pages/our-story">Our Story</a>
            </li>
            <li>
              <a href="/blogs/formex-world">News &amp; Stories</a>
            </li>
          </ul>
        </div>
      </article>

           <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
        <div class="column is-3">
          <h3 class="title is-size-8 has-margin-bottom">
            Customer Service
          </h3>
          <ul class="is-clean">
            <li>
              <a href="/pages/faqs">FAQs</a>
            </li>
            <li>
              <a href="/pages/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h3 class="footer-info-heading">{{lang 'footer.brands'}}</h3>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/and}}

            {{#if settings.address}}
            <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                <h3 class="footer-info-heading">{{lang 'footer.info'}}</h3>
                <address>{{nl2br settings.address}}</address>
                {{#if settings.phone_number}}
                    <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                {{/if}}
            </article>
            {{/if}}

            <article class="footer-info-col" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                {{> components/common/payment-icons}}
            </article>
        </section>
        {{#if settings.paypal_commerce_credit_message}}
        <div class="footer-copyright">
            <p class="paypal-credit">{{nl2br settings.paypal_commerce_credit_message}}</p>
        </div>
        {{/if}}
        {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
            </div>
        {{/if}}
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>
