<!-- @todo Tessmed logo, social links, page links-->
{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small footer-half border-right">
                <p>Advanced products based on this revolutionary, patent-pending technology are only available through Tesseract. No other medical, pharma, or supplement companies have been licensed to utilize our proprietary methodologies.</p>
            </article>

            <article class="footer-info-links footer-info-col footer-info-col--small border-right" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Support</h5>
                <ul class="footer-info-list">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-links footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">About</h5>
                <ul class="footer-info-list">
                    {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">{{lang 'footer.brands'}}</h5>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/and}}

        </section>
        <section class="footer-fda">
            <div class="fda-border-box">
                <p>*These statements have not been evaluated by the Food and Drug Administration.<br> These products are not intended to diagnose, treat, cure, or prevent any disease.</p>
            </div>
        </section>
        {{#if theme_settings.show_copyright_footer}}
            <div class="banners banner-footer">
                <div class="banner subscription-form">
                    <p class="powered-by">&copy; Copyright {{moment format="YYYY"}}, All Rights Reserved {{settings.store_name}}, LLC | </p>
                    <a href="#">Privacy Policy</a><p> | </p><a href="#">Terms</a>
                </div>
            </div>
        {{/if}}
    </div>
</footer>
