<!--{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}-->


      <div class="bluebar">
        <div class="stayconnected-text w-row">
          <div class="w-col w-col-4">
            <div class="stayconnectedlarge">Stay Connected!</div>
            <div class="stayconnected-p">Join our newsletter for exclusive savings and inspriation</div>
          </div>
          <div class="w-col w-col-4">
            <div class="text-block-2">            
              <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>
<div id="mc_embed_signup">
<form action="https://ebulbsplus.us7.list-manage.com/subscribe/post?u=58bcfef2965a507145fcb751e&amp;id=29571f0436" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
</span>
</label>
<input style="display:inline;width:70%;" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">  <input type="submit" style="width:20%;display:inline;" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</div>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_58bcfef2965a507145fcb751e_29571f0436" tabindex="-1" value=""></div>
  
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup--></div>
          </div>
          <div class="w-col w-col-4">
            <div class="socialiconcont">
              <a href="#" class="w-inline-block"><img src="{{cdn "webdav:img/001-facebook.svg"}}"  loading="lazy" alt="eBulbs Plus on Facebook Marketplace
" class="socialicon"></a>
              <a href="#" class="w-inline-block"><img src="{{cdn "webdav:img/013-twitter.svg"}}"  loading="lazy" alt="Connect with eBulbs Plus on Twitter
" class="socialicon"></a>
              <a href="#" class="w-inline-block"><img src="{{cdn "webdav:img/011-instagram.svg"}}"  loading="lazy" alt="eBulbs Plus on Instagram
" class="socialicon"></a>
              <a href="#" class="w-inline-block"><img src="{{cdn "webdav:img/010-linkedin.svg"}}"  loading="lazy" alt="eBulbs Plus LinkedIn Business Profile
" class="socialicon"></a>
            </div>
          </div>
        </div>
      </div>

<footer class="footer" role="contentinfo">

<div class="footer">
      <div class="midfoot">
        <div class="midfootcol w-row">
          <div class="column-5 w-col w-col-4 w-col-stack"><img src="{{cdn "webdav:img/white logo footer.svg"}}"  loading="lazy" width="245" alt="eBulbs Plus since 1975 Colorado Springs" class="whitelogofooter">
            <div class="footertextdiv">
              <div class="footertext">Since 1975 we have established the reputation as the go to source for all commercial lighting needs. We have a wide selection of LED light bulbs, ballasts, LED retrofits, wall packs, HID options, and so much more! If you can&#x27;t find what you need, call us and we will find it for you.</div>
            </div>
          </div>
          <div class="w-col w-col-2 w-col-stack">
            <h4 class="heading-3">Quick Links</h4>
            <ul role="list" class="footerlinks">
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">About Us</a>
              </li>
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">Contact Us</a>
              </li>
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">Services</a>
              </li>
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">Online Policies</a>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-2 w-col-stack">
            <h4 class="heading-3">Categories</h4>
            <ul role="list" class="footerlinks">
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">Incandescent</a>
              </li>
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">Compact Fluorescent</a>
              </li>
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">Fluorescent Tubes</a>
              </li>
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">Halogen Light Bulbs</a>
              </li>
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">HID Light Bulbs</a>
              </li>
              <li class="footerlistitems">
                <a href="#" class="footerlistitems">LED Light Bulbs</a>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-2 w-col-stack">
            <h4 class="heading-3">eBulbs Plus</h4>
            <div class="footerlistitems part2">2324 E Bijou St<br>Colorado Springs, CO 80909</div>
            <div class="heading-3 h3foot">
              <a href="tel:(719)632-2670" class="h4footerlink">(719) 632-2670<br></a>
              <a href="mailto:info@ebulbsplus.com" class="h4footerlink bottomlink">info@ebulbsplus.com<br></a>
            </div>
          </div>
          <div class="w-col w-col-2 w-col-stack">
            <h4 class="heading-3">Store Hours</h4>
            <div class="footerlistitems part2">Monday - Friday  8AM - 5PM<br>Saturday &amp; Sunday  Closed</div>
            <div class="footerlistitems part2 finally">We offer after-hour or weekend appointments if needed.</div>
          </div>
        </div>
            {{> components/common/payment-icons}}
      </div>
      <div class="bottomfoot">         
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} | <a href="/sitemap.php">Sitemap</a> </p>
            </div>
        {{/if}}
    </div>
    </div>
  </div>
</footer>
