<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
    <tr>
        <td width="135" align="center" valign="top">
            <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name={{theme_settings.geotrust_ssl_common_name}}&amp;size={{theme_settings.geotrust_ssl_seal_size}}&amp;lang={{locale_name}}"></script><br />
            <a href="http://www.geotrust.com/ssl/" target="_blank"  style="color: #000; font: bold 7px verdana,sans-serif; letter-spacing: 0.5px; margin: 0; padding: 0; text-align: center; text-decoration: none;"></a>
        </td>
    </tr>
</table>
