<section class="home-info">
  <div class="home-info__wrap">
      <div class="home-info__item">
          <!-- <svg>
              <use xlink:href="#icon-ContactUs-Large" />
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="57.859" height="60.004" viewBox="0 0 57.859 60.004">
              <defs>
                <clipPath id="clip-path-contact-us">
                  <rect data-name="Rectangle 93" width="57.859" height="60.005" fill="none"/>
                </clipPath>
              </defs>
              <path data-name="Path 156" d="M94.481,0V31.993l29.791.113V0Z" transform="translate(-66.414 0)" fill="#135185"/>
              <g data-name="Group 175">
                <g data-name="Group 174" clip-path="url(#clip-path-contact-us)">
                  <path data-name="Path 157" d="M54.462,63.861c-1.489,1.575-3.15,3.236-5.027,5.027a6.822,6.822,0,0,1-4.854,1.79h-.194a26.149,26.149,0,0,1-9.881-2.459A62.241,62.241,0,0,1,13.278,52.751,60.018,60.018,0,0,1,3.354,38.145,36.746,36.746,0,0,1,.291,29.3a12.433,12.433,0,0,1,0-5.35,5.461,5.461,0,0,1,1.532-2.7l4.444-4.379.518-.518a3.461,3.461,0,0,1,2.2-1.165h.173a3.014,3.014,0,0,1,2.114.949c2.848,2.8,5.437,5.35,8.025,8.025a2.947,2.947,0,0,1,1.036,2.33,3,3,0,0,1-1.186,2.265L15.63,32.277l-.971.949a2.773,2.773,0,0,0-.712,3.667,32.9,32.9,0,0,0,5.286,7.982,48.865,48.865,0,0,0,10.938,9.816c.884.561,1.834,1.057,2.718,1.51l1.187.626a2.489,2.489,0,0,0,3.15-.6l1.079-1.1,3.711-3.689a3.093,3.093,0,0,1,2.546-1.014,3.011,3.011,0,0,1,1.9.884l.345.345c2.567,2.524,5.242,5.178,7.788,7.788a2.919,2.919,0,0,1-.13,4.422" transform="translate(0 -10.678)" fill="#1e81d1"/>
                  <rect data-name="Rectangle 89" width="22.786" height="0.891" transform="translate(31.57 5.326)" fill="#fff"/>
                  <rect data-name="Rectangle 90" width="22.786" height="0.891" transform="translate(31.57 12.18)" fill="#fff"/>
                  <rect data-name="Rectangle 91" width="22.786" height="0.891" transform="translate(31.57 19.034)" fill="#fff"/>
                  <rect data-name="Rectangle 92" width="22.786" height="0.891" transform="translate(31.57 25.888)" fill="#fff"/>
                </g>
              </g>
            </svg>
            
          <p class="home-info__item-title">Contact Us</p>
          <p class="home-info__item-link-wrap">
              Toll Free: <a href="tel:18885662748">1-888-566-2748</a>
          </p>
          <p class="home-info__item-link-wrap home-info__item-link-wrap-last">
              Email: <a href="mailto:customerservice@knobdeco.com">customerservice@knobdeco.com</a>
          </p>
          <p class="home-info__item-text">
            Service Support Center is open from 8:00am to 5:00pm central time, Monday through Friday.
          </p>
      </div>
      <div class="home-info__item">
          <!-- <svg>
              <use xlink:href="#icon-Shipping-Large" />
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="65.841" height="60" viewBox="0 0 65.841 60">
              <g transform="translate(0 0)">
                <path data-name="Path 151" d="M0,59.853l31.716,9.49.522.157V30.135L0,20.487Z" transform="translate(0 -9.5)" fill="#1e81d1"/>
                <path data-name="Path 152" d="M63.787,30.139V69.5L96.02,59.856V20.494Z" transform="translate(-30.18 -9.503)" fill="#1e81d1"/>
                <path data-name="Path 153" d="M33.4,0,1,9.645l32.4,9.647L65.8,9.646Z" transform="translate(-0.48)" fill="#135185"/>
              </g>
            </svg>
            
          <p class="home-info__item-title">Free Shipping on Orders <br> Over $39.99<sup>*</sup></p>
          <p class="home-info__item-text">
              *Applies to standard ground shipping in the contiguous 48 states only. Please see Terms and Conditions for our complete shipping policy before placing your order.
          </p>
      </div>
      <div class="home-info__item">
          <!-- <svg>
              <use xlink:href="#icon-AboutUs-Large" />
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65.709" height="60" viewBox="0 0 65.709 60">
              <defs>
                <clipPath id="clip-path-about-us">
                  <rect data-name="Rectangle 96" width="65.709" height="60" fill="none"/>
                </clipPath>
              </defs>
              <g data-name="Group 186" clip-path="url(#clip-path-about-us)">
                <path data-name="Path 178" d="M35.653,0A29.994,29.994,0,0,0,9.179,44.1l-.28.448L0,60H35.709a30,30,0,1,0-.056-60" fill="#1e81d1"/>
                <path data-name="Path 179" d="M65.626,19.783A4.226,4.226,0,1,1,61.4,15.557a4.283,4.283,0,0,1,4.226,4.226m-.56,34.778H57.631V26.351h7.434Z" transform="translate(-25.173 -6.85)" fill="#135185"/>
              </g>
            </svg>
            
          <p class="home-info__item-title">About Us</p>
          <p class="home-info__item-text">
              Knob Deco has been a trusted online retailer since 1993. We carry more than 60 different brands from 50+ manufacturers and distributors, allowing you to shop and compare products from the finest manufacturers in the home hardware industry.
          </p>
      </div>
  </div>
</section>
