<section class="home-finish">
  <div class="home-finish__wrap">
      <div class="home-finish__title-wrap">
          <h2 class="home-finish__title">SHOP BY FINISH</h2>
          <!-- <a href="/search.php?search_query=...&section=content" class="home-finish__title-btn">
              SEE ALL
              <svg xmlns="http://www.w3.org/2000/svg" width="11.511" height="7.396" viewBox="0 0 11.511 7.396">
                  <path d="M0,0,2.877,3.7,5.755,7.4,8.633,3.7,11.511,0Z" transform="translate(0 0)" fill="#1e81d1"/>
                </svg>
                
          </a> -->
      </div>
      <ul class="home-finish__list">
          <li class="home-finish__item">
              <a href="/finish/black/" class="home-finish__link">
                  <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/finish-matteblack.jpg?t=1668527883&_gl=1*1mk2mdz*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODUyNzYyNC44OC4xLjE2Njg1Mjc4MjkuOS4wLjA." alt="Matte Black" class="home-finish__item-img" />
                  <p class="home-finish__item-title">Black</p>
              </a>
          </li>
          <li class="home-finish__item">
              <a href="/finish/crystal-glass/" class="home-finish__link">
                  <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/finish-crystal.jpg?t=1668527936&_gl=1*1etvx8t*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODUyNzYyNC44OC4xLjE2Njg1Mjc4MjkuOS4wLjA." alt="Crystal" class="home-finish__item-img" />
                  <p class="home-finish__item-title">Crystal</p>
              </a>
          </li>
          <li class="home-finish__item">
              <a href="/finish/wood/" class="home-finish__link">
                  <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/finish-wood.jpg?t=1668527966&_gl=1*1etvx8t*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODUyNzYyNC44OC4xLjE2Njg1Mjc4MjkuOS4wLjA." alt="Wood" class="home-finish__item-img" />
                  <p class="home-finish__item-title">Wood</p>
              </a>
          </li>
          <li class="home-finish__item">
              <a href="/finish/stainless-steel/" class="home-finish__link">
                  <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/finish-stainlesssteel.jpg?t=1668527910&_gl=1*1mk2mdz*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODUyNzYyNC44OC4xLjE2Njg1Mjc4MjkuOS4wLjA." alt="Stainless Steel" class="home-finish__item-img" />
                  <p class="home-finish__item-title">Stainless Steel</p>
              </a>
          </li>
      </ul>
      <!-- <a href="/search.php?search_query=...&section=content" class="home-finish__btn-mobile">
          SEE ALL
          <svg xmlns="http://www.w3.org/2000/svg" width="11.511" height="7.396" viewBox="0 0 11.511 7.396">
              <path d="M0,0,2.877,3.7,5.755,7.4,8.633,3.7,11.511,0Z" transform="translate(0 0)" fill="#1e81d1"/>
            </svg>
            
      </a> -->
  </div>
</section>
