<section class="home-categories">
  <h2 class="home-categories__title">SHOP BY CATEGORY</h2>
  <div class="home-categories__wrap">
    <a href="/door-handles-pulls" class="home-categories__item">
        <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/shopbycategory-doorpulls.jpg?t=1668102901&_gl=1*kjudlb*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODEwMjQzNC44NC4xLjE2NjgxMDI0NDAuNTQuMC4w" alt="Door Pulls" class="home-categories__item-img">
        <p class="home-categories__item-title">Door Pulls</p>
    </a>
    <a href="/door-hardware/door-knobs/" class="home-categories__item">
        <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/shopbycategory-knobs.png?t=1668103687&_gl=1*ogfpqy*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODEwMjQzNC44NC4xLjE2NjgxMDI0NDAuNTQuMC4w" alt="Knobs" class="home-categories__item-img">
        <p class="home-categories__item-title">Knobs</p>
    </a>
    <a href="/cabinet-hardware/cabinet-pulls/" class="home-categories__item">
        <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/shopbycategory-cabinetpulls.png?t=1668103760&_gl=1*goiv9c*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODEwMjQzNC44NC4xLjE2NjgxMDI0NDAuNTQuMC4w" alt="Cabinet Pulls" class="home-categories__item-img">
        <p class="home-categories__item-title">Cabinet Pulls</p>
    </a>
    <a href="/switch-plates/" class="home-categories__item">
        <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/shopbycategory-switchplates.png?t=1668103723&_gl=1*ogfpqy*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODEwMjQzNC44NC4xLjE2NjgxMDI0NDAuNTQuMC4w" alt="Switch Plates" class="home-categories__item-img">
        <p class="home-categories__item-title">Switch Plates</p>
    </a>
    <button class="home-categories__btn" data-submenu-toggle>
        SHOW <span class="home-categories__btn-more">MORE</span><span class="home-categories__btn-less">LESS</span>
        <!-- <svg>
            <use xlink:href="#icon-arrow" />
        </svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="11.511" height="7.396" viewBox="0 0 11.511 7.396">
            <path d="M0,0,2.877,3.7,5.755,7.4,8.633,3.7,11.511,0Z" transform="translate(0 0)" fill="#1e81d1"/>
          </svg>
          
    </button>
    <a href="/bath-accessories/vanities/" class="home-categories__item home-categories__item-extra">
        <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/shopbycategory-vanities.png?t=1668104799&_gl=1*1i1hncs*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODEwMjQzNC44NC4xLjE2NjgxMDI0NDAuNTQuMC4w" alt="Vanities" class="home-categories__item-img">
        <p class="home-categories__item-title">Vanities</p>
    </a>
  </div>
</section>
