<section class="home-brand">
  <div class="home-brand__title-wrap">
      <h2 class="home-brand__title">SHOP BY BRAND</h2>
      <a href="/brands/" class="home-brand__title-btn">
          SEE ALL
          <svg xmlns="http://www.w3.org/2000/svg" width="11.511" height="7.396" viewBox="0 0 11.511 7.396">
              <path d="M0,0,2.877,3.7,5.755,7.4,8.633,3.7,11.511,0Z" transform="translate(0 0)" fill="#1e81d1"/>
            </svg>
            
      </a>
  </div>
  <ul class="home-brand__list">
      <li class="home-brand__item">
          <a href="/atlas-homewares/" aria-label="atlas homewares" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/atlas.jpg?t=1667938515&_gl=1*1q3yvsm*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2NzkzNzA1MC43OS4xLjE2Njc5Mzc3NjcuNTUuMC4w" alt="atlas homewares" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item">
          <a href="/belwith-keeler/" aria-label="belwith keeler" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/belwith.jpg?t=1667938541&_gl=1*1q3yvsm*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2NzkzNzA1MC43OS4xLjE2Njc5Mzc3NjcuNTUuMC4w" alt="belwith keeler" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item">
          <a href="/berenson-decorative-hardware/" aria-label="berenson" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/berenson.jpg?t=1667943362&_gl=1*4lubqt*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2Nzk0MzM1MS44MC4xLjE2Njc5NDMzNTMuNTguMC4w" alt="berenson" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item">
          <a href="/big-sky-hardware/" aria-label="bsh big sky hardware" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/bigsky.jpg?t=1667937782&_gl=1*g6qu6f*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2NzkzNzA1MC43OS4xLjE2Njc5Mzc3NjcuNTUuMC4w" alt="bsh big sky hardware" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item home-brand__item-desktop">
          <a href="/brass-accents/" aria-label="brass solid brass accents inc" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/brassaccents.jpg?t=1667937900&_gl=1*1fj86hm*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2NzkzNzA1MC43OS4xLjE2Njc5Mzc3NjcuNTUuMC4w" alt="brass solid brass accents inc" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item home-brand__item-desktop">
          <a href="/cal-crystal/" aria-label="cal crystal decorative cabinet hardware bath accessories" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/calcrystal.jpg?t=1667937933&_gl=1*1fj86hm*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2NzkzNzA1MC43OS4xLjE2Njc5Mzc3NjcuNTUuMC4w" alt="cal crystal decorative cabinet hardware bath accessories" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item">
          <a href="/century-hardware/" aria-label="century" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/century.jpg?t=1667943482&_gl=1*16qdkq*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2Nzk0MzM1MS44MC4xLjE2Njc5NDMzNTMuNTguMC4w" alt="century" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item">
          <a href="/edgar-berebi/" aria-label="edgar berebi the masterwork atelier" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/edgarberebi.jpg?t=1667943551&_gl=1*qrt334*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2Nzk0MzM1MS44MC4xLjE2Njc5NDMzNTMuNTguMC4w" alt="edgar berebi the masterwork atelier" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item home-brand__item-desktop">
          <a href="/elements/" aria-label="elements" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/elements.jpg?t=1667943585&_gl=1*qrt334*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2Nzk0MzM1MS44MC4xLjE2Njc5NDMzNTMuNTguMC4w" alt="elements" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item home-brand__item-desktop">
          <a href="/forms-surfaces/" aria-label="forms + surfaces" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/forms.jpg?t=1667937977&_gl=1*63ctdg*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2NzkzNzA1MC43OS4xLjE2Njc5Mzc3NjcuNTUuMC4w" alt="forms + surfaces" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item home-brand__item-desktop">
          <a href="/hafele/" aria-label="hafele" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/hafele.jpg?t=1667938127&_gl=1*s1lg9t*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2NzkzNzA1MC43OS4xLjE2Njc5Mzc3NjcuNTUuMC4w" alt="hafele" class="home-brand__item-img" />
          </a>
      </li>
      <li class="home-brand__item home-brand__item-desktop">
          <a href="/hardware-resources/" aria-label="hardware resources" class="home-brand__item-link">
              <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/hardwareresources.jpg?t=1667938247&_gl=1*1uq439h*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2NzkzNzA1MC43OS4xLjE2Njc5Mzc3NjcuNTUuMC4w" alt="hardware resources" class="home-brand__item-img" />
          </a>
      </li>
  </ul>
  <a href="/brands/" class="home-brand__btn-mobile">
      SEE ALL
      <svg xmlns="http://www.w3.org/2000/svg" width="11.511" height="7.396" viewBox="0 0 11.511 7.396">
          <path d="M0,0,2.877,3.7,5.755,7.4,8.633,3.7,11.511,0Z" transform="translate(0 0)" fill="#1e81d1"/>
        </svg>
        
  </a>
</section>
