<section class="home-styles">
  <div class="home-styles__wrap">
      <h2 class="home-styles__title">STYLES</h2>
      <div class="home-styles__list">
          <a href="/style/contemporary/" class="home-styles__item">
              <div class="home-styles__item-img-wrap">
                  <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/kd-styles-contemporary.jpg?t=1670354711&_gl=1*w9dxu6*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY3MDM1NDY4NS4xMDIuMS4xNjcwMzU0NjkxLjU0LjAuMA.." alt="Contemporary" class="home-styles__item-img" />
              </div>
              <p class="home-styles__item-title">Contemporary</p>
          </a>
          <a href="/style/rustic-country/" class="home-styles__item">
              <div class="home-styles__item-img-wrap">
                  <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/kd-styles-rusticcountry.jpg?t=1670354829&_gl=1*18w8c2o*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY3MDM1NDY4NS4xMDIuMS4xNjcwMzU0NjkxLjU0LjAuMA.." alt="Rustic/Country" class="home-styles__item-img" />
              </div>
              <p class="home-styles__item-title">Rustic/Country</p>
          </a>
          <a href="/style/traditional/" class="home-styles__item">
              <div class="home-styles__item-img-wrap">
                  <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/kd-styles-traditional.jpg?t=1670354894&_gl=1*13g0kxq*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY3MDM1NDY4NS4xMDIuMS4xNjcwMzU0NjkxLjU0LjAuMA.." alt="Traditonal" class="home-styles__item-img" />
              </div>
              <p class="home-styles__item-title">Traditonal</p>
          </a>
          <a href="/european/" class="home-styles__item">
              <div class="home-styles__item-img-wrap">
                  <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/kd-styles-european.jpg?t=1670354930&_gl=1*1rio5nt*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY3MDM1NDY4NS4xMDIuMS4xNjcwMzU0NjkxLjU0LjAuMA.." alt="European" class="home-styles__item-img" />
              </div>
              <p class="home-styles__item-title">European</p>
          </a>
      </div>
  </div>
</section>
