<section class="home-featured-items">
  <h2 class="home-featured-items__title">FEATURED ITEMS</h2>
  <div class="home-featured-items__wrap">
      <ul class="home-featured-items__list">
          <li class="home-featured-items__item">
              <a href="/top-knobs-m2225-additions-cabinet-latch-honey-bronze/" class="home-featured-items__card">
                  <div class="home-featured-items__card-img-wrap">
                      <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/featured-topknobs.jpg?t=1668529771&_gl=1*1a64343*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODUyNzYyNC44OC4xLjE2Njg1Mjc4MjkuOS4wLjA." alt="Top Knobs M2225: Additions Cabinet Latch - Honey Bronze" class="home-featured-items__card-img" />
                      <button class="btn home-featured-items__card-img-btn">SEE DETAILS</button>
                  </div>
                  <div class="home-featured-items__card-wrap">
                      <p class="home-featured-items__card-subtitle">TOP KNOBS</p>
                      <p class="home-featured-items__card-title">Top Knobs M2225: Additions Cabinet Latch - Honey Bronze</p>
                      <p class="home-featured-items__card-price">$26.82 <span class="home-featured-items__card-price-compare">$29.80</span></p>
                  </div>
              </a>
          </li>
          <li class="home-featured-items__item">
              <a href="/hafele-knob-zinc-rustic-copper-m4-37-x-26mm/" class="home-featured-items__card">
                  <div class="home-featured-items__card-img-wrap">
                      <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/featured-hafele.jpg?t=1668529898&_gl=1*o73a65*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODUyNzYyNC44OC4xLjE2Njg1Mjc4MjkuOS4wLjA." alt="Hafele 123.27.032: 37mm Rustic Round Cabinet Knob - Rustic Copper" class="home-featured-items__card-img" />
                      <button class="btn home-featured-items__card-img-btn">SEE DETAILS</button>
                  </div>
                  <div class="home-featured-items__card-wrap">
                      <p class="home-featured-items__card-subtitle">HAFELE</p>
                      <p class="home-featured-items__card-title">Hafele 123.27.032: 37mm Rustic Round Cabinet Knob - Rustic Copper</p>
                      <p class="home-featured-items__card-price">$26.82 <span class="home-featured-items__card-price-compare">$29.80</span></p>
                  </div>
              </a>
          </li>
          <li class="home-featured-items__item">
              <a href="/nostalgic-warehouse-7-inch-beaded-flush-pull-antique-brass/" class="home-featured-items__card">
                  <div class="home-featured-items__card-img-wrap">
                      <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/featured-nostalgicwarehouse.jpg?t=1668529814&_gl=1*e611if*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODUyNzYyNC44OC4xLjE2Njg1Mjc4MjkuOS4wLjA." alt="Nostalgic Warehouse 701401: Warehouse 701401: 6-3/4” Oval Beaded Flush Door Pull - Antique Brass" class="home-featured-items__card-img" />
                      <button class="btn home-featured-items__card-img-btn">SEE DETAILS</button>
                  </div>
                  <div class="home-featured-items__card-wrap">
                      <p class="home-featured-items__card-subtitle">NOSTALGIC WAREHOUSE</p>
                      <p class="home-featured-items__card-title">Nostalgic Warehouse 701401: Warehouse 701401: 6-3/4” Oval Beaded Flush Door Pull - Antique Brass</p>
                      <p class="home-featured-items__card-price">$26.82 <span class="home-featured-items__card-price-compare">$29.80</span></p>
                  </div>
              </a>
          </li>
          <li class="home-featured-items__item">
              <a href="/hickory-hh075220-14-1-3-8-overlay-concealed-face-frame-self-close-cabinet-hinge-pair-polished-nickel/" class="home-featured-items__card">
                  <div class="home-featured-items__card-img-wrap">
                      <img src="https://cdn11.bigcommerce.com/s-40wxilo4jg/images/stencil/original/image-manager/featured-hickoryhardware.jpg?t=1668529856&_gl=1*e611if*_ga*MTIxNTUwNTU0My4xNjQyNjIxNzg0*_ga_WS2VZYPC6G*MTY2ODUyNzYyNC44OC4xLjE2Njg1Mjc4MjkuOS4wLjA." alt="Hickory HH74719-14-10B: 1-3/8” Overlay Concealed Face Frame Self-Close Cabinet Hinge (10 pack/pair) - Polished Nickel" class="home-featured-items__card-img" />
                      <button class="btn home-featured-items__card-img-btn">SEE DETAILS</button>
                  </div>
                  <div class="home-featured-items__card-wrap">
                      <p class="home-featured-items__card-subtitle">HICKORY HARDWARE</p>
                      <p class="home-featured-items__card-title">Hickory HH74719-14-10B: 1-3/8” Overlay Concealed Face Frame Self-Close Cabinet Hinge (10 pack/pair) - Polished Nickel</p>
                      <p class="home-featured-items__card-price">$181.59 <span class="home-featured-items__card-price-compare">$226.99</span></p>
                  </div>
              </a>
          </li>
      </ul>
  </div>
</section>
