<ul class="navUser-section">
    <li class="navUser-item">
        <a class="navUser-action navUser-action--languageSelector has-dropdown"
           href="#"
           data-dropdown="languageSelection"
           aria-controls="languageSelection"
           aria-expanded="false"
           aria-label="{{lang 'common.locale' name=theme_settings.language_selector_mock_data.selected_locale_name}}"
        >
            {{lang 'common.locale' name=theme_settings.language_selector_mock_data.selected_locale_name}}
            <i class="icon" aria-hidden="true">
                <svg>
                    <use href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="dropdown-menu" id="languageSelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{#each theme_settings.language_selector_mock_data.locales}}
                <li class="dropdown-menu-item">
                    <a href="{{path}}"
                       data-locale-code="{{code}}"
                       data-warning="{{lang 'common.locale_switch_warning'}}"
                       aria-label="{{name}}"
                    >
                        {{#if is_selected}}
                            <strong>{{name}}</strong>
                        {{else}}
                            {{name}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </li>
</ul>
