<nav class="navPages">
    <div class="navPages-quickSearch">
        {{> components/common/quick-search}}
    </div>
    <ul class="navPages-list">
        {{#each categories}}
            <li class="navPages-item">
                {{> components/common/navigation-list}}
            </li>
        {{/each}}
        {{#each pages}}
        <li class="navPages-item">
            <a class="navPages-action" href="{{url}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>
    <ul class="navPages-list navPages-list--account">
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
        </li>
        {{#if customer}}
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
        </li>
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
        </li>
        {{else}}
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
        </li>
        {{/if}}
        {{#if currency_selector.currencies.length '>' 1}}
        <li class="navPages-item">
            <a class="navPages-action has-dropdown" href="#" data-dropdown="currencySelection2" aria-controls="currencySelection2" aria-expanded="false">{{lang 'common.currency' code=currency_selector.active_currency_code}}</a>
            <ul class="dropdown-menu" id="currencySelection2" data-dropdown-content aria-hidden="true" tabindex="-1">
                {{#each currency_selector.currencies}}
                <li class="dropdown-menu-item">
                    <a href="{{{switch_url}}}">
                        {{#if is_active}}
                        <strong>{{name}}</strong>
                        {{else}}
                        {{name}}
                        {{/if}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/if}}
    </ul>
</nav>
