<nav class="navUser">
    <ul class="navUser-section navUser-section--alt">
        <li class="navUser-item navUser-item--account">
            {{#if customer}}
                <a class="navUser-action" href="{{urls.account.index}}">Account</a>
            {{else}}
                {{#if settings.account_creation_enabled}}
                    <a class="navUser-action" href="{{urls.auth.create_account}}">Signup</a>
                {{/if}}
                <a class="navUser-action" href="{{urls.auth.login}}">Login</a>
            {{/if}}
        </li>
        {{#if cart.quantity '>' 0}}
            <li class="navUser-item navUser-item--cart">
                <a
                    class="navUser-action"
                    data-cart-preview
                    data-dropdown="cart-preview-dropdown"
                    data-options="align:right"
                    href="{{urls.cart}}">
                    <i class="icon cart-icon" aria-hidden="true"><svg><use xlink:href="#icon-cart" /></svg></i><span class="countPill cart-quantity">({{ cart.quantity }})</span>
                </a>
            </li>
            <li class="navUser-item navUser-item--cart">
                <a
                    class="navUser-action"
                >
                    Checkout
                </a>
            </li>
        {{/if}}
    </ul>
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
        {{> components/common/quick-search}}
    </div>
</nav>
