<nav class="navPages">
    <div class="navPages-quickSearch">
        {{> components/common/quick-search name='nav-menu-quick-search'}}
    </div>
    
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
            <li class="navPages-item listnavigations megamenu-sub">
                {{#if ../theme_settings.navigation_design '===' 'simple'}}
                    {{> components/common/navigation-list}}
                {{/if}}
                {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                    {{> components/common/navigation-list-alternate}}
                {{/if}}
            </li>
        {{/each}}
        <!--
        {{#unless theme_settings.hide_content_navigation}}
            {{#each pages}}
                 <li class="navPages-item navPages-item-page">
                     <a class="navPages-action{{#if name '==' ../page.title}} activePage{{/if}}"
                        href="{{url}}"
                        aria-label="{{name}}"
                     >
                         {{name}}
                     </a>
                 </li>
             {{/each}}
        {{/unless}}
-->

        <!--    custome page li abc-->
        <li class="navPages-item listnavigations megamenu-sub">
            <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}} listnavigations submenusa" href="/blog/" data-collapsible="navPages-blog">
                Formex World 
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" /></svg>
                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-blog" aria-hidden="true" tabindex="-1">
                <!--    design change to row by abc-->
                <div class="flex-row">

                    <div class="columns navsubmenuborder">


                        <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}} listnavigations" href="/pages/our-story/" data-collapsible="navPages-blog1">
                            <img src="//cdn11.bigcommerce.com/s-tjv9cj11yk/product_images/uploaded_images/our-story-360x360.png?t=1623647114&_ga=2.132439885.279089855.1623645707-2100968941.1614743772"/>
                            <br>
                            Our Story
                            
                            
                        </a>
                      

                    </div>

                    <div class="columns navsubmenuborder">


                        <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}} listnavigations" href="/contact-us/" data-collapsible="navPages-blog1">
                            <img src="//cdn11.bigcommerce.com/s-tjv9cj11yk/product_images/uploaded_images/customer-services-360x360.png?t=1623647116&_ga=2.105698240.279089855.1623645707-2100968941.1614743772"/>
                            <br>
                            Customer Services
                            
                            
                        </a>
                      

                    </div>

                    <div class="columns navsubmenuborder">


                        <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}} listnavigations" href="/blog/" data-collapsible="navPages-blog1">
                            <img src="//cdn11.bigcommerce.com/s-tjv9cj11yk/product_images/uploaded_images/news-stories-360x360.png?t=1623647118&_ga=2.105698240.279089855.1623645707-2100968941.1614743772"/>
                            <br>
                            News & Stories 
                            
                            
                        </a>
                      

                    </div>

                    <!--  end   design change to row by abc-->
                </div>

            </div>

        </li>
<!--        end of custome page abc-->
        
        
    </ul>
    <ul class="navPages-list navPages-list--user">
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false" aria-label="{{lang 'common.currency' code=currency_selector.active_currency_code}}">
                    {{lang 'common.currency' code=currency_selector.active_currency_code}}
                    <i class="icon navPages-action-moreIcon" aria-hidden="true">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
                        </svg>
                    </i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        {{#each currency_selector.currencies}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}" aria-label="{{name}}" data-currency-code="{{{code}}}" {{#if cart_currency_switch_url.length '>' 0 }} data-cart-currency-switch-url="{{{cart_currency_switch_url}}}" {{/if}} data-warning="{{lang 'common.currency_switch_promotion'}}">
                                    {{#if is_active}}
                                        <strong>{{name}}</strong>
                                    {{else}}
                                        {{name}}
                                    {{/if}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
        {{#if settings.gift_certificates_enabled}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.gift_certificate.purchase}}" aria-label="{{lang 'common.gift_cert'}}">
                    {{lang 'common.gift_cert'}}
                </a>
            </li>
        {{/if}}
        {{#if customer.store_credit.value '>' 0}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--storeCredit">
                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                </a>
            </li>
        {{/if}}
        {{#if theme_settings.product_list_display_mode '==' 'list'}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav aria-label="{{lang 'common.compare'}}">
                    {{lang 'common.compare'}}
                    <span class="countPill countPill--positive countPill--alt"></span>
                </a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account" aria-label="{{lang 'common.account'}}">
                    {{lang 'common.account'}}
                    <i class="icon navPages-action-moreIcon" aria-hidden="true">
                        <svg>
                            <use xlink:href="#icon-chevron-down" /></svg>
                    </i>
                </a>
                <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}" aria-label="{{lang 'account.nav.orders'}}">
                                {{lang 'account.nav.orders'}}
                            </a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}" aria-label="{{lang 'account.nav.returns'}}">
                                    {{lang 'account.nav.returns'}}
                                </a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}" aria-label="{{lang 'account.mobile_nav.messages'}}">
                                {{lang 'account.mobile_nav.messages'}}
                            </a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}" aria-label="{{lang 'account.nav.addresses'}}">
                                {{lang 'account.nav.addresses'}}
                            </a>
                        </li>
                        {{#if settings.show_payment_methods}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.payment_methods.all}}" aria-label="{{lang 'account.nav.payment_methods'}}">
                                    {{lang 'account.nav.payment_methods'}}
                                </a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}" aria-label="{{lang 'account.mobile_nav.wishlists'}}">
                                {{lang 'account.mobile_nav.wishlists'}}
                            </a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}" aria-label="{{lang 'account.nav.recently_viewed'}}">
                                {{lang 'account.nav.recently_viewed'}}
                            </a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}" aria-label="{{lang 'account.nav.settings'}}">
                                {{lang 'account.nav.settings'}}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.logout}}" aria-label="{{lang 'common.logout'}}">
                    {{lang 'common.logout'}}
                </a>
            </li>
        {{else}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.login}}" aria-label="{{lang 'common.login'}}">
                    {{lang 'common.login'}}
                </a>
                {{#if settings.account_creation_enabled}}
                    {{lang 'common.or'}}
                    <a class="navPages-action" href="{{urls.auth.create_account}}" aria-label="{{lang 'common.sign_up'}}">
                        {{lang 'common.sign_up'}}
                    </a>
                {{/if}}
            </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if}}
    </ul>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    
    function  prpopupdata(navid1,url1,name1) {
        if($(`#${navid1} .flexaligncenter`)[0])
            {
                //alert('yes');
            }
        else
        {
            submenunavigations(navid1,url1,name1);
        }
        //$(".productsubmenulist").show();
   
};
    
//$('.productsubmenulist').each(function(i,item){
//       submenunavigations($(item).data('navid'),$(item).data('url'),$(item).data('name'));
//})
function submenunavigations(navid,url,name)
    {
var data1 = fetch('/graphql', {
        method: 'POST',
        mode: 'cors',
        headers: { 'Content-Type': 'application/json',
                 'Authorization': `Bearer {{ settings.storefront_api.token }}`},
        body: JSON.stringify({
            query: `
            query CategoryByUrl {
  site {
    route(path: "${url}") {
      node {
        id
        ... on Category {
          name
          entityId
          description
          products {
            edges {
              node {
                name
                entityId
                defaultImage {
                  url(width: 1200)
                }
                prices {
                  price {
                    ...PriceFields
                  }
                  priceRange {
                    min {
                      ...PriceFields
                    }
                    max {
                      ...PriceFields
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

fragment PriceFields on Money {
  value
  currencyCode
}
`

            }),
      })
      .then(res => res.json())
      .then(data1 => {
          //console.log(data1);
          var i = 0;
                  
                 for(var key in data1)
                {
                    var cate_name = data1[key].site.route.node.name;
                    $(`#${navid} .flex-row`).append(`
                    <div class="columns  flexaligncenter" style="text-align: left;">
                    <div style="border-right: 1px solid #dbdbdb !important;padding: 10px;">
                    <h3>${data1[key].site.route.node.name}</h3>
                    <p>${data1[key].site.route.node.description.replaceAll("\\<.*?>","")}</p>
                    <a class=" has-subMenu listnavigations text-left text-uppercase" style="font-size: .7rem"
                       href="javascript:void(0);" onclick="dropproducthide();"
                       data-collapsible="${navid}"
                    >
                       <i class="fa fa-angle-left" aria-hidden="true"></i> Back to collections 
                       
                    </a>
                    </div>
                    </div>
                      
                    `);
                    var i = 1;
                    data1.data.site.route.node.products.edges.forEach( main => {
                    if(i <= 4)
                        {
                            var prurls = main.node.entityId;
                            if(data1.data.site.route.node.products.edges.length === 1)
                                {
                                    var clssubcls = 'style="width:70%;"';
                                }
                            else{
                                var clssubcls = '';
                            }
                            var formatedpr = new Intl.NumberFormat('ja-JP', { style: 'currency', currency: '{{ currency_selector.active_currency_code }}' }).format(main.node.prices.price.value);
                        $(`#${navid} .flex-row`).append(`
                    <div class="columns prlistnav">
                    
                    <a href="/products.php?productId=${prurls}" class="subcategories-image"><img src="${main.node.defaultImage.url}"  alt="{{name}}" ${clssubcls}></a>
                    <a href="/products.php?productId=${prurls}" >
                    <p class="text-uppercase" style="margin-bottom: 3px;font-size: .875rem;">${cate_name}</p>
                    <p class="text-uppercase" style="margin-bottom: 3px;font-size: .875rem;">${main.node.name}</p>
                    <p style="margin-bottom: 3px;">${formatedpr}</p>
                    <span class="button is-primary is-size-7 viewproduct commenbtn">View Product</span>
                    </a>
                    </div>
                      
                    `);
                        }
                    i = i + 1;
                    })
                     //console.log(data1[key].site.route.node.name);
                    $(`#${navid} .flex-row`).append(`
                     <div class="column is-full">
              <a href="${url}" class="button padded is-primary is-size-6 is-full has-text-white full-width-button text-uppercase">
                Discover All ${cate_name} Watches
              </a>
            </div>
                    `);
                      
                }  
          
          
          

         
      })
}
function dropproducthide()
    {
         $('.productsubmenulist').removeClass("is-open");
         $('.navPage-subMenu:first').addClass("is-open");
    }
    
// for hover navigation dropdown
     $(".megamenu-sub .submenusa").mouseover(function(){
         $(`.navPage-subMenu`).removeClass("is-open");
 var datas = $(this).attr("data-collapsible");
    $("#"+datas).addClass("is-open");
    return false;
});
$(".navPage-subMenu").mouseleave(function(){
    $(`.navPage-subMenu`).removeClass("is-open");

    
    });


</script>
