{{#if children}}
<div class="navPage-subMenu" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
        </li>
        {{#each children}}
                {{#if children}}
                    <li class="navPage-subMenu-item">
                        <a
                            class="navPage-subMenu-action navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
                            href="{{url}}"
                            data-collapsible="navPages-{{id}}"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed">
                            {{name}}
                        </a>
                    </li>
                    {{#each children}}
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                {{else}}
                    <li class="navPage-subMenu-item">  
                        <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}">{{name}}</a>
                    </li>
                {{/if}}
        {{/each}}
    </ul>
</div>
{{else}}
<a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}">{{name}}</a>
{{/if}}
