<nav class="navPages">
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
            <li class="navPages-item">
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
                {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                {{> components/common/navigation-list-alternate}}
            {{/if}}
            </li>
        {{/each}}
        {{#unless theme_settings.hide_content_navigation}}
            {{#each pages}}
                <li class="navPages-item navPages-item-page{{#if name '==' 'Contact Us'}} navPages-item-contact{{/if}}">
                    <a class="navPages-action{{#if name '==' ../page.title}} activePage{{/if}}"
                    href="{{url}}"
                    aria-label="{{name}}"
                    >
                        {{#if name '==' 'Contact Us'}}
                            <span class="icon">
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                                </svg>
                            </span>
                            <span class="text-wrapper">
                                <span>NEED HELP?</span>
                                <span>{{name}}</span>
                            </span>
                        {{else}}
                            {{name}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
            <li class="navPages-item"><a href="/blog/" class="navPages-action" aria-label="Articles & Inspiration">ARTICLES &amp; INSPIRATION</a></li>
        {{/unless}}
    </ul>
</nav>
