<nav class="navPages">
    <article class="tabs">
        {{#each categories}}
            <section id="tab-{{name}}">
                <h2><a href="#tab-{{name}}">{{ name }}</a></h2>
                {{> components/common/navigation-list}}
            </section>
        {{/each}}
    </article>
    <div class="desktop-nav">
        <ul class="nav-bar">
            {{#each categories}}
                <li class="nav-item" ><a href="#tab-{{name}}">{{ name }}</a>
                    {{> components/common/navigation-list}}
                </li>
            {{/each}}
        </ul>
        
    </div>
</nav>
