{{#if children}}
    <a class="navPages-action navPages-action-depth-max has-subMenu is-root{{#if is_active}} activePage{{/if}}"
       href="{{url}}"
       data-collapsible="navPages-{{id}}"
       aria-label="{{name}}"
    >
        {{name}}
        <i class="icon navPages-action-moreIcon" aria-hidden="true">
            <svg><use href="#icon-chevron-down" /></svg>
        </i>
    </a>
    {{> components/common/navigation-dropdown}}
{{else}}
    <a class="navPages-action{{#if is_active}} activePage{{/if}}"
       href="{{url}}"
       aria-label="{{name}}"
    >
        {{name}}
    </a>
{{/if}}
