<nav class="navUser">
    {{> components/common/currency-selector}}

    <ul class="navUser-section navUser-section--alt">
        <li class="navUser-item">
            <a class="navUser-action navUser-action--quickSearch" href="#" data-dropdown="quickSearch" aria-controls="quickSearch" aria-expanded="false">Search</a>
            <div class="dropdown dropdown--quickSearch" id="quickSearch" data-dropdown-content aria-hidden="true" tabindex="-1">
                <form class="form" action="/search.php">
                    <fieldset class="form-fieldset">
                        <div class="form-field">
                            <label class="u-hiddenVisually">Search</label>
                            <input class="form-input" data-search-quick name="search_query" placeholder="Search the store" autocomplete="off">
                        </div>
                    </fieldset>
                </form>
                <ul class="quickSearchResults" data-bind="html: results"></ul>
            </div>
        </li>
        <li class="navUser-item">
            <a class="navUser-action" href="{{urls.gift_certificate.purchase}}">Gift Certificates</a>
        </li>
        <li class="navUser-item navUser-item--account">
            {{#if customer}}
            <a class="navUser-action" href="{{urls.account.index}}">Account</a>
            {{else}}
            <a class="navUser-action" href="{{urls.auth.login}}">Login</a> <span class="navUser-or">or</span> <a class="navUser-action" href="{{urls.auth.create_account}}">Sign Up</a>
            {{/if}}
        </li>
        <li class="navUser-item">
            <a class="navUser-action" href="{{urls.cart}}">Cart <span class="cart-count">3</span></a>
        </li>
    </ul>
</nav>
