<div class="pagination">
    <ul class="pagination-list">
        {{#if previous}}
            <a class="pagination-link pagination-link-previous" href="{{previous}}">{{lang 'common.previous'}}</a>
        {{/if}}
        {{#each links}}
            <li class="">
                {{#if this.current}}
                    {{this.number}}
                {{else}}
                    <a class="pagination-link" href="{{this.url}}">{{this.number}}</a>
                {{/if}}
            </li>
        {{/each}}
        {{#if next}}
            <a class="pagination-link pagination-link-next" href="{{next}}">{{lang 'common.next'}}</a>
        {{/if}}
    </ul>
</div>
