<div class="footer-payment-icons">
    {{#if theme_settings.show_accept_amex}}
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-american-express"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_discover}}
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-discover"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_mastercard}}
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-mastercard"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_paypal}}
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-paypal"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_visa}}
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-visa"></use></svg>
    {{/if}}
</div>
