{{!--
There are a few important arguments to know about when using this component:
`lazyload`:
    - If set to 'lazyload', the browser will make a decision about when to load the image based on whether its proximity to the viewport.
    - If set to 'disabled', will not attempt to lazyload the image and instead tell the browser to load it immediately.
        Use this for high-priority images that are above the fold.

`fallback_size`:
    This is the size to use for this image in legacy browsers that do not support srcset.
    Can be defined as a pixel bounding-box size (e.g. "123x123) or inherent width (e.g. "123w").

`class`:
    The CSS classes to add to the image, e.g. "card-image". If lazyloading is enabled, all images will have the
    "lazyload" class so that lazysizes will target them automatically.

`otherAttributes`:
    Any other HTML attributes you want on the img tag, for example "height='100' width='100'"

`default_image`:
    The default image to use if `image` is undefined or falsy. Should be a theme asset, usually defined as a relative
    path in the theme config. If a default image is not provided, you'll get an image tag with no image if the primary
    image is undefined.

--}}
<img {{#if image}}{{!-- Get the default image for legacy browsers that do not support srcset --}}
       src="{{getImageSrcset image 1x=(default fallback_size '160w')}}" alt="{{image.alt}}" title="{{image.alt}}"
     {{!--
       Generate the srcset string using the default sizes defined in the helper. This will allow the browser to
       pick the best-sized image based on its own understanding of how it will render the page.
      --}}
       srcset="{{getImageSrcset image use_default_sizes=true }}"
     {{else if default_image}}src="{{cdn default_image}}" alt="{{lang 'products.card_default_image_alt'}}"
     {{/if}}
     class="{{#if class}}{{class}}{{/if}}"
{{#unless lazyload '==' 'disabled'}}loading="lazy"{{/unless}}
{{otherAttributes}} />
