<!-- @todo connect email signup -->
<div class="banners banner-signup">
    <div class="banner subscription-form">
        <p>Subscribe and receive our latest information and exclusive offers</p>
        <label for="nl_email"></label>
        <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
        <input class="button button--primary" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
    </div>
</div>
