<div class="pagination pagination-list">
    {{#if previous}}
        <a class="pagination-link pagination-link-previous" href="{{previous}}">
            « {{@lang 'common.previous' }}
        </a>
    {{/if}}

    {{#if this.links.length}}
        <span>{{@lang 'common.paginator.page_of' current=1 total=this.links.length}}</span>
    {{else}}
        <span>{{@lang 'common.paginator.page_of' current=1 total=1}}</span>
    {{/if}}

    {{#if next}}
        <a class="pagination-link pagination-link-next" href="{{next}}">
            {{@lang 'common.next' }} »
        </a>
    {{/if}}
</div>

