<h5 class="footer-info-heading">Subscribe to our newsletter</h5>
<p>Pork belly flannel Pinterest, literally Truffaut gentrify blog iPhone Godard.</p>

<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <div class="form-field">
            <label class="form-label u-hiddenVisually" for="nl_email">Email</label>
            <div class="form-prefixPostfix">
                <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.name}}" placeholder="Your email address">
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="Submit">
            </div>
        </div>
    </fieldset>
</form>
