<ul class="navUser-section">
    <li class="navUser-item">
        <a class="navUser-action navUser-action--languageSelector has-dropdown"
           href="#"
           data-locale-code="en"
           data-dropdown="languageSelection"
           aria-controls="languageSelection"
           aria-expanded="false"
           aria-label="en"
        >
            {{lang 'common.locale'}} <strong>en</strong>
            <i class="icon" aria-hidden="true">
                <svg>
                    <use href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="dropdown-menu" id="languageSelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            <li class="dropdown-menu-item">
                <a href="my-store.com/en"
                    data-locale-code="en"
                    data-warning="{{lang 'common.locale_switch_warning'}}"
                    aria-label="en"
                >
                    <strong>en</strong>
                </a>
            </li>
            <li class="dropdown-menu-item">
                <a href="my-store.com/uk"
                   data-locale-code="uk"
                   data-warning="{{lang 'common.locale_switch_warning'}}"
                   aria-label="uk"
                >
                    uk
                </a>
            </li>
            <li class="dropdown-menu-item">
                <a href="my-store.com/fr"
                   data-locale-code="fr"
                   data-warning="{{lang 'common.locale_switch_warning'}}"
                   aria-label="fr"
                >
                    fr
                </a>
            </li>
            <li class="dropdown-menu-item">
                <a href="my-store.com/es"
                   data-locale-code="es"
                   data-warning="{{lang 'common.locale_switch_warning'}}"
                   aria-label="es"
                >
                    es
                </a>
            </li>
        </ul>
    </li>
</ul>
