.page-content.page-content--centered { width: 100%; }
li.isp_grid_product input[type="submit"].isp_add_to_cart_btn { color: white !important; background: #1b75bb !important; font-size: 16px !important; width:50% !important; position: relative !important; z-index: 0 !important; float: right !important; width: 156px !important; height: 40px; font-weight: bold !important; font-family: Karla, Arial, Helvetica, sans-serif !important; }
li.isp_grid_product input[type="submit"].isp_add_to_cart_btn:hover{ background: #5c5c5c !important; }
li.isp_grid_product form.isp_add_to_cart_form { text-align: left; display: block !important; opacity: 1.0 !important; position: relative !important; width: 100% !important; }
li.isp_grid_product{ padding-left: 0px !important; padding-right: 0px !important; box-shadow: none !important; background-image: none !important; height: 585px !important; border-color: white !important;}
@media (min-width: 1350px){ div.isp_center_container ul#isp_search_results_container li.isp_grid_product{ width: 24.3%; } }
.isp_product_sku{ padding-top: 10px !important; color: #959595; font-weight: 700 !important; }
.isp_product_sku:before{ Content: "SKU: "; }
.isp_product_image_wrapper{ border: 1px solid #dfdfdf !important; min-height: 350px !important; }
.isp_product_image{ max-height: 350px !important; }
#isp_scrollUp{ display: none !important; }
.isp_add_to_cart_form{ z-index: 0 !important; }
a.isp_product_quick_view_button { width: 93px !important; height: 34px !important; padding-top: 6px !important; text-transform: uppercase; background: rgba(27,117,187,.9) !important; color: #fff !important; box-shadow: none !important; border-radius: 0px !important; border: 0px !important; -webkit-box-shadow: none; -webkit-transform: none !important; transform: none !important; font-family: Karla,Arial,Helvetica,sans-serif;  bottom: 50% !important; font-size: 13px !important; font-weight: normal !important; letter-spacing: initial !important; }
a.isp_product_quick_view_button:hover { background: rgba(92,92,92,.8) !important; }
.isp_add_to_cart_quantity_txt_serp {display: inline !important; text-align:center !important; padding-left: 10px !important; }
.isp_add_to_cart_quantity_num_serp {display: inline !important; text-align:center !important; }

input[type='number'] {
    -moz-appearance:textfield;
  text-align: center !important; 

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.isp_product_price_wrapper{
    font-size: 24px !important;
    line-height: 36px !important;
    color: #1b75bb !important;
    font-weight: bold !important;
margin-bottom: 20px !important;
    display: block !important;
}
.isp_product_title{
    font-weight: bold !important; 
    max-height: 3.6em !important;
   -webkit-line-clamp: 3 !important;
    color: #2d2d2d !important;
}
li.isp_grid_product span.isp_search_term_highlight{
    background: rgba(27, 117, 187, 0.22) !important;
}
@keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }
@-webkit-keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@-webkit-keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@-webkit-keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }

.dots span {
    animation: dots-1 1s infinite steps(1);
    -webkit-animation: dots-1 1s infinite steps(1);
}

.dots span:first-child + span {
    animation-name: dots-2;
    -webkit-animation-name: dots-2;
}

.dots span:first-child + span + span {
    animation-name: dots-3;
    -webkit-animation-name: dots-3;
}
.isp_product_info .isp_stock_status{
    font-weight: 900 !important;
}
.back-order-message{
    color:#ff7900 !important;
}
li.isp_grid_product input[type="submit"].backorder-button{
    background: #ff7900 !important;
}
li.isp_grid_product input[type="submit"].backorder-button:hover{
    background: #ffad66 !important;
}

/*FACETS */
div#isp_left_container_facets{
border-right: none;
}
#isp_left_container .isp_facet_value a div.isp_facet_check_box_icon.isp_facet_check_box_icon_not_checked{
    background-image: none !important;
    border: 1px solid #dfdfdf !important;
    border-radius: 4px !important;
    height: 1rem !important;
    width: 1rem !important; 
}

#isp_left_container .isp_facet_value a div.isp_facet_check_box_icon.isp_facet_check_box_icon_checked{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' fill='rgba(79, 79, 79, 0.999)' /%3E%3C/svg%3E") !important;   
    border: 1px solid #dfdfdf !important;
    border-radius: 4px !important;
    height: 1rem !important;
    width: 1rem !important; 
}
.isp_facet_value{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 1.2rem !important;
}
.isp_facet_title_name{
    color: #313131 !important;
    text-transform: capitalize !important;
}
.isp_single_facet_wrapper{
    padding-bottom: 25px !important;
}
.isp_facet_title{
    padding-bottom: 15px !important;
}
.isp_center_container_header{
    margin-top: -17px;
}
.isp_product_price_wrapper .isp_compare_at_price{
    font-weight: 700 !important;
    opacity: 1 !important;
}
.isp_compare_at_price{
    float: left;
    padding-right: 7px;
}

@media (min-width:980px) and (max-width:991px){
    .isp_grid_product{
        min-height: 550px !important;

    }
    li.isp_grid_product input[type="submit"].isp_add_to_cart_btn{
        max-width: 100px !important;
    }
}

@media (min-width:1350px) and (max-width:1493px){
    .isp_grid_product{
        min-height: 550px !important;

    }
    li.isp_grid_product input[type="submit"].isp_add_to_cart_btn{
        max-width: 125px !important;
    }
}

@media (min-width: 801px){
    .pagination{
        float: left !important;

    }
}
.active .page-link{
    background-color:#5c5c5c !important;
    color: white !important;
}
.active .page-link:hover{
    background-color:#5c5c5c !important;
    color: white !important;
}


.page-link:hover{
    color:#1b75bb !important;
    transition: background .2s ease,color .2s ease;
}

@media (max-width:425px){
    .isp_grid_product{
        min-height: 700px !important;
    }
    .isp_add_to_cart_btn{
        margin-top: 10px !important;
        width: 100% !important;
    }
}



@media (min-width:260px) and (max-width:320px){
    .isp_grid_product{
        min-height: 730px !important;

    }
    .isp_add_to_cart_btn{
        margin-top: 10px !important;
        width: 100% !important;
    }
}
@media (min-width:321px) and (max-width:500px){
    .isp_grid_product{
        min-height: 700px !important;

    }
    .isp_add_to_cart_btn{
        margin-top: 10px !important;
        width: 100% !important;
    }
}
@media (max-width:259px){
    .isp_grid_product{
        min-height: 765px !important;

    }
    .isp_add_to_cart_btn{
        margin-top: 10px !important;
        width: 100% !important;
    }
}