@media only screen and (max-width:1439px) {
    
    .container {
	    max-width: 1170px;
	}
	
	.form-prefixPostfix .button {
		padding: 0 2rem !important;
		width: auto;
	}
	
	.form-prefixPostfix-button--postfix {
    	margin: 0 0 0 0.75rem;
    }
    
    .top--footer .social--links a {
	    width: 32px !important;
	    height: 32px !important;
    }
    
    
    .card {
		.card-figure {
			
			min-height: 235px !important;
			
			a.card-image-link {
				min-height: 220px !important;
			}
			
			.card-image {
				max-height: 210px !important;
				height: auto;
			}
		}
		
		.card-body {
			min-height: 185px !important;
			
/*
			.card-title {
				height: 120px !important;
			}
*/
		}
		
/*
		.bottomCard {
			
			.customQty {
				padding: 0.5rem !important;
			}
			
			.customAddCart {
				padding: 0.8rem 1rem !important;
			}
		}
*/
	}
	
		.button-cart-update {
			right: 0.5% !important;
		}
		
		.bottomCarouselContent {
			min-height: 154px !important;
		}
    
}

@media only screen and (max-width:1199px) {
    
    .body {
		overflow-x: visible !important;
		overflow-y: visible !important;
		margin-top: 1.5rem !important;
	}
    
    /* GLOBAL */
     
    .container {
	    max-width: 955px;
	}
	
	.form-prefixPostfix-button--postfix {
    	margin: 0 0 0 0.75rem;
    }
    
    /* HEADER */
 
    .topNav {
	    
	    .top--info {
			.shipping--info {
				font-size: 0.65rem !important;
			}
		}
		
	    .navUser-action {
		    padding: 0 0.75rem !important;
		    font-size: 0.75rem !important;
	    }
	}
	
	.fixed-menu {
	    .header {
	        margin-top: 0 !important;
	        top: 0 !important;
	    }
	}
		
	.header {
		
		top: 25px !important;
		
		.cartWrap {
			position: absolute;
			top: 0;
			right: 0;
			margin-top: 2rem;
		}
		
		.navPages-container {
			margin-top: 0 !important;
		
			.navPages-list--user {
				display: none !important;
			}
			
			
		}
	}
	
	.bottomCarouselBanner {
		margin-bottom: 1rem !important;
		
		.bottomCarouselContent {
			min-height: 191px !important;
		}
		
	}
	
	.button-cart-update {
		position: relative !important;
		float: left;
		right: 0 !important;
	}
	
	.cart {
		.cart-item {
			.cart-item-quantity {
				padding-top: 0.5rem;
			}
		}
	}
	
	/* CARD */
	
	.bottomCard {
			
		.customQty {
			text-align: center !important;
			margin-bottom: 0.5rem;
		}
		
	}
	
	/* FOOTER */
	
	.top--footer {
		
		.social--links {
			margin-top: 3rem !important;
		}
		
		.subscription--section h5 {
			margin: 0.75rem 0 !important;
		}
	}
	
	.footer-info-list {
		min-height: 210px;
	}
	
	.bottomFooter {
		.footer-info--col:nth-child(3) p {
			margin-top: 0 !important;
		}
		
		.footer-info--col a {
			margin-top: 0 !important;
		}
		
	}
	
}

@media only screen and (max-width: 1024px) {
    .topNav {
	    
	    .navUser-action {
		    padding: 0 0.3rem !important;
		    font-size: 0.65rem !important;
	    }
	}
	
	.header {
	    .navPages-container {
	        .navPages-action {
				padding: 0.60rem;
				font-size: 14px;
				
				&:hover {
					color: #337ab7;
				}
			}
	    }
	}
	
	.footer {
	    .footer-info {
	        .footer-info--col {
	            margin-bottom: 1rem;
	        }
	    }
	}
}

@media only screen and (max-width: 991px) {
    
    /* GLOBAL */
   
	.body {
		overflow-x: visible !important;
		overflow-y: visible !important;
		margin-top: 0rem !important;
	}
	
	.carouselWrapper {
		margin-top: 0rem !important;
		
		.heroCarousel {
			margin-bottom: 1.5rem !important;
		}
	}
    
    .container {
	    max-width: 768px;
	}
	
	
	.form-prefixPostfix-button--postfix {
		margin: 0 0 0 0.75rem;
	}
	
	#backTop {
		display: none !important;
	}
	
	/* HEADER */
	
	.header {
	    margin-top: 0 !important;
	}
	
	.fixed-menu .topNav {
	    display: block !important;
	    
	    
	}
	
	.topNav {
	    
	    z-index: 101;
	    
		.shipping--info {
			display: table;
			margin: 10px auto;
			width: auto;
			float: none !important;
			padding-right: 0;
		    font-size: 0.7rem !important;
		}
		
		.topRightNav {
			display: table;
			margin: 1rem auto;
			width: auto;
			float: none !important;
			
			.navUser-action {
				font-size: 0.75rem !important;
			}
		}
	}
	
	.header {
		
		left: 0;
		
		.header-logo {
				
			margin: 0 !important;
			text-align: center; 
			
			> a {
				padding: 0;
			}
			
			.header-logo-image {
				max-height: 100%;
				max-width: 120px;
				padding: 0.5rem 0;
			}
		}
	
		.navPages-container {
			
			ul.navPages-list {
				
				display: table;
				margin: 0 auto;

				.navPages-action {
				    padding: 0.75rem 0.45rem !important;
				    font-size: 14px;
			    }
			}
			
			.modal-close {
				display: none;
			}
		    
	    }
	    
	    
		
		.cartWrap {
			margin-top: 1rem !important;
			position: relative !important;
			
			.navUser-item-cartLabel {
				display: block;
			}
			
			ul {
				width: 50%;
				float: right;
			}
		}
		
		.quickSearchResults {
			.productGrid {
				
				margin: 1.5rem 0 !important;
			
				.product {
				
					margin-bottom: 3.5rem;
					
					.card--alternate {
						
						border: none;
						
						&:hover {
							.card-body {
								background: transparent !important;
								border: none;
								opacity: 0.8;
								cursor: pointer;
							}
						}
					}
				}	
			}	
		}
		
		.navPages-action.has-subMenu.is-open {
			border: none !important;
		}
		
		.navPage-subMenu.is-open {
			border: none !important;
			
			.navPage-subMenu-list {
				border: none !important;
				
				.navPage-childList {
					border: none !important;
					display: none;
					
					.navPage-childList-item {
						display: block !important;
					}
					
					
				}
				
				.navPage-childList.is-open {
					display: none;
					
					.navPage-childList-item.view-more a {
						display: none !important;
					}
				}
			}
		}
	}
	
	.fixed-menu {
		.quickSearchResults {
			position: absolute !important;
			
			.quickResultWrap {
				overflow-y: visible !important;
			}
		}
	}
	
	/* CAROUSEL */
		
	.carouselWrapper {
		
		.heroCarousel {
			padding: 0 0 50px 0;
			height: auto !important;
				
			.slick-prev,
			.slick-next {
				display: none !important;
			}
		}
	}
	
	
	
	.bottomCarouselBanner {
		
		margin-bottom: 0 !important;
		
		.bottomCarouselSection {
			margin-bottom: 0.8rem;
			padding: 0 !important;
			
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				//padding-right: 7px;
				border-right: 1px solid #eeeeee;
			}
			
			&:nth-child(even) {
				//padding-left: 7px;
			}
			
			.bottomCarouselContent {
			
				text-align: center;
				//min-height: 251px !important;
				min-height: auto !important;
				padding: 0 !important;
				border: none !important;
				
				.icons {
					//margin: 0.5rem 0 !important;
					margin: 0 !important;
					height: 44px;
				}
				
				.info {
					
					h4 {
						min-height: 42px;
						padding: 0 0.5rem;
						//display: none;
						font-size: 0.8rem;
					}
					
					p {
						padding: 0 0.5rem;
						display: none;
					}
					
					a {
						display: none;
					}
				}
			}
		}
	}
	
	/* TABS */
	
	.homepage-products {
		.tabs {
			width: 71%;
			margin-bottom: -1px !important;
			
			.tab.is-active:last-child {
				margin-right: 0 !important;
			}
			
			.tab {
				margin-right: 0;
				
				&:last-child {
					margin-right: 0;
				}	
			}
		}
	}
	
	/* CARD */
	
	.card {
		.bottomCard {
			.customAddCart {
				padding: 0.5625rem 1.5rem !important;
			}
		}
		
		.card-figure {
			a.card-image-link {
				min-height: 220px;
			}
		}
		
		.card-body {
			.card-title {
				min-height: 104px;
			}
		}
	}
	
	
	/* CATEGORY */
	
	.sidebarBlock {
		// display: none;
	}
	
	#product-listing-container {
		
		.productGrid {
			
			.products {
				min-height: 536px;
			}
		}
		.card-figure {
			height: auto;
			min-height: auto;
		}
	}
	
	.showSidebar {
		display: table;
		background: #1b75bb;
		padding: 0.75rem 3rem;
		width: 80%;
		text-align: center;
		margin: 1rem auto 1rem;
		color: #ffffff;
		
		&:hover {
			background: #5c5c5c;
			color: #ffffff;
		}
	}
	
	.page-content {
		width: 100% !important;
	}
	
	
	.category-open {
		display: block !important;
	}
	
	#faceted-search-container {
		
		display: none;
		width: 100% !important;
		
		.facetedSearch-toggle {
			margin-bottom: 0;
		}
		
		.sidebarBlock + .sidebarBlock {
			margin: 0 !important;
		}
		
		.sidebarBlock {
			padding: 1.5rem 0 !important;
			
			.accordion-block {
				margin: 1rem 0;
				
				.accordion-title {
					padding: 1rem !important;
				}
			}	
		}
	}
	
	.bottomBanner {
		padding-top: 1.5rem !important;
	}
	
	/* FOOTER */
	
	.footer-info {
		margin: 1rem 0 6rem 0 !important;
	}
	
	.footer-info--col {
	    margin-right: 0px !important;
	    padding: 0 15px !important;
    }
	
	.top--footer {
		padding: 1.8rem 0 4rem 0 !important;
	}
	
	.subscription--left {
		text-align: center !important;
	}
	
	.top--footer .social--links ul {
		display: table;
		margin: 0 auto !important;
	}
	
	.footer-info-heading {
		margin: 2rem 0 0.5rem 0 !important;
	}
	
	
	.bottomFooter {
		
		text-align: center;
		
		p, a {
			margin-top: 0 !important;
		}
		
		.footer-info--col {
			min-height: 100%;
			margin: 0.5rem 0;
		}
	}
}

@media only screen and (max-width: 800px) {
    
    .body {
		margin-top: 3rem !important;
	}
   
    @-moz-document url-prefix() {
	
	 /* GLOBAL */

		.form-prefixPostfix {
			display: block !important;
		}
	}
	
	/* HEADER */
	
	.toptextBanner {
		display: none;
	}
	
	.fixed-menu {
	    .header {
	        margin-top: 25px !important;
	        top: 0 !important;
	    }
	}
	
	.header.is-open {
		overflow: scroll;
		
		.container {
			height: 100%;
		}
		
	}
	
	.topNav {
		position: fixed;
	    width: 100%;
	    top: 0;
	    height: 25px;
	    background: #fff;
	    overflow: hidden;
	    
	    
	}
	
	.header {
		
		margin-top: 0px;
	
		.m--quickSearch {
			display: block;
			margin-top: 1rem;
			float: left;
			width: 100%;
			
			.form-field {
				margin-bottom: 0;
			}
		}
		
		.navPages-container {
			
			.navPages {
				background-color: #ffffff !important;
			}
			
			ul.navPages-list {
				
				display: block !important;
				float: left;
				width: 100%;
				
				.navPage-subMenu-list {
					display: block;
					width: 100%;
					float: left;
					
					li a {
						padding: 0.2rem 0;
					}
					
				}
				
				.navPages-action {
				    padding: 0.75rem 0rem !important;
				    font-size: 14px;
			    }
			}
		    
		    .navPages-list--user {
			    display: block !important;
			    visibility: visible !important;
		    }
		    
		    .navPage-subMenu-2 {
    			.navPage-subMenu-list {
    				.navPage-subMenu-item {
    					.navPage-childList.is-open {
    						display: none;
    					}
    				}
    			}
    		}
		    
	    }
		
		.cartWrap { 
			margin-top: 0.5rem !important;
			position: absolute !important;
			top: 0;
			right: 0;
			
			ul {
			    width: auto;
			}
			
			.navPages-list {
				
				li {
					float: left;
					padding-right: 10px;
				}
				
				.navSearch-Icon {
					padding: 0.5rem 0 0 0rem;
					display: block !important;
					position: relative;
					z-index: 200;
					cursor: pointer;
				}
			}
			
			.navUser-item-cartLabel {
				display: block;
			}
			
			.countPill--positive {
				margin-right: -0.8rem !important;
			}
		}
	}
	
	.quickSearchResults {
		margin-top: 8rem !important;
		width: 100% !important;
		margin-left: 0 !important;
	}
	
	.homepage-products {
		.tabs {
			width: 100%;
			margin-bottom: -1px !important;
			
			.tab.is-active:last-child {
				margin-right: 0 !important;
			}
			
			.tab {
				width: 100%;
				margin-right: 0;
				
				a {
					text-align: center;
				}
				
				&:last-child {
					margin-right: 0;
				}	
			}
		}
	}
	
	.carouselWrapper {
		.heroCarousel {
			.slick-prev,
			.slick-next {
				display: none !important;
			}
		}
	}
	
	
	
/*
	.card .card-figure a.card-image-link {
		min-height: auto !important;
	}
*/
	
	.productView {
		.productView-info-name {
			min-width: auto !important;
			margin-top: 0 !important;
		}
		
		.addWishListWrap {
		
			.addWishlist {
				
				margin: 0;
				
				.form-action {
					position: relative !important;
					float: none !important;
					display: table;
					margin: 0 auto;
					
					.button {
						margin: 0 !important;
					}
				}
			}
		
		}
		
		.Qty-AddCart {
			.form-action  {
				width: 100% !important;
			}
			
			.form-input--incrementTotal,
			.form-label--alternate {
				float: none !important;
				text-align: center;
			}
			
		}
		
		.addthis_toolbox {
			.socialLinks {
				display: table;
				margin: 0 auto;
				float: none;
			}
		}	
	}
}

@media only screen and (max-width: 767px) {
	
	/* HEADER */
	
	.header {
		left: 0;
		
		.logoWrap {
		
			text-align: center;
			
			.header-logo {
				
				margin: 0 auto !important;
				text-align: center;
				max-width: 200px;
				
				
				> a {
					padding: 0;
				}
				
				.header-logo-image {
					max-height: 100%;
					max-width: 120px;
					padding: 0.5rem 0;
				}
			}	
		}
		
		.cartWrap {
			margin-top: 0.5rem !important;
			position: absolute !important;
			top: 0;
			right: 0;
			
			.navUser-item-cartLabel {
				display: block;
			}
		}
		
		.navPages-container {
			.navPages {
				.navPages-list {
					.navPage-subMenu-2 {
						position: relative !important;
						float: left;
						padding: 0 1rem !important;
						margin-top: 0 !important;
						margin-bottom: 20px !important;
						width: 100%;
						background: none !important;
						
						.navPage-subMenu-item {
							min-height: 100% !important;
							background: #ffffff !important;
						}
						
						.navPage-extra-items {
							
							border-top: 1px solid #cecece;
							padding-top: 5px;
							
							span {
								padding: 0 !important;
							}
							
							.navPage-subMenu-item {
								float: none !important;
								width: 100% !important;
							}
						}
						
						.navPage-subMenu-list {
							border-left: none;
							padding: 0 !important;
							margin: 0 !important;
							
							
						}
					}
				}
			}
		}
	}
	
	
	
	.homepage-products .tabs .tab {
		width: 100%;
	}
	
	#top-seller {
		.productGrid {
			.product {
				width: 50% !important;
			}
		}	
	}
	
	.cart {
		.cart-item {
			
			.cart-item-quantity {
				
				.form-increment {
					width: auto !important;
				}
			}
		}	
	}
	
		
	/* FOOTER */
	
	.footer-info {
		margin: 1rem 0 6rem 0 !important;
	}
	
	.footer-info--col {
		text-align: center;
		min-height: 245px;
		padding: 0 !important;
	}
	
	.bottomFooter {
		p, a {
			margin-top: 0 !important;
		}
		
		.footer-info--col {
			min-height: 100%;
		}
	}
}

@media only screen and (max-width: 480px) {
	
	.form-prefixPostfix .button {
		width: 100%;
	}
	
	.form-prefixPostfix-button--postfix {
		margin: 0.75rem 0 0;
	}
	
	.footer-info--list li {
		font-size: 0.8rem !important;
	}
	
	
	
	.header {
		
		.navPages-container {
			.navPage-subMenu.is-open {
				.navPage-subMenu-list {
					.navPage-subMenu-item {
						min-height: 100% !important;
					}
				}
			}
		}
	}
	
	
	
	
	
	.bottomCarouselBanner {
		float: none !important;
		width: 100% !important;
		margin: 0 auto;
		display: table;
	}
	
	
}


@media only screen and (max-width: 320px) {
	.topNav {
	    
	    
	    
	    .shipping--info {
		    font-size: 0.7rem !important;
	    }
	}
	
	.header {
	    .cartWrap {
	        
	        z-index: 500;
	        
	        ul {
	            .navUser-item--cart {
	                .navUser-action {
	                    padding: .3rem 0 0 .5rem !important;
	                }    
	            }
	        }
	    }
	}


}



