{
    "rules": {
        "indent": [
            2,
            4
        ],
        "comma-dangle": [
            2,
            "never"
        ]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "airbnb/base"
}
