{
    "rules": {
        "indent": [
            2,
            4
        ],
        "comma-dangle": [
            2,
            "never"
        ],
        "no-use-before-define": [
            2,
            "nofunc"
        ],
        "no-alert": 0
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "airbnb/base"
}
