{
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "singleQuote": false,
                "tabWidth": 4
            }
        }
    ]
}
