{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "color-named": null,
    "selector-class-pattern": null,
    "max-nesting-depth": null,
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null,
    "selector-max-id": null,
    "selector-no-vendor-prefix": null,
    "selector-no-qualifying-type": null,
    "selector-max-compound-selectors": null,
    "scss/percent-placeholder-pattern": null,
    "scss/dollar-variable-pattern": null,
    "scss/at-mixin-pattern": null
  }
}
