<div class="form-field" data-product-attribute="date">
    <label class="form-label form-label--alternate form-label--inlineSmall" {{#if style}}style="{{style}}" {{/if}}>
        {{this.display_name}}:

        {{> components/common/requireness-msg}}
    </label>
    <select class="form-select form-select--date" name="attribute[{{this.id}}][month]" {{#if required}}required{{/if}}>
        <option value="">{{lang 'common.month'}}</option>
        {{#for 1 12}}
            <option value="{{$index}}" {{#if ../selected_date.month '==' $index}}selected="selected"{{/if}}>
                {{lang (concat 'common.short_months.' $index)}}
            </option>
        {{/for}}
    </select>
    <select class="form-select form-select--date" name="attribute[{{this.id}}][day]" {{#if required}}required{{/if}}>
        <option value="">{{lang 'common.day'}}</option>
        {{#for 1 31}}
            <option value="{{$index}}" {{#if ../selected_date.day '==' $index}}selected="selected"{{/if}}>
                {{$index}}
            </option>
        {{/for}}
    </select>
    <select class="form-select form-select--date" name="attribute[{{this.id}}][year]" {{#if required}}required{{/if}}>
        <option value="">{{lang 'common.year'}}</option>
        {{#for earliest_year latest_year}}
            <option value="{{$index}}" {{#if ../selected_date.year '==' $index}}selected="selected"{{/if}}>
                {{$index}}
            </option>
        {{/for}}
        {{#if earliest_year '==' latest_year}}
        <option value="{{earliest_year}}" selected="selected">{{earliest_year}}</option>
        {{/if}}
    </select>
</div>
