// =============================================================================
// MODAL (Settings)
// =============================================================================


// Bigcommerce Variables
// -----------------------------------------------------------------------------
//
// These scoped variables are created by Bigcommerce.
// All variables that are not from Foundation should be placed here.
//
// 1. Choose whether to include the Bigcommerce class names
//
// -----------------------------------------------------------------------------

$exportCSS--modal:                 true; // 1

// Color Variables
//$modal-backdrop-color:             color("greys", "darkest");

// Border Variables
//$modal-border:                     container("border", "dark");

// Size Variables
//$modal-width--small:               300px;
//$modal-width--large:               900px;


// Positioning Variables
//$modal-footer-align:               right;
//$modal-max-height:                 80%;
$modal-transformY:                 0%;


// Spacing
//$modal-horizontalSpacing:          spacing("single") * 1.5;
//$modal-verticalSpacing:            spacing("single");


// Modal header variables
//$modal-header-horizontalSpacing:   $modal-horizontalSpacing;
//$modal-header-verticalSpacing:     $modal-verticalSpacing;

//$modal-header-title-margin:        0;

//$modal-close-size:                 20px;
//$modal-close-transformY:           $modal-transformY;

// Modal body variables
//$modal-body-horizontalSpacing:     $modal-horizontalSpacing;
//$modal-body-verticalSpacing:       $modal-horizontalSpacing;


// Modal footer variables
//$modal-footer-horizontalSpacing:   $modal-horizontalSpacing;
//$modal-footer-verticalSpacing:     spacing("half");

//$modal-footer-button-marginBottom: 0;

//$modal-footer-link-fontSize:       fontSize("smaller");
//$modal-footer-link-margin:         spacing("single");


// Foundation Variables
// -----------------------------------------------------------------------------
//
// These variables come directly from:
// /vendor/foundation/foundation/components/*
// Declaring the variables here, you can adjust them all to your design,
// leaving the vendor framework untouched.
//
// -----------------------------------------------------------------------------

//$include-html-reveal-classes:      $include-html-classes;

// We use these to control the style of the reveal overlay.
//$reveal-overlay-bg:                rgba($modal-backdrop-color, 0.6);
//$reveal-overlay-bg-old:            $modal-backdrop-color;

// We use these to control the style of the modal itself.
//$reveal-modal-bg:                  color("whites", "bright");
$reveal-position-top:              50%;
//$reveal-default-width:             $modal-width--large;
//$reveal-max-width:                 80%;
//$reveal-modal-padding:             0;
//$reveal-box-shadow:                0 0 5px rgba(color("greys", "darkest"), 0.4);

// We use these to style the reveal close button
//$reveal-close-font-size:           fontSize("larger");
//$reveal-close-top:                 50%;
//$reveal-close-side:                $modal-header-horizontalSpacing / 2;
//$reveal-close-color:               color("greys", "dark");
//$reveal-close-weight:              normal;

// We use this to set the default radius used throughout the core.
//$reveal-radius:                    $global-radius;
//$reveal-round:                     $global-radius;

// We use these to control the modal border
//$reveal-border-style:              solid;
//$reveal-border-width:              1px;
//$reveal-border-color:              container("borderColor", "dark");

//$reveal-modal-class:               "modal";
//$close-reveal-modal-class:         "modal-close";
