// =============================================================================
// POPOVER (CSS)
// =============================================================================

#popoverWrapper {
    display: none;
    position: fixed;
}

.popover {
    background-color: #fff;
    border: 1px solid stencilColor("input-border-color");
    border-radius: 3px;
    max-width: 400px;
    min-width: 200px;
    padding: 10px;
}
.arrow {
    height: 20px;
    width: 20px;
    border-top: 1px solid stencilColor("input-border-color");
    border-left: 1px solid stencilColor("input-border-color");
    background-color: #fff;
    margin: 0 auto;
    transform: rotate(45deg);
    margin-bottom: -11px;
}


.store-locator-search-label {
    display: block;
}

.store-locator-value {
    padding-left: 15px;
    padding-right: 15px;
}

#store-locator-city {
    margin: 0;
    font-weight: 900;
    margin-right: 15px;
}

#store-locator-input {
    width: 100%;
}

.serched-location-item {
    height: 35px;
    display: flex;
    align-items: center;
}

.serched-location-item:hover {
    background-color: azure;
}

.preferred-location-wrapper {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.preferred-location-label {
    display: none;
}
