// =============================================================================
// POPOVER (CSS)
// =============================================================================

#popoverWrapper {
    display: none;
    position: fixed;
}

.popover {
    background-color: #fff;
    border: 1px solid stencilColor("input-border-color");
    border-radius: 3px;
    max-width: 400px;
    min-width: 200px;
    padding: 10px;
}
.arrow {
    height: 20px;
    width: 20px;
    border-top: 1px solid stencilColor("input-border-color");
    border-left: 1px solid stencilColor("input-border-color");
    background-color: #fff;
    margin: 0 auto;
    transform: rotate(45deg);
    margin-bottom: -11px;
}
