// =============================================================================
// SEARCH
// =============================================================================

.search-price-range {
    label {
        input {
            display: inline;
            padding-left: spacing('single');
            width: 6rem;
        }

        display: inline;

        span {
            padding-right: spacing('single');
            padding-left: spacing('single');
        }
    }
}

.category-suggestion-list {
    @include grid-row();
    list-style-type: none;
}

.category-suggestion {
    @include grid-column(4);
    font-size: fontSize("smaller");
}

.search-refine {
    margin-left: spacing('single');
}

.panel-body {
    .suggestion-type {
        margin-top: spacing('half');
    }
}
