// =============================================================================
// SEARCH
// =============================================================================

.category-suggestion-list {
    @include grid-row();
    list-style-type: none;
}

.category-suggestion {
    @include grid-column(4);
    font-size: fontSize("smaller");
}

.search-refine {
    margin-left: spacing('single');
}
