<ul>
    <li><a href="{{urls.account.orders.all}}">My Orders</a></li>
    <li><a href="{{urls.account.orders.completed}}">My Completed Orders</a></li>
    <li><a href="{{urls.account.returns}}">Return Requests</a></li>
    <li><a href="{{urls.account.addresses}}">Address Book</a></li>
    <li><a href="{{urls.account.wishlists}}">Wish Lists ({{ account.num_wishlists }})</a></li>
    <li><a href="{{urls.account.details}}">Account Details</a></li>
    <li><a href="{{urls.account.recent_items}}">Recently Viewed Items</a></li>
</ul>