<ul>
    <li><a href="/account.php?action=order_status">My Orders</a></li>
    <li><a href="/account.php?action=view_orders">My Completed Orders</a></li>
    <li><a href="/account.php?action=view_returns">Return Requests</a></li>
    <li><a href="/account.php?action=address_book">Address Book</a></li>
    <li><a href="/wishlist.php">Wish Lists ({{ account.num_wishlists }})</a></li>
    <li><a href="/account.php?action=account_details">Account Details</a></li>
    <li><a href="/account.php?action=recent_items">Recently Viewed Items</a></li>
</ul>