.cookieMessage {
    background: color("greys", "lightest");
    color: color("greys", "darker");
    display: none;

    .button {
        width: grid-calc(12, $total-columns);

        @include breakpoint("medium") {
            vertical-align: middle;
            width: grid-calc(3, $total-columns);
        }

        @include breakpoint("large") {
            vertical-align: top;
        }
    }
}

.cookieMessage-container {
    margin: 0 auto;
    padding: spacing("single");

    @include breakpoint("medium") {
        width: grid-calc(10, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(7, $total-columns);
    }
}

.cookieMessage-text {
    @include breakpoint("medium") {
        display: inline-block;
        padding: 0 spacing("half");
        vertical-align: middle;
        width: grid-calc(8, $total-columns);
    }
}
