{{#if banner '==' 'banner_collection'}}
	{{> components/themevale/banners/layout-banner find="themevale_homepage_collection"}}
{{/if}}

{{#if banner '==' 'banner_six_images'}}
	{{> components/themevale/banners/layout-banner find="themevale_banner_six_images"}}
{{/if}}

{{#if banner '==' 'home_1_banner_custom_block'}}
	{{> components/themevale/banners/layout-banner find="themevale_home_1_banner_custom_block"}}
{{/if}}

{{#if banner '==' 'banner_customer_reviews'}}
	{{> components/themevale/banners/layout-banner find="themevale_custom_reviews"}}
{{/if}}

{{#if banner '==' 'banner_brands'}}
	{{> components/themevale/banners/layout-banner find="themevale_homepage_brands"}}
{{/if}}

{{#if banner '==' 'instagram'}}
	{{> components/themevale/banners/layout-banner find="themevale_instagram"}}
{{/if}}

{{#if banner '==' 'shipping_block'}}
	{{> components/themevale/banners/layout-banner find="themevale_shipping_block"}}
{{/if}}

{{#if banner '==' 'banner_two_images'}}
	{{> components/themevale/banners/layout-banner find="themevale_banner_two_images"}}
{{/if}}

{{#if banner '==' 'home_2_banner_custom_block'}}
	{{> components/themevale/banners/layout-banner find="themevale_home_2_banner_custom_block"}}
{{/if}}
