---
blog:
    posts:
        limit: 20
        pages: 3
        summary: 200
---
{{#partial "page"}}

<section class="page">
    <div class="blog-feed">

        {{#unless theme_settings.hide_blog_page_heading }}
            <div class="blog-feed-header full-width">
                <h1 class="page-heading">{{ blog.name }}</h1>
            </div>
        {{/unless}}
        
        {{#each blog.posts}}

            <ul>
                <li>Title: {{title}}</li>
                <li>URL: {{url}}</li>
                <li>
                    Tags:
                    {{#each tags}}
                        {{name}}{{#unless @last}},{{/unless}}
                    {{/each}}
                </li>
                <li>Summary: <span class="summary-text">{{summary}}</span></li>
                <li>Thumbnail: {{thumbnail.data}}</li>
            </ul>
        
            {{> components/blog/feed-post post=this}}

        {{/each}}

        {{> components/common/paginator pagination.blog}}

    </div>
</section>

{{/partial}}
{{> layout/base}}
