{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs}}
<div class="blog-post">
    <h2 class="page-heading">{{ blog.post.name }}</h2>
    {{#if blog.post.thumbnail}}
        <img class="blog-post-image" src="{{blog.post.thumbnail}}">
    {{/if}}
    <h3 class="blog-post-title">{{blog.post.title}}</h3>
    <span class="blog-post-date">{{blog.post.date_published}}</span>
    <span class="blog-post-author">{{blog.post.author}}</span>
    <div class="blog-post-content">{{{blog.post.body}}}</div>
    {{#if blog.post.tags}}
        <ul>
            {{#each blog.post.tags}}
                <a class="blog-post-tag" href="{{url}}">#{{name}}</a>
            {{/each}}
        </ul>
    {{/if}}
</div>
{{/partial}}
{{> layout/base}}
