---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 200
---
{{#partial "head"}}
    {{#if pagination.blog.previous}}
        <link rel="prev" href="{{pagination.blog.previous}}">
    {{/if}}
    {{#if pagination.blog.next}}
        <link rel="next" href="{{pagination.blog.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page">
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">{{ blog.name }}</h1>
    {{/unless}}

    {{#each blog.posts}}
        {{> components/blog/post post=this theme_settings=../theme_settings}}
    {{/each}}

    {{> components/common/paginator pagination.blog}}
</section>

{{/partial}}
{{> layout/base}}
