{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs}}

<main class="page">
    <h1 class="page-heading">{{ blog.name }}</h1>

    {{#each blog.posts}}
    <article class="blog">
        {{#if this.thumbnail}}
        <a href="{{url}}">
            <figure class="blog-thumbnail">
                <img src="{{thumbnail}}">
            </figure>
        </a>
        {{/if}}

        <h2 class="blog-title">
            <a href="{{url}}">{{title}}</a>
        </h2>
        <p class="blog-date">{{date_published}}</p>

        <div class="blog-post">
            {{{body}}}
        </div>
    </article>
    {{/each}}

    {{> components/common/paginator pagination.blog}}
</main>

{{/partial}}
{{> layout/base}}
