{{#partial "page"}}
<div class="main" data-cart>
    <h1>Cart</h1>

    <div data-cart-status>
        {{#each cart.status_messages}}
            <div class="alert alert-info" role="alert" data-bind="text: message">{{{message}}}</div>
        {{/each}}
    </div>

    {{#if cart.items.length}}
        <div data-cart-content>
            {{> components/cart/content}}
        </div>
        <div>
            <a href="{{urls.checkout.single_address}}" title="Click here to proceed to checkout">Checkout</a>
        </div>

        {{#if show_multiple_address_shipping}}
            <div>
                <p><span> or </span><a href="{{urls.checkout.multiple_address}}"><strong>check out with multiple addresses</strong></a></p>
            </div>
        {{/if}}
    {{else}}
        <h3>Your Cart is empty</h3>
    {{/if}}

</div>
{{/partial}}
{{> layout/base}}
