---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{inject "categoryName" category.name}}

{{#partial "page"}}
<div id="searchspring-header"></div>
<div class="container">
    <div class="page">
        <div id="searchspring-summary"></div>
        <aside class="page-sidebar product-filters" id="faceted-search-container">
            <div id="searchspring-sidebar"></div>
        </aside>
        <div class="page-content" id="product-listing-container">
            <div id="searchspring-content"></div>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
