---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<!-- display customer information if one is logged in -->
{{#if customer '!=' null}}
    <div class="banners">
        <p>Welcome {{customer.name}} ({{customer.phone}})
            {{#if customer.address}} 
                at {{customer.address}}
            {{/if}}
        </p>
    </div>
{{/if}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{#if category.name '===' 'Special Items'}}
    <!-- Inject products of this category into the context that is passed into ../category.js -->
    {{inject "categoryProducts" category.products}}
    <form id="dummy-form">
        <input type="submit" class="button button--primary category" value="Add All to Cart" id="add-all-from-category" href="#uniqueID" data-reveal-id="uniqueID">
        <input type="submit" class="button button--primary category" value="Remove All Items" id="remove-all">
    </form>
{{/if}}
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <main class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </main>
</div>

<div id="uniqueID" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content">
        <h1 class="modal-header">
            Added all items from this category to the cart.
        </h1>
        <h2 class="modal-body">
            Continue shopping!
        </h2>
    </div>
    <div class="loadingOverlay"></div>
</div>

{{/partial}}
{{> layout/base}}
