<!doctype html>
<html>
<head>
    <base href="/">
    <meta charset="UTF-8"/>
    <meta name="keywords" content="checkout"/>
    <meta name="description" content="Bigcommerce checkout"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width">
    <link rel="SHORTCUT ICON" href="{{ FaviconUrl }}" />
    {{{ open_sans_stylesheet }}}
    {{{ ng_checkout_stylesheet }}}
    {{{ stylesheet '/assets/css/optimized-checkout.css' }}}
    {{ OptimizedCheckoutWebdavCss }}
</head>
    <body>
     {{{ checkout_content }}}
    </body>
</html>

