{{#partial "head"}}
{{{stylesheet '/assets/css/theme.css'}}}
{{{stylesheet '/assets/scss/checkout.scss'}}}

{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<!-- Calling Roboto Font Family -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}
<!-- Calling FontAwesome cdn and Jquery cdn -->
<script src="https://use.fontawesome.com/685ce2e244.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

{{/partial}}

{{#partial "page"}}
<header class="containercheckout-header ">
    <div class="containercheckout-head-main">
        <div>
            <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage"
                src="{{ checkout.header_image }}" />
        </div>
        <div>
            <a href="" class="href">
                <h4 id="cancelwindow">Cancel</h4>
            </a>
        </div>
    </div>
</header>

<div class="container checkoutheader">
    <h2 class="article-block-title">Checkout</h2>
    <hr class="underenrollment">
</div>
<!-- Chnage all the font to Roboto Font Family  -->
<style>
    body,
    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    dd,
    dt,
    * {
        font-family: Roboto !important;
    }
</style>
{{{ checkout.checkout_content }}}
<!-- New Footer Section -->
<footer class="containercheckout-footer">
    <div class="containercheckout-footer-main">
        <div>
            <img alt="{{settings.store_logo.title}}" style="opacity: .2;width: 200px;" class="checkoutHeader-logo"
                id="logoImage" src="{{ checkout.header_image }}" />
        </div>
        <div>
            <p class="footer-copy">© {{moment "now" "YYYY"}} Regis College. All rights reserved.</p>
        </div>
    </div>
</footer>

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
