{{#partial "page"}}
{{inject 'comparisons' comparisons}}
{{inject 'compareRemoveMessage' (lang 'compare.no_remove')}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'compare.header' products=comparisons.length}}</h1>
<div class="page">
    <main class="page-content">

        <table class="compareTable">
            <tr class="compareTable-row">
                <th class="compareTable-heading"></th>
                {{#each comparisons}}
                <th class="compareTable-product">
                    <article class="card">
                        <figure class="card-figure">
                            <img class="card-image" src="{{{getImage image 'product' (cdn theme_settings.default_image_product)}}}" alt="{{image.alt}}">
                            <a class="compareTable-removeProduct" data-comparison-remove href="{{#if remove_url}}{{remove_url}}{{else}}#{{/if}}">
                                <svg class="icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                                </svg>
                            </a>
                        </figure>
                        <div class="card-body">
                            {{#if brand.name}}
                                <p class="card-text"><a href="{{brand.url}}">{{ brand.name }}</a></p>
                            {{/if}}
                            <h4 class="card-title">
                                <a href="{{url}}">{{ name }}</a>
                            </h4>
                            {{#if price.without_tax}}
                                <div class="price-section price-section--withoutTax {{#if price.with_tax}}price-section--minor{{/if}}">
                                    {{#if price.rrp_without_tax}}
                                        <span class="price price--rrp">{{price.rrp_without_tax.formatted}}</span>
                                    {{/if}}
                                    <span class="price price--withoutTax">{{lang 'products.price_without_tax' price=price.without_tax.formatted tax_label=price.tax_label}}</span>
                                </div>
                            {{/if}}
                        </div>
                    </article>
                </th>
                {{/each}}
            </tr>
            <tr class="compareTable-row">
                <th class="compareTable-heading"></th>
                {{#each comparisons}}
                <td class="compareTable-action">
                    {{#unless hide_add_to_cart}}
                        {{#if has_options}}
                            <a href="{{url}}" class="button button--primary" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        {{else}}
                            {{#if can_purchase }}
                                <a href="{{add_to_cart_url}}" class="button button--primary">
                                    {{#if pre_order}}
                                        {{lang 'products.pre_order'}}
                                    {{else}}
                                        {{lang 'products.add_to_cart'}}
                                    {{/if}}
                                </a>
                            {{else}}
                                {{#if out_of_stock_message }}
                                    <a href="{{url}}" class="button button--primary" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/unless}}
                </td>
                {{/each}}
            </tr>
            <tr class="compareTable-row">
                <th class="compareTable-heading">
                    <span class="compareTable-headingText">Description</span>
                </th>
                {{#each comparisons}}
                <td class="compareTable-item">{{ summary }}</td>
                {{/each}}
            </tr>
            {{#if settings.show_product_rating}}
                <tr class="compareTable-row">
                    <th class="compareTable-heading">
                        <span class="compareTable-headingText">Rating</span>
                    </th>
                    {{#each comparisons}}
                    <td class="compareTable-item">
                        {{#if rating}}
                            {{> components/products/ratings rating=rating}}
                        {{else}}
                            No Reviews
                    {{/if}}
                    </td>
                    {{/each}}
                </tr>
            {{/if}}
            <tr class="compareTable-row">
                <th class="compareTable-heading">
                    <span class="compareTable-headingText">Availability</span>
                </th>
                {{#each comparisons}}
                <td class="compareTable-item">
                    {{#if availability}}
                        {{ availability }}
                    {{else}}
                        {{lang 'common.not_applicable'}}
                    {{/if}}
                </td>
                {{/each}}
            </tr>
            {{#if custom_fields}}
                {{#each custom_fields}}
                <tr class="compareTable-row">
                    <th class="compareTable-heading">{{ name }}</th>
                    {{#each comparisons}}
                        <td class="compareTable-item">{{ value }}</td>
                    {{/each}}
                </tr>
                {{/each}}
            {{/if}}
        </table>

    </main>
</div>

{{/partial}}
{{> layout/base}}
