{{#partial "page"}}
<main class="main full">
    <h1>{{lang 'compare.header' products=comparisons.length}}</h1>
    <ul class="compare">
        <li class="column column-{{comparisons.length}} compare-label">
            <div class="compare-header"></div>
            <div class="compare-body">
                <div class="compare-body-row compare-body-description">Description</div>
                <div class="compare-body-row compare-body-rating">Rating</div>
                <div class="compare-body-row compare-body-availability">Availability</div>
                {{#if custom_fields}}
                    {{#each custom_fields}}
                        <div class="compare-body-row compare-body-{{ name }}">
                            {{ name }}
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </li>
        {{#each comparisons}}
        <li class="column column-{{../comparisons.length}}">
            <div class="compare-header">
                <div><a href="{{remove_url}}">&times;</a></div>
                <div><img src="{{{image image 'product'}}}" alt="{{image.alt}}"></div>
                <div><a href="{{brand_url}}">{{ brand_name }}</a></div>
                <div><a href="{{{url}}}">{{ name }}</a></div>
                <div>{{money price}}</div>

                <form method="post" action="{{ urls.cart }}" class="compare-header-cart">
                    <input class="quickview button button--primary button-addToCart" data-product-id="{{id}}" type="submit" data-bind="enable: canAddToCart" value="Add To Cart">
                </form>
            </div>
            <div class="compare-body">
                <div class="compare-body-row compare-body-description">
                    {{ summary }}
                </div>
                <div class="compare-body-row compare-body-rating">
                    {{#if rating}}
                        {{> components/products/ratings rating=rating}}
                    {{else}}
                        No Reviews
                    {{/if}}
                </div>
                <div class="compare-body-row compare-body-availability">
                    {{#if availability}}
                        {{ availability }}
                    {{else}}
                        Not Available
                    {{/if}}
                </div>

                {{#if custom_fields}}
                    {{#each custom_fields}}
                        <div class="compare-body-row compare-body-{{ name }}">
                            {{ value }}
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ul>
</main>
{{/partial}}
{{> layout/base}}
