---
products:
    new:
        limit: {{theme_settings.homepage_num_of_new_products}}
    featured:
        limit: {{theme_settings.homepage_num_of_featured_products}}
    top_sellers:
        limit: {{theme_settings.homepage_num_of_top_products}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    posts:
        limit: 3
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}
{{/partial}}

{{#partial "page"}}
<div class="main full">
    {{#if products.featured}}
        {{> components/products/featured products.featured}}
    {{/if}}
    {{#if products.new}}
        {{> components/products/new products.new}}
    {{/if}}
    {{#if products.top_sellers}}
        {{> components/products/top products.top_sellers}}
    {{/if}}
</div>
{{/partial}}
{{> layout/base}}
