---
products:
    new:
        limit: {{themeSettings.homepage-numOfNewProducts}}
    featured:
        limit: {{themeSettings.homepage-numOfFeaturedProducts}}
    top_sellers:
        limit: {{themeSettings.homepage-numOfTopProducts}}
carousel: {{themeSettings.homepage-showCarousel}}
blog:
    posts:
        limit: 3
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}
{{/partial}}

{{#partial "page"}}
<div class="main full">
    {{> components/products/featured products.featured}}
    {{> components/products/new products.new}}
    {{#if products.top_sellers}}
        {{> components/products/top products.top_sellers}}
    {{/if}}
</div>
{{/partial}}
{{> layout/base}}
