{{#partial "head"}}
{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}




<!-- Styles for header -->
<style>
    .containercheckout-header {
        display: none;
        background: #FFFFFF;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 12vh;
        padding: 50px;
    }

    .containercheckout-head-main {
        display: flex;
        justify-content: space-between;
    }
</style>

<header class="containercheckout-header">
    <div class="containercheckout-head-main">
        <div>
            <a href="{{getVar 'Gotohomepage'}}">
                <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage"
                src="{{ checkout.header_image }}" />
            </a>
        </div>
        <div>
            <a href="{{getVar 'Gotohomepage'}}">
                <h4>Cancel</h4>
            </a>
        </div>
    </div>
</header>


{{{ checkout.order_confirmation_content }}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
