{{#partial "page"}}
    {{#each breadcrumbs }}
        {{> components/common/breadcrumbs this}}
    {{/each}}
    <div class="productView">
        {{product.detail_messages}}
        <h1>{{ product.title }}</h1>
        <h2 data-bind="text: price">{{ product.price.base }}</h2>
        <a href="{{ product.initial_zoom_image }}">
            <img src="{{ product.initial_image }}">
        </a>
        {{#each product.images}}
            <img src="{{tiny_url}}">
        {{/each}}
        {{#if product.release_date }}
        <span class="alert alert-warning">{{product.release_date}}</span>
        {{/if}}
        <form method="post" action="{{product.cart_url}}" enctype="multipart/form-data">
            <input type="hidden" name="action" value="add">
            <input type="hidden" name="product_id" value="{{product.id}}" />
            <p>
                {{#each product.customizations}}
                    <div>{{{renderProductCustomization this}}}</div>
                {{/each}}
            </p>
            <div class="product-sku">
                <h4>SKU</h4>
                <p class="product-skuText" data-bind="text: sku">{{ product.sku }}</p>
            </div>
            <div data-product-options-change>
                Options
                {{#each product.options}}
                    <div>{{{renderProductOption this}}}</div>
                {{/each}}
            </div>
            <select name="qty[]" data-product-quantity-change data-bind="enable: canAddToCart">
                {{#enumerate 1 30}}
                <option value="{{ this }}">{{ this }}</option>
                {{/enumerate}}
            </select>
            <input data-cart-add type="submit" class="btn btn-success btn-addToCart" data-bind="enable: canAddToCart" value="Add To Cart">
        </form>

        <form method="post" action="{{product.add_to_wishlist_url}}">
            <input type="submit" class="btn btn-primary" value="Add To Wishlist">
        </form>

        <div class="Clear AddThisButtonBox" data-product-share>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook at300b" title="Facebook" href="#">
                    <span class="at4-icon aticon-facebook" style="background-color: rgb(48, 88, 145);">
                    <span class="at_a11y">Share on facebook</span></span></a>
                    <a class="addthis_button_twitter at300b" title="Tweet" href="#">
                    <span class="at4-icon aticon-twitter" style="background-color: rgb(44, 168, 210);">
                    <span class="at_a11y">Share on twitter</span></span>
                </a>
                <a class="addthis_button_google at300b" target="_blank" title="Google" href="#">
                    <span class="at4-icon aticon-google" style="background-color: rgb(8, 104, 185);">
                        <span class="at_a11y">Share on google</span>
                    </span>
                </a>
                <a class="addthis_button_email at300b" target="_blank" title="Email" href="#">
                    <span class="at4-icon aticon-email" style="background-color: rgb(115, 138, 141);">
                        <span class="at_a11y">Share on email</span>
                    </span>
                </a>
                <a class="addthis_button_print at300b" title="Print" href="#">
                    <span class="at4-icon aticon-print" style="background-color: rgb(115, 138, 141);">
                        <span class="at_a11y">Share on print</span>
                    </span>
                </a>
                <div class="atclear"></div>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e94ed470ee51e32"></script>
            <!-- AddThis Button END -->
        </div>
        <p>{{{ product.description }}}</p>
    </div>
{{/partial}}
{{> layout/base}}
