{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading">{{lang 'page.rss.heading'}}</h1>

    {{#if page.sub_pages}}
    <nav class="navBar">
        <ul class="navBar-section">
            {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </nav>
    {{/if}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{/replace}}
    </div>

</main>

{{/partial}}

{{> layout/base}}
