{{#partial "page"}}

<section class="page">
    <div class="page-content page-content--centered">
        <h1 class="page-heading">
            {{@lang 'search.results.count' num_products=product_results.products.length search_query=forms.search.query}}
        </h1>

        {{> components/common/search-box}}
    </div>
</section>

<section class="page">
    <aside class="page-sidebar" id="faceted-search-container">
        {{#if product_results.faceted_search_enabled}}
        {{> components/faceted-search/index product_results}}
        {{/if}}
    </aside>

    <main class="page-content" id="product-listing-container">
        {{> components/search/product-listing}}
    </main>
</section>

{{/partial}}
{{> layout/base}}
