{{#partial "page"}}

<section class="page">
    <div class="page-content page-content--centered">
        {{#if forms.search.query}}
            <h1 class="page-heading">
                {{lang 'search.results.count' num_products=pagination.product_results.total search_query=forms.search.query}}
            </h1>
        {{/if}}

        {{> components/common/search-box}}
    </div>
</section>

<section class="page">
    {{#if product_results.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/faceted-search/index product_results}}
        </aside>
    {{/if}}

    <main class="page-content" id="product-listing-container">
        {{> components/search/product-listing}}
    </main>
</section>

{{/partial}}
{{> layout/base}}
