.mantra {
  background-color: stencilColor("navUser-color");
  padding: stencilNumber("padding-small") * 4;
  color: stencilColor('color-white');

  p {
    margin: 0 0 stencilNumber("padding-small");
    color: stencilColor('color-white');
  }
  
  h3 {
    font-weight: fontWeight("bold");
    font-size: fontSize("largest");
    line-height: lineHeight("small");
    letter-spacing: letterSpacing("large") * .5;
    -webkit-font-smoothing: antialiased;
    margin-top: 1.5rem;
    text-transform: uppercase;
    color: stencilColor('color-white');
  }

  h4 {
    font-size: fontSize("base");
    line-height: lineHeight("small");
    letter-spacing: letterSpacing("large") * .5;
    font-weight: fontWeight("normal");
    color: stencilColor('color-white');
    margin-top: 1rem;
  }
}