.mantra {
  background-color: stencilColor("navUser-color");
  padding: 40px;
  color: white;

  p {
    margin: 0 0 10px;
    color: white;
  }
  
  h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
    margin-top: 1.5rem;
    text-transform: uppercase;
    color: #fff;
  }

  h4 {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: .5px;
    font-weight: 400;
    color: #fff;
    margin-top: 1rem;
  }
}