<div class="banner-product-custom">
	<div class="banner-list">
		<div class="banner-item banner-large">
			<div class="banner-item-inner">
				<div class="img">
					<div class="card-img-container">
						<a href="#" title="" class="animate-hvr">
							<img class="card-image lazyload" data-src="/product_images/uploaded_images/banner-product-custom-large.jpg" alt="" title="" />
						</a>
		            </div>
				</div>
				<a href="#" title="">
					<div class="content banner-wrap position-center text-left">
	    				<div class="content banner-inner">
	    					<h3 class="title">Metropolis</h3>
	    					<p class="des">Nam tempus turpis at metus scelerisque placerat nulla deumantos sollicitudin delos felis de cosmo milancelos. Pellentesque diam dolor an elementum et lobortis. Nuncos vestibulum interdum turpis, at condimentum nisi volutpat sit amet. Quisque deget turpis egestas mollis.</p>
	    				</div>
	    			</div>
	    		</a>
			</div>
		</div>

		<div class="container container-small">
			<div class="banner-item banner-small">
				<div class="banner-item-inner">
					<div class="img">
						<div class="card-img-container">
							<a href="#" title="" class="animate-hvr">
								<img class="card-image lazyload" data-src="/product_images/uploaded_images/banner-product-custom-small-1.jpg" alt="" title="" />
							</a>
			            </div>
					</div>
					<a href="#" title="">
						<div class="content banner-wrap position-bottom text-left">
		    				<div class="content banner-inner">
		    					<h3 class="title">Milancé</h3>
		    						<p class="des">Nam tempus turpis at metus scelerisque placerat nulla deumantos sollicitudin delos felis de cosmo milancelos. Pellentesque diam dolor an elementum et lobortis. Nuncos vestibulum interdum turpis.</p>
		    				</div>
		    			</div>
		    		</a>
				</div>
			</div>

			<div class="banner-item banner-small">
				<div class="banner-item-inner">
					<div class="img">
						<div class="card-img-container">
							<a href="#" title="" class="animate-hvr">
								<img class="card-image lazyload" data-src="/product_images/uploaded_images/banner-product-custom-small-2.jpg" alt="" title="" />
							</a>
			            </div>
					</div>
					<a href="#" title="">
						<div class="content banner-wrap position-bottom text-left">
		    				<div class="content banner-inner">
		    					<h3 class="title">Cosmopolis</h3>
		    						<p class="des">Nam tempus turpis at metus scelerisque placerat nulla deumantos sollicitudin delos felis de cosmo milancelos. Pellentesque diam dolor an elementum et lobortis. Nuncos vestibulum interdum turpis.</p>
		    				</div>
		    			</div>
		    		</a>
				</div>
			</div>
		</div>
	</div>
</div>
