<div id="video-gallery-pc-popup" class="modal modal--large" data-reveal="">
    <div class="modal-content">
        <a href="#" class="modal-close" aria-label="Close">
            <svg class="icon"><use xlink:href="#icon-close"></use></svg>
        </a>
        <div class="modal-header">
            <h2 class="modal-header-title">Video Gallery</h2>
        </div>
        <div class="modal-body">
            <div id="gallery"></div>
        </div>
    </div>
    <div class="loadingOverlay"></div>
</div>
