// =============================================================================
// FOOTER (Settings)
// =============================================================================

$footer-background:                             stencilColor("footer-backgroundColor");
$footer-heading-fontColor:                      stencilColor("footer-heading-fontColor");
