{{#unless customer.addresses}}
    {{> components/common/alert-info (lang 'account.addresses.no_addresses')}}
{{/unless}}

<ul class="addressBox-list">
    {{#each customer.addresses}}
        <li class="addressBox-item">
            <div class="addressBox">
                <h5 class="addressBox-heading">{{first_name}} {{last_name}}</h5>
                <ul class="addressBox-content">
                    <li class="address-line">
                        <span class="address-description">{{company}}</span>
                    </li>
                    <li class="address-line">
                        <span class="address-description">{{address1}}</span>
                    </li>
                    <li class="address-line">
                        <span class="address-description">{{address2}}</span>
                    </li>
                    <li class="address-line">
                        <span class="address-description">{{city}}{{#if state}}, {{state}}{{/if}} {{zip}}</span>
                    </li>
                    <li class="address-line">
                        <span class="address-description">{{country}}</span>
                    </li>
                    <li class="address-line">
                        <span class="address-description">{{lang 'account.addresses.phone' }}</span>
                        <span class="address-value">{{phone}}</span>
                    </li>
                </ul>
                <form action="{{delete_url}}" method="post" data-delete-address="{{lang 'forms.address.confirm_delete'}}">
                    <div class="form-actions">
                        <a class="button button--primary button--small" href="{{edit_url}}">{{lang 'common.edit' }}</a>
                        <button type="submit" class="button secondary button--small">{{lang 'common.delete' }}</button>
                    </div>
                </form>
            </div>
        </li>
    {{/each}}
    <li class="addressBox-item">
        <a class="addressBox addressBox--newAddress" href="{{urls.account.add_address}}">
            <div class="newAddress-action">
                <div class="newAddress-plus">&plus;</div>
                <div class="newAddress-text">{{lang 'account.addresses.new_address' }}</div>
            </div>
        </a>
    </li>
</ul>
