<nav class="navBar navBar--sub navBar--account">
    <ul class="navBar-section">
        {{#if account_page '===' 'orders'}}
            {{#if page_type '===' 'account_order'}}
                <li class="navBar-item is-active">
                    <a class="navBar-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                </li>
            {{else}}
                <li class="navBar-item is-active">{{lang 'account.nav.orders'}}</li>
            {{/if}}
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
            </li>
        {{/if}}
        {{#if settings.returns_enabled}}
            {{#if account_page '===' 'returns'}}
                <li class="navBar-item is-active">{{lang 'account.nav.returns'}}</li>
            {{else}}
                <li class="navBar-item">
                    <a class="navBar-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                </li>
            {{/if}}
        {{/if}}
         
        <!-- digitlhaus -->
        {{#if account_page '===' 'messages'}}
            <li class="navBar-item is-active">
                {{#if customer.num_new_messages}}
                    {{lang 'account.nav.messages' num_new_messages=(concat (concat '(' customer.num_new_messages) ')')}}
                {{else}}
                    {{#if customer.num_new_messages '===' 0}}
                        {{lang 'account.nav.messages' num_new_messages=(concat (concat '(' customer.num_new_messages) ')')}}
                    {{else}}
                        {{lang 'account.nav.messages' num_new_messages=''}}
                    {{/if}}
                {{/if}}
            </li>
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="{{urls.account.inbox}}">
                    {{#if customer.num_new_messages}}
                        {{lang 'account.nav.messages' num_new_messages=(concat (concat '(' customer.num_new_messages) ')')}}
                    {{else}}
                        {{#if customer.num_new_messages '===' 0}}
                            {{lang 'account.nav.messages' num_new_messages=(concat (concat '(' customer.num_new_messages) ')')}}
                        {{else}}
                            {{lang 'account.nav.messages' num_new_messages=''}}
                        {{/if}}
                    {{/if}}
                </a>
            </li>
        {{/if}}

        {{#if account_page '===' 'addresses'}}
            <li class="navBar-item is-active">{{lang 'account.nav.addresses'}}</li>
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
            </li>
        {{/if}}
        {{#if settings.show_payment_methods}}
            {{#if account_page '===' 'payment_methods'}}
                <li class="navBar-item is-active">{{lang 'account.nav.payment_methods'}}</li>
            {{else}}
                <li class="navBar-item">
                    <a class="navBar-action" href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                </li>
            {{/if}}
        {{/if}}
        {{#if settings.show_wishlist}}
            <!-- digitlhaus -->
            {{#if account_page '===' 'wishlists'}}
                <li class="navBar-item is-active">
                    {{#if customer.num_wishlists}}
                        {{lang 'account.nav.wishlists' num_wishlists=(concat (concat '(' customer.num_wishlists) ')')}}
                    {{else}}
                        {{#if customer.num_wishlists '===' '0'}}
                            {{lang 'account.nav.wishlists' num_wishlists=(concat (concat '(' customer.num_wishlists) ')')}}
                        {{else}}
                            {{lang 'account.nav.wishlists' num_wishlists=''}}
                        {{/if}}
                    {{/if}}
                </li>
            {{else}}
                <li class="navBar-item">
                    <a class="navBar-action" href="{{urls.account.wishlists.all}}">
                        {{#if customer.num_wishlists}}
                            {{lang 'account.nav.wishlists' num_wishlists=(concat (concat '(' customer.num_wishlists) ')')}}
                        {{else}}
                            {{#if customer.num_wishlists '===' '0'}}
                                {{lang 'account.nav.wishlists' num_wishlists=(concat (concat '(' customer.num_wishlists) ')')}}
                            {{else}}
                                {{lang 'account.nav.wishlists' num_wishlists=''}}
                            {{/if}}
                        {{/if}}
                    </a>
                </li>
            {{/if}}


        {{/if}}
        {{#if account_page '===' 'recent_items'}}
            <li class="navBar-item is-active">{{lang 'account.nav.recently_viewed'}}</li>
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
            </li>
        {{/if}}
        {{#if account_page '===' 'settings'}}
            <li class="navBar-item is-active">{{lang 'account.nav.settings'}}</li>
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
            </li>
        {{/if}}

        <!-- digitlhaus -->
        {{#if account_page '===' 'msi'}}
            <li class="navBar-item is-active">{{lang 'account.nav.msi'}}</li>
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="/account/manage-subscriptions">{{lang 'account.nav.msi'}}</a>
            </li>
        {{/if}}

    </ul>
</nav>
