<h3 class="account-heading">{{lang 'account.orders.details.order_contents'}}</h3>

<ul class="account-list">
    {{#each this.items}}
    <li class="account-listItem">
        <div class="account-product">
            <figure class="account-product-figure">
                {{#if image}}
                    <img src="{{getImage image 'thumb'}}" alt="{{image.alt}}">
                {{/if}}
            </figure>
            <div class="account-product-body">
                <span class="account-product-price">{{price.formatted}}</span>
                <h5 class="account-product-title">{{quantity}} &#215; {{name}}</h5>
                {{#if brand}}
                    <h6>{{brand.name}}</h6>
                {{/if}}
                <dl class="definitionList">
                    {{#each options}}
                        <dt>{{name}}:</dt>
                        <dd>{{value}}</dd>
                    {{/each}}
                </dl>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
