<h3 class="account-heading">{{@lang 'account.orders.details.order_contents' }}</h3>
<ul class="order-contents">
    {{#each this.items}}
    <li class="order-contents-item">
        <img class="order-contents-image" src="{{@image image}}" alt="{{image.alt}}">
        <h6 class="order-contents-name">{{name}}</h6>
        <span class="order-contents-price">{{price.formatted}}</span>
        <!--
        TODO: Add this button when we're able to specify individual items for return
            <a href="{{return_url}}" class="order-contents-return button secondary">{{@lang 'account.orders.return_item' }}</a>
        -->
        {{#if download_url}}
            <a href="{{download_url}}" class="button button--primary">{{@lang 'account.orders.details.download_items' }}</a>
        {{/if}}
    </li>
    {{/each}}
</ul>
