<h3 class="account-heading">{{lang 'account.returns.heading' }}</h3>

<ul class="account-list">
    {{#each returns}}
    <li class="account-listItem">
        <div class="account-listItem-summary">
            <div class="account-listItem-summary-main">
                <h5 class="account-returnsList-title">{{lang 'account.returns.list.return_number' id=rma}}</h5>
                {{#if status '===' 'OPEN'}}
                    <h6 class="account-orderStatus-label account-orderStatus-label--open">{{lang 'account.returns.status.open'}}</h6>
                {{else if status '===' 'IN_PROGRESS'}}
                    <h6 class="account-orderStatus-label account-orderStatus-label--inProgress">{{lang 'account.returns.status.in_progress'}}</h6>
                {{else if status '===' 'CLOSED'}}
                    <h6 class="account-orderStatus-label account-orderStatus-label--closed">{{lang 'account.returns.status.closed'}}</h6>
                {{else if status '===' 'CANCELLED'}}
                    <h6 class="account-orderStatus-label account-orderStatus-label--cancelled">{{lang 'account.returns.status.cancelled'}}</h6>
               {{/if}}
            </div>
            <a class="button button--small" href="/account.php?action=view_return&return_id={{id}}">{{lang 'account.returns.list.view_details'}}</a>
        </div>

        <div class="account-returnsList-details">
            <div class="account-returnsList-detail">
                <h6 class="account-returnsList-detail-heading">{{lang 'account.returns.list.return_submitted' }}</h6>
                <span>{{moment dateSubmitted format="Do MMM YYYY"}}</span>
            </div>
            <div class="account-returnsList-detail">
                <h6 class="account-returnsList-detail-heading">{{lang 'account.returns.list.last_update' }}</h6>
                <span>{{#if lastUpdated}}{{moment lastUpdated format="Do MMM YYYY"}}{{else}}{{moment dateSubmitted format="Do MMM YYYY"}}{{/if}}</span>
            </div>
            <div class="account-returnsList-detail">
                <h6 class="account-returnsList-detail-heading">{{lang 'account.returns.list.return_items' }}</h6>
                <span>{{items.length}}</span>
            </div>
        </div>
    </li>
    {{/each}}
</ul>