<h3 class="account-heading">{{@lang 'account.returns.heading' }}</h3>
<ul class="orders-list">
    {{#each returns}}
    <li class="account-section-item order-item">
        <!-- TODO: Reinsert product image when available to context -->
        <div class="information">
            <h4 class="order-item-heading">{{@lang 'account.returns.list.return_number' id=this.id}}</h4>
            <p>
                {{@lang 'account.returns.list.product_details' num_products=this.quantity name=this.product.name}}
            </p>
            <div class="order-sub-information">
                <div class="order-sub-item">
                    <h6 class="order-sub-item-title">{{@lang 'account.returns.date_requested' }}</h6>
                    <span class="order-sub-item-text">{{this.date_requested}}</span>
                </div>
            </div>
        </div>

        {{#compare this.status 'ReturnStatusPending' operator='===' }}
            <h6 class="account-info-status order-info-status">{{@lang 'account.returns.status.pending'}}</h6>
        {{/compare}}
        {{#compare this.status 'ReturnStatusReceived' operator='===' }}
            <h6 class="account-info-status order-info-status">{{@lang 'account.returns.status.received'}}</h6>
        {{/compare}}
        {{#compare this.status 'ReturnStatusAuthorized' operator='===' }}
            <h6 class="account-info-status order-info-status">{{@lang 'account.returns.status.authorized'}}</h6>
        {{/compare}}
        {{#compare this.status 'ReturnStatusRepaired' operator='===' }}
            <h6 class="account-info-status order-info-status">{{@lang 'account.returns.status.repaired'}}</h6>
        {{/compare}}
        {{#compare this.status 'ReturnStatusRefunded' operator='===' }}
            <h6 class="account-info-status order-info-status">{{@lang 'account.returns.status.refunded'}}</h6>
        {{/compare}}
        {{#compare this.status 'ReturnStatusRejected' operator='===' }}
            <h6 class="account-info-status order-info-status">{{@lang 'account.returns.status.rejected'}}</h6>
        {{/compare}}
        {{#compare this.status 'ReturnStatusCancelled' operator='===' }}
            <h6 class="account-info-status order-info-status">{{@lang 'account.returns.status.cancelled'}}</h6>
        {{/compare}}
    </li>
    {{/each}}
</ul>
