.bulk-form-field {
    display: grid;
}

.bulk-form-row {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    grid-column-gap: 8px;
}

.bulk-form-col {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bulk-product-image {
    max-height: 100px;
    width: auto;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.253);
}

.bulk-add-cart {
    float: right;
}

.cart-row {
    float: right;
    margin-right: 16px;
    display: grid;
    grid-template-columns: 2fr repeat(1, 1fr);
}
