// CURATION MODULE
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Use object-fit on the image tag to keep aspect ratio and cover the space
//    created by the outer div. The JS will detect browsers that do not support
//    object-fit and instead copy the image src to a the background-image of the
//    wrapper div and add the compat-object-fit class.
//
// 2. Visually overrides the top margin for '.body' defined in _body.scss.
//    The '.body' top margin creates space between the header and page content.
//    However, on the homepage, we want the carousel to be flush with the header.
//
// 3. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------

.curationModule {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    min-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    @include breakpoint("small") {
        flex-direction: row;
    }

    > a {
        &:first-child .curationModule-item {
            margin-right: 0;
        }

        &:last-child .curationModule-item {
            margin-left: 0;
        }
    }
}

.curationModule-item {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;

    // overriding .heroCarousel content
    .heroCarousel-content {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: flex-end;
        right: unset;
        margin: unset;
        padding: unset;
        transform: unset;
        padding-bottom: 30px;
        background-color: unset;
    }
}

.curationModule--aside {
    display: flex;
}

@include breakpoint("medium") {
    .curationModule--main {
        flex: 3 0;
    }
    .curationModule--aside {
        display: block;
        flex: 1 0 0;
    }
}