<div id="alert-modal" class="modal modal--alert modal--small" data-reveal data-prevent-quick-search-close>
    <div class="alert-icon error-icon">
        <span class="icon-content">
            <span class="line line-left"></span>
            <span class="line line-right"></span>
        </span>
    </div>

    <div class="alert-icon warning-icon">
        <div class="icon-content">!</div>
    </div>

    <div class="modal-content"></div>

    <div class="button-container">
        <button type="button" class="confirm button" data-reveal-close>{{lang 'common.ok'}}</button>
        <button type="button" class="cancel button" data-reveal-close>{{lang 'common.cancel'}}</button>
    </div>
</div>
