// =============================================================================
// WRITE A REVIEW (CSS)
// =============================================================================

.writeReview-productDetails {

    @include breakpoint("medium") {
        @include grid-column(6);
    }

    .product-brand {
        color: color("greys", "light");
        margin: 0;
    }

    .product-title {
        margin-top: 0;
    }
}


.writeReview-form {

    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

.writeReview-productImage-container {
    position: relative;

    img {
        @include lazy-loaded-img;
        height: 100%;
        object-fit: contain;
        /* Object-fit polyfill */
        font-family: 'object-fit: contain;';
    }

    @include lazy-loaded-padding('product_size');
}
