// =============================================================================
// PAGINATION (Settings)
// =============================================================================


// Bigcommerce Variables
// -----------------------------------------------------------------------------
//
// These scoped variables are created by Bigcommerce.
// All variables that are not from Foundation should be placed here.
//
// 1. Choose whether to include the Bigcommerce class names
//
// -----------------------------------------------------------------------------

$exportCSS--pagination:                  true;

$pagination-display:                     null;

$pagination-link-borderRadius--current:  null;


// Foundation Variables
// -----------------------------------------------------------------------------

// We use these to control the pagination container
$pagination-height:                      null;
$pagination-margin:                      0;

// We use these to set the list-item properties
$pagination-li-float:                    null;
$pagination-li-height:                   null;
$pagination-li-font-color:               stencilColor("color-textSecondary");
$pagination-li-font-size:                fontSize("base");
$pagination-li-margin:                   spacing("quarter");

// We use these for the pagination anchor links
$pagination-link-pad:                    spacing("fifth") spacing("third");
$pagination-link-font-color:             stencilColor("color-textSecondary");
$pagination-link-active-bg:              null;

// We use these for disabled anchor links
$pagination-link-unavailable-cursor:     $cursor-default-value;
$pagination-link-unavailable-font-color: null;
$pagination-link-unavailable-bg-active:  null;

// We use these for currently selected anchor links
$pagination-link-current-background:     null;
$pagination-link-current-font-color:     stencilColor("color-textLink");
$pagination-link-current-font-weight:    null;
$pagination-link-current-cursor:         $cursor-default-value;
$pagination-link-current-active-bg:      null;


// Stencil Variables
// -----------------------------------------------------------------------------

$pagination-item-border:                1px solid transparent;

$pagination-link-current-borderColor:   container("borderColor");
$pagination-link-current-borderRadius:  $global-radius;
$pagination-link-current-margin:        0 spacing("quarter") 0 spacing("half");

$pagination-item-previousNext-color:        stencilColor("color-textLink");
$pagination-item-previousNext-color-hover:  stencilColor("color-textLink--hover");

$pagination-link-transition:            all 0.2s ease;
$pagination-link-color-hover:           stencilColor("color-textSecondary--hover");

$pagination-list--small-color:          stencilColor("color-textSecondary");
$pagination-list--small-lineHeight:     lineHeight("base");
$pagination-list--small-link-padding:   0 spacing("quarter");
