// =============================================================================
// PRODUCT VIEW (Settings)
// =============================================================================


$productView-brand-link-color:              $color-textSecondary;
$productView-brand-link-color--hover:       $color-textSecondary-hover;
$productView-brand-link-color--active:      $color-textSecondary-active;
