.header {
  background-color: $header-bg;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: zIndex("higher");
  border-bottom: 0;
  box-shadow: lightgrey 0 remCalc(-21) remCalc(12) remCalc(22);
  height: spacing("single") * 2.5;

  &.is-open {
    height: 100%;
  }

  @include breakpoint("medium") {
    border-bottom: container("border");
    overflow: visible;
    position: fixed;
    height: spacing("single") * 3.5;
    padding: 0;

    &.is-open {
      height: auto;
    }
  }

  .navPages-container {
    &.is-open {
      display: block;
      padding-top: 0;
      z-index: zIndex('low');
    }

    @include breakpoint("medium") {
      display: block;
      height: spacing("single") * 3.5;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 40%;
    }
  }


  .header-logo {
    font-size: 0; // 1
    margin: 0 remCalc($header-toggle-width); // 2
    text-align: center;

    @include breakpoint("medium") {
      margin: 0;
      padding: 0;
      height: spacing("single") * 3.5;

      .header.fixed & {
        background-color: color("greys", "lightest");
        margin: 0;
        padding: spacing("quarter") 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    & > a {
      @include clearfix;
      color: $storeName-color;
      display: inline-block;
      padding: $header-logo-paddingVertical 0;
      position: relative;
      text-decoration: none;
      width: 60%;
      z-index: zIndex("low");

      // scss-lint:disable NestingDepth
      @include breakpoint("medium") {
        padding: 0;
        height: 100%;
      }

      &:hover {
        color: color("link", "hover");
      }

      &:active {
        color: color("link", "active");
      }
    }
  }

  // Mobile Toggle Menu
  .mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");
  
    @include breakpoint("medium") {
      display: none;
    }
  
    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
      background: $header-font-color;
      content: "";
      display: block;
      height: remCalc(3);
      position: absolute;
      transform: rotate(0deg);
      transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
      width: 1.22857rem;
    }
  
    .mobileMenu-toggleIcon {
      top: remCalc(27);
      transition: background-color 10ms ease-in 100ms;
    }
  
    .mobileMenu-toggleIcon::before {
      top: -0.35rem;
    }
  
    .mobileMenu-toggleIcon::after {
      bottom: -0.35rem;
    }
  
    &.is-open {
      left: auto;
      right: 0;

      .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;
    
        // scss-lint:disable NestingDepth
        &::before,
        &::after {
          background-color: $header-font-color;
          bottom: auto;
          top: auto;
          transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }
    
        &::before {
          top: 0;
          transform: rotate(45deg);
        }
    
        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .header-logo-image-container {
    position: relative;

    &:after {
      content: '';
      display: block;
      padding-bottom: remCalc($header-height) - $header-logo-marginVertical * 2;
  
      @include breakpoint("medium") {
          padding-bottom: get-height(stencilString('logo_size'));
      }
    }

    .header-logo-image {
      @include lazy-loaded-img;
      height: spacing("single") * 2.5;

      @include breakpoint("medium") {
        max-height: none;
        height: spacing("single") * 3;
      }
    }
  }

  .navPages {
    background: stencilColor("color-white");
    padding-right: spacing("single") * 2.5;

    .navPage-subMenu {
      display: block;
      .navPage-subMenu-list li:first-child {
        display: none;
      }

      @include breakpoint("medium") {
        position: absolute;
        width: remCalc(600);
        top: remCalc(69);
        background: transparent;
        padding: 0 !important;

        &.one-column {
          width: auto;

          .navPage-subMenu-list {
            column-count: 1;
          }
        }

        .navPage-subMenu-list {
          max-width: 85.71429rem;
          width: 100%;
          border-left: 0;
          margin: auto;
          padding-left: 0;
          column-count: 3;
          margin-top: remCalc(3);
          background: stencilColor("color-white");
          padding: stencilNumber("padding-normal");

          .navPage-subMenu-item {
            float: none;
            width: 100%;
            padding: 0 !important;

            a {
              border-bottom: 0;
              margin: remCalc(3) 0;
              padding: 0;
              background: stencilColor("color-white");
            }
          }
          
          .navPage-childList-item {
            .navPage-childList-action {
              text-transform: capitalize;
              font-weight: fontWeight('thin') !important;
            }
          }
        }
      }
    }

    .navPage-childList-item {
      padding-left: stencilNumber("padding-small");
    }

    .tabs {
      position: relative;
      display: block;
      width: 100%;
      height: remCalc(210);
      margin-top: stencilNumber("padding-small") * .5;
      border: none;

      @include breakpoint("medium") {
        display: none;
      }
    
      section {
        position: absolute;
        display: block;
        top: remCalc(25);
        left: 0;
        height: calc(100vh - 60px);
        background-color: stencilColor("color-white");
        z-index: 0;
        width: 100%;
        &:first-child {
          z-index: 1;
        }
        h2 {
          position: absolute;
          font-size: fontSize('base');
          font-weight: normal;
          width: 50%;
          top: -2.8em;
          left: 0;
          padding: 0;
          margin: 0;
          padding: stencilNumber("padding-small") * .5 stencilNumber("padding-normal");
          color: stencilColor("color-greyDarkest");
          font-weight: fontWeight("bold");
    
          a {
            display: block;
            width: 100%;
            line-height: remCalc(25);
            text-align: center;
            text-decoration: none;
            color: inherit;
            outline: 0 none;
          }
        }
        &:target {
          z-index: 2;
          h2 {
            z-index: 2;
            border-bottom: solid 1px stencilColor("color-greyDarkest");
          }
        }
        &:nth-child(2) h2 {
          left: 50%;
        }
      }
    }

    .desktop-nav {
      display: none;
          
      @include breakpoint("medium") {
        height: 100%;
        display: block;
        padding-left: 1.5rem;

        .nav-bar {
          height: 100%;
          text-align: left;

          .nav-item {
            height: 100%;
            display: inline-flex;
            align-items: center;

            a {
              font-size: fontSize('base');
              font-weight: fontWeight("bold");
              text-decoration: none;
              padding: 0 stencilNumber("padding-normal");
              cursor: pointer;
              color: stencilColor("navUser-color");
            }

            &:hover .navPage-subMenu {
              display: block;
            }

            .navPage-subMenu {
              display: none;
              position: absolute;
            }
          }
        }
      }
    }

  }
  
  // Right Nav
  .navUser {
    .cart-icon {
      width: remCalc(18);
      height: remCalc(18);
    }

    @include breakpoint("medium") {
      height: spacing("single") * 3.5;
      line-height: spacing("single") * 3.5;
      top: 0;
      transform: translateY(0);
      position: absolute;
      max-width: 40%;
      right: 0;

      .navUser-action {
        text-transform: capitalize;
      }
    }
  }
}
