// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
//
// -----------------------------------------------------------------------------

.header {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: zIndex("low");

    @include breakpoint("medium") {
        display: table;
    }

    &.is-open {
        height: 100%;

        @include breakpoint("medium") {
            height: auto;
        }
    }
}

.header-logo {
    font-size: 0;   // 1
    margin: 0;
    text-align: center; //center on mobile

    @include breakpoint("medium") {
        float: left; //left on desktop
        margin-left: 20px;
    }

    > a {
        background-color: $brand-red;
        display: inline-block;
        height: 54px;
        padding: 0 15px;
        position: relative;
        text-decoration: none;
        transform: skew(-12deg);
        width: 150px;
        z-index: 51;

        // scss-lint:disable NestingDepth
        @include breakpoint("medium") {
            height: 66px;
            margin: 0;
            padding: 25px 15px;
            width: 176px;
        }

        &:hover {
            color: color("link", "hover");
        }

        &:active {
            color: color("link", "active");
        }
    }

    img {
        margin-top: 6px;
        transform: skew(12deg);
        width: 146px;

        @include breakpoint("medium") {
            margin-top: -15px;
        }
    }
}

header nav {
    @include breakpoint("medium") {
        display: table-cell;
        height: 66px;
        vertical-align: middle;
        width: 100%;
    }

    ul li a {
        line-height: 200%;
    }

    .fi-magnifying-glass {
        font-size: 20px;
    }

    .navUser-section--alt {
        float: right;
    }
}

header.shrink {
    nav {
        @include breakpoint("medium") {
            height: 45px;
            padding-top: 2px;
        }
    }

    .header-logo > a {
        @include breakpoint("medium") {
            height: 50px;
            margin: 0;
            padding: 25px 15px;
            width: 130px;
        }
    }

}

.header-spacer { //because the header is fixed, the page needs some extra padding on top so it doesn't get covered.
    @include breakpoint("medium") {
        height: 66px;
    }
}


//search
#search-bar {
    margin-right: 6px;
    margin-top: 6px;
    position: relative;

    i {
        left: 10px;
        position: absolute;
        top: 0;
    }

    input {
        background: transparent;
        border: 0;
        border-radius: 30px;
        color: transparent;
        cursor: pointer;
        padding: 5px;
        padding-left: 10px;
        position: relative;
        width: 15px;
        z-index: 5;

        &:focus {
            border: 1px solid #ccc;
            color: #000;
            cursor: auto;
            outline: none;
            padding-left: 32px;
            width: 130px;
        }
    }
}

//short dropdowns
.short-dropdowns a {
    min-width: 150px;
    padding: 10px 15px;

    &:hover {
        background-color: #efefef;
        color: #111;
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $header-font-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: remCalc(27);
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            background-color: $header-font-color;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}
