// =============================================================================
// CARDS (CSS)
// =============================================================================


.card-figure {
    margin-top: 0;
}

.card-figcaption {
    margin: 0;
}

.card-figcaption-body {
    display: inline-block;
}

.card-title {
    font-size: fontSize("smaller");
    margin: 0 0 spacing("eighth");

    > a {
        text-decoration: none;
    }
}

.card-text {
    margin-bottom: spacing("eighth");
}

.card-figcaption-button {
    border: none;
    display: block;
    margin: 0;

    + .card-figcaption-button {
        margin: spacing("quarter") 0 0;
    }
}
