// =============================================================================
// TEXT TRUNCATE
// =============================================================================


// Component
@import "textTruncate";
