// =============================================================================
// TEXT TRUNCATE (CSS)
// =============================================================================


// Text Truncate
// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------
.textTruncate {
    padding-bottom: spacing("single");
    position: relative;
}

.textTruncate--hidden {
    max-height: 110px;
    overflow: hidden;
}

.textTruncate-viewMore {
    background-color: stencilColor("body-bg");
    bottom: 0;
    padding-top: 10px;
    position: absolute;
    width: 100%;
}
