// =============================================================================
// TEXT TRUNCATE (CSS)
// =============================================================================


// Text Truncate
// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------
.textTruncate {
    padding-bottom: spacing("single");
    position: relative;
    transition: max-height 100ms ease-out;
}

.js .textTruncate {
    max-height: 110px;
    overflow: hidden;
}

.js .textTruncate--visible {
    max-height: remCalc(1000);
}

.textTruncate-viewMore {
    background-color: stencilColor("body-bg");
    bottom: 0;
    padding-top: 10px;
    position: absolute;
    width: 100%;
}
