// =============================================================================
// TEXT (Tools)
// =============================================================================


// Text Kerning
// -----------------------------------------------------------------------------

@mixin u-textKern($important: null) {

    // -------------------------------------------------------------------------
    //
    // 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
    // 2. Chrome (not Windows), Firefox, IE 10+
    // 3. Safari 7 and future browsers
    //
    // -------------------------------------------------------------------------

    text-rendering: optimizeLegibility $important; // 1
    font-feature-settings: "kern" 1 $important; // 2
    font-kerning: normal $important; // 3
}


// Text Lead
// -----------------------------------------------------------------------------

@mixin u-textLead($important: null) {

    line-height: 1.6 $important;
    font-size: 1.1em $important;
}


// Text Truncate
// -----------------------------------------------------------------------------

@mixin u-textTruncate($important: null) {

    // -------------------------------------------------------------------------
    //
    // 1. Ensure that the node has a maximum width after which truncation
    //    can occur.
    // 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
    //    nodes.
    //
    // -------------------------------------------------------------------------

    max-width: 100% $important; // 1

    overflow: hidden $important;
    text-overflow: ellipsis $important;
    white-space: nowrap $important;
    word-wrap: normal $important; // 2
}


// Font Smoothing
// -----------------------------------------------------------------------------

@mixin u-fontSmoothing($important: null) {
    -moz-osx-font-smoothing: grayscale $important;
    -webkit-font-smoothing: antialiased $important;
}

