// =============================================================================
// CONTAINERS
// =============================================================================
//
// Purpose:
// The centralised place to control container settings like borders and fill.
//
// -----------------------------------------------------------------------------


// Borders
// -----------------------------------------------------------------------------

$container-border-global-size:          1px;

$container-border-global-style:         solid;

$container-border-global-color-base:    $color-greyLightest;
$container-border-global-color-dark:    $color-greyDarker;

$container-border-global-base:          $container-border-global-size $container-border-global-style $container-border-global-color-base;
$container-border-global-dark:          $container-border-global-size $container-border-global-style $container-border-global-color-dark;


// Drop shadows
// -----------------------------------------------------------------------------

$container-drop-shadow-base:            0 1px 2px $color-greyLighter;


// Backgrounds
// -----------------------------------------------------------------------------

$container-fill-base:                   $color-white;
$container-fill-dark:                   $color-greyLightest;


// Padding
// -----------------------------------------------------------------------------

$container-padding-base:                $spacing-single;
$container-padding-large:               $spacing-single + $spacing-third;


// Margin
// -----------------------------------------------------------------------------

$container-margin-base:                 $spacing-single;
