// =============================================================================
// STENCIL (Settings)
// =============================================================================

@import "heroCarousel/settings";

@import "productCarousel/settings";

@import "productView/settings";

@import "ribbon/settings";

@import "tags/settings";

@import "socialLinks/settings";

@import "facetLabel/settings";

@import "facetedSearch/settings";

@import "videoGallery/settings";

@import "navPages/settings";

@import "navUser/settings";

@import "maintenanceNotice/settings";
