<div class="heroCarousel">
    <!-- <div class="heroVideo-items heroVideo-item-carousel">
    </div> -->

    <div class="hero-carousel-container">
        <div class="hero-carousel-background">
        </div>
        <div class="hero-item-carousel-item" id="hero-item-0">
            <img class="hero-item-carousel-item-image active-image" src="../../../../assets/img/hero/hero-item-1.jpg"
                alt="Bynuna Firearms">
            <div class="hero-item-content-container">
                <div class="hero-item-carousel-item-content">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 754.51 252.5">
                        <defs>
                            <style>
                                .cls-1,
                                .cls-2 {
                                    fill: #231f20;
                                }

                                .cls-3,
                                .cls-4,
                                .cls-5 {
                                    fill: #fff;
                                }

                                .cls-6 {
                                    stroke-miterlimit: 5;
                                }

                                .cls-6,
                                .cls-7 {
                                    fill: none;
                                }

                                .cls-6,
                                .cls-5 {
                                    stroke: #fff;
                                }

                                .cls-2 {
                                    stroke: #231f20;
                                }

                                .cls-2,
                                .cls-5 {
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                }

                                .cls-4 {
                                    font-family: Round-Bold, Round;
                                    font-size: 39px;
                                    font-weight: 700;
                                    letter-spacing: .03em;
                                }
                            </style>
                        </defs>
                        <g id="Layer_1" data-name="Layer 1">
                            <text class="cls-4" transform="translate(129.51 196.38)">
                                <tspan x="0" y="0">PRECISION MADE PERFECT</tspan>
                            </text>
                            <g>
                                <path class="cls-6"
                                    d="M645.95,174.82s36-.83,41.3.66c0,0,21.43,1.74,36.99,9.43,0,0,2.32.99,0,2.73,0,0-8.77,6.04-42.46,9.43l-35.83.08s-4.06-.33-5.71-3.06v-16.06s1.99-2.65,5.71-3.23Z" />
                                <path
                                    d="M646.63,194.58h41.74s27.41-2.52,32.94-6.37c0,0,6.49-2.16,0-3.61,0,0-7.21-2.77-9.86-2.52l.11-.5h-2.5l1.24-.47s-.25-.18-.56-.09l-.62.04s-12.64-4.49-31.51-4.49h-30.87v.44s2.61.81,12.81.39c0,0,3.1-.04,3.63.51,0,0,.61.85,2.37.2,0,0,1.16-.36,1.14.47l-6.71-.02s-3.22-.02-6.57.57c0,0-2.59-.06-4.84-.16,0,0-1.18-.08-2.09.16,0,0-.04.49-.67.61,0,0-.71.2-1.05,1.01,0,0-.08.36-1.28.79,0,0-1.46,1.72,0,3.16,0,0,.24.34,1.56-.12h31.02s.45-.45.64.17c0,0,4.24.71,18.88.09l18.59.73h2.31s1.69-.06,1.9.71l-.18.68s-14.5,1.9-30.23,2.83c0,0-9.46.86-19.97.43,0,0-11.18-.98-22.3.06,0,0-.98,1.68.92,4.3Z" />
                            </g>
                            <rect class="cls-7" width="754.51" height="252.5" />
                        </g>
                        <g id="Layer_3" data-name="Layer 3">
                            <g>
                                <polygon class="cls-5"
                                    points="41.99 196.14 119.21 197.26 115.24 119.92 122.56 119.92 114.12 104.28 110.77 52.52 105.8 44.7 101.58 52.27 97.61 44.7 93.14 52.27 88.3 43.46 84.45 50.66 80.97 43.46 76.75 51.65 72.04 43.46 68.06 51.52 63.47 43.46 59.25 51.28 54.66 43.95 49.32 53.76 46.96 97.33 37.53 110.12 47.21 110.12 41.99 196.14" />
                                <path class="cls-2"
                                    d="M44.15,194.55l5.05-85.9h-7.86l7.61-10.47,2.73-44.07,2.9-5.38,4.47,7.28,4.53-7.28,4.32,7.2,4.39-7.7,4.22,8.03,4.3-8.03,3.31,7.61v28.63s-.93,48.66-10.02,98.32c0,0-9.71,11.97-29.95,11.75Z" />
                                <polygon class="cls-3" points="73.94 99.61 70.53 109.17 77.66 109.17 73.94 99.61" />
                                <rect class="cls-3" x="60.97" y="98.18" width="2.61" height="10.99" />
                                <rect class="cls-1" x="92.87" y="98.18" width="2.61" height="10.99" />
                                <rect class="cls-1" x="101.75" y="62.37" width="2.61" height="10.99" />
                                <rect class="cls-1" x="88.03" y="62.37" width="2.61" height="10.99" />
                                <rect class="cls-3" x="68.29" y="62.37" width="2.61" height="10.99" />
                                <rect class="cls-3" x="53.27" y="62.37" width="2.61" height="10.99" />
                            </g>
                        </g>
                        <g id="A">
                            <g>
                                <path class="cls-3"
                                    d="M214.48,87.22s1.13-.75,1.13-5.81v-19.69s-.56-14.91-16.13-16.13h-69.96v90.6h74.46s14.07-2.25,15.01-18.19v-20.82s-.94-8.25-4.5-9.94ZM148.27,64.15h48.58v16.32h-48.58v-16.32ZM200.41,117.42h-52.14v-17.63h52.14v17.63Z" />
                                <polygon class="cls-3"
                                    points="223.3 44.83 264.75 102.6 264.75 136.92 284.07 136.92 284.07 102.5 325.9 44.83 302.73 44.83 274.6 81.12 246.27 44.83 223.3 44.83" />
                                <polyline class="cls-3"
                                    points="328.94 44.36 328.94 136.92 348.26 136.92 348.26 75.32 398.91 136.92 418.79 136.92 418.79 44.36 399.47 44.36 399.47 105.52 349.01 44.36 328.94 44.36" />
                                <path class="cls-3"
                                    d="M432.86,44.36v75.23s1.02,17.27,16.36,17.27h57.56s13.22-1.03,16.18-16.51V44.36h-19.69v72.33h-51.21V44.36h-19.2" />
                                <polyline class="cls-3"
                                    points="536.89 44.36 536.89 136.85 555.88 136.85 555.88 75.19 606.66 136.85 626.36 136.85 626.36 44.36 607.08 44.36 607.08 105.58 556.44 44.36 536.89 44.36" />
                                <path class="cls-3"
                                    d="M714.61,44.36h-57.4c-15.94,4.43-16.13,17.7-16.13,17.7v74.79h19.32v-29.78h51.21v29.78h19.13V61.31c-.38-13.88-16.13-16.95-16.13-16.95ZM711.61,86.82h-51.21v-22.32h51.21v22.32Z" />
                            </g>
                        </g>
                        <g id="Layer_12" data-name="Layer 12">
                            <path class="cls-3"
                                d="M127.46,164.12l3.04-3.04h477.99s3.35.43,4.97-1.8c-.12.25,3.35-2.23,3.35-2.23l-.39-.42H135.04s1.61-1.86,4.01-3.06l552.95-.43,5.96-3.97H181.55l4.84-4.84h321.14l1.99-1.61h221.21v21.42H127.46Z" />
                        </g>
                    </svg> -->
                    <h3>Precision Made Perfect</h3>
                    <h5>For any task, we have the right rifle.</h5>
                    <p>Shop our wide range of rifles and parts to suit your needs. We have a wide range of rifles and parts to apply to any task.</p>
                    <a href="#" class="button-hero-carousel">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="hero-item-carousel-item" id="hero-item-1">
            <img class="hero-item-carousel-item-image" src="../../../../assets/img/hero/hero-item-3.jpg"
                alt="Bynuna Firearms">
            <div class="hero-item-content-container">
                <div class="hero-item-carousel-item-content">
                    <h3>Hunting Season</h3>
                    <h5>We've got you covered</h5>
                    <p>Our rifles and parts are built to last. We offer a wide range of rifles and parts to suit your hunting needs.</p>
                    <a href="#" class="button-hero-carousel">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="hero-item-carousel-item" id="hero-item-2">
            <img class="hero-item-carousel-item-image active-image" src="../../../../assets/img/hero/hero-item-2.jpg"
                alt="Bynuna Firearms">
            <div class="hero-item-content-container">
                <div class="hero-item-carousel-item-content">
                    <h3>Try our Digital Gunsmith</h3>
                    <h5>Don't wait, build your rifle today!</h5>
                    <p>Our digital gunsmith is a tool that allows you to build your rifle online. You can choose from a wide range of rifles and parts to suit your needs.</p>
                    <a href="#" class="button-hero-carousel">Build Now</a>
                </div>
            </div>
        </div>
        <div class="hero-item-carousel-item" id="hero-item-3">
            <img class="hero-item-carousel-item-image active-image" src="../../../../assets/img/hero/hero-item-4.jpg"
                alt="Bynuna Firearms">
            <div class="hero-item-content-container">
                <div class="hero-item-carousel-item-content">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 754.51 252.5">
                        <defs>
                            <style>
                                .cls-1,
                                .cls-2 {
                                    fill: #231f20;
                                }

                                .cls-3,
                                .cls-4,
                                .cls-5 {
                                    fill: #fff;
                                }

                                .cls-6 {
                                    stroke-miterlimit: 5;
                                }

                                .cls-6,
                                .cls-7 {
                                    fill: none;
                                }

                                .cls-6,
                                .cls-5 {
                                    stroke: #fff;
                                }

                                .cls-2 {
                                    stroke: #231f20;
                                }

                                .cls-2,
                                .cls-5 {
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                }

                                .cls-4 {
                                    font-family: Round-Bold, Round;
                                    font-size: 39px;
                                    font-weight: 700;
                                    letter-spacing: .03em;
                                }
                            </style>
                        </defs>
                        <g id="Layer_1" data-name="Layer 1">
                            <text class="cls-4" transform="translate(129.51 196.38)">
                                <tspan x="0" y="0">PRECISION MADE PERFECT</tspan>
                            </text>
                            <g>
                                <path class="cls-6"
                                    d="M645.95,174.82s36-.83,41.3.66c0,0,21.43,1.74,36.99,9.43,0,0,2.32.99,0,2.73,0,0-8.77,6.04-42.46,9.43l-35.83.08s-4.06-.33-5.71-3.06v-16.06s1.99-2.65,5.71-3.23Z" />
                                <path
                                    d="M646.63,194.58h41.74s27.41-2.52,32.94-6.37c0,0,6.49-2.16,0-3.61,0,0-7.21-2.77-9.86-2.52l.11-.5h-2.5l1.24-.47s-.25-.18-.56-.09l-.62.04s-12.64-4.49-31.51-4.49h-30.87v.44s2.61.81,12.81.39c0,0,3.1-.04,3.63.51,0,0,.61.85,2.37.2,0,0,1.16-.36,1.14.47l-6.71-.02s-3.22-.02-6.57.57c0,0-2.59-.06-4.84-.16,0,0-1.18-.08-2.09.16,0,0-.04.49-.67.61,0,0-.71.2-1.05,1.01,0,0-.08.36-1.28.79,0,0-1.46,1.72,0,3.16,0,0,.24.34,1.56-.12h31.02s.45-.45.64.17c0,0,4.24.71,18.88.09l18.59.73h2.31s1.69-.06,1.9.71l-.18.68s-14.5,1.9-30.23,2.83c0,0-9.46.86-19.97.43,0,0-11.18-.98-22.3.06,0,0-.98,1.68.92,4.3Z" />
                            </g>
                            <rect class="cls-7" width="754.51" height="252.5" />
                        </g>
                        <g id="Layer_3" data-name="Layer 3">
                            <g>
                                <polygon class="cls-5"
                                    points="41.99 196.14 119.21 197.26 115.24 119.92 122.56 119.92 114.12 104.28 110.77 52.52 105.8 44.7 101.58 52.27 97.61 44.7 93.14 52.27 88.3 43.46 84.45 50.66 80.97 43.46 76.75 51.65 72.04 43.46 68.06 51.52 63.47 43.46 59.25 51.28 54.66 43.95 49.32 53.76 46.96 97.33 37.53 110.12 47.21 110.12 41.99 196.14" />
                                <path class="cls-2"
                                    d="M44.15,194.55l5.05-85.9h-7.86l7.61-10.47,2.73-44.07,2.9-5.38,4.47,7.28,4.53-7.28,4.32,7.2,4.39-7.7,4.22,8.03,4.3-8.03,3.31,7.61v28.63s-.93,48.66-10.02,98.32c0,0-9.71,11.97-29.95,11.75Z" />
                                <polygon class="cls-3" points="73.94 99.61 70.53 109.17 77.66 109.17 73.94 99.61" />
                                <rect class="cls-3" x="60.97" y="98.18" width="2.61" height="10.99" />
                                <rect class="cls-1" x="92.87" y="98.18" width="2.61" height="10.99" />
                                <rect class="cls-1" x="101.75" y="62.37" width="2.61" height="10.99" />
                                <rect class="cls-1" x="88.03" y="62.37" width="2.61" height="10.99" />
                                <rect class="cls-3" x="68.29" y="62.37" width="2.61" height="10.99" />
                                <rect class="cls-3" x="53.27" y="62.37" width="2.61" height="10.99" />
                            </g>
                        </g>
                        <g id="A">
                            <g>
                                <path class="cls-3"
                                    d="M214.48,87.22s1.13-.75,1.13-5.81v-19.69s-.56-14.91-16.13-16.13h-69.96v90.6h74.46s14.07-2.25,15.01-18.19v-20.82s-.94-8.25-4.5-9.94ZM148.27,64.15h48.58v16.32h-48.58v-16.32ZM200.41,117.42h-52.14v-17.63h52.14v17.63Z" />
                                <polygon class="cls-3"
                                    points="223.3 44.83 264.75 102.6 264.75 136.92 284.07 136.92 284.07 102.5 325.9 44.83 302.73 44.83 274.6 81.12 246.27 44.83 223.3 44.83" />
                                <polyline class="cls-3"
                                    points="328.94 44.36 328.94 136.92 348.26 136.92 348.26 75.32 398.91 136.92 418.79 136.92 418.79 44.36 399.47 44.36 399.47 105.52 349.01 44.36 328.94 44.36" />
                                <path class="cls-3"
                                    d="M432.86,44.36v75.23s1.02,17.27,16.36,17.27h57.56s13.22-1.03,16.18-16.51V44.36h-19.69v72.33h-51.21V44.36h-19.2" />
                                <polyline class="cls-3"
                                    points="536.89 44.36 536.89 136.85 555.88 136.85 555.88 75.19 606.66 136.85 626.36 136.85 626.36 44.36 607.08 44.36 607.08 105.58 556.44 44.36 536.89 44.36" />
                                <path class="cls-3"
                                    d="M714.61,44.36h-57.4c-15.94,4.43-16.13,17.7-16.13,17.7v74.79h19.32v-29.78h51.21v29.78h19.13V61.31c-.38-13.88-16.13-16.95-16.13-16.95ZM711.61,86.82h-51.21v-22.32h51.21v22.32Z" />
                            </g>
                        </g>
                        <g id="Layer_12" data-name="Layer 12">
                            <path class="cls-3"
                                d="M127.46,164.12l3.04-3.04h477.99s3.35.43,4.97-1.8c-.12.25,3.35-2.23,3.35-2.23l-.39-.42H135.04s1.61-1.86,4.01-3.06l552.95-.43,5.96-3.97H181.55l4.84-4.84h321.14l1.99-1.61h221.21v21.42H127.46Z" />
                        </g>
                    </svg> -->
                    <h3>Competition</h3>
                    <h5>Perfected Precision</h5>
                    <p>Competition is in our blood. That is why we have carefully tested and curated a wide range of rifles and parts to suit your competition needs.</p>
                    <a href="#" class="button-hero-carousel">Shop Now</a>
                </div>
            </div>
        </div>



        <!-- <div class="hero-item-carousel-item">
            <img class="hero-item-carousel-item-image" src="../../../../assets/img/hero/hero-item-2.jpg" alt="Bynuna Firearms">
        </div> -->

        <div class="hero-container-controls">
            <div class="hero-container-controls-item" id="hero-container-controls-item-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
                </svg>
            </div>

            <div class="hero-container-controls-item" id="hero-container-controls-item-right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
                </svg>
            </div>
        </div>
    </div>


</div>

<script>

    // Carousel functionality
    class HeroCarousel {
        constructor() {
            this.container = document.querySelector('.hero-carousel-container');
            this.items = document.querySelectorAll('.hero-item-carousel-item');
            this.leftBtn = document.querySelector('#hero-container-controls-item-left');
            this.rightBtn = document.querySelector('#hero-container-controls-item-right');
            this.currentIndex = 0;
            this.itemWidth = 100; // 100% width
            this.gap = 1.2; // 1.2rem gap - updated to match CSS
            this.autoSlideInterval = null;
            this.autoSlideDelay = 5000; // 5 seconds

            this.init();
        }

        init() {
            this.setupItems();
            this.setupEventListeners();
            this.updateControls();
            this.startAutoSlide();
        }

        setupItems() {
            // Get all carousel items and sort them by their actual order in the DOM
            this.items = Array.from(this.items).sort((a, b) => {
                const aIndex = parseInt(a.id.replace('hero-item-', ''));
                const bIndex = parseInt(b.id.replace('hero-item-', ''));
                return aIndex - bIndex;
            });

            this.items.forEach((item, index) => {
                // Remove existing classes
                item.classList.remove('active-hero-item', 'first-hero-item', 'last-hero-item');

                // Set initial positions - adjust for space-between layout
                const translateX = index * (this.itemWidth + this.gap);
                item.style.transform = `translateX(${translateX}%)`;
                item.style.transition = 'transform 0.9s ease-in-out';

                // Set active state
                if (index === 0) {
                    item.classList.add('active-hero-item', 'first-hero-item');
                } else if (index === this.items.length - 1) {
                    item.classList.add('last-hero-item');
                }
            });
        }

        setupEventListeners() {
            this.leftBtn.addEventListener('click', () => {
                this.previous();
                this.resetAutoSlide();
            });
            this.rightBtn.addEventListener('click', () => {
                this.next();
                this.resetAutoSlide();
            });
        }

        startAutoSlide() {
            this.autoSlideInterval = setInterval(() => {
                this.autoNext();
            }, this.autoSlideDelay);
        }

        resetAutoSlide() {
            if (this.autoSlideInterval) {
                clearInterval(this.autoSlideInterval);
            }
            this.startAutoSlide();
        }

        autoNext() {
            if (this.currentIndex < this.items.length - 1) {
                this.currentIndex++;
            } else {
                // Loop back to the beginning
                this.currentIndex = 0;
            }
            this.slide();
            restartEventListeners();
        }

        previous() {
            if (this.currentIndex > 0) {
                this.currentIndex--;
                this.slide();
                restartEventListeners();
            }
        }

        next() {
            if (this.currentIndex < this.items.length - 1) {
                this.currentIndex++;
                this.slide();
                restartEventListeners();
            }
        }

        slide() {
            const offset = this.currentIndex * (this.itemWidth + this.gap) * 2;
            console.log('Sliding to index:', this.currentIndex, 'offset:', offset);

            this.items.forEach((item, index) => {
                const translateX = (index * (this.itemWidth + this.gap)) - offset;
                item.style.transform = `translateX(${translateX}%)`;
                console.log(`Item ${index}: translateX(${translateX}%)`);

                // Update classes
                item.classList.remove('active-hero-item', 'first-hero-item', 'last-hero-item');
                if (index === this.currentIndex) {
                    item.classList.add('active-hero-item');
                    console.log(`Setting item ${index} as active`);
                }
                if (index === 0) {
                    item.classList.add('first-hero-item');
                }
                if (index === this.items.length - 1) {
                    item.classList.add('last-hero-item');
                }
            });

            this.updateControls();
        }

        updateControls() {
            // Update left button
            if (this.currentIndex === 0) {
                this.leftBtn.style.opacity = '0.3';
                this.leftBtn.style.pointerEvents = 'none';
            } else {
                this.leftBtn.style.opacity = '1';
                this.leftBtn.style.pointerEvents = 'auto';
            }

            // Update right button
            if (this.currentIndex === this.items.length - 1) {
                this.rightBtn.style.opacity = '0.3';
                this.rightBtn.style.pointerEvents = 'none';
            } else {
                this.rightBtn.style.opacity = '1';
                this.rightBtn.style.pointerEvents = 'auto';
            }
        }
    }

    const restartEventListeners = () => {
                // Script for handling parallax effect on hero item carousel
        // The hero item carousel item active image
        const heroItemCarouselItems = document.querySelector('.hero-item-carousel-item.active-hero-item .hero-item-carousel-item-image');
        // The current active hero item
        const heroVideoContent = document.querySelector('.hero-item-carousel-item.active-hero-item .hero-item-carousel-item-content');

        // onScroll
        window.addEventListener('scroll', () => {
            heroVideoContent.style.transform = `skewY(${window.scrollY / 100}deg) translate(${window.scrollY / 10}px, -${window.scrollY / 10}px)`;
            heroVideoContent.style.opacity = `${1 - (window.scrollY / 1000)}`;
            heroItemCarouselItems.style.transform = `translateY(-${window.scrollY / 12}px)`;
        });
    };

    const nextHeroItem = () => {
        const heroItemCarouselItems = document.querySelector('.hero-item-carousel-item.active-hero-item .hero-item-carousel-item-image');
        const heroVideoContent = document.querySelector('.hero-item-carousel-item.active-hero-item .hero-item-carousel-item-content');
        heroItemCarouselItems.style.transform = `translateY(-${window.scrollY / 12}px)`;
    };

    // Initialize carousel when DOM is loaded
    document.addEventListener('DOMContentLoaded', () => {
        new HeroCarousel();

        restartEventListeners();
    });
</script>