<!DOCTYPE html>
<html>
    <head>
        {{{ head.meta_tags }}}
        <title>{{ head.title }}</title>
        <link rel="shortcut icon" href="{{ head.favicon }}">
        {{{ head.stylesheets }}}
        <!-- <link rel="stylesheet" href="/assets/css/theme.css"> -->
        {{{ head.rsslinks }}}
        {{{ head.scripts }}}
    </head>

    <body>
        {{> components/common/header }}

        <!-- {{#block "page"}} {{/block}}

        {{> components/common/footer }}
        {{footer.scripts}} -->
    </body>

</html>
