<!DOCTYPE html>
<html>
    <head>
        {{{ head.meta_tags}}}
        <title>{{ head.title }}</title>
        <link rel="shortcut icon" href="{{ head.favicon }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        {{{ head.stylesheets }}}
        <link rel="stylesheet" href="/assets/css/theme.css">
        {{{ head.rsslinks }}}
        {{{ head.scripts }}}
        <script src="assets/jspm_packages/system.js"></script>
        <script src="assets/config.js"></script>
        <script>System.import("js/stencil");</script>

    </head>
    <body>
    <div class="container">
        {{> components/common/header }}
        <hr>
        {{#block "page"}} {{/block}}
        {{> components/common/footer }}
    </div>
        {{footer.scripts}}
    </body>
</html>
