// =============================================================================
// NAV PAGES (Settings)
// =============================================================================


$navPages-action-color:                 stencilColor("header-nav-font-color");
$navPages-action-color--hover:          color("link", "hover");
$navPages-action-color--active:         color("link", "active");

$navPage-subMenu-backgroundColor:       stencilColor("navPage-subMenu-backgroundColor");
$navPage-subMenu-borderColor:           stencilColor("navPage-subMenu-borderColor");
