// =============================================================================
// SIDEBAR BLOCKS (CSS)
// =============================================================================


// Block
// -----------------------------------------------------------------------------

.sidebarBlock {
    + .sidebarBlock {
        border-top: container("border");
        margin-top: spacing("single") + spacing("third");
        padding-top: spacing("single") + spacing("third");
    }
}

.sidebarBlock-heading {
    font-size: remCalc(15px);
    margin-top: 0;
    text-transform: inherit;
}
