// =============================================================================
// SIDEBAR BLOCKS (CSS)
// =============================================================================


// Block
// -----------------------------------------------------------------------------

.sidebarBlock {
    + .sidebarBlock {
        border-top: container("border");
        margin-top: spacing("single");
        padding-top: spacing("single");
    }
}

.sidebarBlock-head {
    display: flex;
    margin-bottom: spacing("single");

    .icon {
        margin-right: spacing("third");
    }

    .sidebarBlock-heading {
        flex: 1;
        margin-bottom: 0;
        
        > a {
            color: stencilColor("color-black");
            text-transform: uppercase;
        }
    }
}

.sidebarBlock-heading {
    font-size: 1.28571rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: spacing("base");
    text-transform: inherit;
    line-height: 1;
}
