// =============================================================================
// PAGE (CSS)
// =============================================================================


.video-click-layer {
    background: peachPuff;
    opacity: 0.25;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}
