.page-header-image {
    align-items: center;
    display: flex;
    margin-bottom: 14px;
    min-height: 50rem;
    overflow: hidden;
    position: relative;
}

.page-header-image .page-header-image {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.page-header-image .header--wrapper {
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    margin: 0 auto;
    max-width: 60%;
    padding: 16px 8px;
    position: absolute;
    right: 0;
    text-align: center;
}

.page-header-image .header--wrapper,
.page-header-image .header--wrapper .page-heading {
    color: #fff;
    margin-bottom: 0;
}

.newspaper-row {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.newspaper-row > div:first-child {
    order: 3;
}

.image-container {
    margin: 0 auto 10px;
    order: 2;
}

.newspaper-row--alt {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.newspaper-row--alt .signature {
    flex: 1 0 auto;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .newspaper-row {
        flex-direction: row;
    }

    .newspaper-row > div:first-child {
        flex: 1 0 50%;
        order: 1;
        padding-right: 10px;
    }

    .newspaper-row img {
        margin: 0 auto;
        padding: 8px;
    }
}
