// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------


// *************************************************
// ********* New Heder and Footer styles ***********
// *************************************************
.containercheckout-header {
    background: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 12vh;
    padding: 50px;

    .containercheckout-head-main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            margin: 0px;
        }
    }
}

.containercheckout-footer {
    background: #F2F2F2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 10vh;
    padding: 50px;
}

.cancelwindow {
    margin-top: 0px !important;
}

.containercheckout-footer-main {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 772px) {
    .containercheckout-footer-main {
        flex-direction: column;
    }

    .containercheckout-header img {
        width: 150px;
    }

    .checkoutheader {
        margin-top: 30px;
    }
}

.checkoutheading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

@media (min-width: 1261px) {
    .container {
        padding: 0 2rem;
    }
}

@media (min-width: 972px) {
    .cart.optimizedCheckout-orderSummary {
        height: 500px;
    }
}

.checkoutheader {
    margin-top: 45px;
}

.underenrollment {
    border-bottom: 5px solid #D41B2C;
    width: 5%;
}

.article-block-title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0% !important;
    color: var(--black);
}

.stepHeader-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.paymentMethod {
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.optimizedCheckout-form-checklist-item--selected,
.optimizedCheckout-form-checklist-item:hover {
    background-color: #ffffff !important;
    border-color: #ccc !important;
}

#shouldSaveAddress,
[for="shouldSaveAddress"] {
    /*visibility: hidden !important;*/
    display: none !important;
}


// *************************************************
// ******* Checkout page style Customization *******
// *************************************************

// Main Headings and Content styling
.optimizedCheckout-headingPrimary {
    color: #000000 !important;
    font-weight: 500 !important;
}

.optimizedCheckout-contentPrimary {
    font-weight: 600 !important;
    color: #000000 !important;
}

.checkout-step--customer,
.checkout-step--shipping {
    display: none !important;
}

.optimizedCheckout-form-input {
    font-weight: 500;
}

// Change Billing Address Input fields arangment
@media (min-width: 769px) {
    .dynamic-form-field--addressLine1 {
        max-width: 60% !important;
        flex-basis: 100% !important;
    }

    .dynamic-form-field--addressLine2 {
        max-width: 40% !important;
        flex-basis: 100% !important;
    }

    .dynamic-form-field--provinceCode {
        max-width: 35% !important;
        flex-basis: 100% !important;
    }

    .dynamic-form-field--postCode {
        max-width: 35% !important;
        flex-basis: 100% !important;
    }

    .dynamic-form-field--city {
        max-width: 30% !important;
        flex-basis: 100% !important;
    }
}

@media (min-width: 801px) {
    .checkout-steps {
        padding-right: 1rem;
    }
}

// Chnage the Input field order
// Add Extra one field in backend for : School/Program
.dynamic-form-field {
    display: grid !important;
}

.dynamic-form-field--company,
.dynamic-form-field--phone {
    display: none !important;
}

.dynamic-form-field:nth-of-type(8) {
    order: 9
}

.dynamic-form-field:nth-of-type(10) {
    order: 9
}

.dynamic-form-field:nth-of-type(11) {
    order: 9
}

// Address Input Field Changes starts
// **********************************
.form-legend-container {
    display: none !important;
}

// Adding a star in begining of all the 
// importend fields label
#firstNameInput-label::before,
#lastNameInput-label::before,
#field_32Input-label::before,
#addressLine1Input-label::before,
#addressLine2Input-label::before,
#countryCodeInput-label::before,
#countryCodeInput-label::before,
#cityInput-label::before,
#provinceCodeInput-label::before,
#postCodeInput-label::before {
    content: '* ';
}

.optimizedCheckout-form-input:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-color: #ccc !important;
}

.form-field--error .form-label:not(.floating-label) {
    color: #444444 !important;
}

// Error field changes
.form-field--error .optimizedCheckout-form-input {
    box-shadow: none !important;
    border-color: #db0020 !important;
}

.form-field--error .optimizedCheckout-form-input:focus {
    border-color: #db0020 !important;
    box-shadow: none;
}

.dynamic-form-field--countryCode {
    .form-field {
        .optimizedCheckout-form-select {
            font-weight: 400;
        }

        .optimizedCheckout-form-select:hover,
        .optimizedCheckout-form-select:focus {
            border-color: #ccc;
            box-shadow: none;
            outline: 0px !important;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .form-field--error {
        .optimizedCheckout-form-select {
            box-shadow: none !important;
            border-color: #db0020 !important;
        }

        .optimizedCheckout-form-select:focus {
            box-shadow: none !important;
            border-color: #db0020 !important;
        }

        .optimizedCheckout-form-select:hover {
            box-shadow: none !important;
            border-color: #db0020 !important;
        }
    }
}

.dynamic-form-field--provinceCode {
    .form-field {
        .optimizedCheckout-form-select {
            font-weight: 400;
        }

        .optimizedCheckout-form-select:hover,
        .optimizedCheckout-form-select:focus {
            border-color: #ccc;
            box-shadow: none;
            outline: 0px !important;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .form-field--error {
        .optimizedCheckout-form-select {
            box-shadow: none !important;
            border-color: #db0020 !important;
        }

        .optimizedCheckout-form-select:focus {
            box-shadow: none !important;
            border-color: #db0020 !important;
        }

        .optimizedCheckout-form-select:hover {
            box-shadow: none !important;
            border-color: #db0020 !important;
        }
    }
}

// Error field changes ends here

.product-figure {
    display: none !important;
}

.cart-section .cart-section-heading {
    display: none !important;
}

.cart-header {
    .cart-title {
        font-size: 21px !important;
    }
}

.product-actions {
    [data-test="cart-item-product-price"] {
        font-weight: 400 !important;
        font-size: 16px !important;
    }
}

.product-body {
    .product-title {
        font-size: 16px !important;
        font-weight: 400 !important;
    }
}

[data-test="cart-total"] {
    .cart-priceItem--total {
        .cart-priceItem-value {
            [data-test="cart-price-value"] {
                font-size: 26px !important;
                font-weight: 500 !important;

            }
        }
    }
}


.optimizedCheckout-headingSecondary {
    color: #000000 !important;
    font-family: Roboto !important;
    font-size: 16px !important;
}

.optimizedCheckout-contentSecondary {
    display: none;
}

.cart-header-link {
    display: none !important;
}

.optimizedCheckout-orderSummary-cartSection:nth-of-type(2) {
    border-top: 2px solid #ebebeb !important;

    [data-test="cart-shipping"],
    [data-test="cart-taxes"] {
        display: none !important;
    }

    [aria-controls="redeemable-collapsable"] {
        text-decoration: none;
        color: #000000 !important;
        font-weight: 700 !important;
        font-family: Roboto !important;
        display: none;
    }

    [aria-controls="redeemable-collapsable"]:focus {
        outline: 0px !important;
    }

    [aria-expanded="true"] {
        i {
            -moz-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            transform: rotate(180deg);
            -moz-transition: all .5s linear;
            -webkit-transition: all .5s linear;
            transition: all .4s linear;
            background: transparent;
        }
    }
}

.form-prefixPostfix {
    input[type="text"] {
        margin-bottom: 0px;
    }

    .button {
        border: 2px solid;
        width: 40%;
        margin: 0px 0 0 10px;
        border-radius: 3px;
    }

    .optimizedCheckout-buttonSecondary:focus {
        border: 0px !important;
        outline: 0px !important;
    }
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .4s linear;
    padding: 0px 20px;
    font-weight: lighter;
}

.rotate .down {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(180deg);
    background: transparent;
}

.optimizedCheckout-orderSummary-cartSection [data-test="cart-coupon"] .optimizedCheckout-contentPrimary {
    // background-color: #E6E6E6;
    padding: 5px;
    border-radius: 25px;

    .cart-priceItem-label .cart-priceItem-link {
        padding-left: 10px;

        .removeCouponBtn {
            color: #999999;
        }
    }

    .cart-priceItem-label [data-test="cart-price-label"] {
        display: none !important;
    }

    // .cart-priceItem-value [data-test="cart-price-value"] {
    //     display: none !important;
    // }
    .cart-priceItem-postFix {
        color: #000000;
    }

}

.optimizedCheckout-orderSummary {
    font-size: 16px !important;
    box-shadow: none !important;
    color: #000000 !important;
    background-color: #F5F5F5 !important;
    border-color: #F5F5F5 !important;

    .optimizedCheckout-orderSummary-cartSection {
        // remove the original border and add a new one
        border: 0px !important;

        .productList {
            [data-test="cart-item"] {
                border-bottom: 2px solid #dddddd;
                padding-bottom: 20px;
            }
        }

        [data-test="cart-total"] {
            [data-test="cart-price-label"] {
                font-size: 18px !important;
            }
        }
    }

    .optimizedCheckout-orderSummary-cartSection:nth-of-type(2) {
        display: flex;
        flex-direction: column;

        [data-test="cart-discount"] {
            order: -1;
        }

        [data-test="cart-subtotal"] {
            order: -1;
        }

        [data-test="cart-coupon"] {
            [aria-live="polite"] {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;

                .cart-priceItem-value {
                    order: -1;
                }

                [data-test="cart-price-callback"] {
                    display: none;
                }
            }
        }
    }
}

.checkout-steps {
    .stepHeader-counter {
        background-color: #000000 !important;
        width: 35px;
        height: 35px;
    }

    .optimizedCheckout-buttonPrimary {
        border-radius: 4px !important;
    }

    .optimizedCheckout-buttonPrimary:focus {
        border: 0px !important;
        outline: 0px !important;
    }

    .checkout-step--billing {
        .checkout-view-header {
            .stepHeader-actions {
                .button--tertiary {
                    display: none;
                    background-color: #fff;
                    border: 0;
                }

                .optimizedCheckout-buttonSecondary:focus {
                    outline: 0px !important;
                    border: 0px !important;
                    box-shadow: none;
                }

            }

            .is-clickable {
                display: flex !important;
                justify-content: space-between !important;
                margin-bottom: 20%;

                .stepHeader-body {
                    position: absolute;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    align-content: flex-end;
                    margin-top: 60px;
                }
            }

            .stepHeader-body {
                width: auto !important;
            }
        }

        .checkout-view-content-enter-done {
            .checkout-form {
                .form-body {
                    border: 0px;
                    box-shadow: none;
                    max-width: none;
                    padding: 0px !important;

                    .loadingOverlay-container {
                        min-height: auto;
                    }

                    .dropdown--select {
                        .dropdown-toggle--select {
                            border-radius: 0px !important;
                        }

                        .dropdownMenu {
                            .dropdown-menu {
                                max-width: 100% !important;
                                background: #fff !important;

                                .dropdown-menu-item--select {
                                    .checkout-address--static {
                                        padding: 0px;
                                    }
                                }
                            }
                        }
                    }
                }

                .loading-skeleton {
                    .checkout-address {
                        .dynamic-form-field {
                            input {
                                margin: 0 !important;
                            }
                        }
                    }
                }

                .form-actions {
                    text-align: left;
                }
            }
        }
    }
}

.checkout-terms {

    input:focus,
    label:focus {
        outline: 0px !important;
    }
}

.checkout-step--payment {
    .checkout-view-header {
        .stepHeader {
            .stepHeader-column {
                width: auto !important;
            }
        }
    }

    // Change border and padding of payment box 
    .loading-skeleton {
        .checkout-form {
            .form-fieldset {
                .form-body {
                    border: 0px !important;
                    box-shadow: none;
                    padding: 0px !important;
                }
            }
        }
    }

    .checkout-form {
        .form-actions {
            text-align: left;

            .button--large {
                padding: 13px 30px !important;
                font-size: 13px !important;
            }
        }
    }
}

// coupon  or gift certificate option hided
.checkout-view-content {
    .redeemable-payments {
        display: none;
    }
}

// change terms and condition position
.checkout-form {
    display: flex;
    flex-direction: column;
    margin-left: 0px;

    .form-fieldset:nth-of-type(2) {
        order: 3;
    }

    .form-fieldset:nth-of-type(3) {
        .form-legend {
            display: none;
        }
    }
    .checkout-terms{
        display: none;
    }
}


// New Changes in Checkout
.form-body {
    a {
        color: #A52238;
    }
}

@media (min-width: 1080px) {
    .checkout-form {
        margin-left: 0px !important;
    }
}

.vcard {
    border: 0px !important;
}

@media (min-width: 801px) {
    .cart-header {
        display: block !important;
    }
}

.product {
    justify-content: space-between;

    .product-actions {
        width: 40%;
    }

    .product-body {
        width: 100%;
    }

    .product-column {
        margin-left: 0px !important;

        h4 {
            margin-top: 0px !important;
            font-size: 16px;
            font-weight: 500 !important;
        }

    }
}

.cart-total {
    [data-test="cart-price-value"] {
        font-weight: normal;
    }
}

.checkout-address {
    .form-input {
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width: 551px) {
    .modal {
        left: 50% !important;
        visibility: visible;
    }

    .product {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-items: flex-start;

        .product-actions {
            width: 50%;

            .product-price {
                float: right;
            }
        }
    }

    .stepHeader-body {
        margin: 50px 0 0 0;
    }

    .is-srOnly {
        position: relative !important;
    }
}