// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------
#maintenance_notice {
	display: none;
}

#Header {
	background: #fff;
	
	.header-logo {
		text-align: center;
	}
}
.ExpressCheckout {
	
	.ExpressCheckoutBlock  {
		.step {
			background-color: #1b75bb;
		}
		
		.btn {
			padding: 0.75rem 3rem !important;
			border-radius: 2px;
			border: none;
			background-color: #1b75bb;
		}
	}
	
}