// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------


// *************************************************
// ********* New Heder and Footer styles ***********
// *************************************************
.containercheckout-header {
    background: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 12vh;
    padding: 50px;

    .containercheckout-head-main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            margin: 0px;
        }
    }
}

.containercheckout-footer {
    background: #F2F2F2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 10vh;
    padding: 50px;
}

.cancelwindow {
    margin-top: 0px !important;
}

.containercheckout-footer-main {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 772px) {
    .containercheckout-footer-main {
        flex-direction: column;
    }

    .containercheckout-header img {
        width: 150px;
    }

    .checkoutheader {
        margin-top: 30px;
    }
}

.checkoutheading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

@media (min-width: 1261px) {
    .container {
        padding: 0 2rem;
    }
}

@media (min-width: 972px) {
    .cart.optimizedCheckout-orderSummary {
        height: 500px;
    }
}

.checkoutheader {
    margin-top: 45px;
}

.underenrollment {
    border-bottom: 5px solid #D41B2C;
    width: 5%;
}

.article-block-title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0% !important;
    color: var(--black);
}

.stepHeader-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.paymentMethod {
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.optimizedCheckout-form-checklist-item--selected,
.optimizedCheckout-form-checklist-item:hover {
    background-color: #ffffff !important;
    border-color: #ccc !important;
}

#shouldSaveAddress,
[for="shouldSaveAddress"] {
    /*visibility: hidden !important;*/
    display: none !important;
}