// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------


