@import url('https://fonts.googleapis.com/css2?family=Mulish');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

@font-face {
    font-family: 'High Tide Demo';
    src: url("//cdn.shopify.com/s/files/1/0253/3107/3076/t/39/assets/HighTide.woff2?v=15263398553533412181") format('woff2'), url("//cdn.shopify.com/s/files/1/0253/3107/3076/t/39/assets/HighTide.woff?v=560051144191739534") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: bankgothic_lt_btlight;
    src: url("fonts/bank/bankgothicltbtlight-webfont.woff2") format("woff2"), url("fonts/bank/bankgothicltbtlight-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
.muli-font, .navPages-action, .button , .slick-featured h1,  .accesseryess {
    font-family: Muli,sans-serif;
    letter-spacing: 1.2px;
}
.ubuntu-font, body, .home-blog-detail-inner a,.home-blog-detail-inner .date, .price-list-category {
    font-family: Ubuntu,sans-serif;
    letter-spacing: 1.2px;
}
.bank-font ,.slick-slide h5, .navsubmenuborder .listnavigations,.navsubmenuborder a, .flexaligncenter h3, .prlistnav .text-uppercase, .card-body .card-title, .previewCartItem-name, .product-set-widget-name a, .cart-item-name
{
    font-family: bankgothic_lt_btlight,sans-serif !important;
    font-style: italic;
}

@media (min-width: 1261px)
{
.container {
    padding: 0 1px !important;
}
}
@media screen and (max-width: 5000px) and (min-width: 800px) { 
    .heroCarousel {
        margin-top: 0px !important; 
    }
}
input:focus, button:focus, textarea:focus, select:focus, details:focus, [href]:focus, [tabindex]:not([tabindex="-1"]):focus, [contenteditable="true"]:focus {
    outline: none !important;
}
body
{
    overflow-x: hidden;
}
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    background-color: #ffffff;
}

.heroCarousel-slide .heroCarousel-image {
    -o-object-fit: cover;
    object-fit: cover;

}
.sectionforhomeslider
{
    margin-top: -10.2vh;
}
.slick-slide img
{
    padding: 0px !important;
}
.slick-initialized .slick-slide {
    padding: 0px !important;
}
@media screen and (max-width: 1045px) and (min-width: 800px) {
    .sectionforhomeslider {
    margin-top: -13.2vh;
}
}
.topregion
{
    z-index: 9999;
    position: relative;
}

.filterwatch {
    background-color: #242424;
    border-color: transparent;
    color: #fff;
    border-radius: 1px;
    font-size: 10px;
}

.header-logo .header-logo-image-container-custom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.header-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.header-center {
    width: 50%;
}
.header-right {
    position: relative;
}
.header-left, .header-right {
    width: 25%;
    height: 60px;
}
.navPages-action {
    font-size: 15px;
    font-weight: 100;
}

.flex-row{
   
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-row .columns{
   -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    min-width: 0;
    text-align: center;
}
.navPage-subMenu {
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0px #54545496;
}
.navPages-action.is-open {
    background-color: #fdfcfc;
}
.navsubmenuborder
{
        border-right: 1px solid #dbdbdb ;
}
.flex-row .navsubmenuborder:last-child { border-right: none; }

.navPages-container, .header { 
position: -webkit-sticky;
position: sticky;
border-bottom: 1px solid transparent;
}
.navPage-subMenu {
    padding: 1.5rem 0.1rem 2.28571rem !important;
}
.text-uppercase
{
    text-transform: uppercase;
}
.flexaligncenter
{
        display: flex;
    justify-content: center;
    flex-direction: column;
}
.prlistnav a
{
        text-decoration: blink;
}
.prlistnav:hover .viewproduct{
    display: block;
}
.commenbtn
{
    background-color: #242424;
    border-color: transparent;
    color: #fff;
    position: absolute;
    bottom: 7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 14px;
    padding: 6px 25px;
    white-space: nowrap;
    border-radius: 1px;
}
.commenbtn:hover
{
    background-color: #524949;
    color: #fff;
}
.viewproduct
{
    display: none;
}
.full-width-button
{
    display: block;
    margin-top: 18px;
    margin-bottom: 0px;
    background-color: #242424;
    border-color: transparent;
    color: #fff;
    white-space: nowrap;
    border-radius: 1px;
}
.full-width-button:hover{
    background-color: #524949;
    color: #fff;
}
.listnavigations
{
    display: block !important;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 900px) and (min-width: 60px) {
.header-logo img
{
        width: 70%;
}
    body {
     padding-top: 0px; 
}
    .sectionforhomeslider {
    margin-top: -2vh;
}
.blogsectionhome
    {
        padding: 10px;
    }
}

.title {
    font-family: Muli,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
	color: #363636;
}
.is-uppercase {
    text-transform: uppercase!important;
}
.is-size-5 {
    font-size: 1.25rem!important;
}
.tab-content.is-active{
	line-height: 1.9;
    font-family: Ubuntu,sans-serif;
    font-weight: 300;
}
.has-double-margin-bottom {
    margin-bottom: 24px!important;
}
.is-size-6 {
    font-size: 1rem!important;
}
.contentp{
	line-height: 1.9;
    font-family: Ubuntu,sans-serif;
    font-weight: 300;
}
.is-size-7 {
    font-size: .9rem!important;
	    margin-bottom: 0px;
}
.is-usp-text {
    text-transform: none;
    font-weight: 500;
}
.is-size-8 {
    font-size: .8rem!important;
}
.product-top-content{
	color:fff;
}

.productView-thumbnails .slick-next {
    margin-top: 0px;
}
.productView-thumbnails .slick-prev {
    margin-top: 0px;
}
#add-to-cart-wrapper .form-action
{
    display: grid;
}
#form-action-addToCart
{
    padding: 17px;
    text-transform: uppercase;
    font-size: 14px;
    line-break: 3.5px;
    letter-spacing: 1.5px;
}

.mainblogdiv img
{
    width: 100%;
    object-fit: contain;
}
.mainblogdiv a 
{
    text-decoration: none !important;
}
.blog-image-tag {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    color: #242424;
    font-size: 11px;
    text-transform: uppercase;
}

.searchwatchsection {
    padding: 30px 0px;
}

.form-increment input
{
    width: 70%;
}

.form-increment .button
{ 
/*
    margin-top: 10px;
    margin-left: 4px;
*/
}
 .cartinc
{
    right: -7px;
    top: -61px;
        border-color: #f0f8ff00;
}
.cartdec
{
    right: -7px;
    top: 42px;
        border-color: #f0f8ff00;
}
.cartinc:hover ,.cartdec:hover
{
    border-color: #f0f8ff00;
}
