$font-big: 2.4rem;

$spacing-size-1: 2.5rem;

// Colours -move to _colours.scss
$dark-text: #171c21;
$dark-blue-1: #273a8a;

$white: #ffffff;
$black: #000000;
$grey1: #e4eaee;
$grey2: #cdd6da;
$purple1: #ae93a9;
$purple1-light: #cbbac7;
$lightblue1: #d8e9f6;
$lightblue2-text: #aacce5;
$darkblue1: #476993;
$darkblue2: #313c52;
$darkblue3-text: #034985;

// -----------------------------------------------------------------------------
//
// Overrides
//
// -----------------------------------------------------------------------------

body {
  background-color: $white;
}

.banners {
  background-color: $purple1;
}

// -----------------------------------------------------------------------------
//
// Navigation
//
// -----------------------------------------------------------------------------

.header {
  border: none;
}
.navigation-logo {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;

  .top-bar {
    .title-area {
      .logo-area {
        width: 500px;
        height: 100%;

        img {
          position: absolute;
          top: -24px;
        }
      }
    }
  }
}

.navigation-main, .navigation-logo {
  background: $white;

  .top-bar {
    background: $white;

    .top-bar-section {
      li {
        background: $white;
      }

      ul {
        display: table;
        margin: 0 auto;
      }

      ul li {
        display: table-cell;
      }

      li a {
        background: $white;
        text-decoration: none;
        color: $black;
      }
    }
  }
}

// -----------------------------------------------------------------------------
//
// Home Page
//
// -----------------------------------------------------------------------------

// Cards
.home-cards {

  .home-cards_title {
    margin-bottom: $spacing-size-1;
  }

  .home-cards_cards {
    .pricing-table {
      border: none;
    }

    .title {
      background-color: #ffffff;
      color: $dark-blue-1;
      font-size: 1.4rem;
    }

    .description {
      color: $dark-text;
      text-align: left;
      border-bottom: none;

      // Sorry style guide, you don't own me!
      p {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
    }

    .button {
      background-color: orangered;
      color: #ffffff;
      font-weight: bold;
      border: none;
      border-radius: 0;
      width: 100%;
    }
  }

  .home-cards_cards_border {
    margin: 0;
    border: solid $dark-blue-1;
    border-width: 5px 0 0;
  }
}

// Block Text Left
.home-block_text-left {
  text-align: center;

  h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: $font-big;
    line-height: 2.8rem;
  }

  h1, h2 {
    color: $dark-blue-1;
  }
}

