$font-big: 2.4rem;

$spacing-size-1: 2.5rem;

// Colours -move to _colours.scss
$dark-text: #171c21;
$dark-blue-1: #273a8a;

$white: #ffffff;
$black: #000000;
$grey1: #e4eaee;
$grey2: #cdd6da;
$purple1: #ae93a9;
$purple1-light: #cbbac7;
$lightblue1: #d8e9f6;
$lightblue2-text: #aacce5;
$lightblue3: #b1d3ec;
$darkblue1: #476993;
$darkblue2: #313c52;
$darkblue3-text: #034985;
$darkblue4: #29426e;

// -----------------------------------------------------------------------------
//
// Overrides
//
// -----------------------------------------------------------------------------

body {
  background-color: $white;
}

.banners {
  background-color: $purple1;
}

// -----------------------------------------------------------------------------
//
// Navigation
//
// -----------------------------------------------------------------------------

.header {
  border: none;
}
.navigation-logo {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;

  .top-bar {
    .title-area {
      .logo-area {
        width: 500px;
        height: 100%;

        img {
          position: absolute;
          top: -24px;
        }
      }
    }
  }
}

.navigation-main, .navigation-logo {
  background: $white;

  .top-bar {
    background: $white;

    .top-bar-section {
      li {
        background: $white;
      }

      ul {
        display: table;
        margin: 0 auto;
      }

      ul li {
        display: table-cell;
      }

      li a {
        background: $white;
        text-decoration: none;
        color: $black;
      }
    }
  }
}

// -----------------------------------------------------------------------------
//
// Home Page
//
// -----------------------------------------------------------------------------

// Cards
.home-cards {

  .home-cards_title {
    margin-bottom: $spacing-size-1;
    color: $black;
    text-align: center;
    font-size: 28px;
  }

  .home-cards_cards {
    .pricing-table {
      border: none;

      li {
        background-color: $lightblue3;
      }
    }

    .title {
      color: $darkblue4;
      font-size: 1.4rem;
    }

    .description {
      color: $dark-text;
      text-align: left;
      border-bottom: none;

      p {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
    }

    .button {
      background-color: $darkblue4;
      color: #ffffff;
      font-weight: bold;
      border: none;
      border-radius: 0;
      width: 100%;
    }
  }

  .home-cards_cards_border {
    margin: 0;
    border: solid $darkblue4;
    border-width: 5px 0 0;
  }
}

// Block Text Left
.home-block_text-left {
  text-align: center;

  h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: $font-big;
    line-height: 2.8rem;
  }

  h1, h2 {
    color: $dark-blue-1;
  }
}

// -----------------------------------------------------------------------------
//
// Product Page
//
// -----------------------------------------------------------------------------

.productView-details {
  &.product-info {
    margin-bottom: 0;

    .productView-product {
    padding-bottom: 0Q;
    }
  }

  .productView-product {
    border: none;

    .productView-title {
      font-size: 28px;
      font-weight: bold;
    }
  }

  .productView-description {
    padding-top: 0;
    &.description-readmore {
      width: 100%;
    }

    .readmore-box {
      max-height: 420px;
      position: relative;
      overflow: hidden;

      .read-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 30px 0;
        background-image: linear-gradient(to bottom, transparent, $white);

        .button {
          border: none;
          background: $grey2;
          border-radius: 20px;
          color: $white;
          font-weight: bold;
          padding: 5px 15px;
          z-index: 3;
        }
      }
    }
  }

  .productView-options {
    .button--icon {
      //position: absolute;
      border: none;

      // @todo make this work right
      &.button--icon_left {
        //right: 29rem;
      }

      &.button--icon_right {
        //right: 34rem;
      }

      .icon {
        width: 3rem;
        height: 3rem;

        svg {
          fill: $black;
        }
      }
    }

    .form-input--incrementTotal {
      float: left;
      width: 7rem;
    }

    .form-input {
      font-size: 25px;
      font-weight: bold;
      background-color: $white;
      border: none;
      border-bottom: 3px solid $black;
    }

    .form-action {
      width: 14rem;

      input {
        border: 3px solid black;
        background-color: $white;
        color: $black;
        font-weight: bold;
        font-size: 22px;

        &:hover {
          color: $white;
          background-color: $black;
        }
      }
    }
  }
}
