$font-big: 2.4rem;

$spacing-size-1: 2.5rem;

// Colours -move to _colours.scss
$dark-text: #171c21;
$dark-blue-1: #273a8a;

$white: #ffffff;
$black: #000000;
$grey1: #e4eaee;
$grey2: #cdd6da;
$grey3: #d8dfe2;
$purple1: #ae93a9;
$purple1-light: #cbbac7;
$lightblue1: #d8e9f6;
$lightblue2: #aacce5;
// Homepage Cards
$lightblue3: #b1d3ec;
$darkblue1: #476993;
$darkblue2: #313c52;
$darkblue3-text: #034985;
// Homepage Cards
$darkblue4: #29426e;

// -----------------------------------------------------------------------------
//
// Overrides
//
// -----------------------------------------------------------------------------

body {
  background-color: $white;
}

.body {
  margin-bottom: 0;
}

// -----------------------------------------------------------------------------
//
// Common objects
//
// -----------------------------------------------------------------------------

.banner-promo, .banner-signup {
  background-color: $purple1;
}

// @todo needs testing on all sizes/browsers
.banner-signup, .banner-practitioner, .banner-footer {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Mailing List Signup Banner
.banner-signup {
  .banner {
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    p {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 0;
    }

    input {
      margin-bottom: 0;
    }

    .form-input {
      max-width: 200px;
      margin-left: 1rem;
    }

    .button {
      padding: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      border: none;

      &:hover {
        background-color: $grey3;
      }
    }
  }
}

.banner-practitioner {
  background-color: $darkblue1;

  .practitioner {
    p {
      font-size: 26px;
      font-weight: bold;
      margin-top: 2rem;
    }
  }

  .banner {
    .button {
      background-color: $darkblue1;
      border: 2px solid $lightblue3;
      color: $lightblue3;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;

      &:hover {
        background-color: $lightblue3;
        color: $white;
      }
    }
  }
}

// -----------------------------------------------------------------------------
//
// Navigation
//
// -----------------------------------------------------------------------------

.header {
  border: none;
}
.navigation-logo {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;

  .top-bar {
    .title-area {
      .logo-area {
        width: 500px;
        height: 100%;

        img {
          position: absolute;
          top: -24px;
        }
      }
    }
  }
}

.navigation-main, .navigation-logo {
  background: $white;

  .top-bar {
    background: $white;

    .top-bar-section {
      li {
        background: $white;
      }

      ul {
        display: table;
        margin: 0 auto;
      }

      ul li {
        display: table-cell;
      }

      li a {
        background: $white;
        text-decoration: none;
        color: $black;
      }
    }
  }
}

// -----------------------------------------------------------------------------
//
// Footer
//
// -----------------------------------------------------------------------------

.footer {
  background-color: $darkblue2;
  padding: 3rem 0 0;
  border-top: 0;

  h5 {
    color: $lightblue2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  a {
    color: $lightblue2;

    &:hover {
      color: $white;
    }
  }

  .footer-info {
    display: flex;
    justify-content: center;

    .footer-info-heading, .footer-info-list li {
      margin-bottom: 0.6rem;
    }

    .footer-half {
      width: 50%;

      p {
        color: $white;
      }
    }

    .border-right {
      border-right: 2px solid $lightblue2;
    }

    .footer-info-links {
      width: 25%;
      padding-left: 3rem;
    }
  }

  .footer-fda {
    display: flex;
    justify-content: center;

    .fda-border-box {
      max-width: 600px;
      border: 2px solid $white;
      margin-bottom: 2rem;
      padding: 1px 8px;
    }

    p {
      color: $white;
      margin: 0;
      text-align: justify;
    }
  }

  .banner-footer {
    background-color: $white;
    color: $black;

    p {
      display: inline;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }
}

// -----------------------------------------------------------------------------
//
// Home Page
//
// -----------------------------------------------------------------------------

// Hero Carousel
.heroCarousel {
  .slick-arrow, .slick-dots li {
    background-color: rgba(0,0,0,0);
    border: none;
    color: $white;
  }

  .slick-dots {
    li {
      button {
        background-color: #757575;
        border: 1px solid #757575;
      }

      &.slick-active {
        button::before {
          background: $purple1;
          border: 1px solid $purple1;
        }
      }
    }
  }

  .heroCarousel-slide {
    .heroCarousel-content {
      background-color: rgba(0,0,0,0);
      text-align: left;

      .heroCarousel-title, .heroCarousel-description {
        color: black;
        font-weight: bold;
      }

      .heroCarousel-description {
        font-size: 36px;
      }

      .heroCarousel-action {
        padding: 20px 35px;
        border: none;
        border-radius: 0;
        background-color: $lightblue3;
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;

        &:hover {
          background-color: $lightblue1;
        }
      }
    }
  }
}

// Cards
.home-cards {

  .home-cards_title {
    margin-bottom: $spacing-size-1;
    color: $black;
    text-align: center;
    font-size: 28px;
    line-height: 1.3;
  }

  .home-cards_cards {
    .pricing-table {
      border: none;

      li {
        background-color: $lightblue3;
      }
    }

    .title {
      color: $darkblue4;
      font-size: 1.4rem;
    }

    .description {
      color: $dark-text;
      text-align: left;
      border-bottom: none;
      min-height: 12rem;

      p {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
    }

    .button {
      background-color: $darkblue4;
      color: #ffffff;
      font-weight: bold;
      border: none;
      border-radius: 0;
      width: 100%;

      &:hover {
        background-color: $darkblue1;
        color: $grey3;
      }
    }
  }

  .home-cards_cards_border {
    margin: 0;
    border: solid $darkblue4;
    border-width: 5px 0 0;
  }
}

// Product Grid / Featured / Best Sellers
.featured-products {
  font-weight: bold;
  margin-top: 3rem;
  color: $black;
}

.center-button-large {
  text-align: center;
  margin-bottom: 3rem;

  .button {
    padding: 20px 35px;
    border: none;
    border-radius: 0;
    background-color: $lightblue3;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;

    &:hover {
      background-color: $lightblue1;
    }
  }
}

.productGrid {
  .product {
    .card-figure {
      border: 1px solid $grey3;

      .card-figcaption {
        .card-figcaption-body {
          .button {
            border-radius: 0;
            text-transform: uppercase;
            font-weight: bold;
            background-color: rgba(177,211,236,0.8);

            &:hover {
              background-color: rgba(216,233,246,0.8);
            }
          }

          .out-of-stock {
            background-color: rgba(255,0,0,0.8);
            color: $white;
            font-weight: bold;

            &:hover {
              background-color: rgba(255,0,0,1);
            }
          }
        }
      }
    }

    .card-body {
      .card-title {
        font-weight: bold;
      }

      .card-text {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

// Block Text Left
.home-block_text-left {
  text-align: center;

  h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: $font-big;
    line-height: 2.8rem;
  }

  h1, h2 {
    color: $dark-blue-1;
  }
}

// -----------------------------------------------------------------------------
//
// Product Page
//
// -----------------------------------------------------------------------------

.productView-details {
  &.product-info {
    margin-bottom: 0;

    .productView-product {
    padding-bottom: 0Q;
    }
  }

  .productView-product {
    border: none;

    .productView-title {
      font-size: 28px;
      font-weight: bold;
    }
  }

  .productView-description {
    padding-top: 0;
    &.description-readmore {
      width: 100%;
    }

    .readmore-box {
      max-height: 420px;
      position: relative;
      overflow: hidden;

      .read-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 30px 0;
        background-image: linear-gradient(to bottom, transparent, $white);

        .button {
          border: none;
          background: $grey2;
          border-radius: 20px;
          color: $white;
          font-weight: bold;
          padding: 5px 15px;
          z-index: 3;
        }
      }
    }
  }

  .productView-options {
    .button--icon {
      //position: absolute;
      border: none;

      // @todo make this work right
      &.button--icon_left {
        //right: 29rem;
      }

      &.button--icon_right {
        //right: 34rem;
      }

      .icon {
        width: 3rem;
        height: 3rem;

        svg {
          fill: $black;
        }
      }
    }

    .form-input--incrementTotal {
      float: left;
      width: 7rem;
    }

    .form-input {
      font-size: 25px;
      font-weight: bold;
      background-color: $white;
      border: none;
      border-bottom: 3px solid $black;
    }

    .form-action {
      width: 14rem;

      input {
        border: 3px solid black;
        background-color: $white;
        color: $black;
        font-weight: bold;
        font-size: 22px;

        &:hover {
          color: $white;
          background-color: $black;
        }
      }
    }
  }
}
