body {
  background: stencilColor("color-white");
  color: stencilColor("color-greyDarkest");
  margin: stencilNumber("padding-small");
}

body, td, th {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: remCalc(12);
}

h1, h1 a {
  color: stencilColor("color-greyDarkest");
  text-decoration: none;
}

.Invoice,
.PackingSlip {
  border: 2px solid #cacaca;
  padding: stencilNumber("padding-small") * .5;
}

.InvoiceTitle,
.PackingSlipTitle {
  font-size: $fontSize-root;
  font-weight: fontWeight("bold");
  background: stencilColor("color-greyDarkest");
  color: stencilColor("color-white");
  padding:stencilNumber("padding-small") * .5;
  margin-bottom:stencilNumber("padding-normal");
}

.StoreAddress {
  font-weight: fontWeight("bold");
  margin-bottom:stencilNumber("padding-normal");
}

.InvoiceHeading,
.PackingSlipHeading {
  font-size: $fontSize-root;
  font-weight: fontWeight("bold");
  margin-bottom:stencilNumber("padding-normal");
}

.CustomerDetails,
.AddressRow,
.InvoiceItems,
.InvoiceDetails,
.PackingSlipItems,
.PackingSlipDetails {
  margin-bottom:stencilNumber("padding-normal");

  li {
    list-style-type: none;
  }
}

.InvoiceTable,
.PackingSlipTable {
  border-collapse: collapse;
  width: 100%;
}

.InvoiceTable th,
.PackingSlipTable th {
  font-weight: fontWeight("bold");
  padding:stencilNumber("padding-small") * .5;
  text-align: left;
}


.InvoiceTable td,
.PackingSlipTable td {
  padding:stencilNumber("padding-small") * .5;
  vertical-align: top;
  text-align: left;
}

td.ProductQuantity,
th.ProductQuantity,
td.ProductCost,
th.ProductCost,
td.ProductTotal,
th.ProductTotal,
.InvoiceTotals td,
.InvoiceTotalRow td {
  text-align: right;
}

.InvoiceTotalRow:last-child {
    font-weight: fontWeight("bold");
}

.AddressRow, .InvoiceDetails, .PackingSlipDetails {
  overflow: hidden;
  width: 100%;
}

.ShippingAddress, .BillingAddress,
.InvoiceDetailsLeft, .InvoiceDetailsRight,
.PackingSlipDetailsLeft, .PackingSlipDetailsRight {
  float: left;
  width: 48%;

  ul {
    padding-left: 0;
  }
}

.InvoiceItems,
.PackingSlipItems {
  border-top: 1px solid stencilColor("color-greyDarkest");
  padding-top:stencilNumber("padding-normal");
}

.InvoiceItemList {
  border-bottom: 1px solid stencilColor("color-greyDarkest");
}

.InvoiceItemDivider td {
  padding-top:stencilNumber("padding-normal");
  border-top: 1px solid stencilColor("color-greyDarkest");
}

.DetailRow,
.ConfigurableProductRow {
  clear: left;
  margin-top: remCalc(6);
  padding-left: remCalc(140);
}

.DetailRow .Label,
.ConfigurableProductRow .Label {
  margin: 0 0 remCalc(6) remCalc(-140);
  float: left;
  width: remCalc(130);
  padding-top: remCalc(1);
  display: inline;
  position: relative;

}

.DetailRow .Value,
.ConfigurableProductRow .Value {
  display: inline;
}

.InvoiceDetails .DetailRow .Label,
.PackingSlipDetails .DetailRow .Label {
  font-weight: fontWeight("bold");
}

.ConfigurableProductRow {
  font-size: 11px;
  margin-left:stencilNumber("padding-normal");
}

.InvoiceTotals .InvoiceTotal td {
  font-weight: fontWeight("bold");
}

.ProductQuantity {
  width: remCalc(50);
}

.ProductCost, .ProductTotal {
  width: remCalc(150);
}

.PageBreak {
  page-break-after: always;
}

.ProductPreOrder {
  font-size: 11px;
}