* {
  box-sizing: border-box;
}
body {
  background: #888 url(../img/coming-soon.jpg) no-repeat center center;
  background-size: cover;
  color: #798289;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: .8em;
  height: 100vh;
  line-height: 1.5em;
  margin: 0;
  min-width: remCalc(320);
  min-height: remCalc(480);
  padding: remCalc(20) remCalc(30);

  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
main {
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.07);
  background-color: #fff;
  display: block;
  padding: remCalc(20) remCalc(30);
  text-align: center;
}
section {
  margin-bottom: remCalc(40);
}
fieldset {
  border: none;
  padding: 0;
}
legend {
  overflow: hidden;
  position: absolute !important;
  width: remCalc(1);
  height: remCalc(1);
  margin: remCalc(-1);
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
label, input {
  display: block;
  height: remCalc(30);
  line-height: remCalc(30);
  width: 100%;
}
label {
  color: #313b47;
  font-size: fontSize("base");
  font-weight: fontWeight("bold");
  text-align: center;
}
input {
  border-radius: remCalc(2);
  border-style: solid;
  width: 100%;
  -webkit-appearance: none;
}
input[type=text] {
  background-color: #F7F8F9;
  border: 1px solid #E1E6EB;
  margin-bottom: fontSize("base");
  padding: 0 fontSize("base");
}
input[type=submit] {
  cursor: pointer;
  background: #00abc9;
  border: none;
  color: #fff;
  font-size: fontSize("base") * .9;
  padding: 0 fontSize("base");
}
a {
  text-decoration: none;
  color: #00b9d3;
  margin: 0 stencilNumber("padding-small") * .5;
}
h1 {
  color: #3C4043;
  font-weight: fontWeight("thin");
  font-size: remCalc(24);
  margin-top: stencilNumber("padding-normal");
}
div p {
  margin-top: 0;
  margin-bottom: 0;
}
.form-field--error {
  margin-bottom: fontSize("base");
}
.form-field--error input[type=text] {
  margin-bottom: 0;
}
.form-field--error .form-inlineMessage{
  color: #ac0005;
  margin-top: .375rem;
  width: 100%;
}
.powered-by {
  color: #acb3be;
  font-size: fontSize("base") * 0.8;
  font-style: italic;
  line-height: lineHeight("large");
}
.powered-by a {
  background: url('../img/bc_logo_sprite.png') 0 -75px no-repeat;
  display: inline-block;
  height: remCalc(22);
  opacity: .7;
  text-indent: remCalc(-9999);
  width: remCalc(95);
}
.powered-by a:hover {
  opacity: 1;
}
@media screen and (min-width: 540px) {
  body {
    font-size: 1em;
  }
  main {
    margin: 0 auto;
    padding: remCalc(45) remCalc(60);
    width: remCalc(500);
  }
  label, input {
    display: inline-block;
    margin-right: stencilNumber("padding-small");
    width: auto;
  }
  label {
    text-align: left;
  }
  input[type=text] {
    margin-right: stencilNumber("padding-normal");
    margin-bottom: 0;
  }
  .form-field {
    display: inline-block;
    position: relative;
  }
  .form-field--error .form-inlineMessage {
    /*color: #ac0005;*/
    left: remCalc(100);
    position: absolute;
    top: remCalc(30);
    /*width: 100%;*/
  }
}
