// created for orderconfirmation syles

// roboto regular 400 font family
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: #000;
  --medium: 16px;
  --background-color-btn: #a52238;
  --font-family: roboto;
  --border-bottom-grey: rgb(138, 138, 138);
}

* {
  font-family: "Roboto", sans-serif;
}

/* header css */
.containercheckout-header {
  display: none;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 40px;
}

.containercheckout-head-main {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 30px 0px;
}

/* order summary box syles */
.ordernumber {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

[data-test="cart-item-product-title"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

[data-test="cart-item-product-price"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

[data-test="cart-price-label"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.cart-priceItem-value {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

[data-test="cart-price-label"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

[data-test="cart-price-value"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.optimizedCheckout-headingSecondary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #000000;
}

#supporttext {
  width: 46%;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 10px;
  color: #000;
}

#gotohomepage {
  color: var(--black);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 20px;
  font-style: normal;
  font-family: "Roboto";
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.carddetailscontainer h2 {
  font-weight: bold;
  text-align: center;
  font-size: var(--medium);
  font-weight: bold;
  color: var(--black);
  height: 9vh;
}

.right-direction {
  position: absolute;
  margin-top: 3px;
  margin-left: 5px;
}

.optimizedCheckout-contentPrimary {
  display: flex !important;
  flex-direction: column !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.optimizedCheckout-buttonSecondary {
  display: none !important;
}

.cart-priceItem {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.optimizedCheckout-headingPrimary {
  display: none;
  font-size: 40px !important;
  font-weight: 400 !important;
  font-family: var(--font-family);
}

.orderConfirmation-section {
  display: none;
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

.optimizedCheckout-orderSummary-cartSection {
  border-color: #f5f5f5 !important;
}

.product-figure {
  display: none !important;
}

.optimizedCheckout-orderSummary {
  background-color: #f5f5f5 !important;
  border-radius: 5px;
}

.orderNumberHead {
  display: flex;
  justify-content: space-between;
}

.layout-cart {
  display: none;
  width: 48%;
  padding-left: 0px !important;
}

#cart-print-link {
  color: var(--black) !important;
}

.ordernumberlabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.optimizedCheckout-contentPrimary[data-test="cart-count-total"] {
  display: none !important;
}

[data-test*="order-confirmation-order-status-text"] {
  display: none;
}

[data-test*="cart-taxes"] {
  display: none;
}

[data-test*="order-confirmation-order-number-text"] {
  display: none;
}

[data-test*="order-confirmation-digital-items-text"] {
  display: none;
}

[data-test*="payment-instructions"] {
  display: none;
}

[data-test*="cart-shipping"] {
  display: none;
}

/* Manage your enrollment section syles*/
.spaceingline {
  padding-bottom: 20px;
}

.underenrollment {
  border-bottom: 5px solid #d41b2c;
  width: 5%;
}
.productmainhead {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: var(--black);
  margin-bottom: 20px;
}

.article-block-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0% !important;
  color: var(--black);
}

#enrollmentsection {
  padding: 45px 55px 75px 55px;
  display: none;
}

.maincontainer1 {
  width: 100%;
  padding: 0px 30px 30px 30px;
  margin-bottom: 10px;
}

.subcontainer1 {
  border: 1px solid #e3e3e3;
  border-radius: 7px;
  width: 50%;
  padding: 30px;
}

.subcontainer2 {
  padding: 30px;
}

.learnbutton {
  background: var(--background-color-btn);
  padding: 15px 30px;
  color: #f5f5f5;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15em;
}

.learnbutton:hover {
  color: #f5f5f5;
  background-color: #d41b2c;
}

.labeldate {
  display: flex;
  gap: 40px;
}

.label {
  color: #666666;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.date {
  color: var(--black);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.enrollmenthead {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
  margin-bottom: 15px;
}

.enrollmentsub {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  width: 75%;
}

.button-label {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--black);
}

.button-label:hover {
  color: var(--black);
}

/* footer css */
.footer-copy {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
}
.containercheckout-footer {
  display: none;
  background: #f2f2f2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 12vh;
  padding: 50px;
}

.containercheckout-footer-main {
  display: flex;
  justify-content: space-between;
}

.optimizedCheckout-orderSummary {
  border-color: #ffffff;
  box-shadow: none !important;
}

#main-contianer-div {
  width: 95%;
  margin: auto;
}

.cart {
  margin: 0px !important;
}

.layout-main {
  padding-left: 0px !important;
}

.enrollment-box-main {
  display: flex;
  gap: 5px;
  margin: 30px 0px;
}

.layout {
  margin: 0px !important;
  padding: 0px !important;
}

#checkout-app {
  padding: 0px 30px 30px 30px;
}

#enrollmentsection {
  padding: 0px !important;
}

.underlinelink {
  text-decoration: none;
}

.cart-header-link {
  text-decoration: none;
}

.underlinelink:hover {
  text-decoration: underline;
}

.cart-header-link:hover {
  text-decoration: underline;
}

// media queries

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  [data-test="cart-item-digital-product"]{
    display: none;
  }
  [data-test="cart-item"]{
    display: flex ;
    flex-direction: row-reverse ;
    flex-wrap: nowrap;
  }
  .cart-modal-header{
    padding: 1.5rem;
  }
  .subcontainer2{
    padding: 20px;
  }
  .layout-main{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .containercheckout-header{
    padding: 0px 20px;
  }
  .learnbutton{
    width: 100%;
  }
  .enrollmentsub {
    width: 100%;
  }
  .enrollment-box-main {
    display: flex;
    flex-direction: column;
  }
  .containercheckout-footer {
    height: 100% !important;
  }

  .optimizedCheckout-headingPrimary {
    width: 80%;
  }

  .labeldate {
    gap: 40px;
  }

  .checkoutHeader-logo {
    height: 20px;
  }

  .layout {
    padding: 0 0.5rem 1.5rem;
  }

  #supporttext {
    width: 100%;
    padding-right: 20px;
  }

  #gotohomepage {
    padding-bottom: 20px;
  }

  #enrollmentsection {
    padding: 0px;
    margin-left: 0px;
  }

  .maincontainer1 {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .subcontainer1 {
    width: 100%;
    padding: 20px;
  }

  .card {
    width: 100%;
  }

  .subrelatedcontainer {
    padding: 0px;
  }

  .containercheckout-footer-main {
    display: flex;
    flex-direction: column;
  }

  .footer-copy {
    padding-top: 10px;
    margin-bottom: 0px !important;
  }

  .cartDrawer {
    position: sticky !important;
  }

  .article-block-title {
    padding-top: 20px;
    width: 60%;
  }

  .underenrollment {
    width: 15%;
  }

  .containercheckout-footer {
    padding: 20px !important;
  }

  .spaceingline {
    padding-bottom: 20px;
    width: 80%;
    margin: 0px 25px;
  }

  // mobile ordersummary
  #checkout-app {
    padding: 0px;
  }
  .cart-modal-close {
    display: none;
  }
  .ReactModalPortal,
  .cartDrawer.optimizedCheckout-orderSummary {
    display: none;
  }
  .cart-modal-body {
    padding: 0px 0;
  }
  .mobile-product-cart .product {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .mobile-product-cart {
    margin-bottom: 20px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 700px) and (max-width: 1024px) {
  .cartDrawer {
    position: sticky !important;
  }

  #supporttext {
    width: 89%;
    padding-left: 30px;
  }

  #gotohomepage {
    padding-left: 30px;
  }
}

@media (min-width: 1000px) and (max-width: 1280px) {
  .cartDrawer {
    position: sticky !important;
  }

  #supporttext {
    width: 89%;
    padding-left: 30px;
  }

  #gotohomepage {
    padding-left: 30px;
  }
}
