// =============================================================================
// STENCIL
// =============================================================================


// Tools
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's toolkit for use.
//
// -----------------------------------------------------------------------------

@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/tools/_toolkit"; // 1


// Settings
// -----------------------------------------------------------------------------
//
// 1. Stencil global settings get imported first.
// 2. Import all Citadel and Foundation settings.
// 3. Import Citadel's version of foundation.
//      - This enables the ability to "null" variables in the Stencil settings.
// 4. Import Stencil's component settings overrides.
//
// -----------------------------------------------------------------------------

@import "settings/global/global"; // 1

@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/settings/global/global"; // 2
@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/settings/normalize/normalize"; // 2
@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/settings/foundation/foundation"; // 2
@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/settings/bigcommerce/bigcommerce"; // 2

@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/vendor/foundation/foundation"; // 3

@import "settings/normalize/normalize"; // 4
@import "settings/foundation/foundation"; // 4
@import "settings/citadel/citadel"; // 4
@import "settings/stencil/stencil"; // 4


// Utilities
// -----------------------------------------------------------------------------

@import "utilities/utilities";
@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/utilities/utilities";


// Components
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's normalize dependency.
// 2. Import Citadel's components.
// 2. Import Stencil's component additions and custom components.
//
// -----------------------------------------------------------------------------

@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/vendor/normalize/normalize"; // 1
@import "../jspm_packages/github/bigcommerce/citadel@2.2.2/dist/components/components"; // 2
@import "components/components"; // 3


// Layouts
// -----------------------------------------------------------------------------
//
// 1. Stencil design layout files (example: Header or Footer).
//
// -----------------------------------------------------------------------------

@import "layouts/layouts"; // 1
