// =============================================================================
// PRODUCT OPTIONS
// =============================================================================


.productOptionsList {
    color: color("greys", "light");
    list-style: none;
    margin: 0;
}

.productOptionsList-label {
    float: left;
    font-weight: normal;
    margin-right: spacing("quarter");
}

.productOptionsList-label,
.productOptionsList-description {
    margin-bottom: spacing("eighth");
}
