{{#partial "page"}}
<div class="main row">
    {{> components/common/breadcrumbs breadcrumbs}}
    <div class="col-md-3">
        {{>components/account/menu}}
    </div>
    <div class="col-md-9">
        <h1>{{forms.wishlist.title}}</h1>
        {{#if forms.wishlist.errors}}
        <div class="alert alert-danger" role="alert">{{{forms.wishlist.errors}}}</div>
        {{/if}}
        <form action="{{forms.wishlist.action}}" method="post">
            <input type="hidden" name="submit">
            <div>Wishlist Name: <input name="wishlistname" value="{{forms.wishlist.name}}"></div>
            <div>Make Public?
                <input type="checkbox" name="publicwishlist" {{#if forms.wishlist.is_public}}checked{{/if}}>
            </div>
            <input type="submit">
        </form>
    </div>
</div>
{{/partial}}
{{> layout/base}}
