{{#partial "page"}}
<div class="main row">
    {{> components/common/breadcrumbs breadcrumbs}}
    <div class="col-md-3">
        {{>components/account/menu}}
    </div>
    <div class="col-md-9">
        {{#if forms.address.address_id}}
            <h1>{{lang 'forms.address.edit.heading'}}</h1>
            <p>{{lang 'forms.address.edit.description'}}</p>
        {{else}}
            <h1>{{lang 'forms.address.add.heading'}}</h1>
            <p>{{lang 'forms.address.add.description'}}</p>
        {{/if}}
        {{#if forms.address.message}}
        <div class="alert alert-warning" role="alert">{{{forms.address.message}}}</div>
        {{/if}}
        <form action="{{forms.address.action}}" method="post">
            {{#if forms.address.address_id }}
                <input type="hidden" name="shipid" value="{{forms.address.address_id}}">
            {{/if}}
            {{#each forms.address.shipping_fields }}
                {{{field this}}}
            {{/each}}
            <input type="submit" value="{{lang 'forms.address.submit_value'}}">
        </form>
    </div>
</div>
{{/partial}}
{{> layout/base}}
