{{#partial "page"}}
<div class="account">
    <ul class="breadcrumbs">
        <li class="breadcrumb">
            <a class="breadcrumb-label" href="{{urls.home}}">{{lang 'home.heading'}}</a>
        </li>
        <li class="breadcrumb">
            <span class="breadcrumb-label">{{lang 'account.addresses.heading' }}</span>
        </li>
    </ul>
    <h2 class="page-heading">{{lang 'account.addresses.heading' }}</h2>
    {{> components/account/navigation account_page='addresses'}}
    <div class="account-row addresses-row">
        {{> components/account/address-list }}
    </div>
</div>
{{/partial}}
{{> layout/base}}
