{{#partial "page"}}
<div class="account">
    <ul class="breadcrumbs">
        <li class="breadcrumb">
            <a class="breadcrumb-label" href="{{urls.home}}">{{lang 'home.heading'}}</a>
        </li>
        <li class="breadcrumb">
            <span class="breadcrumb-label">{{lang 'account.recent_items.heading' }}</span>
        </li>
    </ul>
    <h2 class="page-heading">{{lang 'account.recent_items.heading' }}</h2>
    {{> components/account/navigation account_page='recent_items'}}

    <form action="/compare" method="post">
        <ul class="product-list">
            {{#each customer.recently_viewed_products.items}}
            <li class="recent-item product-card">
                {{> components/products/card}}
            {{/each}}
            </li>
        </ul>
        <input type="submit" value="Compare Products">
    </form>
</div>
{{/partial}}
{{> layout/base}}
