{{#partial "page"}}
<div class="main row">
    {{> components/common/breadcrumbs breadcrumbs}}
    <div>
        {{>components/account/menu}}
    </div>
    <form action="/compare" method="post">
    <ul>
        {{#each customer.recently_viewed_products.items}}
        <li>
            <div><a href="{{{url}}}" alt="{{name}}">{{name}}</a></div>
            <div>{{rating}}</div>
            <div>{{{price}}}</div>
            <div>{{{image}}}</div>
            <div>{{date_added}}</div>
            <div>{{pre_order}}</div>
            <div>{{release_date}}</div>
            <div>{{add_to_cart_text}}</div>
            <div>{{show_add_to_cart}}</div>
            <div>{{summary}}</div>
            <input type="checkbox" name="products[]" value="{{id}}">
        </li>
        {{/each}}
    </ul>
    <input type="submit" value="Compare Products">
    </form>
</div>
{{/partial}}
{{> layout/base}}
