{{#partial "page"}}
<div class="account">
    <ul class="breadcrumbs">
        <li class="breadcrumb">
            <a class="breadcrumb-label" href="{{urls.home}}">{{lang 'home.heading'}}</a>
        </li>
        <li class="breadcrumb">
            <span class="breadcrumb-label">{{lang 'account.returns.heading' }}</span>
        </li>
    </ul>
    <h2 class="page-heading">{{lang 'account.returns.heading' }}</h2>
    {{> components/account/navigation account_page='returns'}}
    <div class="account-row orders-row">
        <section class="orders">
            {{> components/account/returns-list returns=customer.returns}}
        </section>
    </div>
</div>
{{/partial}}
{{> layout/base}}
