{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'account.returns.heading' }}</h1>
{{> components/account/navigation account_page='returns'}}

<main class="account account--fixed">
    <div class="account-body">
        <section class="account-content">

            {{#if settings.returns_v2_enabled}}

                {{#if returns.length}}
                    {{!-- TODO: ORDERS-7751 When a per-return details route (e.g. action=view_return&return_id=X) exists, this list should link to it. --}}
                    {{> components/account/returns-list-v2 returns=returns}}
                    {{> components/common/cursor-paginator pagination.returns}}
                {{else}}
                    {{> components/common/alert/alert-info (lang 'account.returns.none')}}
                {{/if}}

            {{else}}

                {{#if customer.returns}}
                    {{> components/account/returns-list returns=customer.returns}}
                {{else}}
                    {{> components/common/alert/alert-info (lang 'account.returns.none')}}
                {{/if}}

            {{/if}}
            
        </section>
    </div>
</main>

{{/partial}}
{{> layout/base}}

