{{#partial "page"}}
<div class="account">
    <ul class="breadcrumbs">
        <li class="breadcrumb">
            <a class="breadcrumb-label" href="{{urls.home}}">{{lang 'home.heading'}}</a>
        </li>
        <li class="breadcrumb">
            <span class="breadcrumb-label">{{lang 'account.wishlists.heading' }}</span>
        </li>
    </ul>
    <h2 class="page-heading">{{lang 'account.wishlists.view_heading' name=wishlist.name }}</h2>
    {{> components/account/navigation account_page='wishlists'}}

    {{#if wishlist.is_public}}
    <div class="panel share-wishlist">
        <h3>{{lang 'account.wishlists.share_intro' }}</h3>
        <input class="form-input" value="{{share_url}}">
    </div>
    {{/if}}
    <ul class="product-list">
        {{#each wishlist.items}}
        <li class="product-card">
            {{>components/products/card }}
        </li>
        {{/each}}
    </ul>
</div>
{{/partial}}
{{> layout/base}}
