<header>
    <div class="row">
        <div class="col-md-5">
            <a href="/">
                {{#if settings.store_logo}}
                <img src="{{settings.store_logo}}">
                {{else}}
                <h1>{{settings.store_name}}</h1>
                {{/if}}
            </a>
        </div>


        <div class="col-md-3">
            {{#if customer }}
            <a href="/account.php">My Account</a>
            <a href="/login.php?action=logout">Sign Out</a>
            {{else}}
            <a href="/login.php">Login</a>
            <a href="/login.php?action=create_account">Sign Up</a>
            {{/if}}
            <a href="/giftcertificates.php">Gift Certificates</a>
            <a href="/wishlist.php">Wishlists</a>
            <a href="/cart.php">View Cart</a>
            <a href="/cart.php">View Cart</a>
        </div>
        <div class="col-md-3">
            {{> components/common/currency-selector}}
        </div>
    </div>
    {{> components/common/navigation}}
</header>