<ul style="display: none;">
    {{#each navigation}}
    <li style="display: inline-block;">
        <a href="{{url}}" data-hover="{{name}}">{{name}}</a>
        {{#if children}}
        <ul>
            {{#each children}}
            <li>
                <a href="{{url}}" data-hover="{{name}}">{{name}}</a>
                {{#if children}}
                <ul>
                    {{#each children}}
                    <li> <a href="{{url}}" data-hover="{{name}}">{{name}}</a> </li>
                    {{/each}}
                </ul>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </li>
    {{/each}}
</ul>
