// =============================================================================
// NAV (CSS)
// =============================================================================


// Citadel inline messages
// -----------------------------------------------------------------------------
//
// 1. Remove the margin-left we add to default lists.
//
// -----------------------------------------------------------------------------

.navList,
.navBar {
    margin-left: 0; // 1
}

.navList-action,
.navBar-action {
    text-decoration: none;
}

.navList-action.is-active {
    font-weight: $navList-action-fontWeight--active;
}


// NavList action checkbox
// -----------------------------------------------------------------------------
//
// Purpose: Display a checkbox next to an actionable link, without actually using
// a checkbox element.
//
// 1. Position checkbox so it is vertically centered
//
// -----------------------------------------------------------------------------

.navList-action--checkbox {
    @include checkRadioBase();
    @include checkBox-base();

    &:before,
    &:after {
        top: 50%; // 1
    }

    &:before {
        margin-top: -$checkRadio-outerSize / 2;
    }

    &:after {
        margin-top: -$checkRadio-outerSize / 2 + remCalc(1);
    }

    &:focus {
        @include checkRadioBase--focus();
    }

    &.is-disabled {
        @include checkRadioBase--disabled();
    }

    &.is-checked,
    &.is-selected {
        @include checkRadioBase--checked();
    }
}
