// =============================================================================
// STENCIL LAYOUTS
// =============================================================================


// Citadel components
// -----------------------------------------------------------------------------

// Footer
@import "grid/grid";

// Footer
@import "footer/footer";

.container {
    @include grid-row();
}

.aside {
    @include grid-column(4)
}

.main {
    @include grid-column(8);

    &.full {
        @include grid-column(12);
    }
}
