// =============================================================================
// ICONS (Settings)
// =============================================================================


$exportCSS--icons:              true;

$icon-color:                    color("greys", "darker");
$icon-size:                     16px;
