// =============================================================================
// ICONS (Settings)
// =============================================================================


$exportCSS--icons:              true;

$icon-color:                    stencilColor("icon-color");
$icon-size:                     16px;
