// =============================================================================
// ICONS (Settings)
// =============================================================================


$exportCSS--icons:              true;

$icon-color:                    color("greys", "darker");
$icon-size:                     16px;

$icon--starEmpty:               color("greys", "lighter");
$icon--starFull:                color("greys", "darker");
