// =============================================================================
// DIMENSIONS (Layout / Grid)
// =============================================================================


// Layout
// -----------------------------------------------------------------------------
//
// Define the layout width's for your project.
//
// -----------------------------------------------------------------------------

// Max Width
$layout-widthMax:               1340px;

// Fixed Width
$layout-widthFixed:             100%;




// Spacing Rhythm
// -----------------------------------------------------------------------------
//
// Create consistent spacing patterns in your entire projects aesthetics.
// Build your components margins, paddings, etc based off these spacing vars.
//
// -----------------------------------------------------------------------------

// Base Spacing
$spacingRhythm:                 $fontSize-base * $lineHeight-base;

$spacing-base:                  1rem;
$spacing-single:                $spacingRhythm;
$spacing-double:                $spacingRhythm * 2;
$spacing-half:                  $spacingRhythm / 2;
$spacing-third:                 $spacingRhythm / 3;
$spacing-quarter:               $spacingRhythm / 4;
$spacing-fifth:                 $spacingRhythm / 5;
$spacing-sixth:                 $spacingRhythm / 6;
$spacing-eighth:                $spacingRhythm / 8;
