// =============================================================================
// COMPONENTS
// =============================================================================


// Vendor components
// -----------------------------------------------------------------------------

// Slick carousel
@import "vendor/slick/component";


// Foundation components
// -----------------------------------------------------------------------------

// Global
@import "foundation/global/component";

// Typography
@import "foundation/type/component";

// Forms
@import "foundation/forms/component";

// Tables
@import "foundation/tables/component";

// Dropdown
@import "foundation/dropdown/component";

// Reveal Modal
@import "foundation/modal/component";

// Breadcrumbs
@import "foundation/breadcrumbs/component";

// Panels
@import "foundation/panels/component";

// Pagination
@import "foundation/pagination/component";

// Buttons
@import "foundation/buttons/component";

// Tabs
@import "foundation/tabs/component";


// Citadel components
// -----------------------------------------------------------------------------

// Forms
@import "citadel/forms/component";

// Cards
@import "citadel/cards/component";

// Nav
@import "citadel/nav/nav";

// Overlay
@import "citadel/loading/component";

// Icons
@import "citadel/icons/icons";


// Stencil components
// -----------------------------------------------------------------------------

// Ribbon
@import "stencil/ribbon/component";

// User Navigation
@import "stencil/navUser/component";

// Pages Navigation
@import "stencil/navPages/component";

// Tags
@import "stencil/tags/component";

// Social Links
@import "stencil/socialLinks/component";

// Hero Carousel
@import "stencil/heroCarousel/component";

// Write a Review
@import "stencil/writeReview/component";

// Add Return
@import "stencil/addReturn/component";

// Product Carousel
@import "stencil/productCarousel/component";

// Quick View
@import "stencil/quickView/component";

// Product Reviews
@import "stencil/productReviews/component";

// Product View
@import "stencil/productView/component";

// Compare
@import "stencil/compare/component";




// Login
@import "stencil/login";

// Account
@import "stencil/account/account";

// Create Account
@import "stencil/create-account";

// Wishlists
@import "stencil/wishlists";
