// =============================================================================
// COMPONENTS
// =============================================================================


// Vendor components
// -----------------------------------------------------------------------------

// Slick carousel
@import "vendor/slick/component";


// Foundation components
// -----------------------------------------------------------------------------

// Global
@import "foundation/global/component";

// Typography
@import "foundation/type/component";

// Forms
@import "foundation/forms/component";

// Tables
@import "foundation/tables/component";

// Dropdown
@import "foundation/dropdown/component";

// Reveal Modal
@import "foundation/modal/component";

// Breadcrumbs
@import "foundation/breadcrumbs/component";

// Panels
@import "foundation/panels/component";

// Pagination
@import "foundation/pagination/component";

// Buttons
@import "foundation/buttons/component";


// Citadel components
// -----------------------------------------------------------------------------

// Forms
@import "citadel/forms/component";

// Cards
@import "citadel/cards/component";

// Nav
@import "citadel/nav/nav";

// Overlay
@import "citadel/loading/component";


// Stencil components
// -----------------------------------------------------------------------------

// Ribbon
@import "stencil/ribbon/component";

// User Navigation
@import "stencil/navUser/component";

// Pages Navigation
@import "stencil/navPages/component";

// Create Account
@import "stencil/create-account";

// Tags
@import "stencil/tags/tags";

// Login
@import "stencil/login";

// Product Options
@import "stencil/product-options";

// Account
@import "stencil/account/account";

// Wishlists
@import "stencil/wishlists";

// Compare
@import "stencil/compare";

// Social Links
@import "stencil/socialLinks/component";

// Hero Carousel
@import "stencil/heroCarousel/component";

// Write a Review
@import "stencil/writeReview/component";

// Product Carousel
@import "stencil/productCarousel/component";

// Quick View
@import "stencil/quickView/component";
