// =============================================================================
// COMPONENTS
// =============================================================================


// Vendor components
// -----------------------------------------------------------------------------

// Slick carousel
@import "vendor/slick/component";


// Foundation components
// -----------------------------------------------------------------------------

// Global
@import "foundation/global/component";

// Typography
@import "foundation/type/component";

// Forms
@import "foundation/forms/component";

// Tables
@import "foundation/tables/component";

// Dropdown
@import "foundation/dropdown/component";

// Reveal Modal
@import "foundation/modal/component";

// Breadcrumbs
@import "foundation/breadcrumbs/component";

// Panels
@import "foundation/panels/component";

// Pagination
@import "foundation/pagination/component";

// Buttons
@import "foundation/buttons/component";

// Tabs
@import "foundation/tabs/component";

// Accordion
@import "foundation/accordion/component";

// Inline List
@import "foundation/inlineList/component";

// Alerts
@import "foundation/alerts/component";

// Lazy Load
@import "foundation/lazyLoad/component";


// Citadel components
// -----------------------------------------------------------------------------

// Forms
@import "citadel/forms/component";

// Cards
@import "citadel/cards/component";

// Nav
@import "citadel/nav/nav";

// Overlay
@import "citadel/loading/component";

// Icons
@import "citadel/icons/icons";

// Action bar
@import "citadel/actionBar/component";


// Stencil components
// -----------------------------------------------------------------------------

// Ribbon
@import "stencil/ribbon/component";

// User Navigation
@import "stencil/navUser/component";

// Pages Navigation
@import "stencil/navPages/component";

// Tags
@import "stencil/tags/component";

// Social Links
@import "stencil/socialLinks/component";

// Hero Carousel
@import "stencil/heroCarousel/component";

// Write a Review
@import "stencil/writeReview/component";

// Add Return
@import "stencil/addReturn/component";

// Product Carousel
@import "stencil/productCarousel/component";

// Quick View
@import "stencil/quickView/component";

// Product Reviews
@import "stencil/productReviews/component";

// Product View
@import "stencil/productView/component";

// Product View
@import "stencil/price/component";

// Compare
@import "stencil/compare/component";

// Blocker
@import "stencil/blocker/component";

// Text Truncate
@import "stencil/textTruncate/component";

// Toggle Link
@import "stencil/toggleLink/component";

// Faceted Search
@import "stencil/facetedSearch/component";

// Banners
@import "stencil/banners/component";

// Facet Label
@import "stencil/facetLabel/component";

// Cart
@import "stencil/cart/component";

// Address Box
@import "stencil/addressBox/component";

// videosViewer
@import "stencil/videoGallery/component";

// Preview Cart
@import "stencil/previewCart/component";

// Login
@import "stencil/login";

// Search
@import "stencil/search/search";

// Account
@import "stencil/account/account";

// Wishlists
@import "stencil/wishlists";

// Rating
@import "stencil/rating/component";

// Apple Pay
@import "stencil/applePay/component";

// Payment Methods
@import "stencil/paymentMethods/component";

// Categories
@import "stencil/category/component";

// Contact-Us Form
@import "stencil/contact/component";
