<div class="facetedSearch-refineFilters sidebarBlock">
    <h2 class="sidebarBlock-heading">
        {{lang 'search.faceted.selected.title'}}
    </h2>

    {{#if items}}
        <ul class="inlineList inlineList--labels">
            {{#each items}}
                <li>
                    <a href="{{url}}"
                       class="facetLabel"
                       rel="nofollow"
                       data-faceted-search-facet
                    >
                        {{#if facet '===' 'rating'}}
                            {{lang 'search.faceted.selected.rating-label' rating=title}}
                        {{else}}
                            {{{sanitize title}}}
                        {{/if}}

                        <svg class="icon">
                            <use xlink:href="#icon-close" />
                        </svg>
                    </a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>{{lang 'search.faceted.selected.no-filters'}}</p>
    {{/if}}

    {{#if remove_all_url}}
        <a href="{{remove_all_url}}" data-faceted-search-facet>
            {{lang 'search.faceted.selected.clear-all'}}
        </a>
    {{/if}}
</div>
