// =============================================================================
// FOUNDATION
// =============================================================================
//
// Foundation component settings.
// Purpose: Set your themes values for Foundation's core components.
//
// -----------------------------------------------------------------------------

@import "global/settings";

@import "type/settings";

@import "inlineList/settings";

@import "grid/settings";

@import "panels/settings";

@import "accordion/settings";

@import "alerts/settings";

@import "buttons/settings";

@import "forms/settings";

@import "breadcrumbs/settings";

@import "dropdown/settings";

@import "modal/settings";

// @import "dropdown-buttons/settings";

// @import "split-buttons/settings";

@import "tables/settings";

// @import "tooltips/settings";

@import "pagination/settings";

@import "tabs/settings";

// @import "orderedList/settings";

// @import "modal/settings";
