{{> components/products/filter sort=pagination.product_results.sort}}

<form action="/compare" method='POST' data-product-compare>
    {{#compare theme_settings.product_list_display_mode 'grid'}}
        {{> components/products/grid products=product_results.products}}
    {{else}}
        {{> components/products/list products=product_results.products}}
    {{/compare}}

    <input type="submit" value="{{@lang 'compare.button'}}" class="button button--primary">
</form>

{{> components/common/paginator pagination.product_results}}
