// =============================================================================
// FACET LABEL (CSS)
// =============================================================================

.facetLabel {
    background: $facetLabel-backgroundColor;
    border-radius: $facetLabel-borderRadius;
    padding: spacing("eighth") spacing("quarter");
    text-decoration: none;

    .icon {
        display: inline-block;
        fill: $facetLabel-removeIcon-color;
    }
}
