// =============================================================================
// FACET LABEL (CSS)
// =============================================================================

.facetLabel {
    background: color("greys", "lightest");
    border-radius: $facetLabel-borderRadius;
    padding: spacing("eighth") spacing("quarter");
    text-decoration: none;

    .icon {
        display: inline-block;
        fill: color("greys", "medium");
    }
}
