// =============================================================================
// IMAGES (CSS)
// =============================================================================


// Figure
// -----------------------------------------------------------------------------

.figure {
    position: relative;
}

// Top right text badge. Shows "On sale" as an example
.figure-ribbon {
    background-color: color("greys", "darker");
    color: color("whites", "bright");
    cursor: default;
    font-weight: fontWeight("bold");
    margin: (-(remCalc(11px))) (-(remCalc(11px))) 0 0;
    padding: remCalc(1px) spacing("base");
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
}
