<nav class="navBar navBar--account">
    <ul class="navBar-section account-navigation">
        {{#compare gift_page 'purchase' operator='==='}}
            <li class="navBar-item is-active">
                {{@lang 'gift_certificate.purchase.heading'}}
            </li>
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="{{urls.gift_certificate.purchase}}">
                    {{@lang 'gift_certificate.purchase.heading'}}
                </a>
            </li>
        {{/compare}}
        {{#compare gift_page 'redeem' operator='==='}}
            <li class="navBar-item is-active">
                {{@lang 'gift_certificate.redeem.heading'}}
            </li>
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="{{urls.gift_certificate.redeem}}">
                    {{@lang 'gift_certificate.redeem.heading'}}
                </a>
            </li>
        {{/compare}}
        {{#compare gift_page 'balance' operator='==='}}
            <li class="navBar-item is-active">
                {{@lang 'gift_certificate.balance.heading'}}
            </li>
        {{else}}
            <li class="navBar-item">
                <a class="navBar-action" href="{{urls.gift_certificate.balance}}">
                    {{@lang 'gift_certificate.balance.heading'}}
                </a>
            </li>
        {{/compare}}
    </ul>
</nav>
