// =============================================================================
// ACTION BAR (Settings)
// =============================================================================


// Bigcommerce Variables
// -----------------------------------------------------------------------------
//
// These scoped variables are created by Bigcommerce.
// All variables that are not from Foundation should be placed here.
//
// 1. Choose whether to include the Bigcommerce class names
//
// -----------------------------------------------------------------------------

$exportCSS--actionBar:                          true;

$actionBar-padding-horizontal:                  0;
$actionBar-padding-vertical:                    spacing("single") +  spacing("half");
$actionBar-padding:                             0 0 $actionBar-padding-vertical;

$actionBar-section-float:                       $default-float;
$actionBar-section-float--alt:                  $opposite-direction;
$actionBar-section-gutter:                      spacing("single");

$actionBar-form-field-margin:                   0;
$actionBar-button-margin:                       0;

$actionBar-text-padding:                        spacing("half") 0;




// Stencil Variables
// -----------------------------------------------------------------------------

$actionBar-form-field-border:                   $input-border-width $input-border-style $input-border-color;
$actionBar-form-field-radius:                   $global-radius;

$actionBar-form-label-color:                    stencilColor("color-textSecondary");
$actionBar-form-label-fontSize:                 fontSize("smallest");
$actionBar-form-label-lineHeight:               $input-small-height - remCalc($input-border-width * 2);
$actionBar-form-label-padding:                  spacing("half");

$actionBar-form-input-padding:                  spacing("eighth");
