// =============================================================================
// RIBBON (Settings)
// =============================================================================


$ribbon-backgroundColor:            color("greys", "darker");
$ribbon-color:                      color("whites", "bright");
$ribbon-cursor:                     default;
$ribbon-fontWeight:                 fontWeight("bold");
$ribbon-margin:                     (-(remCalc(11px))) (-(remCalc(11px))) 0 0;
$ribbon-padding:                    remCalc(1px) spacing("base");
$ribbon-positionRight:              0;
$ribbon-textTransform:              uppercase;
$ribbon-positionTop:                0;
