<table class="cart" data-cart-content>
    <thead class="cart-header">
        <th class="cart-header-item" colspan="2">{{@lang 'cart.checkout.item'}}</th>
        <th class="cart-header-item">{{@lang 'cart.checkout.price'}}</th>
        <th class="cart-header-item cart-header-quantity">{{@lang 'cart.checkout.quantity'}}</th>
        <th class="cart-header-item">{{@lang 'cart.checkout.total'}}</th>
    </thead>

    <tbody class="cart-list">
        {{#each cart.items}}
            <tr class="cart-item" data-item-row>
                <td class="cart-item-block cart-item-figure">
                    <img class="cart-item-image" src="{{@image image 'thumb'}}" alt="{{image.alt}}">
                </td>
                <td class="cart-item-block cart-item-title">
                    {{#if brand.name}}
                        <p class="cart-item-brand">{{brand.name}}</p>
                    {{/if}}
                    <h4 class="cart-item-name">{{name}}</h4>
                    {{#if release_date}}
                        <p>({{release_date}})</p>
                    {{/if}}
                    {{#if options}}
                        <dl class="cart-item-options">
                            {{#each options}}
                                <dt class="cart-item-option-title">{{name}}:</dt>
                                <dd class="cart-item-option-description">{{{value}}}</dd>
                            {{/each}}
                        </dl>
                        <a href="#" data-item-edit="{{id}}">{{@lang 'cart.checkout.change'}}</a>
                    {{/if}}
                    <!-- TODO: Giftwrapping can be disabled on a per-product basis in control panel. Needs to be brought through in context.-->
                    <dl class="cart-item-options cart-item-options--giftWrapping">
                        <dt class="cart-item-option-title">
                            Gift Wrapping:
                        </dt>
                        <dd class="cart-item-option-description">
                            <!-- TO DO: Put this back in once there's a conditional for it
                            Fancy Stuff <span class="cart-item-option-actions">(<a href="" data-reveal-id="modal-giftWrapping-form">Change</a> or <a href="">Remove</a>)</span>
                            -->
                            <a href="" data-reveal-id="modal-giftWrapping-form">Add</a>
                        </dd>
                        <!-- TO DO: Put this back in once there's a conditional for it - messages can be disabled from some gift wrapping options
                        <dt class="cart-item-option-title">
                            Gift Message:
                        </dt>
                        <dd class="cart-item-option-description">
                            This also needs to break to a new line in mobile view
                            I'm so nice to you
                        </dd>
                        -->
                    </dl>
                    {{> components/cart/modals/giftWrapping}}
                </td>
                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">{{@lang 'cart.checkout.price'}}</span> <span class="cart-item-value">{{@money price}}</span>
                </td>

                <td class="cart-item-block cart-item-info cart-item-quantity">

                    <label class="form-label cart-item-label" for="qty-{{id}}">{{@lang 'products.quantity'}}</label>
                    <div class="form-increment">
                        <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                            <span class="u-hiddenVisually">{{@lang 'products.quantity_decrease'}}</span>
                            <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-keyboard-arrow-down" /></svg></i>
                        </button>

                        <input class="form-input form-input--incrementTotal" id="qty-{{id}}" name="qty-{{id}}" type="tel" value="{{quantity}}" min="1" pattern="[0-9]*" aria-live="polite">

                        <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                            <span class="u-hiddenVisually">{{@lang 'products.quantity_increase'}}</span>
                            <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-keyboard-arrow-up" /></svg></i>
                        </button>
                    </div>

                </td>

                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">{{@lang 'cart.checkout.total'}}</span> <strong class="cart-item-value">{{@money total}}</strong>
                    <svg class="icon cart-remove" data-cart-itemid="{{id}}">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                    </svg>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
