<table class="cart" data-cart-content>
    <thead class="cart-header">
        <th class="cart-header-item" colspan="2">{{@lang 'cart.checkout.item'}}</th>
        <th class="cart-header-item">{{@lang 'cart.checkout.price'}}</th>
        <th class="cart-header-item cart-header-quantity">{{@lang 'cart.checkout.quantity'}}</th>
        <th class="cart-header-item">{{@lang 'cart.checkout.total'}}</th>
    </thead>

    <tbody class="cart-list">
        {{#each cart.items}}
            <tr class="cart-item" data-item-row>
                <td class="cart-item-block cart-item-figure">
                    <img class="cart-item-image" src="{{@image image 'thumb'}}" alt="{{image.alt}}">
                </td>
                <td class="cart-item-block cart-item-title">
                    {{#if brand.name}}
                        <p class="cart-item-brand">{{brand.name}}</p>
                    {{/if}}
                    <h4 class="cart-item-name">{{name}}</h4>
                    {{#if release_date}}
                        <p>({{release_date}})</p>
                    {{/if}}
                    {{#if options}}
                        <ul class="cart-item-options">
                            {{#each options}}
                                <li>{{name}}: {{{value}}}</li>
                            {{/each}}
                            <li>
                                <a href="#" data-item-edit="{{id}}">{{@lang 'cart.checkout.change'}}</a>
                            </li>
                        </ul>
                    {{/if}}
                </td>
                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">{{@lang 'cart.checkout.price'}}</span> <span class="cart-item-value">{{@money price}}</span>
                </td>

                <td class="cart-item-block cart-item-info cart-item-quantity">
                    <span class="cart-item-label">{{@lang 'cart.checkout.quantity'}}</span>
                    <div class="buttonGroup">
                        <button class="button button--small cart-update" data-cart-itemid="{{id}}" data-action="dec">-</button>
                        <button class="button button--small cart-update" data-cart-itemid="{{id}}" data-action="inc">+</button>
                    </div>
                    <span class="cart-item-value" id="qty-{{id}}">{{quantity}}</span>
                </td>

                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">{{@lang 'cart.checkout.total'}}</span> <strong class="cart-item-value">{{@money total}}</strong>
                    <svg class="icon cart-remove" data-cart-itemid="{{id}}">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                    </svg>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
