
{{#if cart.discount}}
    <div class="coupon-code-show">
        <a href="#">{{money cart.discount}}</a>
    </div>
    
{{else}}
    <button class="coupon-code-show">Add Code</button>

    <form class="coupon-form" action="{{urls.cart}}" method="post" style="display:none;">
        <button class="coupon-code-hide">{{lang 'cancel'}}</button>
        <input type="hidden" name="action" value="applycoupon">
        <input type="text" name="couponcode" id="couponcode" value="">
        <input type="submit" value="{{lang 'go'}}">
    </form>
{{/if}}
