<div id="add-certificate" class="cart-form gift-certificate-code" aria-hidden="true" style="display: none;">
    <form class="form form--hiddenLabels cart-gift-certificate-form" method="post" action="{{urls.cart}}">
        <label class="form-label" for="certcode">{{lang 'cart.gift_certificates.cert_code'}}</label>
        <input class="form-input" id="certcode" type="text" name="certcode" value="" placeholder="{{lang 'cart.gift_certificates.add_cert_code'}}">
        <input class="button button--primary button--small" aria-label="{{lang 'cart.gift_certificates.apply_gift_certificate'}}" type="submit" value="{{lang 'cart.coupons.button'}}">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
