{{#if provider}}
    <div class="subtotal shipping-estimate-show">
        <a href="#" class="shipping-estimate-value">{{@money shipping_cost}}</a>
    </div>
{{else}}
    <button class="shipping-estimate-show">{{@lang 'cart.shipping_estimator.add_info'}}</button>
{{/if}}

<div class="shipping-estimator" style="display: none;">
    <svg class="icon cart-remove shipping-estimate-hide">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
    </svg>
    <form class="form estimator-form">
        <select class="form-select" name="shipping-country">
            <option>{{@lang 'cart.shipping_estimator.select_a_country'}}</option>
            {{#each countries}}
                <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
        <select class="form-select" name="shipping-state">
            <option>{{@lang 'cart.shipping_estimator.select_a_state'}}</option>
            {{#each states}}
                <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
        <input class="form-input" type="text" name="shipping-zip" value="{{selected_zip}}">
        <button class="button button--primary button--small shipping-estimate-submit">{{@lang 'cart.shipping_estimator.estimate_shipping'}}</button>
    </form>
    <div class="shipping-quotes"></div>
</div>
