{{#if errors}}
    {{lang 'errors.shipping_quote_failure'}}
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{else}}
    <form>
        <ul>
            {{#if quotes.shipping_methods}}
                {{#each quotes.shipping_methods}}
                    <li>
                        <input id="shipping-quote-{{id}}" class="shipping-quote" type="radio" name="shipping_method" value="{{id}}">
                        <label for="shipping-quote-{{id}}">
                            {{provider_name}} <b>{{cost.formatted}}</b>
                        </label>
                    </li>
                {{/each}}
                <input class="button button--small select-shipping-quote" type="submit" value="{{lang 'cart.checkout.select'}}">
            {{else}}
                <li>
                    {{lang 'cart.shipping_estimator.free_shipping'}}
                </li>
            {{/if}}
        </ul>
    </form>
{{/if}}
