{{#if errors}}
    {{lang 'errors.shipping_quote_failure'}}
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{else}}
    <form>
        <ul>
            {{#if quotes.shipping_methods}}
                {{#each quotes.shipping_methods}}
                    <li class="estimator-form-row">
                        <dl>
                            <dt class="estimator-form-label">
                                <input id="shipping-quote-{{id}}" class="shipping-quote" type="radio" name="shipping_method" value="{{id}}">
                                <label class="estimator-form-label-text" for="shipping-quote-{{id}}">
                                    {{provider_name}}
                                </label>
                            </dt>
                            <dd class="estimator-form-input">
                                <label for="shipping-quote-{{id}}">
                                    <b>{{cost.formatted}}</b>
                                </label>
                            </dd>
                        </dl>
                    </li>
                {{/each}}
                <input class="button button--small button--primary select-shipping-quote" type="submit" value="{{lang 'cart.checkout.update'}}">
            {{else}}
                <li>
                    {{lang 'cart.shipping_estimator.free_shipping'}}
                </li>
            {{/if}}
        </ul>
    </form>
{{/if}}
