// =============================================================================
// VIDEO GALLERY
// =============================================================================

$videoGallery-spacing: spacing("single") + spacing("quarter");
