// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Container
// -----------------------------------------------------------------------------

.productView {
    padding-top: spacing("base");
}


// Images
// -----------------------------------------------------------------------------


.productView-image-wrapper {    
    display: none;
    border: container("border");

    @include breakpoint("medium") {
        display: block;
        position: relative;
        order: 2;
        flex: 1;
    }
}

.productView-images {
    margin-bottom: spacing("double");
}

.productView-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;

    @include breakpoint("medium") {
        min-height: 366px;
        min-width: inherit;
    }

    + .productView-thumbnails {
        margin-top: spacing("half");
    }

    @media (min-width: $screen-xxsmall) and (max-width: $screen-medium) {
        pointer-events: none;
    }
}

.productView-img-container {

    @include lazy-loaded-padding("product_size");
    margin: auto;
    max-width: get-width(stencilString("product_size"));
    position: relative;
    width: 100%;

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: "object-fit: contain;";
        max-height: 100%;
        object-fit: contain;
        width: 100%;
    }
}

.productView-thumbnails {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");

    margin-left: -(spacing("quarter"));
    margin-right: -(spacing("quarter"));
    &[data-slick] {
        opacity: 0;

        &.slick-initialized {
            opacity: 1;
        }
    }

    .slick-next {
        left: 0;
        right: 0;
        bottom: -50px;
        top: auto;
        transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
    }

    .slick-prev {
        left: 0;
        right: 0;
        top: -58px;
        transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
    }

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: "object-fit: contain;";
        object-fit: contain;
    }

    @include breakpoint("medium") {
        width: get-width(stencilString("productview_thumb_size"));
        margin-right: spacing("single");
    }
    
}

.productView-thumbnail {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin-bottom: spacing("single");
}

.productView-thumbnail-link {
    border: container("border");
    display: block;
    height: 350px;
    justify-content: center;
    max-width: 335px;
    padding: spacing("third");
    position: relative;
    width: 100%;
    margin: 0 auto;

    &:hover,
    &.is-active {
        border-color: color("greys", "darker");
    }

    @include breakpoint("medium") {
        max-width: 100px;
        height: 100px;
    }
}


// Details
// -----------------------------------------------------------------------------

.productView-title {
    margin-top: 0;
    font-size: 24px;
}

.productView-brand {
    color: $productView-brand-link-color;
    font-size: fontSize("smaller");
    margin: 0 0 spacing("half");

    @include breakpoint("large") {
        font-size: fontSize("small");
        margin: -(spacing("eighth")) 0 spacing("base");
    }

    a {
        color: $productView-brand-link-color;

        &:hover {
            color: $productView-brand-link-color--hover;
        }
    }
}

// Details - Product price
// -----------------------------------------------------------------------------

.productView-price {
    display: flex;
    align-items: center;
    gap: spacing("base");
    font-size: fontSize("smaller");
    padding-bottom: spacing("base") + spacing("base");
    margin-bottom: spacing("base") + spacing("base");
    border-bottom: container("border");

    @include breakpoint("medium") {
        // font-size: fontSize("larger");
        // margin-bottom: spacing("base");
    }

    .price-section--saving {
        font-size: fontSize("smaller");
        font-weight: fontWeight("bold");
        color: stencilColor("color-primary");
    }

    .price--withoutTax {
        font-size: fontSize("largest");
        font-weight: fontWeight("bold");
    }

    .price--non-sale {
        font-weight: fontWeight("bold");
        color: stencilColor("color-greyLight");
    }

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.productView-reviewLink {
    color: stencilColor("color-textSecondary");
    display: inline-block;
    margin-left: spacing("quarter");
    vertical-align: middle;

    &:hover {
        color: stencilColor("color-textSecondary--hover");
    }

    &--new {
        padding: 0;
    }
}


// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info {
    @include clearfix;
    margin-top: spacing("half");

    @include breakpoint("small") {
        margin-top: 0;
    }

    > :first-child {

        @include breakpoint("small") {
            margin-top: spacing("single");
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-info-name,
.productView-info-value {
    float: left;

    @include breakpoint("small") {
        float: none;
    }
}

.productView-review{
    @include grid-row($behavior: "nest");

    @include breakpoint("large") {
        display: flex; 
    }

    .productView-sku {
        @include grid-column(12);
        padding-bottom: spacing("base");

        @include breakpoint("medium") {
            @include grid-column(4);
        }

        @include breakpoint("large") {
            @include grid-column(3);
        }
    }

    .productView-rating {
        @include grid-column(12);

        @include breakpoint("medium") {
            @include grid-column(8);
        }
    }
}

.productView-info-name {
    clear: both;
    margin-bottom: spacing("eighth");
    margin-right: spacing("quarter");

    @include breakpoint("small") {
        font-family: fontFamily("headingSans");
        font-size: fontSize("smallest");
        font-weight: fontWeight("normal");
    }
}

.productView-info-value {
    margin-bottom: spacing("quarter");

    @include breakpoint("small") {
        margin-bottom: spacing("base");
    }
}


// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
// 3. File upload button does not properly display in IE if font-size is 0
//
// -----------------------------------------------------------------------------

.productView-options {
    @include clearfix;
    margin-bottom: spacing("single");

    .form-input[type="number"] {
        @include breakpoint("small") {
            width: grid-calc(2, $total-columns);
        }
    }

    .form {
        display: inline;

        .add-to-cart-wrapper {
            display: inline;
        }
    }

    input[type="file"] {
        font-size: fontSize("smallest"); // 3
    }

    .form-field {
        font-size: 0; // 2
        margin-bottom: 2rem;

        &--error > .form-inlineMessage {
            font-size: 1rem;
        }

        > .form-checkbox + .form-label {
            display: inline-block;
            margin-left: spacing("single");
            width: auto;

            @include breakpoint("small") {
                margin-left: 0;
                width: 100%;
            }
        }

        > .form-radio + .form-label {
            display: inline-block;
            text-align: justify;
        }

        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }
    }

    .form-action {

        @include breakpoint("small") {
            float: left;
            padding: 0 remCalc(10);
            width: 50%;
        }

        @include breakpoint("medium") {
            padding: 0;
            width: auto;
        }

        @include breakpoint("large") {
            display: inline-block;
            margin-top: 1rem;
        }

        .button {
            width: 100%;

            @include breakpoint("medium") {
                width: auto;
            }

            @include breakpoint("large") {
                margin-right: spacing("half");
            }
        }

        .button--primary {
            margin-right: spacing("half");
            border: none;
        }
    }
}


// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    border: $productOptions-list-border;
    list-style: none;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;

    + .productOptions-list-item {
        border-top: $productOptions-list-item-borderTop;
    }

    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}


// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}


// EasyZoom settings for zoomable product image
// -----------------------------------------------------------------------------

.productView-image .easyzoom-flyout {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    img {
        max-width: none;
        width: auto;
    }
}

// Product top three features/highlights
// -----------------------------------------------------------------------------

.productView-highlights {
    border-bottom: container("border");
    margin-bottom: spacing("base") + spacing("base");

    .product-highlights {
        color: stencilColor("color-black");
        margin-bottom: 0;

        li.feature:not(:last-child) {
            margin-bottom: spacing("base");
        }
    }
    
    #about-product {
        margin: spacing("base") * 2 auto spacing("base") * 2.5 auto;
        display: block;
        text-decoration: underline;
    }
}

.productView-details {
    .productView-options {
        position: relative;
        
        .loadingOverlay {
            display: block;
        }
    }
}

.productView-specs {
    color: stencilColor("color-greyDark");
    border-bottom: container("border");
    padding-bottom: spacing("base") + spacing("base");
    margin-bottom: spacing("base") + spacing("base");

    p:last-child {
        margin-bottom: 0;

        .icon  {
            svg {
                fill: stencilColor('color-greyDarkest')
            }
        }
    }
}

// Product tabs
// -----------------------------------------------------------------------------

.productTabs-sticky-header {
    position: fixed;
    top: $header-height;
    width: 100%;
    padding-top: spacing("half");
    padding-bottom: spacing("half");
    box-shadow: container("dropShadow");
    background: stencilColor("color-white");
    z-index: 1000;

    @include breakpoint("medium") {
        top: 0;
    }
}

.productTabs-sticky-header-img {
    display: none;

    @include breakpoint("medium") {
        display: block;
        margin-right: spacing("single");
    }
}

.productTabs-sticky-header-content {
    flex: 1;
}

.productTabs-stickyHeader-title {
    margin-bottom: spacing("half");
    font-size: remCalc(14);
}

.productTabs-stickyHeader-sku {
    margin-right: spacing("half");
    padding-right:  spacing("half");
    border-right: container("border");
}

.productTabs-sticky-header-links {
    display: none;

    ul {
        margin: 0;

        li {
            padding-right: spacing("base");
        }
    }

    @include breakpoint("medium") {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: spacing("half");
        padding-top: spacing("half");
        border-top: container("border");
    }
}

.productTabs {
    border-top: container("border");
    border-bottom: container("border");
    display: none;

    @include breakpoint('small') {
        display: block;
    }
}

.productTabs-heading {
    margin: 0;
    list-style: none;
    text-align: center;
    li {
        padding: spacing("base");
    }
}

.productTabs-section {
    margin-top: spacing("single");

    @include breakpoint('small') {
        margin-top: spacing("double");        
    }

    .productTabs-sectionHeading { 
        font-size: 1.5rem;
    }
    
    .productTabs-content {
        border: container("border");
        padding: spacing("half");

        @include breakpoint("small") {
            border: none;
            padding: 0;
        }       

        .productTabs-sectionHeading { 
            font-size: 1.5rem;
            margin-bottom: 0;          

            @include breakpoint("small") {
                margin-bottom: spacing("single");
            }

            .toggleLink {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: stencilColor('color-black');
            }

            .toggleLink-text {
                @include breakpoint("small") {
                    display: none;
                }
            }
        }

        .productTabs-body.toggle-content {
            @include breakpoint("small") {
                display: block;
            }
        }
    }
}

.productTabs-features {    
    @include grid-row();

    .product-feature {
        @include grid-column(12);
        margin-bottom: spacing("single");
        
        @include breakpoint("medium") {
            @include grid-column(6);
            width: 49% !important;
        }
        float: none !important;
        display: inline-block;

        .product-feature-content {
            display: flex;
        }

        .product-feature-figure {
            margin: 0;
            padding-right: spacing("single");
            max-height: 150px;
            flex: 0 0 150px;
        }

        .product-feature-body{
            p {
                margin-bottom: spacing("base");
            }

            .icon--play {
                margin-right: spacing("third");

                svg {
                    fill: stencilColor("color-primary");
                }
            }
        }
    }
}

.productTabs-features-secondary {
    font-size: fontSize("smaller");
    padding-left: spacing("double");
    margin-left: 0;
    margin-bottom: spacing("double");

    li:not(:last-child) {
        margin-bottom: spacing("base");
    }
}

.productTabs-specs-table {
    @include grid-row();

    .table {
        margin-top: 0;
        border: none;
        @include grid-column(12);

        @include breakpoint("medium") {
            @include grid-column(8);
        }        

        tr:nth-child(even) {
            background-color: stencilColor("color-greyLighter");
        }

        td + td {
            border: none;
        }
    }
}

.productTabs-support {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: spacing("double") spacing("single");

    .support-box {           
        border: 4px solid color("primary");
        padding: 20px;
        grid-column: auto/span 12;

        @include breakpoint("medium") {
            grid-column: auto/span 4;
        }
    }
    
    .support-icon {
        text-align: center;
        margin-bottom: spacing("single");

        .icon {            
            height: spacing("double");
            width: spacing("double");
            fill: color("primary");
        }
    }
}
