// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Container
// -----------------------------------------------------------------------------

.productView {
    padding-top: spacing("base");
}


// Images
// -----------------------------------------------------------------------------
//
// 1. Thumbnails are not used in mobile/tablet, and can be hidden via display.
//
// -----------------------------------------------------------------------------

.productView-images {
    margin-bottom: spacing("double");
}

.productView-image {
    margin: 0;

    img {
        width: 100%;
    }

    + .productView-thumbnails {
        margin-top: spacing("half");
    }
}

.productView-thumbnails {
    display: none; // 1

    @include breakpoint("medium") {
        @include u-listBullets("none");
        @include grid-row($behavior: "nest");
        display: block;
        margin-left: -(spacing("quarter"));
        margin-right: -(spacing("quarter"));
    }
}

.productView-thumbnail {
    @include grid-column(3);
    padding-left: spacing("quarter");
    padding-right: spacing("quarter");

    @include breakpoint("large") {
        width: 20%;
    }
}

.productView-thumbnail-link {
    border: 2px solid transparent;
    display: inline-block;
    padding: 2px;
    text-align: center;
    width: 100%;

    &:hover,
    &.is-active {
        border-color: color("greys", "darker");
    }
}


// Details
// -----------------------------------------------------------------------------

.productView-details {
    margin-bottom: spacing("single") + spacing("third");
}


// Details - Product details
// -----------------------------------------------------------------------------

.productView-product {
    border-bottom: container("border");
    padding-bottom: spacing("single") + spacing("third");
}

.productView-title {
    margin: 0;

    @include breakpoint("medium") {
        margin-top: spacing("single");
    }
}

.productView-brand {
    color: $productView-brand-link-color;
    font-size: fontSize("small");
    margin: -(spacing("eighth")) 0 spacing("base");

    a {
        color: $productView-brand-link-color;

        &:hover {
            color: $productView-brand-link-color--hover;
        }
    }
}

// Details - Product price
// -----------------------------------------------------------------------------

.productView-price {
    font-size: fontSize("larger");
    margin-bottom: spacing("base");
}

.productView-price .price-section--saving {
    font-size: fontSize("smaller");
}

.productView-reviewLink {
    color: color("greys", "light");
    display: inline-block;
    margin-left: spacing("half");
    vertical-align: middle;
}


// Details - Product Rating
// -----------------------------------------------------------------------------

.productView-rating {
    margin-bottom: spacing("single");
}


// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info-name {
    font-weight: fontWeight("bold");
    margin-bottom: 0;
}

.productView-info-value {
    font-size: fontSize("smaller");
}

// Details - Product options
// -----------------------------------------------------------------------------

.productView-options {
    @include clearfix;
    margin-bottom: spacing("single");
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    .form-input[type="number"] {
        @include breakpoint("small") {
            width: grid-calc(2, $total-columns);
        }
    }

    .form {
        display: inline;
    }

    .form-action {

        @include breakpoint("small") {
            float: left;
            padding: 0 remCalc(10);
            width: 50%;
        }

        @include breakpoint("medium") {
            float: none;
            padding: 0;
            width: auto;
        }

        @include breakpoint("large") {
            display: inline;
        }

        .button {
            width: 100%;

            @include breakpoint("large") {
                margin-right: spacing("half");
                width: auto;
            }
        }
    }
}


// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}
