/*---------shared styles-----------------*/

.facet-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.facet-container [class^="js-facet-clear"] {
    font-weight: bold;
}


/*---------facet-container--------------*/
/* Styles for facet-container */
.facet-container {
    position: relative;
}

/*# FACET HEADER #*/
.facet-container .facet-header {
    font-size: 11px;
    font-weight: bold;
    padding: 8px 0;
    position: relative;
}
    .facet-header.js-facet-accordion-action {
        cursor: pointer;
    }
        .facet-header.js-facet-accordion-action:after {
            content: "+";
            display: block;
            font-size: 12px;
            position: absolute;
            right: 0;
            text-transform: none;
            top: 10px;
            vertical-align: middle;
        }
            .facet-container.open .js-facet-accordion-action:after {
                content: "-";
            }

    .facet-header .facet-header-title {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        margin: 0;
        padding: 0px;
        text-transform: capitalize;
    }
        .facet-header h5.facet-header-title {
            font-size: 18px;
        }

    .facet-header .js-facet-clear{
        font-size: 11px;
        float: right;
        line-height: 18px;
        margin-right: 12px;
    }

/*# FACET OPEN AND CLOSE STATES #*/
.facet-container .facet-body {
    overflow: hidden;
}
    .facet-container.close .facet-body {
        display: none;
    }
    .facet-container.open .facet-body {
        display: block;
    }

/*# FACET BODY #*/
.facet-container .facet-body {
    margin: 0;
    padding: 0;
}


/*# FACETBASE FORMS #*/
.facet-container .facet-form {
    margin: 0;
    padding: 2px 0 8px;
}
    .facet-container .facet-form fieldset {
        margin: 0;
        padding: 0;
    }
    .facet-container .facet-form .error {
        color: #ff0000;
        font-size: 11px;
        margin: 0 0 8px;
    }
    .facet-container .facet-form input {
        -webkit-appearance: textfield;
        -moz-appearance:    textfield;
        appearance:         textfield;
        border: 1px solid #999;
        border-radius: 0px;
        display: inline-block;
        font-size: 12px;
        margin: 0;
        padding: 5px 0;
        text-indent: 8px;
        width: 50px;
    }
        .facet-container .facet-form.current input,
        .facet-container .facet-form.focus input {
            border-color: #666;
        }
    .facet-container .facet-form .btn {
        background: #999;
        border:none;
        border-radius: 0;
        color: #fff;
        float: none;
        font-size: 11px;
        font-weight: bold;
        height: 28px;
        line-height: 28px;
        margin: 0 0 0 5px;
        padding: 0 8px;
    }
    .facet-container .facet-form .js-btn-facet-range-clear {
        background: #fff;
        color: #999;
        display: none;
    }
        .facet-container .facet-form.current.focus .js-btn-facet-range-clear,
        .facet-container .facet-form.current .js-btn-facet-range-update {
            display: none;
        }
        .facet-container .facet-form.current .js-btn-facet-range-clear,
        .facet-container .facet-form.current.focus .js-btn-facet-range-update {
            display: inline-block;
        }


/*# FACET OPTION LIST #*/
.facet-container .facet-options-list {
    list-style: none;
    margin: 0 0 8px;
    padding: 0;
}
    .facet-container .facet-option {
        cursor: pointer;
        font-size: 11px;
        line-height: 16px;
        margin: 0;
        padding: 0;
    }
        .facet-container .facet-option * {
            cursor: pointer;
        }
    .facet-container .facet-option label,
    .facet-container .facet-option a {
        display: block;
        font-size: 11px;
        line-height: 14px;
        padding: 2px 0;
    }
    .facet-container .facet-option .facet-option-product-count {
        font-size: 11px;
    }
    /*# SLECTED FACET #*/
    .facet-container .facet-option.selected {
        position: relative;
        font-weight: bold;
    }
        .facet-option.selected label:after,
        .facet-option.selected a:after {
            content: "x";
            display: none;
            line-height: 1;
            position: absolute;
            right: 7px;
            top: 3px;
        }
            .facet-option.selected:hover label:after,
            .facet-option.selected:hover a:after {
                display: block;
            }


/*# RATINGS #*/
.facet-option-rating-stars {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}



/*# CATEGORY FACETS #*/
.facet-container-category .facet-option {
    padding-left: 0;
}
.facet-container-category.level1 .facet-option {
    padding-left: 8px;
}
.facet-container-category.level2 .facet-option {
    padding-left: 16px;
}
.facet-container-category.level3 .facet-option {
    padding-left: 24px;
}
.facet-container-category.level4 .facet-option {
    padding-left: 32px;
}
.facet-container-category.level5 .facet-option {
    padding-left: 40px;
}
.facet-container-category .facet-option.level0 {
    padding-left: 0;
}
.facet-container-category .facet-option.level1 {
    padding-left: 8px;
}
.facet-container-category .facet-option.level2 {
    padding-left: 16px;
}
.facet-container-category .facet-option.level3 {
    padding-left: 24px;
}
.facet-container-category .facet-option.level4 {
    padding-left: 32px;
}
.facet-container-category .facet-category-option-has-children:before {
    content: '\203A';
    font-size: 16px;
    position: absolute;
    right: 6px;
}
.facet-container-category .facet-option.level0 .facet-category-option-has-children:before {
    content: none;
}
.facet-container-category .facet-option.level1 .facet-category-option-has-children:before {
    content: none;
}
.facet-container-category .facet-option.level2 .facet-category-option-has-children:before {
    content: none;
}
.facet-container-category .facet-option.level3 .facet-category-option-has-children:before {
    content: none;
}


/*# FACET MORE BUTTON #*/
.facet-options-list + .js-facet-more-options {
    margin-top: -8px;
}
.facet-container .btn-facet-more-options {
    background: none;
    border: none;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    line-height: 24px;
    margin: 0;
    padding: 4px 0 6px;
    text-align: left;
    width: 100%;
}
.facet-container .btn-facet-more-options:hover {
    color: #666;
}
    .facet-container .btn-facet-more-options:before,
    .facet-container .btn-facet-more-options:after {
        display: inline-block;
    }
    .facet-container .btn-facet-more-options:after {
        margin-left: 5px;
    }
        .facet-container .btn-facet-more-options.more:before{
            content: "More";
        }
        .facet-container .btn-facet-more-options.more:after{
            content: "\00BB";
        }
        .facet-container .btn-facet-more-options.less:before{
            content: "Less";
        }
        .facet-container .btn-facet-more-options.less:after{
            content: "\00ab";
        }

/*---------facet-showing-container --------------*/
/* Styles for facet selection labels container */
.js-faceted-showing-container {
    padding-bottom: 8px;
}
ul.facet-labels-list {
    margin: 0 0 3px;
    padding: 0;
}
    ul.facet-labels-list li {
        font-size: 11px;
    }
    ul.facet-labels-list .facet-label {
        background: #999;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        font-size: 11px;
        margin: 0 0 4px 0;
        padding: 3px 5px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
        ul.facet-labels-list a {
            color:#fff;
            font-weight: bold;
            line-height: normal;
            text-transform: capitalize;
        }
            ul.facet-labels-list a:after {
                content: "x";
                display: inline-block;
                font-size: 10px;
                margin-left: 5px;
            }

.facet-container .js-facet-clear-all {
    font-size: 12px;
}

/*----------------------------------------------------------------------------------------------------------
#############################################  PRODUCT LIST
----------------------------------------------------------------------------------------------------------*/
.faceted-search .ProductList li {
    width: 33%;
}

/*----------------------------------------------------------------------------------------------------------
#############################################  MOBILE
----------------------------------------------------------------------------------------------------------*/
.js-faceted-search-action {
    display: none;
    margin-top: 20px;
}

.js-faceted-search-column.mobile-in-view {
    display: block !important;
    margin: 0;
}

/* 768px */
@media screen and (max-width: 768px) {

    .js-faceted-search-container {
        margin-bottom: 20px;
    }

    .js-faceted-showing-container {
        display: none;
    }

    .js-faceted-search-action {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }

    .facet-container .facet-header {
        font-size: 18px;
        padding: 20px 0;
    }

        .facet-header .facet-header-title {
            font-size: 16px;
        }

        .facet-header.js-facet-accordion-action:after {
            top: 24px;
        }

        .facet-header .js-facet-clear {
            font-size: 14px;
            margin-right: 24px;
        }

    .facet-container .facet-options-list {
        margin: 0 0 20px;
    }

    .facet-container .facet-option {
        font-size: 14px;
    }
        .facet-container .facet-option label,
        .facet-container .facet-option a {
            font-size: 14px;
            padding: 10px 0;
            line-height: 1;
        }

        .facet-container .btn-facet-more-options {
            font-size: 14px;
            padding: 10px 0 20px;
        }

    .facet-container .facet-form input {
        width: 100%;
    }
    .facet-container .facet-form .btn {
        height: auto;
        margin: 10px 0 0;
        padding: 10px;
    }
}

/* 480px */
@media screen and (max-width: 480px) {

}
