.grid
{
    font-size: 0;
    list-style:none;
    margin-bottom:0;
    margin-left:-20px;
}

.grid *, .grid *:before, .grid *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid>.grid
{
    margin-left:0;
}

.grid__item
{
    display: inline-block;
    font-size: 14px;
    padding-left:20px;
    vertical-align:top;
    width:100%;
}

.one-whole
{
    width:100%;
}

.one-half,.two-quarters,.three-sixths,.four-eighths,.five-tenths,.six-twelfths
{
    width:50%;
}

.one-third,.two-sixths,.four-twelfths
{
    width:33.333%;
}

.two-thirds,.four-sixths,.eight-twelfths
{
    width:66.666%;
}

.one-quarter,.two-eighths,.three-twelfths
{
    width:25%;
}

.three-quarters,.six-eighths,.nine-twelfths
{
    width:75%;
}

.one-fifth,.two-tenths
{
    width:20%;
}

.two-fifths,.four-tenths
{
    width:40%;
}

.three-fifths,.six-tenths
{
    width:60%;
}

.four-fifths,.eight-tenths
{
    width:80%;
}

.one-sixth,.two-twelfths
{
    width:16.666%;
}

.five-sixths,.ten-twelfths
{
    width:83.333%;
}

.one-eighth
{
    width:12.5%;
}

.three-eighths
{
    width:37.5%;
}

.five-eighths
{
    width:62.5%;
}

.seven-eighths
{
    width:87.5%;
}

.one-tenth
{
    width:10%;
}

.three-tenths
{
    width:30%;
}

.seven-tenths
{
    width:70%;
}

.nine-tenths
{
    width:90%;
}

.one-twelfth
{
    width:8.333%;
}

.five-twelfths
{
    width:41.666%;
}

.seven-twelfths
{
    width:58.333%;
}

.eleven-twelfths
{
    width:91.666%;
}

@media (only screen and max-width 480px) {
    .palm-one-whole
    {
        width:100%;
    }
    
    .palm-one-half,.palm-two-quarters,.palm-three-sixths,.palm-four-eighths,.palm-five-tenths,.palm-six-twelfths
    {
        width:50%;
    }
    
    .palm-one-third,.palm-two-sixths,.palm-four-twelfths
    {
        width:33.333%;
    }
    
    .palm-two-thirds,.palm-four-sixths,.palm-eight-twelfths
    {
        width:66.666%;
    }
    
    .palm-one-quarter,.palm-two-eighths,.palm-three-twelfths
    {
        width:25%;
    }
    
    .palm-three-quarters,.palm-six-eighths,.palm-nine-twelfths
    {
        width:75%;
    }
    
    .palm-one-fifth,.palm-two-tenths
    {
        width:20%;
    }
    
    .palm-two-fifths,.palm-four-tenths
    {
        width:40%;
    }
    
    .palm-three-fifths,.palm-six-tenths
    {
        width:60%;
    }
    
    .palm-four-fifths,.palm-eight-tenths
    {
        width:80%;
    }
    
    .palm-one-sixth,.palm-two-twelfths
    {
        width:16.666%;
    }
    
    .palm-five-sixths,.palm-ten-twelfths
    {
        width:83.333%;
    }
    
    .palm-one-eighth
    {
        width:12.5%;
    }
    
    .palm-three-eighths
    {
        width:37.5%;
    }
    
    .palm-five-eighths
    {
        width:62.5%;
    }
    
    .palm-seven-eighths
    {
        width:87.5%;
    }
    
    .palm-one-tenth
    {
        width:10%;
    }
    
    .palm-three-tenths
    {
        width:30%;
    }
    
    .palm-seven-tenths
    {
        width:70%;
    }
    
    .palm-nine-tenths
    {
        width:90%;
    }
    
    .palm-one-twelfth
    {
        width:8.333%;
    }
    
    .palm-five-twelfths
    {
        width:41.666%;
    }
    
    .palm-seven-twelfths
    {
        width:58.333%;
    }
    
    .palm-eleven-twelfths
    {
        width:91.666%;
    }
    
    .accessibility--palm,.visuallyhidden--palm
    {
        border:0!important;
        clip:rect(0000)!important;
        height:1px!important;
        margin:-1px!important;
        overflow:hidden!important;
        padding:0!important;
        position:absolute!important;
        width:1px!important;
    }
}

@media (only screen and min-width 481px and max-width 1023px) {
    .lap-one-whole
    {
        width:100%;
    }
    
    .lap-one-half,.lap-two-quarters,.lap-three-sixths,.lap-four-eighths,.lap-five-tenths,.lap-six-twelfths
    {
        width:50%;
    }
    
    .lap-one-third,.lap-two-sixths,.lap-four-twelfths
    {
        width:33.333%;
    }
    
    .lap-two-thirds,.lap-four-sixths,.lap-eight-twelfths
    {
        width:66.666%;
    }
    
    .lap-one-quarter,.lap-two-eighths,.lap-three-twelfths
    {
        width:25%;
    }
    
    .lap-three-quarters,.lap-six-eighths,.lap-nine-twelfths
    {
        width:75%;
    }
    
    .lap-one-fifth,.lap-two-tenths
    {
        width:20%;
    }
    
    .lap-two-fifths,.lap-four-tenths
    {
        width:40%;
    }
    
    .lap-three-fifths,.lap-six-tenths
    {
        width:60%;
    }
    
    .lap-four-fifths,.lap-eight-tenths
    {
        width:80%;
    }
    
    .lap-one-sixth,.lap-two-twelfths
    {
        width:16.666%;
    }
    
    .lap-five-sixths,.lap-ten-twelfths
    {
        width:83.333%;
    }
    
    .lap-one-eighth
    {
        width:12.5%;
    }
    
    .lap-three-eighths
    {
        width:37.5%;
    }
    
    .lap-five-eighths
    {
        width:62.5%;
    }
    
    .lap-seven-eighths
    {
        width:87.5%;
    }
    
    .lap-one-tenth
    {
        width:10%;
    }
    
    .lap-three-tenths
    {
        width:30%;
    }
    
    .lap-seven-tenths
    {
        width:70%;
    }
    
    .lap-nine-tenths
    {
        width:90%;
    }
    
    .lap-one-twelfth
    {
        width:8.333%;
    }
    
    .lap-five-twelfths
    {
        width:41.666%;
    }
    
    .lap-seven-twelfths
    {
        width:58.333%;
    }
    
    .lap-eleven-twelfths
    {
        width:91.666%;
    }
    
    .accessibility--lap,.visuallyhidden--lap
    {
        border:0!important;
        clip:rect(0000)!important;
        height:1px!important;
        margin:-1px!important;
        overflow:hidden!important;
        padding:0!important;
        position:absolute!important;
        width:1px!important;
    }
}

@media (only screen and min-width 481px) {
    .lap-and-up-one-whole
    {
        width:100%;
    }
    
    .lap-and-up-one-half,.lap-and-up-two-quarters,.lap-and-up-three-sixths,.lap-and-up-four-eighths,.lap-and-up-five-tenths,.lap-and-up-six-twelfths
    {
        width:50%;
    }
    
    .lap-and-up-one-third,.lap-and-up-two-sixths,.lap-and-up-four-twelfths
    {
        width:33.333%;
    }
    
    .lap-and-up-two-thirds,.lap-and-up-four-sixths,.lap-and-up-eight-twelfths
    {
        width:66.666%;
    }
    
    .lap-and-up-one-quarter,.lap-and-up-two-eighths,.lap-and-up-three-twelfths
    {
        width:25%;
    }
    
    .lap-and-up-three-quarters,.lap-and-up-six-eighths,.lap-and-up-nine-twelfths
    {
        width:75%;
    }
    
    .lap-and-up-one-fifth,.lap-and-up-two-tenths
    {
        width:20%;
    }
    
    .lap-and-up-two-fifths,.lap-and-up-four-tenths
    {
        width:40%;
    }
    
    .lap-and-up-three-fifths,.lap-and-up-six-tenths
    {
        width:60%;
    }
    
    .lap-and-up-four-fifths,.lap-and-up-eight-tenths
    {
        width:80%;
    }
    
    .lap-and-up-one-sixth,.lap-and-up-two-twelfths
    {
        width:16.666%;
    }
    
    .lap-and-up-five-sixths,.lap-and-up-ten-twelfths
    {
        width:83.333%;
    }
    
    .lap-and-up-one-eighth
    {
        width:12.5%;
    }
    
    .lap-and-up-three-eighths
    {
        width:37.5%;
    }
    
    .lap-and-up-five-eighths
    {
        width:62.5%;
    }
    
    .lap-and-up-seven-eighths
    {
        width:87.5%;
    }
    
    .lap-and-up-one-tenth
    {
        width:10%;
    }
    
    .lap-and-up-three-tenths
    {
        width:30%;
    }
    
    .lap-and-up-seven-tenths
    {
        width:70%;
    }
    
    .lap-and-up-nine-tenths
    {
        width:90%;
    }
    
    .lap-and-up-one-twelfth
    {
        width:8.333%;
    }
    
    .lap-and-up-five-twelfths
    {
        width:41.666%;
    }
    
    .lap-and-up-seven-twelfths
    {
        width:58.333%;
    }
    
    .lap-and-up-eleven-twelfths
    {
        width:91.666%;
    }
    
    .accessibility--lap-and-up,.visuallyhidden--lap-and-up
    {
        border:0!important;
        clip:rect(0000)!important;
        height:1px!important;
        margin:-1px!important;
        overflow:hidden!important;
        padding:0!important;
        position:absolute!important;
        width:1px!important;
    }
}

@media (only screen and max-width 1023px) {
    .portable-one-whole
    {
        width:100%;
    }
    
    .portable-one-half,.portable-two-quarters,.portable-three-sixths,.portable-four-eighths,.portable-five-tenths,.portable-six-twelfths
    {
        width:50%;
    }
    
    .portable-one-third,.portable-two-sixths,.portable-four-twelfths
    {
        width:33.333%;
    }
    
    .portable-two-thirds,.portable-four-sixths,.portable-eight-twelfths
    {
        width:66.666%;
    }
    
    .portable-one-quarter,.portable-two-eighths,.portable-three-twelfths
    {
        width:25%;
    }
    
    .portable-three-quarters,.portable-six-eighths,.portable-nine-twelfths
    {
        width:75%;
    }
    
    .portable-one-fifth,.portable-two-tenths
    {
        width:20%;
    }
    
    .portable-two-fifths,.portable-four-tenths
    {
        width:40%;
    }
    
    .portable-three-fifths,.portable-six-tenths
    {
        width:60%;
    }
    
    .portable-four-fifths,.portable-eight-tenths
    {
        width:80%;
    }
    
    .portable-one-sixth,.portable-two-twelfths
    {
        width:16.666%;
    }
    
    .portable-five-sixths,.portable-ten-twelfths
    {
        width:83.333%;
    }
    
    .portable-one-eighth
    {
        width:12.5%;
    }
    
    .portable-three-eighths
    {
        width:37.5%;
    }
    
    .portable-five-eighths
    {
        width:62.5%;
    }
    
    .portable-seven-eighths
    {
        width:87.5%;
    }
    
    .portable-one-tenth
    {
        width:10%;
    }
    
    .portable-three-tenths
    {
        width:30%;
    }
    
    .portable-seven-tenths
    {
        width:70%;
    }
    
    .portable-nine-tenths
    {
        width:90%;
    }
    
    .portable-one-twelfth
    {
        width:8.333%;
    }
    
    .portable-five-twelfths
    {
        width:41.666%;
    }
    
    .portable-seven-twelfths
    {
        width:58.333%;
    }
    
    .portable-eleven-twelfths
    {
        width:91.666%;
    }
    
    .accessibility--portable,.visuallyhidden--portable
    {
        border:0!important;
        clip:rect(0000)!important;
        height:1px!important;
        margin:-1px!important;
        overflow:hidden!important;
        padding:0!important;
        position:absolute!important;
        width:1px!important;
    }
}

@media (only screen and min-width 1024px) {
    .desk-one-whole
    {
        width:100%;
    }
    
    .desk-one-half,.desk-two-quarters,.desk-three-sixths,.desk-four-eighths,.desk-five-tenths,.desk-six-twelfths
    {
        width:50%;
    }
    
    .desk-one-third,.desk-two-sixths,.desk-four-twelfths
    {
        width:33.333%;
    }
    
    .desk-two-thirds,.desk-four-sixths,.desk-eight-twelfths
    {
        width:66.666%;
    }
    
    .desk-one-quarter,.desk-two-eighths,.desk-three-twelfths
    {
        width:25%;
    }
    
    .desk-three-quarters,.desk-six-eighths,.desk-nine-twelfths
    {
        width:75%;
    }
    
    .desk-one-fifth,.desk-two-tenths
    {
        width:20%;
    }
    
    .desk-two-fifths,.desk-four-tenths
    {
        width:40%;
    }
    
    .desk-three-fifths,.desk-six-tenths
    {
        width:60%;
    }
    
    .desk-four-fifths,.desk-eight-tenths
    {
        width:80%;
    }
    
    .desk-one-sixth,.desk-two-twelfths
    {
        width:16.666%;
    }
    
    .desk-five-sixths,.desk-ten-twelfths
    {
        width:83.333%;
    }
    
    .desk-one-eighth
    {
        width:12.5%;
    }
    
    .desk-three-eighths
    {
        width:37.5%;
    }
    
    .desk-five-eighths
    {
        width:62.5%;
    }
    
    .desk-seven-eighths
    {
        width:87.5%;
    }
    
    .desk-one-tenth
    {
        width:10%;
    }
    
    .desk-three-tenths
    {
        width:30%;
    }
    
    .desk-seven-tenths
    {
        width:70%;
    }
    
    .desk-nine-tenths
    {
        width:90%;
    }
    
    .desk-one-twelfth
    {
        width:8.333%;
    }
    
    .desk-five-twelfths
    {
        width:41.666%;
    }
    
    .desk-seven-twelfths
    {
        width:58.333%;
    }
    
    .desk-eleven-twelfths
    {
        width:91.666%;
    }
    
    .accessibility--desk,.visuallyhidden--desk
    {
        border:0!important;
        clip:rect(0000)!important;
        height:1px!important;
        margin:-1px!important;
        overflow:hidden!important;
        padding:0!important;
        position:absolute!important;
        width:1px!important;
    }
}

@media (only screen and min-width 1200px) {
    .accessibility--desk-wide,.visuallyhidden--desk-wide
    {
        border:0!important;
        clip:rect(0000)!important;
        height:1px!important;
        margin:-1px!important;
        overflow:hidden!important;
        padding:0!important;
        position:absolute!important;
        width:1px!important;
    }
}