/* Global Resets */
* {
    margin: 0;
    padding: 0;
    outline: none;
}

/* General */

body{
    color: #333;
    font-size: 14px;
    font-family: Arial, Sans-Serif;
    font-weight: normal;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

input, select, textarea {
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    color: #333;
}

/* Headings */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color:#2b2e33;
	margin: 0;
	padding: 0;
}
h1, .h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	font-weight: 300;
	padding: 0 30px 20px 0; word-wrap:break-word !important;
}
h2, .h2 {
	font-size: 24px;
	font-weight: 700;
	padding: 0 0 20px 0;
}
h3, .h3 {
	font-size: 18px;
	font-weight: 700;
	padding: 0 0 20px 0;
}
h4, .h4 {
	font-size: 16px;
	font-weight: 700;
	padding: 0 0 20px 0;
}
h5, .h5 {
	font-size: 14px;
	font-weight: 700;
	padding: 0 0 20px 0;
}

a {
    color: #e6514f;
    text-decoration: none;
    font-weight: inherit;
}

a:hover{
    color: #2b2e33;
}


a.disabled, a.disabled:hover {
    background-color: transparent;
	color: grey;
}

img, a img {
	border:none;
}

/* Page Breadcrumbs */
.Nav {
	font-size: 0.9em;
	padding-bottom: 4px;
	clear:both;
	padding-top:15px;
}

.ImageCount {
	color:gray; font-size:12px;
}

.ProductTinyImageList ul li {
	width: auto !important;
	height: auto !important;
	overflow: hidden;
	float: left;
    margin: 0 10px 0 0;
}

.ProductTinyImageList ul li div {
	display: table-cell;
	text-align: center;
}

.ProductTinyImageList ul li .TinyOuterDiv {
	border: 0px solid white;
	display: block;

}

.ProductTinyImageList a:hover {
    background: none;
}

.ProductZoomImageBox {
	display:table-cell;
}

.ProductZoomImageBox, .ProductZoomImageBox *{
	margin:auto;
	vertical-align: middle;

}


.ProductTinyImageList ul {
	margin: 0pt;
	padding: 0pt;
	position: relative;
	list-style-type: none;
	white-space:nowrap;
}

#ImageScrollPrev,
#ImageScrollNext {
	float: left;
	background:none;
	border:none;
	margin-top:45px !important;
	cursor:pointer;
	display: none;
}

.ProductTinyImageList {
	margin:10px auto 0 auto;
	white-space:nowrap;
	overflow: hidden;
    float: left;
	max-width:870px !important;
}

.ImageCarousel {
    width: auto !important;
}
p{ font-family:'Open Sans',Arial,Sans-serif;
font-size:14px; font-weight:400;
line-height:21px;
}


