
/******************Header Tracker*********************/

@media screen and (max-width: 1280px) {
    #Header {
        width: 73%;
    }
    .TopMenu {
        width: 27%;
    }
}

@media screen and (max-width: 1124px) {
    #Header {
        width: 70%;
    }
    .TopMenu {
        width: 30%;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
.ExpressCheckoutContent{ padding:20px !important;}
}

@media screen and (min-width:767px) and (max-width: 780px) {
.TopMenu li{ padding:0 5px;} 
}
/* 1024px */
@media screen and (max-width: 1024px) {
/* Hide */
.productOptionPreviewDisplay, .ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {	display: none !important;}
/* Show */
/* Layout */
#home .ProductList li, .productPage .ProductList li, div#SimilarMultiProductsByCustomerViews .BlockContent ul.ProductList li {width: 25%;}
.AddBillingAddress dd, .AddShippingAddress dd {	margin-left: 180px;	float: none;}
.PurchaseGiftCertificate .FormContainer dt { text-align: left;width: auto;clear: both;float: none;padding: 0 0 10px 0;}
.PurchaseGiftCertificate .FormContainer dd {padding: 0;margin: 0 0 20px 0;}
.PageMenu .CategoryList {width: 500px;}

/* Cart Styling */
.ExpressCheckoutContent {padding: 0;margin-bottom: 20px;}
.ExpressCheckoutContent > div {margin-bottom: 20px;}

.main > .inner, .footer-main > .inner,.footer-links > .inner{max-width: inherit;width: 90%;}
.newsletter-subscription > .inner{ width:100%;}
.newsletter-subscription .Textbox{width: 210px;}
.subscribe_form ul {text-align: left;}
/*SlideShow*/
#HomeSlideShow{ display:block; margin-bottom: 10px !important;}
.FeaturedProducts h2, .NewProducts h2, .TopSellers h2{ padding:0 0 10px;}
.ProductList .ProductPriceRating { background-color: rgba(255,255,255,.5);}
.height_none{ height:1px; padding:0;}
.PurchaseGiftCertificate .FormContainer dd.pbn{ margin:0;}
#fastCartContainer{ width:100%;}
}

/* 1000px */
@media screen and (max-width: 1000px) {
#home .ProductList li, .productPage .ProductList li {width: 25%;}
.ProductList li {width: 33.333333%;}
#ModalContainer {background-color: #fff;top: 10px !important;right: 10px !important;bottom: 10px !important;left: 10px !important;width: auto !important;margin-left: 0 !important;}
.actionLink .btn, .fastCartItemBox .CheckoutButton .btn{ padding:0 1em;}

#ModalContainer.ModalContentWithButtons, #ModalContainer, #ModalContainer.QuickViewModal, #ModalContainer.ProductShareModal{ margin:0 !important; width:90% !important; }
#ModalContainer {background-color: #fff;top: 10px !important;right:5% !important;bottom: 10px !important;left:5% !important;width: auto !important;margin-left: 0 !important;}
#ModalContent .PL40{ padding:0;}

}

@media screen and (max-width: 980px) {
.PageMenu .CategoryList {width: 450px;}
}
@media screen and (max-width: 900px) {
.PageMenu .CategoryList {width: 350px;}
}

/* 768px */
@media screen and (max-width: 767px) {
/* Hide */
#HomeSlideShow, #ProductBreadcrumb, .footer-columns .SocialConnect,.productlist-page .Left {display: none;}
.Left {float: none; width: auto;}
/* Show */
/* Layout */
#home .ProductList li, .productPage .ProductList li {width: 25%;}
#ProductDetails .left-content {float: none;width: auto;}
.PrimaryProductDetails .ProductMain {float: none;padding: 0 0 20px 0;width: auto;}
.footer-columns .grid__item {text-align: center;width: 33.333333%;}
#AjaxLoading {background-color: rgba(0,0,0,.7);top: 0;right: 0;bottom: 0;left: 0;}
#AjaxLoading .ajax-loader {position: absolute;margin-top: -16px;top: 50%;right: 0;left: 0;}
#ModalOverlay {background-color: #000;opacity: 0.7 !important;}
.productlist-page .CategoryContent {padding: 0;}


.login-form .one-half {width: 100%;}
.login-form .CreateAccount {margin-bottom: 20px;}
.header-secondary {clear: both;float: none;}
.header-logo {margin: 0;}
.header-logo img{width:90%;}
.PageMenu > .inner {margin: 0;max-width: inherit;width: 100%;}
.PageMenu .CategoryList {/*margin: 27px 0 0;*/padding-left: 10px;}
.PageMenu ul {margin-right: 0;}
.TopMenu ul {}
.TopMenu li ul {left: -205px !important;top: 22px !important;width: 180px;}
/*SlideShow*/
#HomeSlideShow{ display:block; margin-bottom: 10px !important;}
.FeaturedProducts h2, .NewProducts h2, .TopSellers h2{ padding:0 0 10px;}
.slide-show h2{ padding:0;}
#Header > .inner { max-width: inherit; width: 95.5%!important;}
.newsletter-subscription ul {padding-left:0 !important;}
.AdvancedSearch .HorizontalFormContainer .search-btn{margin:0; float:none;}
#uniform-searchsubs{ position:relative;}
span.checked{ display:block; position:absolute; top:0; left:0;}
#cartForm .CartProductLength{ width:35% !important;}
#cartForm .CartItemQuantity{ width:25% !important; }
#AddressEditForm #FormField_12, #AddressEditForm #FormField_13{width:385px !important;}
.Left{ padding-right:0;}
.height_none{ height:1px; padding:0;}
.PurchaseGiftCertificate .FormContainer dd.pbn{ margin:0;}
.PurchaseGiftCertificate .FormContainer dd.pbn{ margin-bottom:0;}
.PurchaseGiftCertificate .FormContainer dt {clear:inherit;float:left; padding: 12px 25px 6px 0; text-align: right; width:175px;}
.ProductActionAdd .btn{ padding:0 1em;}
form#LoginForm #LoginButton, form#LoginForm p.Submit a{ display:block; margin:0;}
.SubCategoryList{ padding-left:5%;}
.PurchaseGiftCertificate .FormContainer dd.pbn{ margin:0;}
.actions #LoginButton{ display:inline-block !important;}
#uniform-giftwrapping_all{ width:100% !important;}
#DrawerMenu ul.sf-menu li a.fa{ padding-left:47px !important; position:relative;}
#DrawerMenu ul.sf-menu li a.fa-user:before, #DrawerMenu ul.sf-menu li a.fa-tag:before, #DrawerMenu ul.sf-menu li a.fa-sign-out:before, #DrawerMenu ul.sf-menu li a.fa-sign-out:before, #DrawerMenu ul.sf-menu li a.fa-phone:before, #DrawerMenu ul.sf-menu li a.fa-sign-in:before, #DrawerMenu ul.sf-menu li a.fa-plus-square:before{position:absolute; top:19px; left:18px;}
}
/* 767px */
@media screen and (max-width: 767px) {
.mobile_none{ display:none;}
.left-content .only_mobile, .only_mobile{ display:block !important; float:none !important;}
.only_mobile .fixedWidth { width:100% !important; border:1px solid red;}

/* Hide */  
.TopMenu, .PageMenu, .QuickViewBtn, .footer-columns .BrandList, .footer-columns .CategoryList, .footer-columns .SocialConnect, .sf-menu li > ul, .productlist-page .Left, .ProductCompareButton, .CompareButton { display: none !important;}
#shareDescription {display: none;}

/* Show */
.header-secondary, #home .PageMenu {display: none !important;}
#ToggleMenu, #cart-amount {display: table-cell;}

/* Layout */
/* increasing input font sizes to avoid some zoom by webkit browsers */
input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"],
input[type="url"], textarea, select {font-size: 16px !important;}
.ProductList li, #home .ProductList li, .productPage .ProductList li { width: 100%;}
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner {width: 90%;}
.header { padding-top: 60px;}
#Header { position: fixed;top: 0;z-index: 100;background-color: #2B2E33;width: 100%;height:auto;}   
.header-logo {position: relative;top:0;left:0;} 
#Header > .inner {width: 100%;display: table;padding-top: 0;}
.header-secondary {float: none;position: absolute;top: 0;left: 0;width: 100%;background: #111}
.header-secondary .currency-converter {display: none;}
.header-secondary #SearchForm {float: none;}
.header-secondary #SearchForm input.Textbox {width: 50%;border: 0;background: none;color: #d6d6d6;padding-top: 25px;padding-bottom: 25px;}
.header-secondary #SearchForm input.Button {position: absolute;top: 10px;right: 0;border: 0;}
.header-logo {display: table-cell;float: none;max-height: 60px;vertical-align: middle;text-align: center;overflow: hidden;}
.header-logo h1 {padding: 0;}
.QuickSearch {margin: 0;left: 0 !important;width: 100% !important;}
#cart-amount {vertical-align: middle;width: 60px;background:#e6504f; }
#cart-amount .Cart {font-weight: bold;padding: 1em 0px;/*display: table-cell;*/display:block;text-align: center;width: 60px;position: relative;}
#cart-amount .Cart .total {display: inline-block;/*height: 18px;line-height: 20px;*/height:24px;line-height: 0px;margin: 0 auto;min-width: 17px;padding: 4px 5px;}
#cart-amount .Cart .bag-handle {border-bottom: 0;position: absolute;top: 8px;left: 24px;height: 4px;width: 8px;border-radius: 7px 7px 0px 0px;display:none;}
.PageMenu .inner {background: #fff;padding: 0;}
.PageMenu ul {display: block;}
.PageMenu .pages-menu {display: none;}
.PageMenu li {display: block;margin: 0;padding: 0;border-bottom: 1px solid #efefef;}
.PageMenu a {padding: 1em;font-size: 1.2em;}
.SubCategoryList {padding: 0;margin-bottom: 0;}
.SubCategoryList li {padding: 0.9em;background: none;border-bottom: 1px solid #efefef;}
#fastCartContainer {max-height: none;}
.footer-columns .grid__item, .CartCode .grid__item { width: 100%;}
#cart-amount .Cart .bag-handle { border: 2px solid #FFFFFF;}

#cart-amount .Cart .total:before {
    width:16px;
    height:19px;
    display:inline-block;
    position:absolute;
    top:15px;
    left:22px;
    font-family: fontawesome;
    font-size: 20px;
    color: #fff;
}

#cart-amount .Cart .total{color:#fff; display:block !important; background:transparent !important; position:relative;}
.header-logo img { width:auto;}
.slide-show .slide-overlay{top: 28%;}
.slide-show h2 {font-size: 24px;}
.slide-show .slide-text {font-size: 18px;}
.ProductList li, #home .ProductList li, .productPage .ProductList li {width: 50%;}
.page {padding: 60px 0 0;}
#DrawerMenu ul { margin:0;}
#DrawerMenu a{display:block;}
.slide-show .slide-overlay{ background:#e6514f; position:relative; display:block; bottom:0; left:0;}
.slide-show .slide-overlay{top: 28%;}
.slide-show h2, .slide-show .slide-text {padding-top:15px; font-weight:bold; width:80%; margin:0 auto; text-align:center; text-shadow: 0 0 0 rgba(0, 0, 0, 0); -moz-text-shadow: 0 0 0 rgba(0, 0, 0, 0); -webkit-text-shadow: 0 0 0 rgba(0, 0, 0, 0); font-size:14px !important;	}
.slide-show .slide-text {margin-bottom:15px ; font-weight:normal; width:80%; margin:0 auto; text-align:center; padding-top:4px !important;	}
.slide-show .slide-overlay{ background:#e6514f; position:relative; display:block; bottom:0; left:0;}
.slide-show .flex-direction-nav{ position:absolute; top:20%; width:100%;}
.flex-direction-nav .flex-prev, .flexslider:hover .flex-prev {left: -2px;}
.flex-direction-nav .flex-next, .flexslider:hover .flex-next {right: -2px;}
.slide-button .btn{ border:none; background:url(../images/link_arrow.png) no-repeat 100% 50% transparent; width:auto; padding:2px 15px 24px 15px!important; font-size:12px; margin:0 auto 5px auto;}
.slide-button .btn:hover{  background:url(../images/link_arrow.png) no-repeat  100% 50% transparent;  border:none; width:auto; padding:0 18px;}
.flex-direction-nav a{ margin-top:0;}
#Header > .inner { max-width: inherit; width: 100%!important;}
#Header .inner:after { content:normal !important;}
#uniform-EventDateYear{ margin-right:0 !important;}
#uniform-EventDateMonth, #uniform-EventDateDay, #uniform-EventDateYear, #uniform-qty_, 
.dateselector .fixedWidth, .d-date .fixedWidth{width:100% !important; margin:0 0 10px 0 !important;}
#SearchPageHeader p.InfoMessage{ margin-bottom:10px !important;}
#uniform-SearchSortingProductList{ margin-top:10px;}
#ModalContainer .fastCartThumb, #ModalContainer .fastCartItemBox div, #ModalContainer .Quantity, 
#ModalContainer .fastCartBottom {display: none !important;}
.fastCartThumb, .fastCartItemBox, .fastCartSummaryBox {float: none;width: 100%;}
#ModalContainer .fastCartTop { padding: 0;}
#ModalContainer .fastCartItemBox {padding: 0;text-align: center;}
#ModalContainer .fastCartSummaryBox {margin: 0 auto;float: none;overflow: hidden;}
.ExpressCheckoutBlockCompleted a.ChangeLink{ top:13px;}
#ModalContainer.QuickViewModal .qprod, #ModalContainer #QuickViewContent #QuickViewProductDetails, .productAttributeValue #uniform-qty_{ width:100% !important; padding:0;}
#tabcontent .photo{ margin-bottom:20px !important;}
}

/* 600px */
@media screen and (max-width: 767px) {
/* Hide */

.TopMenu, .PageMenu, .QuickViewBtn, .footer-columns .BrandList, .footer-columns .CategoryList, .footer-columns .SocialConnect, .sf-menu li > ul, .productlist-page .Left, .ProductCompareButton, .CompareButton {display: none !important;}
 #shareDescription {display: none;}
/* Show */
.header-secondary, #home .PageMenu {display: none !important;}
#ToggleMenu, #cart-amount {display: table-cell;}
/* Layout */
/* increasing input font sizes to avoid some zoom by webkit browsers */
input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"],
input[type="url"], textarea, select {font-size: 14px !important;}
.ProductList li, #home .ProductList li, .productPage .ProductList li { 	width: 100%;}
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner {width: 90%;}
.header { padding-top: 60px;}
#Header {position: fixed;top: 0;z-index: 100;background-color: #2B2E33;width: 100%;height:auto;}   
.header-logo { position: relative; top:0; left:0;} 
#Header > .inner {width: 100%;display: table;padding-top: 0;}
.header-secondary {	float: none;position: absolute;top: 0;left: 0;width: 100%;background: #111}
.header-secondary .currency-converter {display: none;}
.header-secondary #SearchForm {float: none;}
.header-secondary #SearchForm input.Textbox {width: 50%;border: 0;background: none;color: #d6d6d6;padding-top: 25px;padding-bottom: 25px;}
.header-secondary #SearchForm input.Button {position: absolute;top: 10px;right: 0;border: 0;}
.header-logo {display: table-cell;float: none;max-height: 60px;vertical-align: middle;text-align: center;overflow: hidden;}
.header-logo h1 {padding: 0;}
.QuickSearch, .GiftCertificate, .AddBillingAddress dd, .AddShippingAddress dd, .AddBillingAddress .HorizontalFormContainer dt, #NewBillingAddress .AddBillingAddress #uniform-FormField_12, .Submit input.billingButton, .ExpressCheckoutContent input.btn {margin: 0;left: 0 !important;width: 100% !important;}
#cart-amount {vertical-align: middle;width: 60px;background:#e6504f;}
#cart-amount .Cart {font-weight: bold;padding: 1em 0px;/*display: table-cell;*/	display:block;text-align: center;width: 60px;position: relative;}
#cart-amount .Cart .total {	display: inline-block;/*height: 18px;line-height: 20px;*/height:24px;line-height: 0px;margin: 0 auto;min-width: 17px;	padding: 4px 5px;}
#cart-amount .Cart .bag-handle {border-bottom: 0;position: absolute;top: 8px;left: 24px;height: 4px;width: 8px;border-radius: 7px 7px 0px 0px;	display:none;}
.PageMenu .inner {background: #fff;padding: 0;}
.PageMenu ul {display: block;}
.PageMenu .pages-menu {display: none;}
.PageMenu li {display: block;margin: 0;	padding: 0;	border-bottom: 1px solid #efefef;}
.PageMenu a {padding: 1em;font-size: 1.2em;}
.SubCategoryList {padding: 0;margin-bottom: 0;}
.SubCategoryList li {padding: 0.9em;background: none;border-bottom: 1px solid #efefef;}
#fastCartContainer {max-height: none;}
.footer-columns .grid__item, .CartCode .grid__item {width: 100%;}
/* Layout */
.ProductList li, #home .ProductList li, .productPage .ProductList li {width: 50%;}


input.Textbox, textarea, input[type="text"], input#FormField_13, input#FormField_23, #uniform-FormField_11, #uniform-sel_billing_address, #uniform-FormField_21, #uniform-FormField_22, div#SimilarMultiProductsByCustomerViews .BlockContent ul.ProductList li, #uniform-sel_shipping_address {width: 100% !important;}
#NewShippingAddress img.FloatLeft{ float:left;}
.addto .BulkDiscount, .addto #SideProductAddToWishList {display: block;}
/* Adjusting the size of the swatches for smaller screens */
.productOptionViewRectangle .option label { padding: 0 !important;line-height: 60px;height: 60px;width: 60px;}
.productOptionPickListSwatch .textureContainer, .productOptionPickListSwatch .swatchColours {display: block !important;}
.productOptionPickListSwatch .thumbnail, .productOptionPickListSwatch .swatchColour {display: block !important;height: 60px !important;width: 60px !important;}
.productOptionPickListSwatch li {display: inline-block !important;}
#tabcontent .photo {float: none;margin: 0;width: auto;}
.BillingDetails, .ShippingDetails {width: 100%;padding-top: 20px;}
#cart-amount .Cart .bag-handle { border: 2px solid #FFFFFF;}
#cart-amount .Cart .total{color:#fff; display:block !important; background:transparent !important; position:relative;}
.header-logo img { width:auto;}
.slide-show .slide-overlay{top: 28%;}
.slide-show h2 {font-size: 24px;}
.slide-show .slide-text {font-size: 18px;}
.ProductList li, #home .ProductList li, .productPage .ProductList li{width: 50%;}
.page {padding: 60px 0 0;}
#DrawerMenu ul { margin:0;}
#DrawerMenu a{display:block;}
#DrawerMenu ul.sf-menu li a::after, #DrawerMenut ul.sf-menu li ul li a::after{height: 0px;}
#frmCompare .ProductList, #frmCompare .ProductList li{ margin:0 !important; padding-right:0 !important}
.flex-control-nav { display:none!important;}
.TabNav li { display: inline-block; *display: inline;  *zoom: 1; margin:0 11px;}
.CartOfferWrapper{ margin:10px 0; }
.CouponCode input#couponcode, .GiftCertificateCode input#giftcertificatecode{ float:left;width:80% !important; margin-bottom:0 !important;}
.CouponCode input.btn, .GiftCertificateCode input.btn{float:left;width:20% !important; min-width:0 !important; margin-bottom:0 !important;}
table.CartContents{ border-right:0 !important; border-left:0 !important;}
table.CartContents tbody tr{ border-left:2px solid #F0EFEE !important; border-right:2px solid #F0EFEE !important;}
.Even .FloatRight, #CartContent .FloatRight, .AccountOrderStatusList li .btns form{float:none !important;}
.txtR .btn, #CartContent .btn.strongCta, #uniform-message_order_id, .HorizontalFormContainer dd .btn{ width:100% !important;}
.CartContents tfoot .SubTotal td div{ padding-left:0;padding-right:0;}
.SubTotal h4{ display:block; position:relative;}
.SubTotal h4 strong.ProductPrice{display:block; position:absolute; top:0; left:24%; width:90px; text-align:right !important;}
.AccountOrderStatusList li .btns{display:block; float:none; position:relative; top:inherit !important; right:inherit !important;margin:0 auto 1em auto; width:94%;}
.form li label, .form dt{ text-align:left;}
.form li label, .form dt{ display:inline-block; padding:20px 0 5px 0 !important;}
.form li label:first-child, .form dt:first-child{ padding-top:10px !important;}
#frmGiftCertificate{ margin:20px 0 0 0;}
#frmGiftCertificate .form dt, #frmGiftCertificate .form dd{ margin-bottom:15px !important; padding:0 0 0px 0 !important;}
#LayoutColumn2 h2{ margin-bottom:10px;}
.InfoMessage{ padding-bottom:0;}
.HorizontalFormContainer dd{ padding-bottom:0;}
table.CartContents tbody tr td{ width:20%;}
table.CartContents tbody tr td:nth-child(1){ width:30%;}
table.CartContents tbody tr td:nth-child(3){ width:10%;}
table.CartContents tbody tr td:nth-child(4){ width:12%;}
table.CartContents tbody tr td:nth-child(5){ width:33%;}
.txt-hide a{ margin-right:5px !important;}
.txt-hide a:last-child{ margin-right:0 !important;}
.HorizontalFormContainer dt{ text-align:left; padding-bottom:0; width:100%;}
.HorizontalFormContainer dd, .LittleNotePassword{ margin-left:0; padding-left:0 !important; line-height:25px !important;}
.mtm dd .btn{ margin-top:10px;}
.Left{ padding-right:0;}
#SaveCertificate{ margin-top:10px;}
.ExpressCheckoutBlockCompleted a.ChangeLink{ line-height:40px; font-size:15px;}


#NewBillingAddress .AddBillingAddress .FloatLeft{ float:none !important;}
#uniform-join_mailing_list{ margin-bottom:8px;}
#NewBillingAddress .SelectBillingAddress img.FloatLeft{ float:left;}
#tabcontent .photo img{ display:table !important; margin:0 auto !important;}
#recaptcha_area, #recaptcha_table{ width:100% !important;}
#ModalContainer .fastCartItemBox div{ display:block !important;}
.fastCartItemBox .CheckoutButton .btn, .List.ProductList li .ProductPriceRating{ width:100%;}
.fastCartItemBox .PayPalExpressCheckout{ float:none;}
.PurchaseGiftCertificate .FormContainer dt{ width:auto; text-align:left;}
.GiftCertificateThemeList .FloatLeft{ float:none;}
.GiftCertificateThemeList label{ line-height:30px;}
#fancy_inner div#fancy_close{background:url(../images/icon-close.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}
}

	
@media screen and (max-width:320px) {
.CreateAccount a.btn{ padding:0;}
.KeepShopping btn{ padding:0;}
.Shipping_Tax{ width:287px !important; float:left !important;}
.btnGap{ padding:0 !important;}
#SideTopSellers h3{text-align:center;}
}

/* Special for this button only */
@media screen and (min-width: 321px) and (max-width: 480px) {
.Shipping_Tax{ width:431px !important; float:left !important;}
.btnGap{ padding:0 !important;}
#SideTopSellers h3{text-align:center;}
}

/* 480 */
@media screen and (max-width: 480px) {

.CartThumb img { display: none;}
.Shipping_Tax {width: 100% !important;}

/* Hide */

.TopMenu, .PageMenu, .QuickViewBtn, .footer-columns .BrandList, .footer-columns .CategoryList, .footer-columns .SocialConnect, .sf-menu li > ul, .productlist-page .Left, .ProductCompareButton, .CompareButton {display: none !important;}

/* Show */
.header-secondary, #home .PageMenu {display: none !important;}
#ToggleMenu, #cart-amount { display: table-cell;}

/* Layout */
/* increasing input font sizes to avoid some zoom by webkit browsers */
input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select { font-size: 14px !important; }
.ProductList li, #home .ProductList li, .productPage .ProductList li { width: 100%; }
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner {width: 90%;}
.header {padding-top: 115px;}
#Header { position: fixed;top: 0;z-index: 100;background-color: #2B2E33;width: 100%;}   
.header-logo {position: relative;top:0;left:0;} 
#Header > .inner {width: 100%;display: table;padding-top: 0;}
.header-secondary {float: none;position: absolute;top: 0;left: 0;width: 100%;background: #111}
.header-secondary .currency-converter {display: none;}
.header-secondary #SearchForm {float: none;}
.header-secondary #SearchForm input.Textbox {width: 50%;border: 0;background: none;color: #d6d6d6;padding-top: 25px;padding-bottom: 25px;}
.header-secondary #SearchForm input.Button {position: absolute;top: 10px;right: 0;border: 0;}
.header-logo {display: table-cell;float: none;max-height: 60px;vertical-align: middle;text-align: center;overflow: hidden;}
.header-logo h1 {padding: 0;}
.QuickSearch {margin: 0;left: 0 !important;width: 100% !important;}
#cart-amount {vertical-align: middle;width: 60px;background:#e6504f;}
#cart-amount .Cart {font-weight: bold;padding: 1em 0px;/*display: table-cell;*/display:block;text-align: center;width: 60px;position: relative;
}
#cart-amount .Cart .total {display: inline-block;height:24px;line-height: 0px;margin: 0 auto;min-width: 17px;
padding: 4px 5px;}
#cart-amount .Cart .bag-handle {border-bottom: 0;position: absolute;top: 8px;left: 24px;height: 4px;width: 8px;border-radius: 7px 7px 0px 0px;}
.PageMenu .inner {background: #fff;padding: 0;}
.PageMenu ul {display: block;}
.PageMenu .pages-menu {display: none;}
.PageMenu li {display: block;margin: 0;padding: 0;border-bottom: 1px solid #efefef;}
.PageMenu a {padding: 1em;font-size: 1.2em;}
.SubCategoryList {padding: 0;margin-bottom: 0;}
.SubCategoryList li {padding: 0.9em;background: none;border-bottom: 1px solid #efefef;}
#fastCartContainer {max-height: none;}
.footer-columns .grid__item, .CartCode .grid__item {width: 100%;}
/* Form Styling */
.FormContainer dt {text-align: left;width: auto;clear: both;float: none;padding: 0;}
.FormContainer dd {padding: 0;margin: 0;}
#fancy_outer {z-index: 110 !important;}
#fancy_overlay {z-index: 105 !important;}
#fancy_content h1 {font-size: 22px;}
/* Cart Styling */
.CartContents thead,/*.CartContents .CartThumb,*/.CartContents .CartItemIndividualPrice {display: none !important;}
table.CartContents tbody tr td {padding: 10px 8px;}
.CartCode .grid__item {width: 100%;}
.CartCode .GiftCertificate input, .CartCode .CouponCode input {margin-bottom: 20px;}
#CartContent .FloatRight, #CartContent .FloatLeft, .ExpressCheckoutContent .FloatLeft, .ExpressCheckoutContent .FloatRight {float: none;}
.PayPalExpressCheckout {text-align: center;padding: 1em 0;}
.AddBillingAddress dd, .AddShippingAddress dd {padding: 0 !important;float: none;width: auto;}
/* ------------------- Modification ---------------- */	
/*Header*/
.header { padding-top: 0;}
#Header{ height:auto;}	
.header-logo img{ width:120px;}
.FeaturedProducts h2, .NewProducts h2, .TopSellers h2 {  padding: 0 0 10px;  text-align: center;}
.page {padding: 60px 0 0;}
/*SlideShow*/
#HomeSlideShow{ display:block; margin-bottom: 10px !important;}
#DrawerMenu ul { margin:0;}
#DrawerMenu a{display:block;}
/*#DrawerMenu .sf-sub-indicator{background: url(../images/submenu_show.png) no-repeat 0 0;}*/
.AddToWishlistLink .btn.alt, .BulkDiscount input, .CartItemQuantity .selector, .DetailRow.qty .selector, .Value #uniform-qty_{ width:100% !important;}
.shareSlide{ width:100% !important;border-left:0; border-right:0; position:relative;}
.shareSlide:after{ border:2px solid #F0EFEE; position:absolute; top:0; right:-4px; height:100%; content:'';width:2px; z-index:5;}
.btn{ width:100%; margin-bottom:5px;}
.ProductActionAdd .btn{ width:96%;}
.wishlistbtn{ width:96% !important;}
.HorizontalFormContainer dd{ margin-left:0;}

#currencyPrices, .powered-by, .footer-links a span{ display:block;}
.pipe{ display:none;}
.ProductList li{ padding-bottom:40px;}
.shareSlide:before{ border:2px solid #F0EFEE; position:absolute; top:0; left:-4px; height:100%; content:'';width:2px; z-index:5;}
.txt-right{text-align: center !important; float:none !important;}
ul.ShippingAddressList li{ width:100%;}

.multiStep li{ margin:0; clear:both; display:block;}
.multiStep li h4{ display:inline-block;}
.ProductList.List li{ border-top:0;}
#CartEditProductFieldsForm #ModalButtonRow .mas{ margin:0 !important; float:none !important;}
.ProductZoomImage img, .ProductZoomImageBox, .ProductZoomImageBox, .ProductZoomImageBox *{ width:100% !important; height:100px !important;}
#ModalContainer.ModalContentWithButtons, #ModalContainer, #ModalContainer.QuickViewModal, #ModalContainer.ProductShareModal{top:10px !important; bottom:10px !important;}
div#fancy_outer{ width:90% !important; left:0 !important;}
#fancy_inner div#fancy_close{background:url(../images/icon-close.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;background-size: cover !important;height: 12px !important; right:8px !important;top:8px !important; width: 12px !important;}
#fancy_frame{ width:auto !important;}
#SharingDataWrapper{ overflow:hidden;}
}
@media screen and (min-width:480px)  and (max-width: 767px) {
	#frmCompare .ProductList.brandProductList .btn{width:auto;}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~15-01-2014~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media screen and (min-width:0px)  and (max-width: 767px) {
.mobile_none{ display:none;}
.left-content .only_mobile, .only_mobile{ display:block !important; float:none !important;}
.only_mobile .fixedWidth { width:100% !important; border:1px solid red;}

.ProductDetailsGrid h1, .Value{ text-align:center;}
.BrandName{ padding-bottom:20px;}
/*.left-content{ display:none}*/
#DrawerMenu .slidePanelSearch{ width:90% !important; margin:0 auto;}
.slidePanelSearch input[type="text"]{ height:45px;}
.slidePanelSearch input[type="submit"]{top:21px;}
.slidePanelSearch input[type="text"]{ margin-bottom:15px;}

/*li.First a:before {display:block;width:13px; height:12px;content:'';background: url(../images/sprite_account.png) no-repeat 0 0; position:absolute; top:21px; left:18px;}
li#GiftCertificatesMenu a:before {display:block;width:13px; height:12px;content:'';background: url(../images/sprite_account.png) no-repeat 0 -28px; position:absolute; top:21px; left:18px;}*/

/*#DrawerMenu .topmenu-options li a[href^=tel]{ display:block; padding-left:50px !important; position:relative;}
#DrawerMenu .topmenu-options li a[href^=tel]:before{
display:block;width:13px; height:14px;content:'';background: url(../images/sprite_account.png) no-repeat 0 -12px; position:absolute; top:21px; left:18px;}*/
.ProductDetails, .ProductList em{ text-align:center;}
.ProductList .ProductDetails{ padding-right:0;}
.ProductList .pname{ padding-bottom:0;}
.footer-columns h4, .footer-main a{text-align:left !important;}
.footer-columns .SocialConnect{ display:block !important; text-align:left !important; border-top:2px solid #EDEDED; margin-top:20px; padding-top:20px;}

.slide-show .slide-overlay{ background:#e6514f; position:relative; display:block; bottom:0; left:0;}
.footer-links{ background:none;}
.footer-links > .inner{ width:90% !important; border-width:1px; padding:0 5%;}

#SideCategoryList .sf-menu .sf-sub-indicator{ top:8px !important;}
.TitleHeading{ text-align:center;}

.newsletter-subscription .grid__item, .newsletter-subscription .Textbox, .newsletter-subscription .inputForm, .newsletter-subscription .subscribe_form li{ width:100% !important;}
.newsletter-subscription h4{ text-align:center !important;}
.newsletter-subscription ul{ padding-left:0;}
.newsletter-subscription .inputForm{ padding-bottom:15px;}
.BrandName, #CartHeader h1.TitleHeading , #HomeNewProducts h3, .ProductDetailsGrid .DetailRow, .ProductDetailsGrid .s-price, .ProductList .p-name, #SimilarProductsByCustomerViews h3{text-align: center !important; float:none !important;}

#ProductDetails .BlockContent{ position:relative; padding:40px 0 0 0;}
/*#ProductDetails .ProductMain .ProductDetailsGrid h1{ position:absolute; top:45px; left:0; width:100%; text-align:center;}
#ProductDetails .ProductMain .ProductDetailsGrid .p-price{ position:absolute; top:100px; left:0;width:100%; text-align:center;}*/

.slide-show .flex-direction-nav{ position:absolute; top:20%; width:99.6%;}
div#fancy_close{ -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover !important;  background-size: cover !important; background-position:top !important; right:10px !important;}
.ProductDetailsGrid h1{ font-size:30px;}
.AdvancedSearch .HorizontalFormContainer{ padding:5%;}
.AdvancedSearch .HorizontalFormContainer .fixedWidth, .AdvancedSearch .HorizontalFormContainer #price_from, #price_to,
.ModalContent #fastCartContainer, .value #uniform-qty_, .CheckoutExpress .inner{ width:100% !important;}
.ExpressCheckoutContent{ padding:5% !important;}
.ExpressCheckoutContent .grid__item{ width:100%; display:block;}
.ExpressCheckoutWrapper:first-child{ margin-bottom:5%;}
.jstree-interspire.jstree-focused{ width:90% !important; padding:5% !important;}
.AdvancedSearch .HorizontalFormContainer .search-btn, .SearchContainer .ProductList .ProductImage,
.add-to-cart-large, #ProductReviews .btn, .CreateAccount .btn, .actions .btn, .subscribe_form .btn, .CartItemQuantity .selector, .DetailRow.qty .selector, #SearchSortingSelectContainer .fixedWidth, .SortBox div.selector, .SearchSorting div.selector, .ProductList.List .ProductImage, .ProductList.List .ProductDetails{ margin-right:0 !important; width:100% !important;}
.ProductList.List .ProductDetails{ padding-left:0; padding-right:0;}
#frmCompare .ProductActionAdd .btn{ width:100%;}
#frmCompare .ProductList.brandProductList .btn{ padding:0 1em;}

.newsletter-subscription h4{ line-height:19px; padding-bottom:15px;}
.slide-image-wrapper{ display:block; position:relative;}
.top_border{ background:#3F3F3F; height:1px;}
.productlist-page .TitleHeading{float:none}
#HomeFeaturedProducts h3{ text-align:center !important; padding-top:24px !important;}
.productOptionPickListSwatch .swatchColour, .productOptionViewRectangle .option label{ width:25px !important; height:25px !important;}
.productOptionViewRectangle .option label{ line-height:25px !important;}
.fastCartTop .fastCartSummaryBox{ background:none;}

#ModalContainer .modalClose{ top:14px !important; right:14px !important; width:12px !important; height:12px !important; -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover !important;  background-size: cover !important;}
.fastCartTop .fastCartSummaryBox{ padding:20px 0;}
/*.CartContents .ProductName a{ color:#e6504f !important;}*/
select.SearchSortingList, select, option{ font-size:12px !important; }
/*.dateselector div:last-child{width:38% !important; margin-right:0;}*/
#uniform-revrating{width:100% !important;}
#SearchResultsCategory{ display:block !important;}
.DetailRow .Value{ text-align:left !important;}
.DetailRow .ProductPrice, #SideProductRelated h3{ display:block; text-align:center !important;}
.FormContainer .box dt{ text-align:left;}
.SearchContainer .SortBox{ margin:0;}
.SearchSorting{ float:none;}

#fancy_title,#fancy_outer{ display:none;}
.AdvancedSearch .HorizontalFormContainer .search-btn{margin:0 5% !important; width:90%!important;}
#SearchPageHeader .SearchSuggest{margin: 20px 0px 10px 0px;}
#ProductDetails .ProductTinyImageList{ width:85%!important;}
#ProductDetails #ImageScrollNext { float:right;}

/*~~~~~~~~~~~~~~~~~~~~~~Animation~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#Header,
.page,.header {
    -webkit-transition: -webkit-transform 100ms ease-out;
    -ms-transition:     -ms-transform 100ms ease-out;
    transition:         transform 100ms ease-out;
}
#Header.off-screen, .header.off-screen  {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px);    
}
.display_none_mobile{ display:none !important;}
.ExpressCheckoutBlock .ExpressCheckoutTitle span.stepNocnt, .ExpressCheckoutBlock.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle span.stepNocnt{ width:30px; height:30px; line-height:30px;}
.ExpressCheckoutBlock h3{ font-size:15px; line-height:40px; padding:0;}
.ExpressCheckoutTitle h3{ padding-left:18px;}
#ChooseShippingAddress h3{ padding-right:15%;}
#ChooseShippingAddress ul.TabNav li{ margin:0 !important;}

.SortBox label{padding: 10px;}
#uniform-sort .FloatRight{float:none !important;}
/*.List.ProductList li .ProductPriceRating{ width:auto;}
.ProductList.List .ProductImage{ margin:0 auto;}*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~03-02-2014~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.SortBox, .SortBox form label{ float:none; text-align:left; line-height:30px;}
.BulkDiscountLink{ text-align:center;}
#SimilarMultiProductsByCustomerViews h4{ text-align:center;}
}
@media screen and (min-width:769px)  and (max-width:1198px) {
.AddToWishlistLink .btn.alt{ width:50%; padding:0 1.5%;}
.shareSlide{ width:49%; padding:0;}
#frmCompare .ProductActionAdd .btn{ padding:0 1em;}

}

@media screen and (min-width:0px)  and (max-width: 999px) {
.flex-direction-nav .flex-prev, .flexslider:hover .flex-prev {left: -2px;}
.flex-direction-nav .flex-next, .flexslider:hover .flex-next {right: -2px;}
}
@media screen and (min-width:481px)  and (max-width:800px) {
.multiStep li{ margin:0 1% !important;}
.multiStep li:first-child{margin-left: 0 !important;}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~03-02-2014~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media screen and (min-width:767px) and (max-width:1200px) {
.fastCartThumb{ width:28%;}
.fastCartThumb img{ width:100%;}
.fastCartItemBox{width:35%;}
.fastCartSummaryBox{width:37%;}

}
@media screen and (min-width:1025px) and (max-width:1200px) {
.main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner{ width:100%;}
#fastCartContainer{ width:80%;}
#fastCartContainer{ width:100%;}
.actionLink .btn, .fastCartItemBox .CheckoutButton .btn{ padding:0 1em;}

}
@media screen and (min-width:481px) and (max-width:3000px) {
#CartEditProductFieldsForm #ModalButtonRow .mas{ margin-top:0 !important;}
.qprod{ vertical-align:top;}

}
@media screen and (min-width:768px) and (max-width:768px) {
.productAttributeValue input.btn{ display:block !important; margin-bottom:10px;}
}
@media screen and (min-width:481px) and (max-width:767px) {
div#SimilarMultiProductsByCustomerViews .BlockContent ul.ProductList li{width:50% !important;}
}

@media screen and (min-width:768px) and (max-width:840px) {
.actionLink .btn, .fastCartItemBox .CheckoutButton .btn {padding: 0 0.5em;}

@media screen and (max-width:3000px) {
.fastCartTop{ padding:0;}
.BulkDiscountLink{ float:none;}
#NewsContent{ margin:100px auto 100px auto; padding:0 5%;width:90%;}
#BlogRecentPosts
.QuickSearch{ padding:0;}
.QuickSearch tr{ border-bottom:1px solid #d1d4d8;}
.QuickSearch tr:last-child{ border-bottom:none;}
#LayoutColumn1 .right{width:100%; display:block; float:none;}
}
@media screen and (min-width:1024px) {
    #NewsContent { 
        margin:100px auto 100px auto; 
        padding:0;
        max-width:960px; 
        width: 80%;
    }
}

@media screen and (min-width:1000px) {
    #ModalContainer, #ModalContainer.QuickViewModal { 
        height:auto !important; 
        max-height: 600px;
        top: 15% !important; 
    }

    #ModalContainer.ModalContentWithButtons, #ModalContainer.ProductShareModal{ 
    height:45% !important;
    }

}
