.flexslider {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    border: 0;
	/*width:92%;*/
	margin:0 auto;
}

.slide-show {
    margin-bottom: 30px !important;
}

.slide-show h2 {
    font-size: 40px;
    text-shadow: 0 0 .5em rgba(0,0,0,0.5);
	text-transform:uppercase;
	padding:0 0 10px 0;
}

.slide-show .btn {
    font-size: 16px;
}

.slide-show li.slide {
    position: relative;
}

.slide-show .slide-text {
    font-size: 22px;
    text-shadow: 0 0 .5em rgba(0,0,0,1);
	margin-bottom:20px;
}

.flex-control-nav {
    bottom: 20px !important;
}

.slide-show .slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 35%;
    text-align: center;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: 18%;
}

.flex-direction-nav .flex-prev {
    left: 18%;
}
@media screen and (min-width:320px)  and (max-width: 600px) {
	.flex-control-nav {
		display:none;
	}
.slide-show h2 {	
    text-shadow: 0;
	font-size: 14px;
    font-weight: 700;
	
}

.slide-show .slide-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-shadow:0;
}	
}
@media screen and (min-width:768px)  and (max-width:920px) {

.slide-show .slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
}
}