// =============================================================================
// GIFT CERTIFICATES (Settings)
// =============================================================================

$giftCertificateCode-button-width:              remCalc(170px);
$giftCertificateCode-button-marginLeft:         spacing("half");
$giftCertificateCode-smallText-offset:          $giftCertificateCode-button-width + $giftCertificateCode-button-marginLeft;
