<script>

var themevaleMenu = new window.themevaleMenu();

$(document).ready(function() {

    /* Megamenu Settings */

    // Megamenu Style 1
    themevaleMenu.menuItem(1).themevaleMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '40%',    // width of images area
        cateAreaWidth: '60%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<div class="imgList style-2">\
                    <div class="imgItem imgLeft">\
                        <div class="featured-product">\
                        <h2 class="imgHeading">Featured Product</h2>\
                        <div class="featuredProductCarousel">\
                            <div class="product">\
                                <article class="card" data-product-id="119">\
                                    <figure class="card-figure" data-product-id="119">\
                                                <div class="product-badge new-badge">\
                                                    <span class="text">New</span>\
                                                </div>\
                                        <a href="/gempus-cosmo-de-milancelos-scelerisque-placerat/">\
                                            <div class="card-img-container">\
                                                <img class="lazyload" src="" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/images/stencil/270x346/products/119/483/1619209__90710.1576205217.1280.1280__76376.1576211613.jpg?c=2" alt="">\
                                            </div>\
                                        </a>\
                                    </figure>\
                                    <div class="card-body">\
                                            <p class="card-brand" data-test-info-type="brandName">Benjamin Button</p>\
                                        <h4 class="card-title">\
                                            <a href="/gempus-cosmo-de-milancelos-scelerisque-placerat/">Gempus Cosmo De Milancelos Scelerisque Placerat</a>\
                                        </h4>\
                                        <div class="card-price" data-test-info-type="price">\
                                            <div class="price-section price-section--withoutTax non-sale-price--withoutTax">\
                                                <span class="non-sale-price-label">Was:</span>\
                                                <span data-product-non-sale-price-without-tax="" class="price price--non-sale">\
                                                    $899.00\
                                                </span>\
                                            </div>\
                                            <div class="price-section price-section--withoutTax">\
                                                <span data-product-price-without-tax="" class="price price--withoutTax">$699.00</span>\
                                            </div>\
                                        </div>\
                                        <figcaption class="card-figcaption">\
                                            <div class="card-figcaption-body">\
                                               <a href="/gempus-cosmo-de-milancelos-scelerisque-placerat/" data-event-type="product-click" class="btn button card-figcaption-button" data-product-id="119">Choose Option</a>\
                                            </div>\
                                        </figcaption>\
                                    </div>\
                                </article>\
                            </div>\
                            <div class="product">\
                                <article class="card" data-product-id="86">\
                                    <figure class="card-figure" data-product-id="86">\
                                            <div class="product-badge new-badge">\
                                                <span class="text">New</span>\
                                            </div>\
                                        <a href="/gempus-milancelos-de-cosmo/">\
                                            <div class="card-img-container">\
                                                <img class="lazyload" src="" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/images/stencil/270x346/products/86/427/2050986__03546.1576206570.jpg?c=2" alt="">\
                                            </div>\
                                        </a>\
                                    </figure>\
                                    <div class="card-body">\
                                            <p class="card-brand" data-test-info-type="brandName">Donatello</p>\
                                        <h4 class="card-title">\
                                            <a href="/gempus-milancelos-de-cosmo/">Gempus Milancelos De Cosmo</a>\
                                        </h4>\
                                        <div class="card-price" data-test-info-type="price">\
                                            <div class="price-section price-section--withoutTax non-sale-price--withoutTax">\
                                                <span class="non-sale-price-label">Was:</span>\
                                                <span data-product-non-sale-price-without-tax="" class="price price--non-sale">\
                                                    \
                                                </span>\
                                            </div>\
                                            <div class="price-section price-section--withoutTax">\
                                                <span data-product-price-without-tax="" class="price price--withoutTax">$489.00</span>\
                                            </div>\
                                        </div>\
                                        <figcaption class="card-figcaption">\
                                            <div class="card-figcaption-body">\
                                               <a href="/gempus-milancelos-de-cosmo/" data-event-type="product-click" class="btn button card-figcaption-button" data-product-id="86">Choose Option</a>\
                                            </div>\
                                        </figcaption>\
                                    </div>\
                                </article>\
                            </div>\
                            <div class="product">\
                                <article class="card" data-product-id="120">\
                                    <figure class="card-figure" data-product-id="120">\
                                                <div class="product-badge new-badge">\
                                                    <span class="text">New</span>\
                                                </div>\
                                                <div class="product-badge sale-badge">\
                                                    <span class="text">Sale</span>\
                                                </div>\
                                        <a href="/diverra-dulla-minterdum-andacony-maliduet/">\
                                            <div class="card-img-container">\
                                                <img class="lazyload" src="" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/images/stencil/270x346/products/120/485/2332744__19213.1576211902.jpg?c=2" alt="">\
                                            </div>\
                                        </a>\
                                    </figure>\
                                    <div class="card-body">\
                                            <p class="card-brand" data-test-info-type="brandName">Tomorrow</p>\
                                        <h4 class="card-title">\
                                            <a href="/diverra-dulla-minterdum-andacony-maliduet/">Diverra Dulla Minterdum AnDacony Maliduet</a>\
                                        </h4>\
                                        <div class="card-price" data-test-info-type="price">\
                                            <div class="price-section price-section--withoutTax non-sale-price--withoutTax">\
                                                <span class="non-sale-price-label">Was:</span>\
                                                <span data-product-non-sale-price-without-tax="" class="price price--non-sale">\
                                                    $899.00\
                                                </span>\
                                            </div>\
                                            <div class="price-section price-section--withoutTax">\
                                                <span data-product-price-without-tax="" class="price price--withoutTax">$869.99</span>\
                                            </div>\
                                        </div>\
                                        <figcaption class="card-figcaption">\
                                            <div class="card-figcaption-body">\
                                               <a href="/diverra-dulla-minterdum-andacony-maliduet/" data-event-type="product-click" class="btn card-figcaption-button" data-product-id="120">Choose Option</a>\
                                            </div>\
                                        </figcaption>\
                                    </div>\
                                </article>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
                <div class="imgItem imgRight">\
                   <a href="#"><img class="lazyload" src="" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style1.jpg"/></a>\
               </div>\
               </div>'
    });

    // Megamenu Style 2
    themevaleMenu.menuItem(2).themevaleMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageLeft',    // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '41%',    // width of images area
        cateAreaWidth: '59%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<div class="imgList"><div class="imgItem--full"><a href="#"><img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style2.jpg" alt=""/></a></div></div>',
        bottomMegamenu: '<div class="own-text"><span>Free Shipping On All Orders. No Minimum Purchases*</span></div>'
    });

    // Megamenu Style 3
    themevaleMenu.menuItem(4).themevaleMegaMenu({
        dropAlign: 'fullWidth',     // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',         // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageTop',       // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',       // width of images area
        cateAreaWidth: '100%',      // width of categories area
        cateColumns: 5,             // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        imagesTop: [
            '<a class="imageTop-item" href="#"><img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style3-1.jpg" alt=""/></a>',
            '<a class="imageTop-item" href="#"><img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style3-2.jpg" alt=""/></a>',
            '<a class="imageTop-item" href="#"><img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style3-3.jpg" alt=""/></a>',
            '<a class="imageTop-item" href="#"><img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style3-4.jpg" alt=""/></a>',
            '<a class="imageTop-item" href="#"><img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style3-5.jpg" alt=""/></a>'
        ]
    });

    // Megamenu Style 4
    themevaleMenu.menuItem(5).themevaleMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '40%',    // width of images area
        cateAreaWidth: '60%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<div class="imgList">\
                    <div class="imgItem imgLeft">\
                        <a href="#"><img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style4-1.jpg" alt=""/></a>\
                    </div>\
                    <div class="imgItem imgRight">\
                        <a href="#"><img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-ol6dayxf7q/product_images/uploaded_images/mega-menu-style4-2.jpg" alt=""/></a>\
                    </div>\
                </div>'
    });

});
</script>
