// =============================================================================
// GRID (CSS)
// =============================================================================


.container {
    margin-right: auto;
    margin-left: auto;
    max-width: layout("max");
    padding: 0 spacing("single");
    position: relative;
    width: layout("fixed");
}
