// =============================================================================
// ACTION BAR (CSS)
// =============================================================================


.actionBar-section {

    .form-field {
        border: $actionBar-form-field-border;
        border-radius: $actionBar-form-field-radius;
        overflow: hidden;
    }

    .form-label {
        color: $actionBar-form-label-color;
        line-height: $actionBar-form-label-lineHeight;
        margin-bottom: 0;
        padding-left: $actionBar-form-label-padding;
    }

    .form-input,
    .form-select {
        border: 0;
        padding-left: $actionBar-form-input-padding;
        width: auto;
    }

    .form-label,
    .form-input,
    .form-select {
        display: inline-block;
    }
}
