// =============================================================================
// ACTION BAR (CSS)
// =============================================================================


.actionBar-section {

    .form-field {
        border: $input-border-width $input-border-style $input-border-color;
        border-radius: $global-radius;
        overflow: hidden;
    }

    .form-label {
        color: color("greys", "light");
        line-height: $input-small-height;
        margin-bottom: 0;
        padding-left: spacing("half");
    }

    .form-input,
    .form-select {
        border: none;
        padding-left: spacing("eighth");
        width: auto;
    }

    .form-label,
    .form-input,
    .form-select {
        display: inline-block;
    }
}
