ul.navigation-grid {
    // @include grid-row($behavior: nest);
    padding: 20px;
    //
    // &-col {
    //     @include grid-column(3);
    // }
    // @include block-grid(4);
    display: flex;
    flex-wrap: wrap;

    .navigation-grid-col {
        width: 25%;
        padding-bottom: 20px;
    }
}

.navigation-dropdown-menu {
    width: auto;
    max-width: none;
}
