<section class="home-cards">
    <div class="row home-cards_title">
        <div class="small-8 small-centered columns">
            <h2 class="home-cards_title">Feel the Power of Tesseract's<br> Proven Nutrients, Unprecedented Delivery</h2>
        </div>
    </div>
    <div class="row home-cards_cards">
        <div class="small-4 columns">
            <ul class="pricing-table">
                <hr class="home-cards_cards_border">
                <li class="title">Maximum Absorption</li>
                <li class="description"><p>Our transport system allows nutrients to bypass undesirable gastric gateways, like the stomach, where acid tends to degrade much of their integrity.*</p></li>
                <li class="cta-button"><a class="button" href="#">Discover More >></a></li>
            </ul>
        </div>

        <div class="small-4 columns">
            <ul class="pricing-table">
                <hr class="home-cards_cards_border">
                <li class="title">Pioneering New Ingredients</li>
                <li class="description"><p>When our CyLoc™ technology encases each molecule of active ingredients in its own dextrin fiber delivery matrix, it eliminates the issue of unpalatable taste and smell.*</p></li>
                <li class="cta-button"><a class="button" href="#">See Up Close >></a></li>
            </ul>
        </div>

        <div class="small-4 columns">
            <ul class="pricing-table">
                <hr class="home-cards_cards_border">
                <li class="title">Micro Dosing</li>
                <li class="description"><p>Tesseract's technology results in high bioavailability, delivering a more powerful and immediate physiological response with lower doses of active ingredients needed.*</p></li>
                <li class="cta-button"><a class="button" href="#">Quality Assured >></a></li>
            </ul>
        </div>
    </div>
</section>
