<section class="home-cards">
    <div class="row home-cards_title">
        <div class="small-8 small-centered columns">
            <h2 class="home-cards_title">Let's use this space for the all-encompassing H1 that's peppered witht he right SEO terms for the landing page</h2>
        </div>
    </div>
    <div class="row home-cards_cards">
        <div class="small-4 columns">
            <ul class="pricing-table">
                <hr class="home-cards_cards_border">
                <li class="title">Research</li>
                <li class="description"><p>Lorem ipsum dolor sit amet, co setetuer adipiscing elit, sed diam nonummy nibh e ismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad</p></li>
                <li class="cta-button"><a class="button" href="#">Discover More >></a></li>
            </ul>
        </div>

        <div class="small-4 columns">
            <ul class="pricing-table">
                <hr class="home-cards_cards_border">
                <li class="title">Our Technology</li>
                <li class="description"><p>Lorem ipsum dolor sit amet, co setetuer adipiscing elit, sed diam nonummy nibh e ismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad</p></li>
                <li class="cta-button"><a class="button" href="#">See Up Close >></a></li>
            </ul>
        </div>

        <div class="small-4 columns">
            <ul class="pricing-table">
                <hr class="home-cards_cards_border">
                <li class="title">Medical Grade</li>
                <li class="description"><p>Lorem ipsum dolor sit amet, co setetuer adipiscing elit, sed diam nonummy nibh e ismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad</p></li>
                <li class="cta-button"><a class="button" href="#">Quality Assured >></a></li>
            </ul>
        </div>
    </div>
</section>
