// =============================================================================
// BLOG
// =============================================================================

// Blog feed
// -----------------------------------------------------------------------------

.blog-feed {

    &__header {
        background: linear-gradient(45deg, rgba(52,113,156,1) 0%, rgba(22,47,72,1) 100%);
        margin-bottom: 50px;
        padding: 60px 0 50px 0;

        @include breakpoint("small") {
            margin-bottom: 100px;
            padding: 80px 0 70px 0;
        }
    }

    &__subheading {
        color: #53BCEB;
        font-size: 18px;
        line-height: normal;
        margin: 0 0 25px 0;
        text-align: center;
        text-transform: uppercase;
    }
    
    &__heading {
        color: #fff;
        font-size: clamp(40px, 5vw, 70px);
        font-weight: bold;
        line-height: normal;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }

    &__post {
        border: 1px solid #53BCEB;
        display: flex;
    }

    &__tag {
        color: #53BCEB;
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: normal;
        text-transform: uppercase;
    }

    &__title {
        color: #0E3D71;
        font-size: 18px;
        margin-bottom: 10px;
        line-height: normal;
        text-transform: uppercase;
    }

    &__summary {
        color: #5A6671;
        font-size: 18px;
        margin: 0;
        line-height: 1.5;
    }

    &--featured-3 {
        margin-bottom: 100px;

        .blog-feed__post-image {
            width: 40%;
        }

        .blog-feed__post-text {
            align-self: center;
            padding: 0 50px;
            width: 60%;
        }

        .blog-feed__title {
            font-size: 45px;
        }
    }

    article.blog {
        display: none;
    }
}

// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin-bottom: spacing("single");

    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }

    + .blog {
        border-top: container("border");
        margin-top: spacing("double");
        padding-top: spacing("double");
    }

    .tags {
        margin-top: spacing("double");
        text-align: center;
    }

    .socialLinks {
        text-align: center;
    }

    .addthis_toolbox {
        margin-top: spacing("double");
    }
}

.blog-title {
    font-size: fontSize("large");
    margin: 0 spacing("single") spacing("quarter");

    a {
        text-decoration: none;
    }
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: center;
}

.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    font-size: fontSize("smaller");
    text-align: left;
}

.blog-thumbnail {
    margin: 0 auto (spacing("base") * 2);
    position: relative;

    img {
        width: 100%;
    }
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: center;

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    @include breakpoint("small") {
        width: grid-calc(10, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(6, $total-columns);
    }
}