// =============================================================================
// BLOG
// =============================================================================

// Blog feed
// -----------------------------------------------------------------------------

.blog-feed {

    &__header {
        background: linear-gradient(45deg, rgba(52,113,156,1) 0%, rgba(22,47,72,1) 100%);
        margin-bottom: 25px;
        padding: 50px 0 40px 0;

        @include breakpoint("small") {
            margin-bottom: 100px;
            padding: 80px 0 70px 0;
        }
    }

    &__subheading {
        color: #53BCEB;
        font-size: 18px;
        line-height: normal;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;

        @include breakpoint("small") {
            margin-bottom: 25px;
        }
    }
    
    &__heading {
        color: #fff;
        font-size: clamp(40px, 5vw, 70px);
        font-weight: bold;
        line-height: normal;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }

    &__post {
        border: 1px solid #53BCEB;
        display: flex;
    }

    &__wrapper-link {
        display: block;
    }

    &__tag {
        color: #53BCEB;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: normal;
        text-transform: uppercase;

        @include breakpoint("small") {
            font-size: 19px;
        }
    }

    &__title {
        color: #0E3D71;
        font-size: 18px;
        margin-bottom: 5px;
        line-height: normal;
        text-transform: uppercase;
    }

    &__summary {
        color: #5A6671;
        font-size: 15px;
        margin: 0;
        line-height: 1.5;

        @include breakpoint("small") {
            font-size: 18px;
        }
    }

    &--featured-3 {
        margin-bottom: 25px;

        @include breakpoint("small") {
            margin-bottom: 100px;
        }

        .blog-feed__post {
            flex-direction: column;

            @include breakpoint("small") {
                flex-direction: row;
            }
        }
        
        .blog-feed__post-image {
            width: 100%;

            @include breakpoint("small") {
                width: 40%;
            }

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .blog-feed__post-text {
            align-self: center;
            padding: 30px 20px;
            width: 100%;

            @include breakpoint("small") {
                padding: 40px 50px;
                width: 60%;
            }
        }

        .blog-feed__title {
            font-size: 25px;
            margin-bottom: 10px;

            @include breakpoint("small") {
                font-size: 45px;
            }
        }
    }

    &--featured-4 {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        @include breakpoint("small") {
            flex-direction: row;
            margin-bottom: 100px;
        }

        .blog-feed__primary-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 50px;
            padding-right: 0;
            width: 100%;

            @include breakpoint("small") {
                margin-bottom: 0;
                padding-right: 30px;
                width: 62%;
            }

            .blog-feed__post {
                margin-bottom: 25px;
                width: 100%;

                @include breakpoint("small") {
                    margin-bottom: 30px;
                    width: calc(50% - 15px);
                }

                &:nth-last-child(1) {
                    margin-bottom: 0;
                }

                &:nth-last-child(2) {
                    margin-bottom: 25px;

                    @include breakpoint("small") {
                        margin-bottom: 0;
                    }
                }
            }

            .blog-feed__post-image {
                
                img {
                    max-height: 170px;
                    object-fit: cover;
                    width: 100%;
                }

                @include breakpoint("small") {
                    
                }
            }
            
            .blog-feed__post-text {
                padding: 20px;

                @include breakpoint("small") {
                    padding-top: 25px;
                }
            }

            .blog-feed__title {
                @include truncate(2);
            }

            .blog-feed__summary {
                @include truncate(3);

                @include breakpoint("small") {
                    @include truncate(4);
                }
            }
        }

        .blog-feed__secondary-container {
            width: 100%;

            @include breakpoint("small") {
                width: 38%;
            }

            & > h2 {
                color: #0E3D71;
                font-size: 22px;
                line-height: normal;
                margin-bottom: 10px;
                text-align: center;

                @include breakpoint("small") {
                    font-size: 26px;
                }
            }
            
            .blog-feed__wrapper-link:not(:last-child) {
                margin-bottom: 10px;

                @include breakpoint("small") {
                    margin-bottom: 30px;
                }
            }
            
            .blog-feed__post-text {
                padding: 15px 20px;
                width: calc(100% - 90px);

                @include breakpoint("small") {
                    padding: 20px;
                    width: calc(100% - 100px);
                }
            }

            .blog-feed__tag {
                font-size: 14px;

                @include breakpoint("small") {
                    font-size: 19px;
                }
            }
            
            .blog-feed__title {
                font-size: 14px;

                @include breakpoint("small") {
                    font-size: 16px;
                }
            }

            .blog-feed__post-image {
                width: 90px;

                @include breakpoint("small") {
                    width: 100px;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &--spotlight {
        margin-bottom: 50px;

        @include breakpoint("small") {
            margin-bottom: 100px;
        }
        
        & > h2 {
            color: #0E3D71;
            font-size: 30px;
            line-height: normal;
            margin-bottom: 20px;
            padding: 0 25px;
            text-align: center;

            @include breakpoint("small") {
                font-size: 54px;
                margin-bottom: 50px;
                padding: 0 50px;
            }
        }

        .blog-feed--spotlight-container {
            display: flex;
            flex-direction: column;

            @include breakpoint("small") {
                flex-direction: row;
            }

            & > div:not(:last-child) {
                margin-bottom: 25px;

                @include breakpoint("small") {
                    margin-bottom: 0;
                }
            }
        }

        .spotlight-left {
            width: 100%;

            @include breakpoint("small") {
                margin-top: 70px;
                width: 25%;
            }
        }

        .spotlight-center {
            width: 100%;

            @include breakpoint("small") {
                margin: 0 2%;
                width: 46%;
            }
        }

        .spotlight-right {
            width: 100%;

            @include breakpoint("small") {
                margin-top: 70px;
                width: 25%;
            }
        }

        .spotlight-left,
        .spotlight-right {
            .blog-feed__post-image {

                img {
                    height: 100%;
                    max-height: 180px;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }

        .blog-feed__post {
            flex-direction: column;
        }

        .blog-feed__post-text {
            padding: 20px;

            @include breakpoint("small") {
                padding-top: 25px;
            }
        }

        .blog-feed__title {
            @include truncate(2);
        }

        .blog-feed__summary {
            @include truncate(3);
        }
    }

    &--all-posts {

        & > h2 {
            color: #0E3D71;
            font-size: 30px;
            line-height: normal;
            margin-bottom: 20px;
            padding: 0 25px;
            text-align: center;

            @include breakpoint("small") {
                font-size: 54px;
                margin-bottom: 50px;
                padding: 0 50px;
            }
        }

        .blog-feed__all-posts-wrapper {
            display: flex;
        }

        .blog-feed__filters {
            background: lightgray;
            width: 360px;
        }

        .blog-feed__all-posts {
            background: darkgray;
            flex-grow: 1;
        }
    }

    .all-posts-wrapper {
        border: 1px solid peachpuff;
        display: flex;
        margin-top: 100px;

        & > nav {
            background: lightgray;
            margin-right: 20px;
            padding-top: 20px;
            width: 200px;

            ul {
                list-style-type: none;
            }
        }

        .posts-wrapper {
            width: fit-content;
        }

        #filteredPosts {
            display: flex;
            flex-wrap: wrap;
        }
        
        .all-post {
            border: 1px solid salmon;
            display: block;
            height: 150px;
            overflow: hidden;
            width: 370px;
        }

        h2 {
            font-size: 12px;
        }

        h3 {
            font-size: 12px;
            border-bottom: 1px dashed green;
        }

        .button-wrapper {
            margin-top: 30px;
            width: 100%;
        }
        
        button {
            background: #53BCEB;
            color: white;
            display: block;
            font-weight: bold;
            margin: 0 auto;
            padding: 20px 0;
            width: 200px;
        }
    }

    article.blog {
        display: none;
    }
}

// Blog post
// -----------------------------------------------------------------------------

.blog-post {

    &__header {
        background: linear-gradient(45deg, rgba(52,113,156,1) 0%, rgba(22,47,72,1) 100%);
        margin-bottom: 25px;
        padding: 50px 0 40px 0;

        @include breakpoint("small") {
            margin-bottom: 100px;
            padding: 80px 0 70px 0;
        }

        & > img {
            height: 100%;
            left: 0;
            margin: auto;
            mix-blend-mode: soft-light;
            object-fit: cover;
            opacity: .5;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;
        }
    }

    &__subheading {
        color: #53BCEB;
        font-size: 18px;
        line-height: normal;
        margin-bottom: 10px;
        min-height: 22px;
        text-align: center;
        text-transform: uppercase;

        @include breakpoint("small") {
            margin-bottom: 25px;
        }
    }
    
    &__heading {
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        line-height: normal;
        margin: 0 auto;
        max-width: layout("max");
        text-align: center;
        text-transform: uppercase;

        @include breakpoint("small") {
            font-size: clamp(40px, 5vw, 60px);
        }
    }

    &__body-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint("small") {
            flex-direction: row;
        }
    }

    &__social {

        @include breakpoint("small") {
            margin-right: 230px;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 0 20px 0;

            @include breakpoint("small") {
                flex-direction: column;
                margin: 0;
            }
        }
        
        li {
            align-items: center;
            display: flex;
            list-style-type: none;
            margin: 0 10px;
            justify-content: center;
            
            @include breakpoint("small") {
                margin: 0;
                
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }

        a {
            display: block;
            text-align: center;
        }

        &--facebook svg {
            height: 30px;
            width: 16px;
        }

        &--twitter svg {
            height: 24px;
            width: 29px;
        }

        &--linkedin svg {
            height: 29px;
            width: 29px;
        }
    }
    
    &__body {
        color: #5A6671;
        font-size: 16px;
        width: 100%;

        @include breakpoint("small") {
            font-size: 24px;
            width: 70%;
        }
        
        p,
        img.shogun-image,
        .shogun-video,
        ol,
        ul {
            margin-bottom: 30px;

            @include breakpoint("small") {
                margin-bottom: 60px;
            }
        }

        h2, h3, h4 {
            color: #0E3D71;
            text-transform: uppercase;

            span {
                font-weight: bold !important;
            }
        }

        h2 {
            font-size: 24px;
            margin-bottom: 30px;

            @include breakpoint("small") {
                font-size: 32px;
                margin-bottom: 40px;
            }
        }

        h3 {
            font-size: 20px;
            margin-bottom: 15px;

            @include breakpoint("small") {
                font-size: 28px;
                margin-bottom: 20px;
            }
        }

        h4 {
            font-size: 16px;
            margin-bottom: 5px;

            @include breakpoint("small") {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }

    &__blockquote {
        margin-bottom: 30px;

        @include breakpoint("small") {
            background: url("../img/quote-blog.svg") no-repeat left 10px;
            margin-bottom: 60px;
            padding-left: 160px;
        }

        &::before {
            content: none;
        }

        p {
            color: #0E3D71;
            font-size: 25px;
            line-height: 1.5;
            margin-bottom: 0;

            @include breakpoint("small") {
                font-size: 30px;
            }

            &::before {
                content: open-quote;
            }

            &::after {
                content: close-quote;
            }
        }
    }
}