// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    @include grid-column(
        $columns: 8,
        $center: true
    );

    + .blog {
        border-top: 1px solid color("greys", "lightest");
        margin-top: spacing("double");
        padding-top: spacing("double");
    }
}

.blog-title {
    font-size: fontSize("large");
    margin: 0 0 spacing("quarter");
    text-align: center;

    a {
        text-decoration: none;
    }
}

.blog-date {
    color: color("greys", "medium");
    margin-bottom: spacing("single") + spacing("base");
    text-align: center;
}

.blog-post {
    @include grid-column(
        $columns: 9,
        $center: true
    );

    font-size: fontSize("smaller");

    + .tags {
        margin-top: spacing("double") * 2;
    }
}

.blog-thumbnail {
    margin: 0 0 (spacing("base") * 2);
}
