// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
// 3. Fix for text flickers on windows devices
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $color-primary;
    position: relative;
    
    a {
        // color: stencilColor("color-white");
        text-decoration: none;
    }
    
    .footer-sub {
        padding: spacing('base') * 2;
        background-color: stencilColor('color-white');
    }

    .footer-sub-nav {
        padding: 1.75rem 0 0;
        margin-bottom: 1rem;
        
        .container {
            display: flex;
        }
        
        ul {
            margin: 0 auto;
            list-style-type: none;
            display: inline-block;
            text-align: center;
            word-break: break-word;
            // padding: 0 40px;
            line-height: 22px;
            
            li {
                padding: 0 spacing("single") - spacing("base");
                display: inline;
                
                a {
                    color: stencilColor('color-textSecondary');
                    
                    &:hover {
                        color: stencilColor('color-textSecondary--hover');
                    }
                }
                
                &:not(:last-child):after {
                    content: "|";
                    color: stencilColor('color-textSecondary');
                    
                    &:hover {
                        color: stencilColor('color-textSecondary--hover');
                    }
                }
            }
        }
    }
    
    @include breakpoint("medium") {
        .footer-sub {
            margin-bottom: 10rem;
        }
        
        .footer-sub-nav {
            border-bottom: none;
            
            .container {
                text-align: center;
                ul li {
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    display: inline-block;
                }
            }
        }
    }
}

.footer-title-sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.footer-primary-wrapper {
    background-image: linear-gradient(to top, #34719C, #162F48);
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
    padding: 40px 0 30px 0;

    @include breakpoint("small") {
        padding: 120px 0 90px 0;
    }
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: top;
    // TODO: specifically use vendor only for IE11 since overflow-wrap is not supported here
    -ms-word-break: break-all;
    border-bottom : 1px solid #D4D4D4;
    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
        border-bottom: none;
    }
    &:last-child{
        border-bottom:none;
    }
    @include breakpoint("medium") {
        width: width("3/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
        width: 50%;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
        width: 100%;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: stencilColor('color-white');
    font-size: 26px;
    line-height: normal;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    li {
        line-height: normal;
        margin-bottom: 25px;

        a {
            color: #53BCEB;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.footer .socialLinks {
    align-items: center;
    display: flex;
    line-height: normal;

    .socialLinks-item {
        margin: 0 25px 0 0;
    }
    
    .icon {

        &--facebook {
            height: 30px;
            width: 16px;
        }

        &--instagram {
            height: 28px;
            width: 28px;
        }

        &--linkedin {
            height: 29px;
            width: 29px;
        }

        &--youtube {
            height: 35px;
            width: 35px;
        }

        &--twitter {
            height: 24px;
            width: 29px;
        }
    }
}

.footer-logo {
    margin-top: 140px;
}

.footer-copyright {
    text-align: center;

    > .powered-by {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 0;
    }

    > .paypal-credit {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 1em 0 2em;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.footer-newsletter-summary {
    text-align: left;
}

/* ==========================================================
 * ## TODO: Refactor the below css 
 * ========================================================== */

.scroll-top-wrapper {
    position: fixed;
    right: 12px;
    bottom: 90px;
    display: none;
    z-index: 99999;

    @include breakpoint("small") {
        bottom: 12px;
    }

    .scroll-top-button {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #FFF;
        display: flex;
        display: none;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid #cfcfcf;
        align-items: center;
        justify-content: center;
        font-family: $body-font-family;
        font-size: 14px;
        font-weight: 700;
        color: #1A63A2;
        position: relative;
        -webkit-transition: background-color .3s ease-out;
        -moz-transition: background-color .3s ease-out;
        -o-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out;

        &:before {
            content: "";
            position: relative;
            border: solid #1A63A2;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 5.5px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            display: block;
            /*
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            */
        }

        @include breakpoint("medium") {

            &:hover {
                background: #DDE8F1;
            }

            &:active {
                background: #EAF8F8;
            }
        }
    }
}

.footer-trust{
    text-align:center;
    text-decoration: underline;
}
