// =============================================================================
// FOOTER (CSS)
// =============================================================================


.footer {
    border-top: container("border");
    padding: spacing("double") 0;
}

.footer-info {
    @include clearfix;
    margin: 0 -1.5rem;
}

.footer-info-col {
    float: left;
    width: 33%;
    padding: 0 1.5rem;

    ul {
        list-style: none;
        margin-left: 0;
    }

    a {
        text-decoration: none;
    }

    &--small {
        width: 16.6667%;
    }
}
