<div class="form-field" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
    <label class="form-label" for="{{id}}">{{label}}
        {{#if required}}
            <small>{{lang 'common.required' }}</small>
        {{/if}}
    </label>
    {{#if checkboxes}}
        {{#each checkboxes}}
            <input type="checkbox"
                   value="{{value}}"
                   name="{{name}}"
                   id="{{name}}"
                   data-input
                   data-label="{{label}}"
                   class="form-checkbox"
                   aria-labelledby="{{id}}"
                   aria-live="polite"
                   {{#if checked}}checked{{/if}}
                   {{#if private_id}}data-field-type="{{private_id}}"{{/if}}
            >
            <label class="form-label {{class}}" for="{{name}}">{{label}}</label>
        {{/each}}
    {{/if}}
</div>
