<div class="form-field {{class_name}}" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}} {{#if style}}style="{{style}}{{#if size}}width:{{size}}px;{{/if}}"{{else}}{{#if size}}style="width:{{size}}px;"{{/if}}{{/if}}>
    <label class="form-label" for="{{id}}_input">{{label}}
        {{#if required}}<small>{{lang 'common.required' }}</small>{{/if}}
    </label>
    <input type="text" id="{{id}}_input" data-label="{{label}}" name="{{name}}" {{#if value}} value="{{value}}"{{/if}} {{#if placeholder}} placeholder="{{placeholder}}"{{/if}} class="form-input" aria-required="{{required}}" {{#if private_id}}data-field-type="{{private_id}}"{{/if}} {{#if maxlength}}maxlength="{{maxlength}}"{{/if}}>
</div>
