// =============================================================================
// SWATCH SIZES (CSS)
// =============================================================================


// Swatch Size Changes
// -----------------------------------------------------------------------------

// do some math
$value_of_swatch_size : stencilString("swatch_option_size");
$position_of_x : str-index($value_of_swatch_size, "x");
$first_value : str-slice($value_of_swatch_size, 0, $position_of_x - 1);
$second_value : str-slice($value_of_swatch_size, $position_of_x + 1);

.form-option-variant--color,
.form-option-variant--pattern {
    height: $second_value +"px";
    width: $first_value +"px";
}
