// =============================================================================
// PRODUCTS (CSS)
// =============================================================================


// Products container
// -----------------------------------------------------------------------------
//
// 1. Using the inline-block method for products means stripping white-space
//    between each product in the grid. We're using the font-size: 0; method.
//
// -----------------------------------------------------------------------------

.products {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0; // 1
}


// Product grid
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
// 2. When a sidebar is visible, reduce products to 3 across.
// 3. Ensure images will scale to the grid's width while maintaining ratio.
//
// -----------------------------------------------------------------------------

.product {
    @include grid-column(6);
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 1
    vertical-align: top;

    @include breakpoint("small") {
        @include grid-column(4);
    }

    @include breakpoint("medium") {
        @include grid-column(3);
    }

    .page-sidebar + .page-content & { // 2

        @include breakpoint("medium") {
            @include grid-column(4);
            float: none;
        }
    }

    // #Sighmon - DEV/TESTING CODE ONLY. Don't merge this or Simon will sigh.
    .card-figure {
        background-color: color("blacks");

        img {
            opacity: 0.98;
            width: 100%;
        }
    }
    // Use this class instead of the above when unblocked.
    // .card-image {
    //     width: 100%; // 3
    // }
}
