// =============================================================================
// PRODUCT GRID (CSS)
// =============================================================================


// Product grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
//
// -----------------------------------------------------------------------------

.productGrid {

    @include u-listBullets("none");
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: spacing("double") spacing("single");
    font-size: 0; // 1
    margin-bottom: spacing("single");

    .product {
        grid-column: auto/span 12;
        font-size: fontSize("base"); // 1
        vertical-align: top;

        @include breakpoint("small") {
            grid-column: auto/span 12;
        }

        @include breakpoint("medium") {
            grid-column: auto/span 6;
        }

        @include breakpoint("large") {
            grid-column: auto/span 4;
        }

        .card {
            display: flex;
            flex-direction: column;
            
            .card-body {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .card-highlights {
                @include u-listBullets("disc");
                li {
                    font-size: fontSize("smallest");
                    margin-bottom: spacing("third");
                    color: stencilColor("color-black");
                }
            }
            .card-dimensions {
                margin-top: spacing("single");
                p {
                    color: stencilColor("color-black");
                    margin: 0;
                    font-size: fontSize("smallest");
                }
            }
                    
            &.manuals-card {
                .card-sub-title {
                    font-weight: normal;
                }
                
                .card-energy-guide {
                    margin-top: spacing('base');
                }
                
                .card-highlights {
                    @include u-listBullets("none");
                }
                
                .card-text {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    justify-content: space-between;
                }
            }
        }
    }
    
    @include breakpoint("medium") {
        padding: 0 0.75rem;
        
        // list view
        &.list-view {
            .product {
                grid-column: auto/span 12;
                
                .card {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                
                    .card-figure {
                        width: 25%;
                    }
                    .card-body {
                        width: 70%;
                        justify-content: start;
                        
                        .card-text {
                            display: flex;
                            justify-content: space-between;
                            color: stencilColor("color-black");
                            flex-direction: row;
                            margin-top: 2rem;
                            
                            &.ss-product-info {
                                margin: 0;
                                flex-direction: column;
                            }
                            
                            .card-highlights {
                                @include u-listBullets("disc");
                                li {
                                    font-size: fontSize("smallest");
                                    margin-bottom: spacing("third");
                                    color: stencilColor("color-black");
                                }
                            }
                            .card-dimensions {
                                margin-top: 0;
                                margin-right: 4rem;
                                p {
                                    color: stencilColor("color-black");
                                    margin: 0;
                                    font-size: fontSize("smallest");
                                }
                            }
                        }
                    }
                    
                    &.manuals-card {
                        .card-sub-title {
                            font-weight: normal;
                        }
                        
                        .card-energy-guide {
                            margin-top: spacing('base');
                        }
                        
                        .card-highlights {
                            @include u-listBullets("none");
                        }
                    
                        .card-dimensions {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.page-content {
    #tab-manuals {
        .productGrid:not(.list-view) {
            .product {
                @include breakpoint("medium") {
                    grid-column: auto/span 4;
                }

                @include breakpoint("large") {
                    grid-column: auto/span 3;
                }
            }
        }
    }
    .productGrid, .productGrid.list-view {
        @include breakpoint("medium") {
            margin-top: 2.9rem;
        }
    }
}

#search-page {
    .productGrid, .productGrid.list-view {
        @include breakpoint("medium") {
            margin-top: 1.35rem;
        }
    }
}


// Product when sidebar is present
// -----------------------------------------------------------------------------
//
// 1. When the sidebar is visible, reduce products to 3 across.
//
// -----------------------------------------------------------------------------

.page-sidebar + .page-content {
    .productGrid {
        .product { // 1            
            @include breakpoint("medium") {
                grid-column: auto/span 6;
            }

            @include breakpoint("large") {
                grid-column: auto/span 4;
            }
        }
    
        // list view
        @include breakpoint("medium") {
            &.list-view {
                .product {
                    grid-column: auto/span 12;
                    
                    .card {
                        display: flex;
                        flex-direction: row;
                    }
                    
                    .card-figure {
                        width: 25%;
                    }
                    .card-body {
                        width: 70%;
                        justify-content: start;
                        
                        .card-text {
                            display: flex;
                            justify-content: space-between;
                            color: stencilColor("color-black");
                            flex-direction: row;
                            
                            &.ss-product-info {
                                margin: 0;
                                flex-direction: column;
                            }
                            
                            .card-highlights {
                                @include u-listBullets("disc");
                                li {
                                    font-size: fontSize("smallest");
                                    margin-bottom: spacing("third");
                                    color: stencilColor("color-black");
                                }
                            }
                            .card-dimensions {
                                margin-top: 0;
                                p {
                                    color: stencilColor("color-black");
                                    margin: 0;
                                    font-size: fontSize("smallest");
                                }
                            }
                        }
                    }
                    
                    &.manuals-card {
                        .card-sub-title {
                            font-weight: normal;
                        }
                        
                        .card-energy-guide {
                            margin-top: spacing('base');
                        }
                        
                        .card-highlights {
                            @include u-listBullets("none");
                        }
                    
                        .card-dimensions {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}


//
// Product Grid with masonry layout
//
// Purpose: Display products in a masonry grid, with a display inline-block for
// older browsers that don't support css multicolumn
//
// -----------------------------------------------------------------------------

.productMasonry {
    column-count: 2;
    column-fill: auto;
    column-gap: remCalc(20px);
    margin: 0 0 spacing("single");
    overflow: hidden;

    @include breakpoint("small") {
        column-count: 3;
    }

    @include breakpoint("medium") {
        column-count: 4;
    }

    .product {
        break-inside: avoid;
        display: block;
        margin-bottom: spacing("double");
        padding: 0;
        page-break-inside: avoid; // for firefox
        width: 100%;
    }

    .card {
        margin: 0;
    }
}


// Product grid view variation
// -----------------------------------------------------------------------------

.productGrid--maxCol6 {
    .no-csscolumns & {
        .product {
            @include breakpoint("medium") {
                width: grid-calc(2, $total-columns);
            }
        }
    }

    .csscolumns & {
        @include breakpoint("medium") {
            column-count: 6;
        }
    }
}

.productGrid--maxCol3 {
    .no-csscolumns & {
        .product {
            @include breakpoint("medium") {
                width: grid-calc(4, $total-columns);
            }
        }
    }

    .csscolumns & {
        @include breakpoint("medium") {
            @include grid-column(12);

            float: none;

            .product {
                @include grid-column(4, $float: none);
            }
        }
    }
}
