.new-flag {
    height: 2.857142857142857rem;
    width: 5.5rem;
    background-color: #5AB3DF;
    padding: 0.9rem;
    line-height: 1;
    font-size: 1.142857142857143rem;
    color: #FFF;
    text-align: center;
    margin: 0.5rem 0;
}
