// =============================================================================
// PRODUCT Sale Badges (CSS)
// =============================================================================

// BURST BADGE
// -----------------------------------------------------------------------------
.sale-flag-star {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: default;
    opacity: 1;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    outline: none;
    border: 0 solid rgba(0,0,0,1);
    -webkit-border-radius: 0;
    border-radius: 0;
    color: rgba(0,0,0,1);
    text-decoration: none;
    text-align: center;
    text-transform: none;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 0;
    white-space: normal;
    word-spacing: 0;
    background: stencilColor('color_badge_product_sale_badges');
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
    transform: scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.sale-flag-star:before {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    cursor: default;
    opacity: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    outline: none;
    border: 0 solid rgba(0,0,0,1);
    -webkit-border-radius: 0;
    border-radius: 0;
    
    color: rgba(0,0,0,1);
    text-decoration: none;
    text-align: left;
    text-transform: none;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 0;
    white-space: normal;
    word-spacing: 0;
    
    background: stencilColor('color_badge_product_sale_badges'); 
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: rotateZ(30deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: rotateZ(30deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.sale-flag-star:after {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    cursor: default;
    opacity: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    outline: none;
    border: 0 solid rgba(0,0,0,1);
    -webkit-border-radius: 0;
    border-radius: 0;
    font: normal normal normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    text-decoration: none;
    text-align: left;
    text-transform: none;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 0;
    white-space: normal;
    word-spacing: 0;
    
    background: stencilColor('color_badge_product_sale_badges');
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: rotateZ(60deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: rotateZ(60deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
} 
.starwrap {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
}
span.sale-text-burst {
    color: stencilColor('color_text_product_sale_badges');
    z-index: 999;
    width: 100%;
    position: absolute;
    text-align: center;
    line-height: 1rem;
    top: 20%;
    font-weight: 600;
}
// -----------------------------------------------------------------------------
// TOP LEFT BADGE
// -----------------------------------------------------------------------------
.sale-flag-side {
    position: absolute;
    z-index: 1;
    float: left;
    height: 20px;
    padding: 2px 10px;
    border-radius: 0 50px 50px 0;
    background: stencilColor('color_badge_product_sale_badges');
    color: stencilColor('color_text_product_sale_badges');
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 4px; 
}

li.product:hover .sale-flag-side {
    background: stencilColor('color_hover_product_sale_badges');
    transition: 300ms ease;
}
// -----------------------------------------------------------------------------
// SASH BADGE
// -----------------------------------------------------------------------------
.sale-flag-sash {
    position: absolute;
    z-index: 1;
    float: left;
    height: 20px;
    padding: 2px 10px;
    background: stencilColor('color_badge_product_sale_badges');
    transition: 800ms ease;
    color: stencilColor('color_text_product_sale_badges');
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
    width: 119px;
    text-align: center;
    left: -39px;
}

li.product:hover .sale-flag-sash {
    background: stencilColor('color_hover_product_sale_badges');
    transition: 800ms ease;
}

li.product {
    overflow: hidden;
}