// =============================================================================
// PRODUCT GRID (CSS)
// =============================================================================


// Product grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
//
// -----------------------------------------------------------------------------

.productGrid {

    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0; // 1

    .product {
        @include grid-column(6, $float: none);
        display: inline-block;
        font-size: fontSize("base"); // 1
        vertical-align: top;

        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
        }

        @include breakpoint("medium") {
            width: grid-calc(3, $total-columns);
        }
    }
}


// Product when sidebar is present
// -----------------------------------------------------------------------------
//
// 1. When the sidebar is visible, reduce products to 3 across.
//
// -----------------------------------------------------------------------------

.page-sidebar + .page-content {

    .productGrid {
        .product { // 1
            @include breakpoint("small") {
                width: grid-calc(4, $total-columns);
            }
        }
    }

}


//
// Product Grid with masonry layout
//
// Purpose: Modify the base product grid to have a masonry layout effect, with
// normal display: inline-block fallback for older browsers that don't Flexbox
//
// 1. Only supported in browsers that support css columns, otherwise it falls back
// to the normal grid layout about.
//
// 2. Padding on anything in the grid seems to add faux padding to the bottom of
// the container in Chrome. Chrome bug.
// -----------------------------------------------------------------------------

.productGrid--masonry {
    .csscolumns & { // 1

        column-count: 2;
        column-fill: auto;
        column-gap: remCalc(20px);
        margin-bottom: spacing("single");
        overflow: hidden;

        @include breakpoint("small") {
            column-count: 3;
        }

        @include breakpoint("medium") {
            column-count: 4;
        }

        .product {
            break-inside: avoid;
            padding: 0; // 2
            margin-bottom: spacing("double");
            width: 100%;
        }

        .card {
            margin: 0;
        }

    }
}
