<article class="card {{#if alternate}}card--alternate{{/if}} {{#if description}}has-description{{/if}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>
    <figure class="card-figure">
        <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    fallback_size=theme_settings.productgallery_size
                    lazyload=lazyload
                    default_image=theme_settings.default_image_product
                }}
            </div>
            <figcaption class="card-figcaption">
                <div class="card-figcaption-body">
                    <h3 class="card-title">{{name}}</h3>
                    {{#if description}}
                        <p class="card-description">{{sanitize description}}</p>
                    {{/if}}
                </div>
            </figcaption>
        </a>
    </figure>
</article>