<div class="mobileCategoryGrid">
    <h3 class="page-heading">{{lang 'category.label' }}</h3>
    <div class="scrollable-area-container">
        <div class="scrollable-area--horizontal">
            <div class="scrollable-area-component">
                <div class="scrollable-area-slider">
                    {{#each categories}}
                        {{> components/category/circle-card}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
