<div class="mobileCategory-dropdown">
    <div class="mobileCategory-dropdown--current">
        <button class="mobileCategory--toggleButton">
            <span>{{category.name}}</span>
            <div class="toggleButton-moreIcon">
                <svg><use xlink:href="#icon-chevron-down" /></svg>
            </div>
        </button>
    </div>
    <div id="category-modal" class="modal modal--large" data-reveal>
        <div class="modal-header">
            <span class="modal-header--title">Categories</span>
            <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
                <span aria-hidden="true">&#215;</span>
            </a>
        </div>
        <div class="modal-content">
            <div>
                {{#each categories}}
                    <a href="{{url}}" class="category-modal-link">{{name}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</div>