{{#and theme_settings.shop_by_price_visibility category.shop_by_price}}
    <div class="sidebarBlock">
        <h2 class="sidebarBlock-heading heading-price" data-shop-by-price>{{lang 'category.shop_by_price'}}</h2>

        {{> components/faceted-search/range-form shop_by_price=theme_settings.shop_by_price_visibility}}

        <div class="reset-filters">
            <a href="{{category.url}}" class="navList-action reset-btn">{{lang 'category.reset'}}</a>
            <span class="reset-message aria-description--hidden">{{lang 'category.filter_reset_announcement'}}</span>
        </div>
    </div>
{{/and}}
