{{#and theme_settings.shop_by_price_visibility shop_by_price}}
    <div class="sidebarBlock">
        <h2 class="sidebarBlock-heading">{{lang 'category.shop_by_price'}}</h2>
        <ul class="navList">
            {{#each shop_by_price}}
            <li class="navList-item">
                <a 
                    {{#if selected }} 
                        class="navList-action is-active"
                        role="status"
                        aria-live="polite"
                   {{else}}
                        class="navList-action"
                   {{/if}}
                   href="{{url}}"
                   title="{{low.formatted}} - {{high.formatted}}"
                   aria-label="{{{lang 'category.shop_by_price_range_aria' from=low.formatted to=high.formatted}}}"
                >
                    {{low.formatted}} - {{high.formatted}}
                </a>
            </li>
            {{/each}}

            {{#any shop_by_price selected=true}}
                <li class="navList-item">
                    <a href="{{category_url}}" class="navList-action reset-btn">
                        {{lang 'category.reset'}}
                    </a>
                    <span class="reset-message aria-description--hidden">{{lang 'category.filter_reset_announcement'}}</span>
                </li>
            {{/any}}
        </ul>
    </div>
{{/and}}
