<nav>
    {{#if category.subcategories}}
        <div class="sidebarBlock">
            <h2 class="sidebarBlock-heading">{{category.name}}</h2>
            <ul class="navList">
                {{#each category.subcategories}}
                <li class="navList-item">
                    <a class="navList-action" href="{{url}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price}}
    {{/if}}
</nav>
