<form class="form" method="get" data-sort-by>
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="form-label" for="sort">{{lang 'common.sorter.sort_by'}}</label>
            <select class="form-select" name="sort" id="sort">
                <option value="featured">{{lang 'common.sorter.featured'}}</option>
                <option value="newest">{{lang 'common.sorter.newest'}}</option>
                <option value="bestselling">{{lang 'common.sorter.top_sellers'}}</option>
                <option value="alphaasc">{{lang 'common.sorter.alpha_asc'}}</option>
                <option value="alphadesc">{{lang 'common.sorter.alpha_desc'}}</option>
                <option value="avgcustomerreview">{{lang 'common.sorter.reviews'}}</option>
                <option value="priceasc">{{lang 'common.sorter.price_asc'}}</option>
                <option value="pricedesc">{{lang 'common.sorter.price_desc'}}</option>
            </select>
        </div>
    </fieldset>
</form>
