<form class="form" method="get" data-sort-by>
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="form-label" for="sort">Sort By:</label>
            <select class="form-select" name="sort" id="sort">
                <option value="featured">Featured Items</option>
                <option value="newest">Newest Items</option>
                <option value="bestselling">Best Selling</option>
                <option value="alphaasc">A to Z</option>
                <option value="alphadesc">Z to A</option>
                <option value="avgcustomerreview">By Review</option>
                <option value="priceasc">Price: Ascending</option>
                <option value="pricedesc">Price: Descending</option>
            </select>
        </div>
    </fieldset>
</form>
