// =============================================================================
// COLORS
// =============================================================================


// Basics
// -----------------------------------------------------------------------------

$color-black:                       #000;
$color-white:                       #fff;

$color-grey:                        #4f4f4f;
$color-greyDarkest:                 #454545;
$color-greyDarker:                  #666;
$color-greyDark:                    #989898;
$color-greyMedium:                  #a5a5a5;
$color-greyLight:                   #dadada;
$color-greyLighter:                 #e1e1e1;
$color-greyLightest:                #f8f8f8;


// Branding
// -----------------------------------------------------------------------------

$color-primary:                     #4f4f4f;
$color-primaryDark:                 #454545;
$color-primaryLight:                #a5a5a5;


// States
// -----------------------------------------------------------------------------

$color-error:                       #ea8d8d;
$color-errorLight:                  lighten($color-error, 10%);

$color-success:                     #8adf8f;
$color-successLight:                lighten($color-success, 10%);


// Text
// -----------------------------------------------------------------------------

$color-textBase:                    #4f4f4f;
$color-textBase-hover:              #a5a5a5;
$color-textBase-active:             #a5a5a5;
