// =============================================================================
// COLORS
// =============================================================================


// Basics
// -----------------------------------------------------------------------------

$color-black:                       #000;
$color-white:                       #fff;
$color-whitesBase:                  #f8f8f8;

$color-grey:                        #4f4f4f;
$color-greyDarkest:                 #2d2d2d;
$color-greyDarker:                  #454545;
$color-greyDark:                    #666;
$color-greyMedium:                  #989898;
$color-greyLight:                   #a5a5a5;
$color-greyLighter:                 #dfdfdf;
$color-greyLightest:                #f2f2f2;


// Branding
// -----------------------------------------------------------------------------

$color-primary:                     stencilColor('color_primary');
$color-primaryDark:                 stencilColor('color_primary_dark');
$color-primaryLight:                stencilColor('color_primary_light');


// States
// -----------------------------------------------------------------------------

$color-error:                       #ea8d8d;
$color-errorLight:                  lighten($color-error, 10%);

$color-success:                     #8adf8f;
$color-successLight:                lighten($color-success, 10%);


// Text
// -----------------------------------------------------------------------------

$color-textBase:                    #4f4f4f;
$color-textBase-hover:              #a5a5a5;
$color-textBase-active:             #a5a5a5;
