.apple-pay-checkout-button {
    display: none;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 32px;
    max-height: 64px;
    padding: 20px;
    @if stencilString("button--apple-pay") == "white" {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    } @else if stencilString("button--apple-pay") == "white-border" {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
        border: .5px solid black;
    } @else {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
    }
}

.cart-additionalCheckoutButtons {
    .apple-pay-checkout-button {
        margin-top: 10px;
    }
}

.apple-pay-supported {
    .apple-pay-checkout-button {
        display: block;
        @include breakpoint("small") {
            float: right;
            display: inline-block;
        }
    }
}

.previewCartCheckout {
    .apple-pay-checkout-button {
        margin-top: 10px;
        display: block;
        float: none;
    }
}
