$apple-pay-black: black;
$apple-pay-white: white;

.apple-pay-checkout-button {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 60%;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    max-height: 64px;
    min-height: 32px;
    min-width: 134px;
    padding: 20px;
    @if stencilString("button--apple-pay") == "white" {
        background-color: $apple-pay-white;
        background-image: -webkit-named-image(apple-pay-logo-black);
    }
    @else if stencilString("button--apple-pay") == "$apple-pay-white-border" {
        background-color: $apple-pay-white;
        background-image: -webkit-named-image(apple-pay-logo-black);
        border: 0.5px solid $apple-pay-black;
    }
    @else {
        background-color: $apple-pay-black;
        background-image: -webkit-named-image(apple-pay-logo-white);
    }
}

.cart-additionalCheckoutButtons {
    .apple-pay-checkout-button {
        margin-top: 10px;
    }
}

.apple-pay-supported {
    .apple-pay-checkout-button {
        display: block;

        @include breakpoint("small") {
            display: inline-block;
            float: right;
        }
    }
}

.previewCartCheckout {
    .apple-pay-checkout-button {
        display: block;
        float: none;
        margin-top: 10px;
    }
}
