// =============================================================================
// Apple Pay Component
// =============================================================================

@import "applePay";
