<a href="{{urls.home}}" class="amp-header-link">
    {{#if settings.store_logo.image}}
        <amp-img src="{{getImage settings.store_logo.image 'logo_size'}}"
            {{#if theme_settings.logo_size '===' 'original' }}
                width="100"
                height="50"
            {{else}}
                width="{{first (split theme_settings.logo_size 'x')}}"
                height="{{last (split theme_settings.logo_size 'x')}}"
                {{#if (last (split theme_settings.logo_size 'x')) 'gtnum' (first (split theme_settings.logo_size 'x')) }}
                    sizes="(max-width: 360px) 100vw, 1vw"
                {{else}}
                    sizes="(max-width: 360px) 100vw, 10vw"
                {{/if}}
                layout="responsive"
            {{/if}}
            alt="{{settings.store_logo.title}}">
        </amp-img>
    {{else}}
        <span class="amp-header-logo-text">{{settings.store_logo.title}}</span>
    {{/if}}
</a>
