// =============================================================================
// TOGGLE LINK (CSS)
// =============================================================================


.toggleLink {
    .toggleLink-text--off {
        display: none;
    }

    .toggleLink-text--on {
        display: inherit;
    }

    &.is-off {
        .toggleLink-text--off {
            display: inherit;
        }

        .toggleLink-text--on {
            display: none;
        }
    }
}
