// =============================================================================
// TOGGLE LINK (CSS)
// =============================================================================


// Toggle link
// -----------------------------------------------------------------------------
//
// 1. Override style in case it is nested
//
// -----------------------------------------------------------------------------
.toggleLink {
    &.is-open,
    &.is-on {
        .toggleLink-text--off {
            display: none;
        }

        .toggleLink-text--on {
            display: inline-block;
        }
    }
}

.toggleLink-text--off {
    display: inline-block;
}

.toggleLink-text--on {
    display: none;
}
