{{#partial "page"}}
<div class="account">
    <ul class="breadcrumbs">
        <li class="breadcrumb">
            <a class="breadcrumb-label" href="{{urls.home}}">{{lang 'home.heading'}}</a>
        </li>
        <li class="breadcrumb">
            <span class="breadcrumb-label">{{lang 'reset_password.heading' }}</span>
        </li>
    </ul>
    <h2 class="page-heading">{{lang 'reset_password.heading' }}</h2>


    <form action="{{urls.account.update_action}}" class="form forgot-password-section" method="post">
        <p class="forgot-password-intro">{{lang 'reset_password.intro' }}</p>
        <div class="forgot-password-fields">
            <div class="form-field forgot-password-email">
                <label class="form-label" for="email">
                    {{lang 'common.email_address' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input" name="email" id="email">
            </div>
            <div class="form-field forgot-password-submit">
                <input class="button" type="submit" value="{{lang 'reset_password.heading' }}">
            </div>

        </div>
    </form>
</div>
{{/partial}}
{{> layout/base}}
