<div data-reveal id="modal-review-form" class="modal">
    <div class="modal-header">
        <h1 class="modal-title">Write a Review</h1>
        <a class="modal-close close-reveal-modal">&#215;</a>
    </div>
    <form action="/postreview.php" method="post">
        <div class="row">
            <div class="grid-6">
                <img src="{{ product.initial_image }}">
                <h5>{{ product.brand.name }}</h5>
                <h4>{{ product.title }}</h4>
            </div>
            <div class="grid-6">
                <div class="row">
                    Rating
                    <!-- Stars -->
                    <select class="form-input" name="revrating">
                        <option value=""> </option>
                        <option value="5">{{lang 'products.reviews.rating.5'}}</option>
                        <option value="4">{{lang 'products.reviews.rating.4'}}</option>
                        <option value="3">{{lang 'products.reviews.rating.3'}}</option>
                        <option value="2">{{lang 'products.reviews.rating.2'}}</option>
                        <option value="1">{{lang 'products.reviews.rating.1'}}</option>
                    </select>
                </div>
                <!-- Name -->
                <div class="row">
                    <label class="form-label">Name</label>
                    <input class="form-input" type="text" name="revfromname" />
                </div>

                <!-- Review Subject -->
                <div class="row">
                    <label class="form-label">Review Subject</label>
                    <input class="form-input" type="text" name="revtitle" />
                </div>

                <!-- Comments -->
                <div class="row">
                    <label class="form-label">Email</label>
                    <input class="form-input" name="email" />
                </div>

                <!-- Comments -->
                <div class="row">
                    <label class="form-label">Comments</label>
                    <textarea class="form-input" name="revtext"></textarea>
                </div>

                <div class="row">
                    <input type="submit" class="button button--primary" value="Submit Review">
                </div>
            </div>
        </div>
        <input type="hidden" name="product_id" value="{{ product.id }}" />
        <input type="hidden" name="action" value="post_review" />
    </form>
</div>
