<div id="modal-size-chart-form" class="modal modal-lg" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <svg class="icon"><use xlink:href="#icon-close"></use></svg>
    </a>
    {{#if theme_settings.size-chart-text '!=' ''}}
        <div class="modal-header">
            <h2 class="modal-header-title">{{theme_settings.size-chart-text}}</h2>
        </div>
    {{/if}}
    <div class="modal-body">
    	<div class="size_chart_desc">
    		<h5>Custom Title</h5>
    		<p>Nam tempus turpis at metus scelerisque placerat nulla deumantos delos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis de risus. Nullam accumsan tincidunt volutpat. Fusce a orci sit amet estos scelerisque consequat.</p>
    	</div>
        <div class="size_chart-_img text-center">
            <img src="{{value}}" alt="">
        </div>
    </div>
</div>
