<div id="modal-review-form" class="modal" data-reveal>
    <div class="modal-header">
        <h2 class="modal-header-title">{{@lang 'products.reviews.write_a_review'}}</h2>
        <a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
    </div>
    <div class="modal-body">
        <div class="writeReview-productDetails">
            <img src=" {{@image product.main_image}}">
            <h6 class="product-brand">{{ product.brand.name }}</h6>
            <h5 class="product-title">{{ product.title }}</h5>
        </div>
        <form class="form writeReview-form" action="{{ urls.product.post_review }}" method="post">
            <fieldset class="form-fieldset">
                <div class="form-field">
                    <label class="form-label" for="rating-rate">{{@lang 'products.reviews.rating_label'}}</label>
                    <!-- Stars -->
                    <!-- TODO: Review Stars need to be componentised, both for display and input -->
                    <select id="rating-rate" class="form-select" name="revrating">
                        <option value="">{{@lang 'products.reviews.select_rating'}}</option>
                        <option value="5">{{@lang 'products.reviews.rating.5'}}</option>
                        <option value="4">{{@lang 'products.reviews.rating.4'}}</option>
                        <option value="3">{{@lang 'products.reviews.rating.3'}}</option>
                        <option value="2">{{@lang 'products.reviews.rating.2'}}</option>
                        <option value="1">{{@lang 'products.reviews.rating.1'}}</option>
                    </select>
                </div>
                <!-- Name -->
                <div class="form-field">
                    <label class="form-label" for="rating-name">{{@lang 'products.reviews.form_write.name'}}</label>
                    <input id="rating-name" class="form-input" type="text" name="revfromname" />
                </div>

                <!-- Email -->
                {{#if product.reviews.show_review_email}}
                    <div class="form-field">
                        <label class="form-label" for="rating-email">{{@lang 'products.reviews.form_write.email'}}</label>
                        <input id="rating-email" class="form-input" name="email" />
                    </div>
                {{/if}}

                <!-- Review Subject -->
                <div class="form-field">
                    <label class="form-label" for="rating-title">{{@lang 'products.reviews.form_write.subject'}}</label>
                    <input id="rating-title" class="form-input" type="text" name="revtitle" />
                </div>

                <!-- Comments -->
                <div class="form-field">
                    <label class="form-label" for="rating-comment">{{@lang 'products.reviews.form_write.comments'}}</label>
                    <textarea id="rating-comment" class="form-input" name="revtext"></textarea>
                </div>

                <div class="form-field">
                    <input type="submit" class="button button--primary" value="{{@lang 'products.reviews.form_write.submit_value'}}">
                </div>
                <input type="hidden" name="product_id" value="{{ product.id }}" />
                <input type="hidden" name="action" value="post_review" />
            </fieldset>
        </form>
    </div>
</div>
