// =============================================================================
// GIFT CERTIFICATES (CSS)
// =============================================================================


.giftCertificateCode > .form-label {
    display: flex;
    flex-wrap: wrap;
}

.giftCertificateCode-smallText {
    flex: 1 1 auto;
    margin: 0;
    text-align: right;
    width: auto;

    @include breakpoint("small") {
        padding-right: $giftCertificateCode-smallText-offset;
    }
}

.giftCertificateCode-button {
    width: $giftCertificateCode-button-width;
}
