// =============================================================================
// NORMALIZE (Settings)
// =============================================================================


// Citadel Variables
// -----------------------------------------------------------------------------
//
// 1. Choose whether to include Normalize
//
// -----------------------------------------------------------------------------

$exportCSS--normalize:                    true; // 1
