
.promo {
    background-color: #EAF8F8;
    font-size: fontSize("smallest");
    font-weight: fontWeight("bold");
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: spacing("base");
    padding: spacing("single") spacing("base"); 
    margin-bottom: spacing("single");
    button {
        margin: 0;
    }   
}
