// =============================================================================
// Z-INDEX
// =============================================================================


// Global Type Vars
// -----------------------------------------------------------------------------
//
// IMPORTANT: These variables are NOT to be consumed in components/apps.
//            Instead use the maps and functions outlined below.
//
// -----------------------------------------------------------------------------


// z-index map
// -----------------------------------------------------------------------------

$zIndex-lowest:                 5;
$zIndex-lower:                  10;
$zIndex-low:                    20;
$zIndex-high:                   50;
$zIndex-higher:                 100;
$zIndex-highest:                500;
