// =============================================================================
// TAGS (Settings)
// =============================================================================


$tag-fontSize:                      fontSize("base");
$tag-color:                         stencilColor("color-textSecondary");
$tag-color-hover:                   stencilColor("color-textSecondary--hover");
$tag-paddingVertical:               spacing("quarter");
$tag-paddingHorizontal:             spacing("third");
$tag-padding:                       $tag-paddingVertical $tag-paddingHorizontal;
$tag-textDecoration:                none;
$tag-content:                       "#";
