.account-body{
    max-width: 100%;
    margin: 0;
}

.login-form {
    margin-top :0;

    .forgot-password {
        padding-top: 10px;
    }
}

.login-row {
    margin-top: 40px;
}

.form-input, .form-select {
    border: 2px solid black;
    border-radius: 0;
    color: $black;

    @include placeholder {
        text-align: center;
    }
}

.panel-title.page-heading {
    margin-bottom: 0;
}

.panel-body {
    padding-top: 0;
}


.new-customer-intro {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: .9em;
    margin-bottom: 15px;
}

.new-customer-fact-list {
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    color: $black;
    li {
        padding: 3px 0;
    }
}

.button-black {
  background: $black;
  color: white;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
    &:hover {
        background: #324147;
        color: white !important;
    }
}

.button-white {
    background: #e5e5e5;
    color: #211e20 !important;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
      &:hover {
          background: #324147;
          color: white !important;
      }
}

.new-customer-btn {
    display: block;
    margin: 0 auto;
}

.forgot-password__intro {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 20px;
}

.account--fixedSmall {
    width: 90%;
    max-width: $container;
    margin: 0 auto;
}

.forgot-password-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-prefixPostfix.wrap{
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include gt($medium) {
        input {
            min-width: 500px;
            max-width: 100%;
        }
        
        input[type="submit"] {
            min-width: unset;
        }
    }
}

.form-prefixPostfix-button--postfix {
    margin: 20px 0;
}

.form-prefixPostfix .form-inlineMessage {
    text-align: center;
}

.form-row {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.page-heading {
    margin-bottom: 0;
}

.account-logout {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
}
