.banner {
    margin: 0 auto;
    background-size: cover;
    h1.banner__title {
        color: #ffce62;
        text-align: center;
        text-shadow: 1px 1px 10px rgba(black, .58);
    }
    p.banner__subtitle {
        color: white;
        text-shadow: 1px 1px 10px rgba(black, .58);
        text-align: center;
        font-size: 20px;
    }
}

.shop-by__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

a.shop-by__link {
    display: flex;
    height: 100%;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-between;
    &:hover h2.shop-by__title {
        color: #cea448;
    }
}

.shop-by__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    flex-grow: 1;
    object-fit: contain;
}

h2.shop-by__title {
    text-align: center;
    color: #211e20;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'BenchNine' ,sans-serif;
}

.shop-by-other {
    overflow: hidden;
    margin: 80px 0;
    h2 { color: #211e20}
}

.shop-by-other__wrap {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    a {
        text-decoration: none;
        color: white;
    }
}

.shop-by-other__item {
    background: #fcf9f2;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.shop-by-other__img {
    align-self: center;
}

h3.shop-by-other__title {
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 18px;
    color: #cea448;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 16px;
}
