.category-list {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 61px;
    padding: 15px 7px;
    font-family: $interstate-condensed;
    font-size: 18px;
    font-weight: 700;
    color: $light_yellow !important;
    text-align: center;
    text-decoration: none !important;
    background: $dark-grey;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;

  }

  &__title {
    margin-bottom: 20px !important;
    color: $navy !important;
    text-align: center;
  }
}