// ------------------------------------------------------------------------------------->
//
//                                  CUSTOM STYLES START
//
// ------------------------------------------------------------------------------------->

// Custom Mixins
// -----------------------------------------------------------------------------
//
// 1. Import custom mixins.
//
// -----------------------------------------------------------------------------

@import "custom-mixins"; //1

// -----------------------------------------------------------------------------
//
//                                  Base Layout
//
// -----------------------------------------------------------------------------

.body {
    margin-top: $mobile-spacing;
}

.heroCarousel {
    margin-top: -$mobile-spacing;
}

// -----------------------------------------------------------------------------
//
//                                  Banners
//
// -----------------------------------------------------------------------------

.banners {
    //Responsive font size on small screens so that the banner text never wraps
    font-size: 2.7vw;
    //Overrides default banner padding in _banners.scss line 16
    padding: spacing("quarter") 0;

    //reset banner font size for bigger screens
    @include breakpoint("small") {
        font-size: 1rem;
    }
}

// -----------------------------------------------------------------------------
//
//                                  HEADER
//
// -----------------------------------------------------------------------------

//Overrides header bottom border in _header.scss line 38
.header {
    border-bottom: none;
}

// Begin Header Top-------------------------------------------------------------
//The upper section of the CravenSpeed version of the header
.header-top {
    position: relative;
    display: flex;
    align-items: center;

    @include breakpoint("medium") {
        margin: 0;
    }

    >* {
        @include breakpoint("small") {
            flex: 1 0 0;
        }
    }
}

.mobileMenu-toggle {

    position: relative;
    flex-grow: 0;

    //Overrides the hamburger menu icon color from _header.scss line 230
    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: stencilColor("navUser-color");
    }

    //Sets the hamburger color to transparent (to hide one of the lines)
    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;

        //Reasigns the correct color to only the lines that form the x
        &::before,
        &::after {
            background-color: stencilColor("navUser-color");
        }
    }
}

// phone number, email address, and hours in the header. 
.support-info {
    // Initial styles for when the section is visible in the mobile menu only
    display: none;
    position: absolute;
    top: 100vh;
    top: 100svh;
    transform: translateY(-100%);
    width: 100%;
    margin: 0;
    padding: spacing("base") spacing("single");
    background-color: stencilColor("color-secondary");
    color: stencilColor("navUser-color");
    list-style-type: none;
    font-weight: fontWeight("bold");
    line-height: 1.8;
    z-index: zIndex("high");

    // Styles for desktop
    @include breakpoint("medium") {
        position: relative;
        top: 0;
        transform: translateY(0);
        width: auto;
        display: inline;
        line-height: 1.2;
        z-index: auto;
    }

    // Reveals when the mobile menu is toggled
    &.is-open {
        display: block;
    }

    // Hide .support-info if the screen isn't tall enough to include it in the mobile menu
    @include short {
        display: none !important;
    }
}

.header-logo {
    margin: 0;
    flex: 1;
    padding-right: spacing("single") + remCalc($nav-icon-size);

    @include breakpoint("medium") {
        //Overrides default header-logo margin from _header.scss line 76
        margin: spacing("single") auto;

        padding: 0;
    }

    &__link {
        width: 90%;
    }
}

.header-logo-image-container {
    max-height: get-height(stencilString("logo_size"));
}

.svg-logo {
    //Allows svg logo to shrink on mobile layout
    width: 100%;
    max-width: 100%;
}

.navUser {

    //Overides _navUser.scss setting width to 100% which is only needed for the mobile layout on line 24
    @include breakpoint("medium") {
        width: auto;
    }
}

//Overides the user navigation icon size
.navUser-action {
    .icon {
        margin: 0;
        @include square($nav-icon-size);
    }
}

//remove stroke from nav icons
.navUser-action svg {
    stroke: none;
}

.navUser-item--cart {

    // prevents default removal of cart link for small screens when quantity is 0 from _navUser.scss line 155
    &__hidden-s {
        @media (max-width: $screen-small) {
            display: block;
        }
    }
}


// End Header Top  -------------------------------------------------------------

//Overrides default navPages background color for two tone header for medium breakpoint from _navPages.scss line 49
.navPages-container {
    @include breakpoint("medium") {
        background-color: $navPages-backgroundColor;
    }
}

.navPages {

    @include breakpoint("medium") {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//Overrides default hiding of quick search in navPages on desktop
.navPages-quickSearch {
    font-size: stencilNumber("fontSize-h3");
    margin: 0;
    padding-bottom: spacing("single");

    @include breakpoint("medium") {
        order: 2;
        display: block;
        flex: 1;
        max-width: 25rem;
        border: none;
        padding: 0;
    }
}

.cs-form-field {
    position: relative;
}
#cs-search-input {
    border: none;
    border-radius: 3px;
    width: 100%;
}

.autocomplete {
    position: relative;
    display: inline-block
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    top: $autocomplete-items-top;
    left: 0;
    right: 0;
    font-size: 1rem;
    // border: 2px solid stencilColor("navPages-subMenu-backgroundColor");
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: stencilColor("navPages-subMenu-backgroundColor");
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.blocklink div {
    padding: 0 spacing("quarter");
    background-color: stencilColor("color-white");

    &:hover{
        background-color: stencilColor("color-greyDarker");
    }
}

.blocklink {
    text-decoration: none;
}

.blocklink>div {
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    white-space: nowrap;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden
}

.blocklink img {
    display: block;
    height: 2.5rem
}

#autocompleteMessage a {
    color: #c13119
}

.overflow a {
    display: inline-block;
    padding: 10px 0;
    width: 100%
}

.cs-search-message {
    padding: 10px 0
}


// -----------------------------------------------------------------------------
//
//                                  FOOTER
//
// -----------------------------------------------------------------------------

//Overrides default color assignment in _footer.scss line 114
.footer-info-list a {
    color: stencilColor("footer-heading-fontColor");
}

.footer-info-col {
    color: stencilColor("footer-heading-fontColor");
}

//override
.socialLinks {
    .icon {
        svg {
            fill: stencilColor("footer-heading-fontColor");
        }
    }
}

//override 
.footer-copyright {
    >.powered-by {
        color: stencilColor("footer-heading-fontColor");
    }
}

// -----------------------------------------------------------------------------
//
//                                  CAR SELECTION
//
// -----------------------------------------------------------------------------

.cs-car-picker {
    width: calc(100% - #{$mobile-spacing});
    margin: 0 auto;
    margin-bottom: spacing("single");
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(#{$mobile-spacing} / 2);
    
    select {
        height: $product-button-height;
        border: 2px solid stencilColor(button--disabled-borderColor);
        border-radius: 3px;
        text-align: center;
        font-size: 1rem;

        option {
            display: block;
            height: $product-button-height;
        }

        @include breakpoint("medium") {
            flex: 1;
        }
    }
    
    @include breakpoint("medium") {
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
    }
}

// -----------------------------------------------------------------------------
//
//                                  PRODUCT CARDS
//
// -----------------------------------------------------------------------------

#more-products-header, #matching-products-header {
    text-align: center;
    font-weight: bold;
    font-size: $h3-font-size;
    margin-bottom: spacing("single");
}

#more-products, #matching-products {
    display: grid;
    grid-template-columns: auto;
    gap: spacing('double');
    justify-content: center;
    
    @include breakpoint('medium') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cs-product-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    font-size: $h4-font-size;
    text-align: center;
    border-radius: 3px;
    box-sizing: content-box;
    border: 2px solid rgba(255, 255, 255, 0);

    &:hover {
        border: 2px solid stencilColor("color-primary");
    }
}

.cs-card-title {
    margin: 0;
}

.cs-card-title-link {
    text-decoration: none;
}




// -----------------------------------------------------------------------------
//
//                                  HOME
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
//                                  PRODUCT
//
// -----------------------------------------------------------------------------

//borders
// #product-image-gallery {
//     border: 1px solid hotpink;
// }

// #slick-slide {
//     border: 1px solid rgb(0, 153, 255);
// }

#cs-product-container {
    box-sizing: border-box;
    margin: $mobile-spacing;
    margin-top: 0;

    //Some Slick styles are overnested to ensure they only apply on the CravenSpeed Product template

    .slick-slide {
        height: $slick-slide-height;
    }
    .cs-next,
    .cs-prev {
        border: none;
        position: absolute;
        top: calc(50% - 2rem);
        @include square($slick-arrows-size);
        z-index: zIndex("high");
        font-size: 0;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .cs-next {
        right: $slick-arrows-position;
        }

    .cs-prev {
        left: $slick-arrows-position;
        }

    .slick-dots {
        position: relative;
        bottom: 0;
        min-height: $slick-dots-min-height;
        display: flex !important;
        gap: 2vw;
        align-items: center;
        justify-content: center;

        li {
            width: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                background: stencilColor('product-carousel-dot-color');
                border: none;

                &::before {
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    @include breakpoint("small") {
        margin: 1rem;
        margin-top: 0;
    }
}

#product-above {
    min-height: calc(100svh - #{$header-height} - #{$mobile-spacing});
    display: flex;
    flex-direction: column;
    gap: $mobile-spacing;
    
    @include breakpoint("medium") {
        min-height: calc(100vh - (#{$header-top-height} + #{$navPages-height}) - #{spacing("half")} - 3.5rem);
    }
}

.navPages-action--compare {
    display: none;

    &.show {
        display: block;
    }
}

#product-car-selection {
    display: flex;
    align-items: center;
    gap: calc(#{$mobile-spacing} / 2);

    select {
        height: $product-button-height;
        border: 2px solid stencilColor(button--disabled-borderColor);
        border-radius: 3px;
        text-align: center;
        font-size: .875rem;
        flex: 1;

        @include breakpoint("medium") {
            font-size: 1.25rem;
        }
    }

    @include breakpoint("medium") {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

}

#product-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: $mobile-spacing;
    gap: $mobile-spacing;

    @include breakpoint("small") {
        align-items: center;
    }

    @include breakpoint("medium") {
        display: grid;
        grid: 100% / 50% 50%;
    }
}

#product-images {
    position: relative;

    @include breakpoint("small") {
        width: $images-width-medium;
        max-width: 100%;
        height: auto;
    }

    @include breakpoint("medium") {
        width: 100%;
        height: 100%;
    }
}

#product-image-gallery {
    height: 100%;

    @include breakpoint("medium") {
        width: calc(100% - #{spacing("double")});
        margin: 0 auto;
    }
    
}

#product-badges-desktop {
    display: none;
    height: $product-badges-max;

    @include breakpoint("medium") {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: spacing("single") 0;
    }
}

#product-badges-mobile {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint("medium") {
        display: none;
    }
}

.made-in-usa-badge {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid stencilColor("color-black");
    border-radius: 5px;
    background-color: stencilColor("color-white");
    width: $product-badges-max;
    height: fit-content;
    padding: spacing("eighth");
    gap: spacing("eighth");

    h4 {
        margin: 0;
        font-size: 10px;
        text-align: center;
        line-height: 1;
        white-space: nowrap;
    }
}

.warranty-badge {

    svg {
        display: block;
        @include square($product-badges-max);
    }
}

#product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: $mobile-spacing;

    @include breakpoint("small") {
        width: 100%;
        margin: 0 auto;
        align-self: flex-end;
        height: 100%;
        justify-content: center;
    }

    @include breakpoint("medium") {
        width: fit-content;
    }
}

#product-details {
    flex: 1;
    display: grid;
    column-gap: spacing("half");

    #product-title {
        grid-column: 1 / span 2;
        height: 84px;
        margin: 0;
        text-align: center;

        @include breakpoint("medium") {
            height: 51px;
            text-align: left;
            font-size: 34px;
        }
    }

    #product-details-two {
        text-align: right;

        @include breakpoint("medium") {
            text-align: left;
        }
    }

    #product-sku,
    #product-price {
        font-size: 28px;
        height: 42px;   
    }

    #product-shipping, 
    #product-stock, #product-rating {
        @include breakpoint("small") {
            font-size: 17px;
            height: 26px;
            vertical-align: middle;
        }
    }

    #product-brand {
        font-weight: bold;
        font-size: 24px;
        height: 36px;
    }

    @include breakpoint("medium") {
        flex: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#product-ordering {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: $product-button-height $product-button-height;
    gap: calc(#{$mobile-spacing} / 2);

    #product-options {
        display: flex;
        flex-direction: row;
        gap: 6px;
        width: 100%;

        >* {
            flex: 1;
        }

        @include breakpoint("medium") {
            width: $product-button-width;
        }
    }

    * select,
    * button {
        width: 100%;
        height: $product-button-height;
        border: none;
        border-radius: 3px;
        text-align: center;
    }   

    
    select {
        border: 2px solid stencilColor(button--disabled-borderColor);
    }
    
    button {
        background-color: gray;
        color: lightgray;
    }

    @include breakpoint("medium") {
        width: $product-button-width;
    }
}

.tabs {
    border-bottom: 2px solid $tabs-border-color;
}

.tab {
    &.is-active {
        @include breakpoint("medium") {
            border: 2px solid $tabs-border-color;
            border-bottom: none;
        }
    }
}

.tabs-contents {
    max-width: $product-tabs-contents-width;
    margin: 0 auto;
}

ul.tabs {

    @include breakpoint("medium") {
        display: flex;
        justify-content: center;
    }
}

// -------------------------------------- THE FOLD ------------------------------------->

#product-description {
    width: 100%;
}

.descriptionContainer {
    width: 100%;
    margin: 0 auto;

    @include breakpoint("small") {
        max-width: $product-description-width-small;
    }

    @include breakpoint("medium") {
        width: 100%;
        max-width: none;
    }
}

.descriptionContainer > p {
    text-align: center;
}

.pdpRow {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint("medium") {
        flex-direction: row;

        & > * {
            width: 50%;
            padding: spacing("single");
        }
    
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

}

.productText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin: 0;
        border-bottom: 2px solid stencilColor('color-primary');
    }
}

.productGraphic {
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions-link {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        @include button; 

        border-radius: 3px;
    }
}


// ------------------------------------------------------------------------------------->
//
//                                  CUSTOM STYLES END
//
// ------------------------------------------------------------------------------------->