// ------------------------------------------------------------------------------------->
//
//                                  CUSTOM STYLES START
//
// ------------------------------------------------------------------------------------->

// -----------------------------------------------------------------------------
//
//                                  GLOBAL
//
// -----------------------------------------------------------------------------

$outline-color:  #ff0000;

// -----------------------------------------------------------------------------
//
//                                  BANNER
//
// -----------------------------------------------------------------------------

$banner-total-padding:                spacing("half");

// -----------------------------------------------------------------------------
//
//                                  HEADER
//
// -----------------------------------------------------------------------------

$nav-icon-size:                                 20px;

//the min height for the mobile menu to include .support-info
$screen-height-min:                             615px;

@mixin short {
    @media (max-height: #{$screen-height-min}) {
        @content;
    }
 }

 //height reference for breakpoint medium + header top height
 $header-logo-height: get-height(stencilString("logo_size"));
 $header-top-height: calc(#{$header-logo-height} + #{spacing("double")});
 


 //height reference for navPages
 $navPages-height: spacing("half") + spacing("single") + (spacing("half") + spacing("quarter"));
 $cs-search-input-height: 33px;
 $autocomplete-items-top: calc((#{$navPages-height} / 2) - (#{$cs-search-input-height} / 2) + #{$cs-search-input-height});

//full header height
$header-height: calc(#{$header-logo-height} + #{spacing("double")} + #{$navPages-height});
 // -----------------------------------------------------------------------------
//
//                                  PRODUCT
//
// -----------------------------------------------------------------------------

$mobile-spacing: spacing("half");
$product-button-height: spacing("double");
$product-button-width: 100%;
$slick-slide-height: 65vmin;
$slick-arrows-position: spacing('half');
$slick-arrows-position-desktop: spacing("double");
$slick-arrows-size: 40px;
$slick-dots-min-height: 2rem;
$images-width-medium: 550px;
$product-badges-max: 90px;
$product-tabs-contents-width: 1200px;
$product-description-width-small: 700px;

// -----------------------------------------------------------------------------
//
//                                  Optimized Product
//
// -----------------------------------------------------------------------------

$product-messages-height: spacing("double");
$product-above-max-width: 1300px;
$product-above-photo-max-width: 750px;
$product-selection-max-width: 400px;
$product-select-height: 3rem;
$gallery-img-corner-radius: 5px;
$button-border-radius: 4px;