// ------------------------------------------------------------------------------------->
//
//                                  CUSTOM STYLES START
//
// ------------------------------------------------------------------------------------->

// -----------------------------------------------------------------------------
//
//                                  BANNER
//
// -----------------------------------------------------------------------------

$banner-total-padding:                spacing("half");

// -----------------------------------------------------------------------------
//
//                                  HEADER
//
// -----------------------------------------------------------------------------

$nav-icon-size:                                 20px;

//the min height for the mobile menu to include .support-info
$screen-height-min:                             615px;

@mixin short {
    @media (max-height: #{$screen-height-min}) {
        @content;
    }
 }