.hero {
    .btn {
      font-family: $interstate-condensed;
      font-size: 18px;
      font-weight: 700;
      margin-top: 20px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &.mobile {
        height: 390px;
        @include gt($medium) {
            display: none;
        }
    }
    &.tablet {
        display: none;
        height: 507px;
        @include gt($medium) {
            display: flex;
        }
        @include gt($large) {
            display: none;
        }
    }
    &.desktop {
        display: none;
        height: 507px;
        @include gt($large) {
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}

.hero__wrap {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    @include gt($medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 640px;
    }
}

.hero__title {
    color: white;
    font-family: $interstate-condensed;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    margin: 0;
    @include gt($medium) {
        font-size: 50px;
        line-height: 60px;
    }

    .drop-shadow & {
        text-shadow: 0px 3px 6px #00000029;
    }
}

.hero__text {
    color: white;
    font-family: $interstate;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin: 0;

    .drop-shadow & {
        text-shadow: 0px 3px 6px #00000029;
    }
}

.dark-text .hero__wrap {
    max-width: 80%;
    flex-direction: column;
    text-shadow: 0px 3px 6px #00000029;
}

.dark-text .hero__title {
    color: #231F20;
    font: normal normal bold 36px/1.1 $interstate-condensed;

    @include gt($large) {
        font-size: 40px;
    }
}
    

.dark-text .hero__subtitle {
    font: normal normal 600 20px/2 $interstate;
    margin-bottom: 0;
}
