.custom-page-home {
    background-color: $navPages-backgroundColor; 
    width: 100%;

    .page-home__hero {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        max-width: 1700px;
        margin: 0 auto;
    }

    .page-home__hero-content {
        width: 100%;
        max-width: 1700px;
        margin: 0 auto;
    }
}