
.main-nav__mobile {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 80vh;
  padding: 30px;
  z-index: 99;
  overflow: auto;
}

.main-nav__mobile--list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.main-nav__mobile--item {
    margin: 10px 0;
    a {
        font-family: $benchNine;
        font-weight: 600;
        color: $black;
        font-size: 24px;
        letter-spacing: .04em;
        text-transform: uppercase;
    }
}

.main-nav__overlay {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

.nav-view {
    display: block;
}

.main-nav {
  &__mobile {
    transform: translateZ(-10px);
    background-color: #fff;

    &-brand-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      list-style: none;
    }

    &--dropdown {
      svg {
        width: 12px;
        height: 7.5px;
      }

      &.active {
        color: #1E81D1;

        svg { 
          fill: #1E81D1;
          transform: rotate(180deg);
        }
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    &-search-form {
      width: 214px;
      border: 2px solid #032414;

      &__fieldset {
        width: 207px;
        padding: 0;
        border: 0;
      }

      &__input {
        display: block;
        width: 100%;
        font-size: 10px;
        padding: 7px 0 7px 30px;
        color: $darkest_grey;
        border: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath data-name='Path 30' d='M0,0H30V30H0Z' fill='none'/%3E%3Cpath data-name='Path 31' d='M17.962,16.167h-.946l-.335-.323a7.792,7.792,0,1,0-.838.838l.323.335v.946l5.985,5.973,1.783-1.783Zm-7.182,0a5.386,5.386,0,1,1,5.386-5.386A5.379,5.379,0,0,1,10.78,16.167Z' transform='translate(1.177 1.177)' fill='%23f2c662'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center left 5px;
        background-color: white;
        background-size: 20px;

        @include placeholder {
          display: inline-block;
          color: rgba(#324147, .5);
          font-weight: 600; 
          font-size: 10px;
        }
      }
    }

    &-sub-item {

        &-link {
          font-family: $interstate;
          font-size: 16px;
          font-weight: 500;
          color: #231F20;
          text-decoration: none;
        }
    }

    &-sub-menu {
      display: grid;
      margin: 20px 0 0;
      max-height: 0;
      list-style: none;
      text-align: left;
      overflow: hidden;
      transition: max-height .2s;
      grid-row-gap: 20px;

      .active & {
        max-height: 1000px;
        transition: max-height 3s;
        overflow: auto;
      }

      @include gt($small) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
      }
    }

    &--toggle {
      display: flex;
      align-items: center;
      padding: 0;
      font-family: $interstate-condensed;
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      text-transform: uppercase;
      text-decoration: none;
      gap: 5px;
    }

    &-top-link {
      svg {
        max-width: 26px;
        height: 25px;
        fill: #1e81d1;
      }
    }

    &-top-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
      list-style: none;
      gap: 20px;

      @include gt($small) {
        flex-wrap: nowrap;
      }
    }

    &-top-search {
      width: 100%;
      form, fieldset { width: 100%; margin: 0 }
    }
  }
}
