.page {
    width: 90%;
    max-width: $container;
    margin: 20px auto;

    h1 {
        font-family: $poppins;
        font-size: 40px;
        color: $dark_blue;
        font-weight: 600;
        letter-spacing: .04em;
        text-transform: uppercase;
        margin: 15px 0;
    }
    
    h2 {
        font-family: $poppins;
        font-size: 24px;
        color: $dark_blue;
        font-weight: 600;
        letter-spacing: .04em;
        text-transform: uppercase;
        margin: 15px 0 5px;
    }
    
    h3 {
        font-family: $poppins;
        font-size: 18px;
        color: $black;
        font-weight: 600;
        letter-spacing: .04em;
        text-transform: uppercase;
        margin: 5px 0;
    }

    a {
        color: $yellow;
        text-decoration: underline;
        &:hover {
            color: $orange;
        }
    }
    
    p, li {
        font-family: $poppins;
        font-size: 16px;
        color: $black;
        letter-spacing: .04em;
    }
    
    hr {
        border-color: $black;
        border-width: 2px 0 0;
    }
    
        .kuGridView ul li .kuAddtocart { 
      position: static !important;
    }
    
    @media only screen and (min-width: 1024px) {
    .kuGridView ul li .kuAddtocart { 
      position: absolute !important;
    }
    }

}

.page-heading {
    font-family: $poppins;
    font-size: 30px;
    color: $dark_blue;
    font-weight: 600;
    letter-spacing: .04em;
    text-transform: uppercase;
    margin: 15px 0;
}

.interior-banner {
    background: $grey;
    padding: 50px;
    margin-bottom: 80px;

    p {
        color: $dark_grey;
        font-size: 18px;
        max-width: 1170px;
        margin: 0 auto;
    }
}

.category-header{
    width: 90%;
    margin: 50px auto 10px;
    padding: 40px 20px;
    text-align: center;
    color: #332e31;
    max-width: 1280px;
}
