.productGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: 0 auto;
}

h4.card-title {
    margin-bottom: 10px;
    a {
        text-align: center;
        text-decoration: none;
        color: $black;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.product {
    border-bottom: 2px solid $darkest_grey;
    margin-bottom: 40px;
    .card {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        height: 100%;
    }
}

.card-subtitle {
    margin-bottom: 4px;
    font-family: 'Interstate Condensed',sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #135185;
}

.card-body {
    flex-grow: 1;
    padding: 10px;
    background: rgba(30,129,209,.05);
}

.card-body .card-text {
    display: flex;
    justify-content: center;
    font-size: 16px;

    .price-section {
        padding: 0 5px;
    }
}

.card-figure {
    padding: 0;
}

.card-img-container {
    position: relative;
    margin: 10px;
}

a.product-card__button {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 15px 5px;
}
