body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex-grow: 1;
}

a {
    &:hover {
        color: #ffce62;
    }
}

.title {
    font-family: $interstate-condensed;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.125;
    text-transform: uppercase;
}

.title--secondary {
    font-family: $interstate-condensed;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.12;
    text-transform: uppercase;
}

.title--section {
    font-family: $interstate;
    font-size: 20px;
    line-height: 1.12;
}

.title--sub {
    font-family: $interstate-condensed;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.12;
    text-transform: uppercase;  
}

.title--text {
    font-family: $interstate-condensed;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
}

.accent {
    font-family: $interstate-condensed;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
}

.accent--alt {
    font-family: $interstate;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
}

.text {
    font-family: $interstate-condensed;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.12;
}

.text--sub {
    font-family: $interstate;
    font-size: 12px;
    line-height: 1.12;
    text-transform: uppercase;
}
