// CUSTOM Variables
// Colors
$dark_blue: #1e81d1;
$darkest_blue: #1a70b6;
$navy: #135185;
$yellow: #F2C662;
$light_yellow: #fcf9f2;
$orange: #cea448;
$dark_grey: #324147;
$darkest_grey:  #332e31;
$black: #231F20;
$grey: #f8f9f9;
$red: #cb2222;

// Breakpoints 
$small: 420px;
$medium: 700px;
$large: 1000px;
$container: 1280px;

// Fonts
$poppins: 'Poppins', sans-serif;
$benchNine: 'BenchNine', sans-serif;
$interstate: 'Interstate', sans-serif;
$interstate-condensed: 'Interstate Condensed', sans-serif;
