// =============================================================================
// OVERLAY
// =============================================================================
//
// Purpose: Centralised place to control overlay backgrounds, such as:
// modal backdrops, card overlays, etc.
//
// -----------------------------------------------------------------------------


// Overlay fill
// -----------------------------------------------------------------------------

$overlay-fill:                  rgba(stencilColor("overlay-backgroundColor"), 0.95);
