// =============================================================================
// PRODUCT REVIEWS (CSS)
// =============================================================================

.productReviews-list {
    @include grid-row();
    @include u-listHorizontal;
}

.productReviews-hide {
    float: right;
}

.productReview {
    @include grid-column(4);
    margin-bottom: spacing("single");
    padding-left: 0;
    padding-right: 0;
}

.productReview-title {
    margin: 0;
    text-transform: none;
}

.productReview-author {
    color: color("greys", "light");
}
