<div class="form-field">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="customization_{{this.id}}_{{../id}}">
        {{ this.display_name }}:
        {{#if required}}
            <small>{{lang 'common.required'}}</small>
        {{/if}}
    </label>
    <input class="form-file" type="file" id="customization_{{this.id}}_{{../id}}" name="ProductFields[{{this.id}}]">
    <p class="form-fileDescription">{{lang 'products.max_filesize'}} <strong>{{file_size}}</strong>, {{lang 'products.filetypes'}} <strong>{{file_types}}</strong></p>
</div>
