<section class="curationModule">
    {{#each carousel.slides}}
    <a href="{{url}}" class="{{#if @first}}curationModule--main{{/if}}">
        <div class="curationModule-item {{#if @first}}item--first{{/if}}">
            <div class="curationModule-image-wrapper">
            {{#if @first}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    fallback_size='1280w'
                    lazyload='disabled'
                }}
            {{else}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    fallback_size='1280w'
                    lazyload='lazyload'
                }}
            {{/if}}
            </div>
            {{#if heading}}
                {{> components/carousel-content show_background=true}}
            {{else}}
                {{#if text}}
                    {{> components/carousel-content show_background=true}}
                {{else}}
                    {{#if button_text}}
                        {{> components/carousel-content show_background=false}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </a>
    {{#if @first}}<div class="curationModule--aside">{{/if}}
    {{#if @last}}</div>{{/if}}
    {{/each}}
</section>