<div class="expanded-info" style="background-image: url({{cdn 'https://cdn11.bigcommerce.com/s-2no392teb5/product_images/uploaded_images/awning-horiztonal.jpg'}});">
    <div class="info--image">
        <img src="{{cdn 'img/info_awning.jpg'}}" />
    </div>
    <div class="info--container">
        <div class="infoBox">
            <h3>{{theme_settings.hoursHeading}}</h3>
            <div>

                <p>With the ongoing uncertainty regarding COVID-19, we will be rolling out our plans and updated shopping hours on a weekly basis.</p>
                <p>We will be open for window shopping Wednesday to Saturday, 12-5pm and Sundays 11am-4pm, with curbside pickup available during those times.</p>
                <p>Free local delivery is also available, please leave a comment in your online order to schedule a date and time.</p>
                <!-- {{#each theme_settings.storeHours}}
                    <p><strong>{{day}}</strong><br />
                        {{time}}</p>
                {{/each}} -->
                <div class="button-container">
                    <a class="button button--primary" href="/giftcertificates.php">Buy A Gift Card</a>
                </div>
            </div>
        </div>
    </div>
</div>