<div class="expanded-info">
    <div>
        <div class="infoBox">
            <h2>Art is not a luxury.</h2>
            <p>Located in Lincoln Square, Chicago.</p>
            <h3>{{theme_settings.hoursHeading}}</h3>
            <div>
                <p>Due to the COVID-19 virus, we will be closed until further notice.</p>
                <p>In-store pickup, curbside pickup and free local delivery options are available, please leave a comment in your online order to schedule a date and time.</p>
                <!-- {{#each theme_settings.storeHours}}
                    <p><strong>{{day}}</strong><br />
                        {{time}}</p>
                {{/each}} -->
            </div>
        </div>
    </div>
    <div>
        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/info_awning.jpg'}}" alt="{{image.alt}}" title="{{image.alt}}">
    </div>
</div>