<div class="expanded-info" style="background-image: url({{cdn 'https://cdn11.bigcommerce.com/s-2no392teb5/product_images/uploaded_images/awning-horiztonal.jpg'}});">
    <div class="info--image">
        <img src="{{cdn 'img/info_awning.jpg'}}" />
    </div>
    <div class="info--container">
        <div class="infoBox">
            <h3>{{theme_settings.hoursHeading}}</h3>
            <div>
                <p>We are back for in-store shopping!</p>
                {{#each theme_settings.storeHours}}
                    <p><strong>{{day}}</strong><br />
                        {{time}}</p>
                {{/each}}
                <p>In-store pickup and free local delivery is available, please enter your shipping address to be presented with those options.</p>
            </div>
        </div>
    </div>
</div>