<div class="quick-intro">
    <div class="infoBox">
        <h2>Chicago’s Art Made Accessible.</h2>
        <p>How does one define Chicago? You can’t do it in one word, but you can do it in one place. At Midwest Nice, we see vibrant neighborhoods, sparkling with the energy of its artisans, each more unique than the last.</p>
        <p>Here, we uplift over 100 creators in our community to make our Lincoln Square home the ultimate destination for everything Chicago. It’s how we make art accessible for all, near or out of the Loop.</p>
        <div class="button-container">
            <a class="button button--primary" href="/about-us">Read The Story</a>
        </div>
    </div>
</div>
