<div class="quick-intro">
    <div class="infoBox">
        <h2>Midwest Art, <span style="color: #ffb4a2">Made for Everyone.</span></h2>
        <p>From the city blocks to small towns, the Midwest is rich with creativity. At Midwest Nice, we partner with over 100 local artists and makers to share their stories through one-of-a-kind gifts, prints, apparel, and more.</p>
        <p>Whether you're visiting us in Lincoln Square or Geneva, our shops are all about connecting people to the creativity of the Midwest—making it easy to discover meaningful, handmade goods that feel like home.</p>
        <div class="button-container">
            <a class="button button--primary" href="/about-us">Read The Story</a>
        </div>
    </div>
</div>
