// =============================================================================
// QUICK VIEW (CSS)
// =============================================================================

.quickView {
    @include clearfix();
}
