// =============================================================================
// FACET LABEL (Settings)
// =============================================================================

$facetLabel-borderRadius:                   4px;
$facetLabel-removeIcon-width:               14px;
$facetLabel-removeIcon-height:              14px;
