.blog-post-list {
    width: layout('max');
    margin-left: auto;
    margin-right: auto;
}

.blog-post {
    a {
        text-decoration: none;
    }

    &:last-child {
        border-bottom: none;
    }

    border-bottom: 1px solid color('greys', 'lighter');
    margin: spacing('double') auto 0 auto;
    padding-bottom: spacing('single');
    list-style-type: none;
    text-align: center;
}

.blog-post-title {
    text-align: center;
}

.blog-post-date, .blog-post-author {
    display: block;
}

.blog-post-content {
    font-size: fontSize('smaller');
    max-width: 70%;
    margin-top: spacing('single');
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.blog-post-image {
    width: auto;
    max-width: 100%;
    height: 526px;
}

.blog-post-tag {
    color: color('greys', 'light');
    font-size: fontSize('smaller');
    padding: spacing('quarter');
}
