// =============================================================================
// Currency Selector (CSS)
// =============================================================================

.currencySelector {
    position: relative;
    text-decoration: none;
}

.currency-selector-code {
    margin-left: 10px;
}

.currency-selection-list {
    display: none;
    position: absolute;

    &.active {
        display: block;
    }
}
