.mwn-block {
    display: block;
    position: relative;

    &.padding-vertical {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    &-product {
        .loadingOverlay {
            display: block;
        }
    }

    &-header {
        text-align: center;
    }

    &.theme- {
        &pink {
            background-color: #fac6bc;
            color: #e53a46;

            .card-figure {
                background-color: transparent;
            }

            .page-heading, .card-title > a {
                color: #e53a46;
            }
            .card-text {
                color: #550000;
            }
        }

        &cream {
            background-color: #f9ebcc;

            .card-figure {
                background-color: transparent;
            }

            .page-heading, .card-title > a {
                color: #1d3557;
            }
            .card-text {
                color: #1d3557;
            }
        }

        &navy {
            background-color: #1d3557;

            .card-figure {
                background-color: transparent;
            }

            .page-heading, .card-title > a {
                color: #f9ebcc;
            }
            .card-text {
                color: #f9ebcc;
            }
        }

        &grey {
            background-color: #e4e4e4;

            .card-figure {
                background-color: transparent;
            }

            .page-heading, .card-title > a {
                color: #1d3557;
            }
            .card-text {
                color: #1d3557;
            }
        }

        &green {
            background-color: #213429;

            .card-figure {
                background-color: transparent;
            }

            .page-heading, .card-title > a {
                color: #f9ebcc;
            }
            .card-text {
                color: #f9ebcc;
            }
        }
    }
}
