.mwn-block {
  display: block;
  position: relative;

  &.padding-vertical {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &-product {
    .loadingOverlay {
      display: block;
    }
  }

  &-header {
    text-align: center;
  }
}