.mwn-block {
    display: block;
    position: relative;

    &.padding-vertical {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    &-product {
        .loadingOverlay {
            display: block;
        }
    }

    &-header {
        text-align: center;
    }
}
