.quick-intro {
    background-color: #edf6f9;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
    padding: 20px 14px;

    > .infoBox {
        margin: 0 auto;
        max-width: 600px;
    }

    h2 {
        color: #fff;
        margin-top: 1rem;
        text-align: center;
    }

    > p {
        margin-left: auto;
        margin-right: auto;
        max-width: 680px;
    }
}

.expanded-info {
    background-color: #ececec;
    background-position: right center;
    background-size: cover;
    margin-bottom: 20px;
    object-fit: contain;
    padding: 20px;

    @include breakpoint("medium") {
        .info--image {
            display: none;
        }
    }

    .info--container {
        background-color: #edf6f9;
        max-width: 520px;
    }
    
    .info--image {
        margin-bottom: 20px;
    }

    .infoBox {
        height: 100%;

        p {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
        }
    }

    @media (max-width: 940px) {
        background-image: none !important;

        .info--container {
            margin: 0 auto;
        }
    }
}

.infoBox {
    font-size: 16px;
    padding: 7px 30px;
    position: relative;

    h2,
    h3,
    p {
        color: #1d3557;
    }

    h2,
    h3 {
        text-align: center;
    }

    h3 {
        font-style: italic;
        margin-top: 14px;
    }

    .button-container {
        text-align: center;
    }

    .infoBox--inner {
        padding-bottom: 8px;
    }
}
