.quick-intro {
    font-size: 1.5rem;
    margin-bottom: 30px;
    padding: 20px 14px;
    color: #ffffff;
    background-color: #556d83;

    > .infoBox {
        max-width: 600px;
        margin: 0 auto;
    }

    h2 {
        color: #ffffff;
        margin-top: 1rem;
        text-align: center;
    }

    > p {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
    }
}

.expanded-info {
    background-color: #ececec;
    background-size: cover;
    background-position: right center;
    object-fit: contain;
    margin-bottom: 20px;
    padding: 20px;

    .info--container {
        max-width: 520px;
    }
    
    .info--image {
        margin-bottom: 20px;
    }

    .infoBox {
        height: 100%;
    }

    @media (max-width: 940px) {
        background-image: none !important;

        .info--container {
            margin: 0 auto;
        }
    }

    @include breakpoint("medium") {
        .info--image {
            display: none;
        }
    }
}

.infoBox {
    background-color: #353C46;
    background-color: rgba(46,48,55,.8);
    padding: 7px 30px;
    position: relative;
    font-size: 16px;

    h2, h3, p {
        color: #ffffff;
    }

    h2, h3 {
        text-align: center;
    }

    h3 {
        font-style: italic;
    }

    .button-container {
        text-align: center;
    }

    &:before {
        content: '';
        display: block;
        width: calc(100% - 14px);
        height: calc(100% - 14px);
        position: absolute;
        top: 7px;
        left: 7px;
        border: 1px solid #ffffff;
    }
}