// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    max-width: remCalc(900px);
    margin: spacing("double") auto spacing("double")*2;
}

.login-row {
    @include grid-row();
    margin-top: spacing("double")*2;
}

.login-form {
    @include grid-column(12);
    @include breakpoint("medium") {
        @include grid-column(6);
    }

    margin-top: spacing("double");
}

.new-customer {
    @include grid-column(12);
    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

.new-customer-intro {
    margin-bottom: 0;
}

.new-customer-fact-list {
    margin-left: spacing("double");
}

.new-customer-fact {
    padding-left: spacing("half");
}

.forgot-password {
    color: color("greys", "light");
    margin-left: spacing("double");
    text-decoration: none;
}


.forgot-password-section {
    margin-left: auto;
    margin-right: auto;
    max-width: remCalc(550px);
}

.forgot-password-intro {
    text-align: center;
}

.forgot-password-fields {
    @include grid-row();
}

.forgot-password-email {
    @include grid-column(12);
    @include breakpoint("medium") {
        @include grid-column(8);
    }
}

.forgot-password-submit {
    @include grid-column(12);
    @include breakpoint("medium") {
        @include grid-column(4);
    }
}
