.pagination {
    color: color('greys', 'dark');
    letter-spacing: letterSpacing('large');
    margin-top: spacing('double');
    text-align: center;
}

.pagination-previous {
    &.light {
        float: left;
    }
}

.pagination-next {
    &.light {
        float: right;
    }
}
