.pagination {
    position: relative;
    text-align: center;
}

.pagination-list {
    display: block;
    margin-top: spacing('double');

    li {
        float: none;
        display: inline-block;
    }
}

.pagination-link-previous {
    position: absolute;
    left: 0;
}

.pagination-link-next {
    position: absolute;
    right: 0;
}
