.form-label--alternate {
    font-weight: fontWeight("bold");
}

.form-option {
    border: 1px solid color('greys', 'lighter');
    color: color('greys', 'dark');
    cursor: pointer;
    display: inline-block;
}

.form-radio:checked + .form-option {
    border: 2px solid color('greys', 'darker');
    padding: 0;
}

.form-option-variant {
    line-height: 26px;
    min-width: 41px;
    display: inline-block;
    padding-left: spacing('half');
    padding-right: spacing('half');
    text-align: center;
}

.form-option-variant--color, .form-option-variant--pattern {
    @include square(23);
    min-width: initial;
    float: left;
    padding: 0;
}

.form-option-variant--pattern {
    background-position: center;
    background-repeat: no-repeat;
}

.option-date {
    width: initial;
}
