
.quick-view {
    @include grid-row();
    max-width: 60%;
    max-height: 60%;

    background-color: white;

    .images {
        @include grid-column(6);
    }

    .information {
        @include grid-column(6);
    }
}