<div class="sidebarBlock">
    <h5 class="sidebarBlock-heading">
        {{ title }}

        {{#if selected}}
            <a href="{{ remove_url }}" class="sidebarBlock-heading-link" data-faceted-search-facet>
                {{@lang 'search.faceted.clear'}}
            </a>
        {{/if}}
    </h5>

    <ul class="navList">
        {{#each items}}
            <li class="navList-item">
                <a
                    href="{{url}}"
                    class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}} {{#if has_sub_categories }} has-children {{/if}}"
                    data-id="{{ id }}"
                    data-faceted-search-facet>
                    {{ title }}
                    {{#if ../show_product_counts}}
                        {{#if count}}
                            <span>({{ count }})</span>
                        {{/if}}
                    {{/if}}
                </a>
            </li>
        {{/each}}
    </ul>

    <!-- FIXME: Not implemented -->
    {{#if show_more_toggle}}
        <a href="#" role="button">{{@lang 'search.faceted.show-more'}}</a>
    {{/if}}
</div>
