{{#if items}}
<div class="accordion-block">
    {{> components/faceted-search/faceted-search-navigation}}

    <div id="facetedSearch-content--{{dashcase facet}}" class="accordion-content{{#unless start_collapsed}} is-open{{/unless}}">
        <ul id="facetedSearch-navList--{{dashcase facet}}" class="navList" data-facet="{{facet}}" data-has-more-results="{{has_more_results}}">
            {{#each items}}
                <li class="navList-item">
                    <a
                        href="{{url}}"
                        class="navList-action navList-action--checkbox{{#if selected }} is-selected{{/if}}{{#if has_sub_categories}} has-children{{/if}}"
                        rel="nofollow"
                        data-id="{{id}}"
                        data-faceted-search-facet>
                        {{{sanitize title}}}
                        {{#if ../show_product_counts}}
                            <span>({{count}})</span>
                        {{/if}}
                    </a>
                    {{#if children}}
                        {{> components/faceted-search/facets/hierarchy-children children}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>

        {{#if show_more_toggle}}
            <a href="#facetedSearch-navList--{{dashcase facet}}" role="button" class="toggleLink">
                <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.show-more'}}</span>
            </a>
        {{/if}}
    </div>
</div>
{{/if}}
