<li class="accordion-block {{#unless ../start_collapsed }} is-open {{/unless}}">
    <a href="#facetedSearch-content--{{ facet }}" role="button" class="accordion-navigation">
        <h5 class="accordion-title">{{ title }}</h5>
    </a>

    {{#if selected}}
        <div class="accordion-navigation-actions">
            <a href="{{ remove_url }}" data-faceted-search-facet>{{@lang 'search.faceted.clear'}}</a>
        </div>
    {{/if}}

    <div id="facetedSearch-content--{{ facet }}" class="accordion-content {{#unless ../start_collapsed }} is-open {{/unless}}">
        <ul id="facetedSearch-navList--{{ facet }}" class="navList" data-count="{{ items_count }}">
            {{#each items}}
                <li class="navList-item">
                    <a
                        href="{{ url }}"
                        class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}}"
                        data-faceted-search-facet>
                        {{ title }}
                        {{#if ../show_product_counts}}
                            <span>({{ count }})</span>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>

        {{#if show_more_toggle}}
            <a href="#facetedSearch-navList--{{ facet }}" role="button" class="toggleLink">
                <span class="toggleLink-text toggleLink-text--on">{{@lang 'search.faceted.show-less'}}</span>
                <span class="toggleLink-text toggleLink-text--off">{{@lang 'search.faceted.show-more'}}</span>
            </a>
        {{/if}}
    </div>
</li>
