<div class="sidebarBlock">
    <h5 class="sidebarBlock-heading">
        {{ title }}
    </h5>

    <form id="facet-range-form" class="form" method="get" data-faceted-search-range>
        {{#each current_selected_items}}
            <input type="hidden" name="{{ param_name }}" value="{{ param_value }}"/>
        {{/each}}

        <fieldset class="form-fieldset">
            <!-- FIXME: Not sure if becomes a rangeslider -->
            <div class="form-row">
                <div class="form-field">
                    <input
                        name="min_price"
                        placeholder="{{@lang 'search.faceted.range.min-placeholder'}}"
                        min="0"
                        class="form-input"
                        required
                        type="number"
                        value="{{ min_price }}"
                    />
                </div>
                <div class="form-field">
                    <input
                        name="max_price"
                        placeholder="{{@lang 'search.faceted.range.max-placeholder'}}"
                        min="0"
                        class="form-input"
                        required
                        type="number"
                        value="{{ max_price }}"
                    />
                </div>
            </div>

            <button class="button" type="submit">
                {{@lang 'search.faceted.range.update'}}
            </button>

            {{#if selected}}
            <a href="{{remove_url}}" data-faceted-search-facet>
                {{@lang 'search.faceted.clear'}}
            </a>
            {{/if}}
        </fieldset>
    </form>
</div>
