<li class="accordion-block">
    <a
        href="#facetedSearch-content--{{ facet }}"
        role="button"
        class="accordion-navigation {{#unless ../start_collapsed }} is-open {{/unless}}"
        data-collapsible>
        <h5 class="accordion-title">{{ title }}</h5>
    </a>

    {{#if selected}}
        <div class="accordion-navigation-actions">
            <a href="{{ remove_url }}" data-faceted-search-facet>{{@lang 'search.faceted.clear'}}</a>
        </div>
    {{/if}}

    <div id="facetedSearch-content--{{ facet }}" class="accordion-content {{#unless ../start_collapsed }} is-open {{/unless}}">
        <ul class="navList">
            {{#each items}}
                <li class="navList-item {{#if selected }} is-selected {{/if}}">
                    <a href="{{ url }}" class="navList-action navList-action--checkbox" data-faceted-search-facet>
                        {{> components/products/ratings rating=title}}
                        {{@lang 'search.faceted.rating.and-up'}}
                        {{#if ../show_product_counts}}
                            <span>({{ count }})</span>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</li>
