// =============================================================================
// LOADING (Settings)
// =============================================================================


// Bigcommerce Variables
// -----------------------------------------------------------------------------
//
// These scoped variables are created by Bigcommerce.
// All variables that are not from Foundation should be placed here.
//
// 1. Choose whether to include the Bigcommerce class names
//
// -----------------------------------------------------------------------------

$exportCSS--loading:                          true; // 1


// =============================================================================
// LOADING NOTIFICATION
// =============================================================================

$loadingNotification-top:                     spacing("double");
$loadingNotification-top--startPosition:      spacing("double") * 1.2;
$loadingNotification-textAlign:               center;
//
$loadingNotification-label-background:        color("greys", "dark");
$loadingNotification-label-color:             color("whites", "bright");
$loadingNotification-label-fontSize:          fontSize("smaller");
$loadingNotification-label-radius:            $global-radius;
$loadingNotification-label-verticalSpacing:   spacing("quarter");
$loadingNotification-label-horizontalSpacing: spacing("half");


// =============================================================================
// LOADING OVERLAY
// =============================================================================

$loadingOverlay-minHeight:                    120px;
$loadingOverlay-background:                   rgba(color("whites", "bright"), 0.9);
$loadingOverlay-transitionProperty:           all;
$loadingOverlay-transitionSpeed:              250ms;
$loadingOverlay-transitionEase:               ease-out;
//
$loadingOverlay-spinner-size:                 80px;
$loadingOverlay-spinner-borderWidth:          1px;
$loadingOverlay-spinner-borderColor:          color("whites", "bright") color("whites", "bright") color("greys", "medium")  color("greys", "medium");
$loadingOverlay-spinner-duration:             500ms;
$loadingOverlay-spinner-easing:               cubic-bezier(0.69, 0.31, 0.56, 0.83);
