// =============================================================================
// HEADER (Settings)
// =============================================================================

$header-bg:                                 stencilColor("header-background-color");
$header-height:                             60px;
$header-logo-marginVertical:                spacing("half");

$storeName-font-color:                      stencilColor("storeName-font-color");
