// =============================================================================
// HEADER (Settings)
// =============================================================================

$header-bg:                                 stencilColor("header-backgroundColor");
$header-height:                             60px;
$header-logo-marginVertical:                spacing("half");

$storeName-fontColor:                       stencilColor("storeName-fontColor");
