{{> components/products/filter sort=pagination.brand.sort}}

<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=brand.products show_compare=brand.show_compare theme_settings=theme_settings}}
    {{else}}
        {{> components/products/list products=brand.products show_compare=brand.show_compare theme_settings=theme_settings}}
    {{/if}}
</form>

{{> components/common/paginator pagination.brand}}
