{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

{{> components/products/filter sort=pagination.brand.sort}}

<div data-list-name="Brand: {{brand.name}}">
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
    {{else}}
        {{> components/products/list products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
    {{/if}}
</div>

{{> components/common/paginator pagination.brand}}
