<aside class="sidebar">
    {{#if brand.faceted_search_enabled}}
        {{> components/faceted-search/index brand}}
    {{/if}}
</aside>
<main class="content">
    {{> components/common/paginator pagination.brand}}
    {{> components/category/sort-box brand}}
    <ul class="product-list">
        {{#each brand.products}}
        <li class="product-card">
            {{> components/products/card}}
        </li>
        {{/each}}
    </ul>
    {{> components/common/paginator pagination.brand}}
</main>
