<nav>
    {{#if brand.faceted_search_enabled}}
        {{> components/faceted-search/index brand}}
    {{else}}
        {{#if shop_by_brand}}
        <div class="sidebarBlock">
            <h5 class="sidebarBlock-heading">{{lang 'brand.label'}}</h5>
            <ul class="navList">
                {{#each shop_by_brand}}
                    <li class="navList-item">
                        <a class="navList-action" href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
                <li class="navList-item">
                    <a class="navList-action" href="{{urls.brands}}">{{lang 'common.view_all'}}</a>
                </li>
            </ul>
        </div>
        {{/if}}
    {{/if}}
</nav>
