<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}

        <link rel="dns-prefetch preconnect" href="//fonts.gstatic.com" crossorigin>
        <link rel="dns-prefetch preconnect" href="//cdn8.bigcommerce.com" crossorigin>
        <link rel="dns-prefetch preconnect" href="//cdn7.bigcommerce.com" crossorigin>
        <link rel="dns-prefetch preconnect" href="https://event.jirafe.com" crossorigin>

        <script>
            WebFontConfig = {
                classes: false,
                events: false,
                timeout: 1000,
                google: {
                    families: ['Oswald:300', 'Karla:400', 'Montserrat:400']
                },
            };

            (function(d) {
                var wf = d.createElement('script'), s = d.scripts[0];
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
                wf.defer = true;
                s.parentNode.insertBefore(wf, s);
            })(document);
        </script>

        <script>
            // Change document class from no-js to js so we can detect this in css
            document.documentElement.className = 'js';
        </script>

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        {{{snippet 'header'}}}
        <svg data-src="{{cdn 'icons/icons.svg'}}" class="icons-svg-sprite"></svg>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
</html>
