<div style="width: 46rem; margin: 3rem auto 6rem;">

    <form class="form">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="form-label" for="input1">Input Label <small>Required</small></label>
                <input class="form-input" id="input1" type="text" placeholder="Placeholder text">
            </div>
            <div class="form-field">
                <label class="form-label" for="input2">Disabled Input <small>Required</small></label>
                <input class="form-input" id="input2" disabled type="text" placeholder="Placeholder text" value="Disabled Value">
            </div>
            <div class="form-field">
                <label class="form-label" for="input3">Textarea Label <small>Required</small></label>
                <textarea class="form-input" id="input3" placeholder="Placeholder text" rows="3"></textarea>
            </div>
            <div class="form-field">
                <label class="form-label" for="select1">Select label</label>
                <select class="form-select" name="select1" id="select1">
                    <option>Please select a value</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </select>
            </div>
            <div class="form-field form-field--success">
                <label class="form-label" for="valid_simple">Valid field</label>
                <input class="form-input" id="valid_simple" type="text" value="Some Valid text">
            </div>
            <div class="form-field form-field--error">
                <label class="form-label" for="invalid_simple">Invalid field <small>Required</small></label>
                <input class="form-input" id="invalid_simple" type="text" value="Some Invalid text">
                <label class="form-inlineMessage" for="invalid_simple">This is not a valid email address</label>
            </div>
            <div class="form-field">
                <label class="form-label" for="input1">Input Label <small>Required</small></label>
                <input class="form-input" id="input1" type="text" placeholder="Placeholder text">
            </div>
            <div class="form-field">
                <label class="form-label">Checkbox label</label>
                <input class="form-checkbox" type="checkbox" id="invalid_check1" checked>
                <label class="form-label" for="invalid_check1">Checkbox 1 label</label>
                <input class="form-checkbox" type="checkbox" id="invalid_check2">
                <label class="form-label" for="invalid_check2">Checkbox 2 label</label>
            </div>
            <div class="form-field">
                <label class="form-label">Radio label</label>
                <input class="form-radio" type="radio" name="invalid_radio_example" id="invalid_radio1">
                <label class="form-label" for="invalid_radio1">Radio 1 label</label>
                <input class="form-radio" type="radio" name="invalid_radio_example" id="invalid_radio2">
                <label class="form-label" for="invalid_radio2">Radio 2 label</label>
            </div>
        </fieldset>
    </form>

    <button class="button">Default button</button>
    <button class="button button--primary">Primary button</button>
    <button class="button" disabled="disabled">Disabled button</button>

    <h1>Heading 1</h1>
    <p>American Apparel readymade four loko slow-carb aesthetic food truck. Seitan kitsch Blue Bottle, church-key flannel wayfarers asymmetrical tote bag pop-up Neutra next level artisan art party banh mi. Etsy keytar Tumblr freegan Banksy blog retro 8-bit.</p>
    <h2>Heading 2</h2>
    <p>American Apparel readymade four loko slow-carb aesthetic food truck. Seitan kitsch Blue Bottle, church-key flannel wayfarers asymmetrical tote bag pop-up Neutra next level artisan art party banh mi. Etsy keytar Tumblr freegan Banksy blog retro 8-bit.</p>
    <h3>Heading 3</h3>
    <p>American Apparel readymade four loko slow-carb aesthetic food truck. Seitan kitsch Blue Bottle, church-key flannel wayfarers asymmetrical tote bag pop-up Neutra next level artisan art party banh mi. Etsy keytar Tumblr freegan Banksy blog retro 8-bit.</p>
    <h4>Heading 4</h4>
    <p>American Apparel readymade four loko slow-carb aesthetic food truck. Seitan kitsch Blue Bottle, church-key flannel wayfarers asymmetrical tote bag pop-up Neutra next level artisan art party banh mi. Etsy keytar Tumblr freegan Banksy blog retro 8-bit.</p>
    <h5>Heading 5</h5>
    <p>American Apparel readymade four loko slow-carb aesthetic food truck. Seitan kitsch Blue Bottle, church-key flannel wayfarers asymmetrical tote bag pop-up Neutra next level artisan art party banh mi. Etsy keytar Tumblr freegan Banksy blog retro 8-bit.</p>
    <h6>Heading 6</h6>
    <p>American Apparel readymade four loko slow-carb aesthetic food truck. Seitan kitsch Blue Bottle, church-key flannel wayfarers asymmetrical tote bag pop-up Neutra next level artisan art party banh mi. Etsy keytar Tumblr freegan Banksy blog retro 8-bit.</p>

    <hr>

    <p>Readymade lomo meggings, cronut semiotics <a href="">roof party church-key</a> deep v Banksy tattooed heirloom PBR&B bespoke butcher cornhole. DIY selfies locavore fashion axe narwhal, pop-up Intelligentsia letterpress umami Kickstarter actually ennui food truck chia bitters. Cronut +1 irony street art Thundercats stumptown. Blog organic direct trade, meh seitan distillery health goth mixtape iPhone tousled <a href="">American Apparel pour-over umami</a> letterpress meggings.</p>

    <p>Hashtag cliche Pitchfork DIY, cray synth pork belly irony forage. Whatever Helvetica pork belly umami, YOLO 90's put a bird on it normcore fashion axe Intelligentsia chambray. Forage XOXO VHS normcore Blue Bottle tote bag, Godard biodiesel actually.</p>

    <ul>
        <li>Pitchfork DIY</li>
        <li>Blue Bottle tote bag</li>
        <li>Kickstarter actually ennui food truck</li>
    </ul>

    <p>Seitan kitsch Blue Bottle, church-key flannel wayfarers asymmetrical tote bag pop-up Neutra next level artisan art party banh mi. Etsy keytar Tumblr freegan Banksy blog retro 8-bit.</p>

    <ol>
        <li>Pitchfork DIY</li>
        <li>Blue Bottle tote bag</li>
        <ul>
            <li>Pitchfork DIY</li>
            <li>Blue Bottle tote bag</li>
            <li>Kickstarter actually ennui food truck</li>
        </ul>
        <li>Kickstarter actually ennui food truck</li>
    </ol>

    <blockquote class="blockquote">Sriracha Shoreditch ugh craft beer iPhone Tumblr, fap messenger bag chillwave kogi. Mumblecore PBR PBR&B, gentrify sartorial skateboard heirloom leggings disrupt Neutra +1 raw denim. <cite class="blockquote-cite">Some hipster with wayfarers</cite></blockquote>

    <p>Cronut +1 irony street art Thundercats stumptown. Blog organic direct trade, meh seitan distillery health goth mixtape iPhone tousled American Apparel pour-over umami letterpress meggings. Vice Pitchfork keffiyeh typewriter. Tumblr occupy before they sold out, bitters health goth cornhole scenester Pitchfork biodiesel bicycle rights actually. Disrupt try-hard Williamsburg, four loko readymade. Blog organic direct trade.</p>

    <table class="table">
        <thead class="table-thead">
            <tr>
                <td>Heading</td>
                <td>Heading</td>
                <td>Heading</td>
            </tr>
        </thead>
        <tbody class="table-tbody">
            <tr>
                <td>word</td>
                <td>word</td>
                <td>word</td>
            </tr>
            <tr>
                <td>word</td>
                <td>word</td>
                <td>word</td>
            </tr>
            <tr>
                <td>word</td>
                <td>word</td>
                <td>word</td>
            </tr>
            <tr>
                <td>word</td>
                <td>word</td>
                <td>word</td>
            </tr>
        </tbody>
    </table>

    <p>Tumblr occupy before they sold out, bitters health goth cornhole scenester Pitchfork biodiesel bicycle rights actually. Disrupt try-hard Williamsburg, four loko readymade. Blog organic direct trade. Helvetica squid lo-fi, mlkshk bicycle rights seitan kale chips tattooed ethical fashion axe direct trade health goth High Life. Sartorial messenger bag butcher Banksy bicycle.</p>

    <figure>
        <img src="http://placehold.it/800x400.png">
        <figcaption>Disrupt try-hard Williamsburg, four loko readymade.</figcaption>
    </figure>

    <p>Tumblr occupy before they sold out, bitters health goth cornhole scenester Pitchfork biodiesel bicycle rights actually. Disrupt try-hard Williamsburg, four loko readymade. Blog organic direct trade. Helvetica squid lo-fi, mlkshk bicycle rights seitan kale chips tattooed ethical fashion axe direct trade health goth High Life. Sartorial messenger bag butcher Banksy bicycle.</p>

    <p>Tumblr occupy before they sold out, bitters health goth cornhole scenester Pitchfork biodiesel bicycle rights actually. Disrupt try-hard Williamsburg, four loko readymade. Blog organic direct trade. Helvetica squid lo-fi, mlkshk bicycle rights seitan kale chips tattooed ethical fashion axe direct trade health goth High Life. Sartorial messenger bag butcher Banksy bicycle.</p>

</div>
