// =============================================================================
// Add & Update Address (CSS)
// =============================================================================

.address-form {
    @include grid-row();

    margin-left: auto;
    margin-right: auto;
    max-width: remCalc(790px);
}

.address-form-field {
    @include grid-row(12);

    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

// TODO: This needs to be a standard layout for the Accounts pages, either set by the
// grid or a layout modifier.
.account-addressList .account-row {
    max-width: remCalc(890px);
}
