// =============================================================================
// Account Orders List (CSS)
// =============================================================================

.orders-row {
    max-width: remCalc(790px);
}

.orders-list {
    li {
        list-style-type: none;
    }

    margin-left: 0;
}


.order-preview-image {
    float: left;
    height: 73px;
}

.orders {
    @include grid-column(12);
}

.order-sub-item {
    display: inline-block;
    width: 193px;
}

.order-item {
    .information, .account-info-status {
        margin-left: spacing("single")+remCalc(73px);
    }

    .information {
        min-height: 51px;
    }

    p {
        color: color("greys", "dark");
        letter-spacing: letterSpacing("large");
        margin: 0;
    }

    border-bottom: 1px solid color("greys", "lighter");
    position: relative;
    padding-top: spacing("single");
    padding-bottom: spacing("single");
}

.order-item-heading {
    color: color("greys", "darker");
    font-size: fontSize("smaller");
    margin: 0;
}

.order-sub-item-title {
    color: color("greys", "light");
    font-family: fontFamily("sans");
    font-size: fontSize("tiny");
    letter-spacing: letterSpacing("large");
}

.order-sub-item-text {
    color: color("greys", "darker");
}

.order-info-status {
    @include breakpoint("small") {
        margin: 0;
        position: absolute;
        right: 0;
        top: spacing("single");
    }
}

.order-return-items {
    font-family: Karla-Italic;
    font-size: fontSize("tiny");
    color: color("greys", "dark");
    letter-spacing: letterSpacing("large");

    @include breakpoint("small") {
        margin: 0;
        margin-top: spacing("half");
        position: absolute;
        right: 0;
        top: spacing("double");
    }

    @include breakpoint("large") {
        margin: 0;
        margin-top: spacing("half");
        position: absolute;
        right: 0;
        top: spacing("double");
    }
}
