// =============================================================================
// Account Overview (CSS)
// =============================================================================

.account {
    a {
        text-decoration: none;
    }

    margin: spacing("double") auto spacing("double")*2;
}

.account-row {
    @include grid-row();

    @include breakpoint("medium") {
        max-width: remCalc(790px);
    }

    @include breakpoint("large") {
        max-width: layout("max");
    }
}

.navBar.account-navigation {
    display: none;
    margin-bottom: spacing("double")*2;
    text-align: center;

    @include breakpoint("medium") {
        display: block;
    }
}

.navBar-section.account-navigation {
    float: none;
}

.navBar-item.account-navigation-item {
    display: inline-block;
    float: none;
    margin-left: spacing("quarter");
    margin-right: spacing("quarter");
    letter-spacing: letterSpacing("large");

    &.active {
        border-bottom: 1px solid black;
        color: color("greys", "dark");
    }

    a {
        color: color("greys", "light");
    }
}

.account-section {
    &:first-of-type {
        margin-top: 0;
    }

    margin-top: spacing("double")*2;
    text-align: left;
}

.account-heading {
    border-bottom: 1px solid color("greys", "lighter");
    color: color("greys", "darker");
    margin: 0;
    padding-bottom: spacing("single");
}

.account-info-status {
    background: color("greys", "medium");
    color: color("whites");
    display: inline-block;
    font-size: fontSize("tiny");
    line-height: lineHeight("smallest");
    margin: spacing("single") 0 0 spacing("double")*2;
    padding: spacing("eighth") spacing("half") spacing("eighth") spacing("half");

    @include breakpoint("small") {
        margin: 0;
        position: absolute;
        right: 0;
        top: spacing("single");
    }

    @include breakpoint("medium") {
        margin: spacing("half") 0 0 spacing("double")*2;
        position: static;
    }

    @include breakpoint("large") {
        margin: 0;
        position: absolute;
        right: 0;
        top: 20px;
    }
}
