// =============================================================================
// Account Overview (CSS)
// =============================================================================

.account-row {
    @include grid-row();

    @include breakpoint("medium") {
        max-width: remCalc(790px);
    }

    @include breakpoint("large") {
        max-width: layout("max");
    }
}

.navBar.account-navigation {
    display: none;
    margin-bottom: spacing("double")*2;
    text-align: center;

    @include breakpoint("medium") {
        display: block;
    }
}

.navBar-section.account-navigation {
    float: none;
}

.navBar-item.account-navigation-item {
    display: inline-block;
    float: none;
    margin-left: spacing("quarter");
    margin-right: spacing("quarter");
    letter-spacing: letterSpacing("large");

    &.active {
        border-bottom: 1px solid black;
        color: color("greys", "dark");
    }

    a {
        color: color("greys", "light");
    }
}

.account-section {
    &:first-of-type {
        margin-top: 0;
    }

    margin-top: spacing("double")*2;
    text-align: left;
}
