// =============================================================================
// GRID (CSS)
// =============================================================================


.layout-fixed {
    margin-right: auto;
    margin-left: auto;
    max-width: layout("max");
}
