@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/HelveticaNeue-Thin.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaNeue-Light.woff") format("woff");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/HelveticaNeue-Medium.woff") format("woff");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaNeue-Bold.woff") format("woff");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/HelveticaNeue-Black.woff") format("woff");
}