@import "clear-sans";

$fonts: $fontFamily-sans $fontFamily-serif $fontFamily-mono $fontFamily-headings $fontFamily-hero;

@if contains($fonts, "'Clear Sans', sans-serif") {
    @include clear-sans;
}

///////////////////////////////
// Gotham Rounded //
///////////////////////////////

/* Light - 100 */
@font-face {
    font-family: 'GothamRounded';
    font-display: swap;
    font-weight: 100;
    src: url('../fonts/GothamRounded/GothamRounded-Light-woff2.woff2') format('woff2'),
        url('../fonts/GothamRounded/GothamRounded-Light-woff.woff') format('woff');
}

/* Book - 300 */
@font-face {
    font-family: 'GothamRounded';
    font-display: swap;
    font-weight: 300;
    src: url('../fonts/GothamRounded/GothamRounded-Book-woff2.woff2') format('woff2'),
        url('../fonts/GothamRounded/GothamRounded-Book-woff.woff') format('woff');
}

/* Medium - 500 */
@font-face {
    font-family: 'GothamRounded';
    font-display: swap;
    font-weight: 500;
    src: url('../fonts/GothamRounded/GothamRounded-Medium-woff2.woff2') format('woff2'),
        url('../fonts/GothamRounded/GothamRounded-Medium-woff.woff') format('woff');
}

/* Bold - 600 */
@font-face {
    font-family: 'GothamRounded';
    font-display: swap;
    font-weight: 600;
    src: url('../fonts/GothamRounded/GothamRounded-Bold-woff2.woff2') format('woff2'),
        url('../fonts/GothamRounded/GothamRounded-Bold-woff.woff') format('woff');
}
