@font-face {
    font-family: "Marucci League Gothic";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/leaguegothic-marucci-regular-webfont.woff2") format("woff2"),
         url("../fonts/leaguegothic-marucci-regular-webfont.woff") format("woff");
}
