// =============================================================================
// MODAL (CSS)
// =============================================================================
//
// 1. Negate the extra-padding added by .modal, as .modal-header already has padding
//
// -----------------------------------------------------------------------------

.modal {
    left: 0;
    margin: 0 auto;
    max-height: 90%;
    max-width: 95%;
    min-height: 240px;
    right: 0;
    top: 50% !important;
}

.modal--large {
    @include breakpoint("large") {
        width: $modal-width--large;
    }
}

.modal-header {
    margin-top: -1 * $reveal-modal-paddingTop; // 1
}

.modal-header-title {
    text-align: center;
}

.modal-close {
    text-decoration: none;
}

.modal-body .modal-close,
.modal-content .modal-close {
    right: 20px;
    top: 15px;
    transform: none;
}
