<div class="bv-reviews">

    <div class="bv-reviews__summary">
        <h3 class="js-bv-reviews__summary-rating">00</h3>
        <div class="js-bv-reviews__summary-stars">[stars]</div>
        <div class="js-bv-reviews__summary-count">From <span>00</span> reviews</div>
        <button class="btn btn-primary js-bv-reviews__write-review">Write a review</button>
        <select class="select select-wide js-bv-reviews__sort-review">
            <option value="-1">Sort By</option>
            <option value="1">Most recent</option>
        </select>
    </div>

    <div class="bv-reviews__list">

        <div id="bv-reviews__list"></div>

        <a href="#" class="js-bv-view-more" data-current="0">See more reviews</a>
    </div>

</div>
