<article class="card">
    <figure class="card-figure">
        <img class="card-image" src="{{product.image.url}}" alt="{{product.image.alt}}">
        <figcaption class="card-figcaption">
            <div class="card-figcaption-body">
                <a href="#" class="button button--small card-figcaption-button">Quick view</a>
                <label class="button button--small card-figcaption-button" for="{{id}}">
                    Compare <input type="checkbox" name="products[]" value="{{id}}">
                </label>
                {{#unless hide_add_to_cart}}
                    {{#if has_options}}
                    <a href="{{url}}" class="button button--small card-figcaption-button">{{lang "products.choose_options"}}</a>
                    {{else}}
                        {{#if out_of_stock_message }}
                        <span href="{{url}}" class="button button--small card-figcaption-button">{{out_of_stock_message}}</span>
                        {{else}}
                        <a href="{{add_to_cart_url}}" class="button button--small card-figcaption-button">{{lang "products.add_to_cart"}}</a>
                        {{/if}}
                    {{/if}}
                {{/unless}}
            </div>
        </figcaption>
    </figure>
    <div class="card-body">
        <p class="card-text">{{> components/products/ratings rating=product.rating}}</p>
        <p class="card-text">{{product.brand.name}}</p>
        <h4 class="card-title">
            <a href="{{url}}">{{name}}</a>
        </h4>
        <p class="card-text">{{{price}}}</p>
    </div>
</article>
