<section class="productCarousel"
    data-slick='{
        "dots": true,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 2,
        "responsive": [
            {
                "breakpoint": 1260,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": 6
                }
            },
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": 5
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": 3
                }
            }
        ]
    }'
>
    {{#each this}}
    <div class="productCarousel-slide">
        {{> components/products/card }}
    </div>
    {{/each}}
</section>
