<ul class="tabs" data-tab>
    <li class="tab is-active">
        <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
    </li>
    {{#if product.videos.list.length}}
    <li class="tab">
        <a class="tab-title" href="#tab-videos">Product Videos</a>
    </li>
    {{/if}}
     <li class="tab">
         <a class="tab-title" href="#tab-shippingReturns">Shipping and Returns</a>
     </li>

</ul>
<div class="tabs-contents">
    <div class="tab-content is-active" id="tab-description">
        {{{product.description}}}
        {{{snippet 'product_description'}}}
    </div>
    <div class="tab-content" id="tab-shippingReturns">
       <div><strong>Group Vertical's Lifetime Return Policy:</strong></div>
								<p>
                                   Group Vertical offers a lifetime return on all parts purchased at www.groupvertical.com, excluding refurbished phones. Please find our full Return Policy here: <a href="http://groupvertical.com/returns/">http://groupvertical.com/returns/</a>
                                </p>
                                <p>
                                    All merchandise must be returned within 60 days for a refund back to your original payment method. After 60 days, a refund will be provided by issuing store credit only to your Group Vertical account.
                                </p>
								<p>
								    All returned products must be in NEW, ORIGINAL condition. Broken flex cables, broken or cracked LCD or glass, and/or any other damage will be denied a refund. Any stickers removed from the part will VOID Group Vertical's Lifetime Return Policy. Please test your part prior to installation and use, so you can save time and easily return the part in new condition; if necessary.  
								</p>
								
								<div><strong>Shipping</strong></div>
								<p>
								    Group Vertical ships daily Monday through Friday (excluding national US holidays) from our secure warehouse in Grand Rapids, Michigan to customers worldwide.
								</p>
								<p>
								    <div class="text-center"><strong>Shipping Cutoff Times: Eastern Standard Time</strong></div>
								    <div class="table-responsive">
								    <table style="height: 188px; width: 650px; border-color: #252525; border-width: 2px; border-style: solid;" border="2" align="center">
                                    <tbody>
                                    <tr>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">
                                    <h5>FedEx Ground</h5>
                                    </td>
                                    <td style="text-align: center;">
                                    <h5>UPS Ground</h5>
                                    </td>
                                    <td style="text-align: center;">
                                    <h5>FedEx Express</h5>
                                    </td>
                                    <td style="text-align: center;">
                                    <h5>USPS</h5>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td style="text-align: center;">
                                    <strong>Monday</strong>
                                    </td>
                                    <td style="text-align: center;">4:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    </tr>
                                    <tr>
                                    <td style="text-align: center;">
                                    <strong>Tuesday</strong>
                                    </td>
                                    <td style="text-align: center;">4:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    </tr>
                                    <tr>
                                    <td style="text-align: center;">
                                    <strong>Wednesday</strong>
                                    </td>
                                    <td style="text-align: center;">4:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    </tr>
                                    <tr align="left">
                                    <td style="text-align: center;">
                                    <strong>Thursday</strong>
                                    </td>
                                    <td style="text-align: center;">4:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    </tr>
                                    <tr>
                                    <td style="text-align: center;">
                                    <strong>Friday</strong>
                                    </td>
                                    <td style="text-align: center;">4:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    <td style="text-align: center;">5:30 p.m.</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    </div>
								</p>
								<p>
								    If your order is not placed by our daily cutoff time, we cannot offer same day shipping.
							    </p>
								
								<p>Please see our entire Shipping Policy here: <a href="http://groupvertical.com/shipping-policy/">http://groupvertical.com/shipping-policy/</a></p>
    </div>
	{{#if product.videos.list.length}}
	<div class="tab-content" id="tab-videos">
		{{> components/products/videos product.videos}}
    </div>
    {{/if}}
</div>
