<h4>{{lang 'products.featured' }}</h4>
<ul class="row">
    {{#each this}}
    <li class="col-md-3">
        <div><a href="{{{url}}}" alt="{{name}}">{{name}}</a></div>
        <div>{{rating}}</div>
        <div>{{{price}}}</div>
        <div>{{{image}}}</div>
        <div>{{date_added}}</div>
        <div>{{pre_order}}</div>
        <div>{{release_date}}</div>
        <div>{{add_to_cart_text}}</div>
        <div>{{show_add_to_cart}}</div>
        <div>{{summary}}</div>
    </li>

    {{/each}}
</ul>