<h2 class="page-heading featured-products">Our Best Sellers</h2>

<div class="center-button-large">
    <!-- @todo add proper all products link -->
    <a href="#" class="button">Shop All Products</a>
</div>

<ul class="productGrid productGrid--maxCol{{ columns }}" data-product-type="featured" {{#if settings.data_tag_enabled}} data-list-name="Featured Products" {{/if}}>
    {{#each products}}
        <li class="product">
                {{>components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </li>
    {{/each}}
</ul>
