<div class="mwn-block mwn-block-product padding-vertical" data-product-id="{{id}}" id="featured-product-{{id}}">
  <div class="loadingOverlay"></div>
  <div class="container">
      <div class="mwn-block-header">
          <h2 class="page-heading">
              {{#if heading}}
                  {{heading}}
              {{else}}
                  {{name}}
              {{/if}}
          </h2>
          {{#if description}}
            <p>{{description}}</p>
          {{/if}}
      </div>
    <div class="mwn-featured-product">
      {{> components/products/product-view}}
    </div>
  </div>
</div>
