<div id="myModal" class="modal" data-reveal data-prevent-quick-search-close>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-header-title">GV LCD Product Levels</div>
    <div class="modal-body">
	<p><strong>GV+ Premium Parts</strong></p>
	<p>
	Parts with GV+ certification are of the highest quality available. Often times these parts will come from the same factory that supplies the original iPhone. They are usually referred to as "OEM" and feature original components. They have been carefully designed and tested, and when they are available, Group Vertical is proud to stock these premium items.
	</p>
	<p><strong>A+ Parts</strong></p>
	<p>
	The A+ line of Group Vertical parts rely on fully functional but less expensive components. They feature a copy LCD/glass and are assembled using a strong cold press adhesive. We offer this line to satisfy those who are looking for a quality part which is assembled with the trusted cold press process.
	</p>
	<p><strong>A Parts</strong></p>
	<p>
	The A line of Group Vertical parts rely on fully functional but less expensive components. They feature a copy LCD/glass and are assembled using a hot press adhesive. We offer this line to satisfy those who are looking for an functional yet affordable part. 
	</p>
</div>
    <div class="loadingOverlay"></div>
</div>




