<section class="productCarousel" data-list-name="{{list}}" data-slick='{
        "dots": true,
        "arrows": false,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "responsive": [
            {
                "breakpoint": 1550,
                "settings": {
                    "slidesToShow": {{ columns }},
                    "slidesToScroll": {{ columns }},
                    "dots": false,
                    "arrows": true
                }
            },
            {
                "breakpoint": 1440,
                "settings": {
                    {{#if theme_settings.themevale_homepage_layout_1}}
                        "slidesToShow": 5,
                        "slidesToScroll": 5,
                    {{/if}}
                    {{#if theme_settings.themevale_homepage_layout_2}}
                        "slidesToShow": 4,
                        "slidesToScroll": 4,
                    {{/if}}
                    "dots": false,
                    "arrows": true
                }
            },
            {
                "breakpoint": 1280,
                "settings": {
                    "slidesToShow": 4,
                    "slidesToScroll": 4,
                    "dots": false,
                    "arrows": true
                }
            },
            {
                "breakpoint": 1024,
                "settings": {
                    "slidesToShow": 4,
                    "slidesToScroll": 4,
                    "dots": true,
                    "arrows": false
                }
            },
            {
                "breakpoint": 991,
                "settings": {
                    "slidesToShow": 4,
                    "slidesToScroll": 4,
                    "dots": true,
                    "arrows": false
                }
            },
            {
                "breakpoint": 767,
                "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 3,
                    "dots": true,
                    "arrows": false
                }
            },
            {
                "breakpoint": 320,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 2,
                    "dots": true,
                    "arrows": false
                }
            }
        ]
    }'>
    {{#each products}}
    <div class="productCarousel-slide">
        {{> components/products/card show_rating=../settings.show_product_rating productsnew=../productsnew settings=../settings theme_settings=../theme_settings show_wishlist=../settings.show_wishlist customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
</section>
