<article class="listItem">
    <figure class="listItem-figure">
        <img class="listItem-image" src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
        {{#unless hide_product_quick_view}}
            {{#if theme_settings.show_product_quick_view}}
                <div class="listItem-figureBody">
                    <a href="#" class="button button--small listItem-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                </div>
            {{/if}}
        {{/unless}}
    </figure>
    <div class="listItem-body">
        <div class="listItem-content">
            <div class="listItem-details">
                {{#if show_rating}}
                    <p class="listItem-rating">{{> components/products/ratings rating=rating}}</p>
                {{/if}}
                {{#if brand.name}}
                <p class="listItem-brand">{{brand.name}}</p>
                {{/if}}
                <h4 class="listItem-title">
                    <a href="{{url}}">{{name}}</a>
                </h4>
                {{#if summary}}
                    <p>{{{summary}}}</p>
                {{/if}}
            </div>
            <div class="listItem-actions">
                {{#if price}}
                    <div class="listItem-price">{{> components/products/price price=price}}</div>
                {{/if}}
                {{#unless hide_add_to_cart}}
                    {{#if has_options}}
                        <a href="{{url}}" class="button button--primary" data-product-id="{{id}}">{{lang "products.choose_options"}}</a>
                    {{else}}
                        {{#if out_of_stock_message }}
                        <span href="{{url}}" class="button button--primary">{{out_of_stock_message}}</span>
                        {{else}}
                        <a href="{{add_to_cart_url}}" class="button button--primary">{{lang "products.add_to_cart"}}</a>
                        {{/if}}
                    {{/if}}
                {{/unless}}
                {{#if show_compare}}
                    <label class="button button--small" for="compare-{{id}}">
                        {{lang "products.compare"}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                {{/if}}
            </div>
        </div>
    </div>
</article>
