<ul class="productList">
    {{#each products}}
    <li class="product">
        {{#if settings.data_tag_enabled}}
            {{>components/products/list-item   show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
        {{else}}
            {{>components/products/list-item show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
        {{/if}}
    </li>
    {{/each}}
</ul>
