{{#if retail_price}}
    <div id="retail-price" style="color:red">
        {{@lang 'products.retail_price' price=retail_formatted}}
    </div>
{{/if}}

{{#if without_tax}}
    <div id="price-without-tax">
        {{#if rrp_without_tax}}
            <s>{{rrp_without_tax.formatted}}</s>
        {{/if}}
        {{@lang 'products.price_without_tax' price=without_tax.formatted tax_label=tax_label}}
        }
    </div>
{{/if}}
{{#if with_tax}}
    <div id="price-with-tax">
        {{#if rrp_without_tax}}
            <s>{{rrp_with_tax.formatted}}</s>
        {{/if}}
        {{@lang 'products.price_with_tax' price=with_tax.formatted tax_label=tax_label}}
    </div>
{{/if}}
{{#if saved}}
    <div id="you-save-amount">
        {{@lang 'products.you_save' amount=saved.formatted}}
    </div>
{{/if}}
