{{#and price.price_range (if theme_settings.price_ranges '==' true)}}
    {{#and price.price_range.min.with_tax price.price_range.max.with_tax}}
{{lang 'category.shop_by_price_range_aria'
       from=price.price_range.min.with_tax.formatted
       to=price.price_range.max.with_tax.formatted
}}
    {{else}}
{{lang 'category.shop_by_price_range_aria'
       from=price.price_range.min.without_tax.formatted
       to=price.price_range.max.without_tax.formatted
}}
    {{/and}}
{{else}}
    {{#if price.with_tax}}
        {{#if price.non_sale_price_with_tax}}
{{> components/products/price-label
    label_value=theme_settings.pdp-non-sale-price-label
    fallback=(lang "page_builder.pdp-non-sale-price-label")
}}{{price.non_sale_price_with_tax.formatted}},
{{> components/products/price-label
    label_value=theme_settings.pdp-sale-price-label
    fallback=(lang "page_builder.pdp-sale-price-label")
}}{{price.with_tax.formatted}}
        {{else}}
{{price.with_tax.formatted}}
        {{/if}}
    {{else}}
        {{#if price.non_sale_price_without_tax}}
{{> components/products/price-label
    label_value=theme_settings.pdp-non-sale-price-label
    fallback=(lang "page_builder.pdp-non-sale-price-label")
}}{{price.non_sale_price_without_tax.formatted}},
{{> components/products/price-label
    label_value=theme_settings.pdp-sale-price-label
    fallback=(lang "page_builder.pdp-sale-price-label")
}}{{price.without_tax.formatted}}
        {{else}}
{{price.without_tax.formatted}}
        {{/if}}
    {{/if}}
{{/and}}
