{{#if reviews.total}}
    <section expanded class="productAccordion">
        <h4 class="productAccordion-title">
            {{lang 'products.reviews.header' total=reviews.total}}
        </h4>
        <div class="productAccordion-content">
            <ul class="productReviews-list" id="productReviews-list">
                {{#each reviews.list}}
                <li class="productReview">
                    <article itemprop="review" itemscope itemtype="https://schema.org/Review">
                        <header>
                            <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                                {{> components/amp/products/ratings rating=rating}}
                                <span class="productReview-ratingNumber" itemprop="ratingValue">{{ rating }}</span>
                            </span>
                            <h5 itemprop="name" class="productReview-title">{{ title }}</h5>
                            {{#if name}}
                                <meta itemprop="author" content="{{name}}">
                                <p class="productReview-author">
                                    {{lang 'products.reviews.post_on_by' date=date name=name }}
                                </p>
                            {{else}}
                                <p class="productReview-author">
                                    {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                                </p>
                            {{/if}}
                        </header>
                        <p itemprop="reviewBody" class="productReview-body">{{nl2br text}}</p>
                    </article>
                </li>
                {{/each}}
            </ul>
            {{> components/common/paginator pagination.reviews}}
        </div>
    </section>
{{/if}}
