.aria-description {
    &--hidden {
        height: 1px;
        left: 0;
        margin-left: -10000px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 1px;
    }
}
