// =============================================================================
// SCREEN SIZES
// =============================================================================


// Screen sizes
// -----------------------------------------------------------------------------

$screen-large:                  1261px;
$screen-medium:                 801px;
$screen-small:                  551px;
